<!DOCTYPE html>
<html lang="cn">
<head>
    <title>分类页面</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/category.css">
</head>
<body>



<!-- header -->
<header id="header"></header>
  
<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="/templates/page/menu.html">信号通路</a><span> /</span>
        <a href="" class="current">ADCs</a>
    </div>
</nav>
<section class="layout category-con white-bg">
    <h1 class="category-title">
        ADC Toxin
    </h1>
    <div class="category-card">
        <p>
            <span class="products-number">CSN20045</span>
            <span >1222490-34-7</span>
        </p>
        <h2>
           Pyrrolobenzodiazepine Dimer 
        </h2>
        <div>
            Pyrrolobenzodiazepine Dimer (PDB dimer) is a DNA crosslinking agent that inhibits DNA synthesis.
        </div>
    </div>
    <div class="category-card">
        <p>
            <span class="products-number">CSN20045</span>
            <span >1222490-34-7</span>
        </p>
        <h2>
           Pyrrolobenzodiazepine Dimer 
        </h2>
        <div>
            Pyrrolobenzodiazepine Dimer (PDB dimer) is a DNA crosslinking agent that inhibits DNA synthesis. Pyrrolobenzodiazepine Dimer (PDB dimer) is a DNA 
        </div>
    </div>
    <div class="category-card">
        <p>
            <span class="products-number">CSN20045</span>
            <span >1222490-34-7</span>
        </p>
        <h2>
           Pyrrolobenzodiazepine Dimer 
        </h2>
        <div>
            Pyrrolobenzodiazepine Dimer (PDB dimer) is a DNA 
        </div>
    </div>
    <div class="category-card">
        <p>
            <span class="products-number">CSN20045</span>
            <span >1222490-34-7</span>
        </p>
        <h2>
           Pyrrolobenzodiazepine Dimer 
        </h2>
        <div>
            Pyrrolobenzodiazepine Dimer (PDB dimer) is a DNA crosslinking agent that inhibits DNA synthesis.
        </div>
    </div>

</section>
<div class="loading">
    加载中...
</div>

<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>