<!DOCTYPE html>
<html lang="cn">
<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>



<!-- header -->
<div id="header"></div>
  
<!-- 主体 -->
<div class="layout error-con white-bg">
   <span class="img-box">
       <img src="/static/img/error.png" alt="">
   </span>
   <h1>对不起!  页面没有找到</h1>
   <p>无法查看页面或输入的地址不存在错误页面重新定义或程序错误</p>
   <a href="/index.html" class="btn btn-red">返回首页</a>
</div>


<!-- footer -->
<div id="footer"></div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>



</body>
</html>