<!DOCTYPE html>
<html lang="cn">
<head>
    <title>菜单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>

<!-- header -->
<header id="header"></header>
  
<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">信号通路</a>
    </div>
</nav>
<nav class="layout menu-con">
    <ul class="menu">
        <li class="title">
            信号通路
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>ADCs (3)
                    <i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li class="sub-title">
                    <a href="/templates/page/category.html">
                        <span class="tips-circle"></span>ADC Toxin<i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker with Payload
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Anti-infection (20)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>    
            <ul class="sub-menu">
                <li class="sub-title">
                    <a href="javascript:;">
                        <span class="tips-circle"></span>ADC Toxin<i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker with Payload
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="">
                        <span class="tips-circle"></span>ADC Linker with Payload
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Apoptosis (15)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Autophagy (5)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Cell Cycle (35)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Cytoskeleton (16)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>DNA Damage (10)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Endocrinology/Hormones (10)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Epigenetics (15)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>GPCR/G protein (54)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Immunology/Inflammation (24)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>JAK/STAT Signaling (4)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>MAPK/ERK Pathway (10)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Membrane Transporter/Ion Channel (30)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Metabolic Enzyme (65)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Neuronal Signaling (30)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>NF-κB (0)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>PI3K/Akt/mTOR (13)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Protease (10)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Protein Tyrosine Kinase/RTK (31)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Stem Cells/Wnt (19)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Ubiquitin (6)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Biochemical Reagents (3)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
        </li>
        <li class="sub-title">
            <div>
                <a href="javascript:;">
                    <span class="tips-red"></span>Others (6)<i class="iconfont icon-xiangxia"></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li class="sub-title">
                    <a href="javascript:;">
                        <span class="tips-circle"></span>ADC Toxin<i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="javascript:;">
                        <span class="tips-circle"></span>ADC Linker<i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
                <li class="sub-title">
                    <a href="javascript:;">
                        <span class="tips-circle"></span>ADC Linker with Payload<i class="iconfont icon-gengduo"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>