@charset "utf-8";
@import url(../layui/css/layui.css);
*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
a{
	text-decoration: none;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
    min-height: 100%;
    -moz-box-sizing: border-box; /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box; /*W3C标准*/
    background: #eee;
}

header div img {width:100%;}
section div.title {width:85%;margin:0 auto; height:80px;line-height:90px;text-align:center;
	font-size:20px;color:#aaa;border-bottom:1px #ddd solid;}
section div.content{width:85%;margin:0 auto;}
.big_small {display:inline-block;height:240px; width:240px; overflow:hidden;}
.big_small img {height:240px; width:240px;display:block;}
.big_small img:hover{transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);	/* IE 9 */
	-webkit-transform: scale(1.1,1.1);	/* Safari 和 Chrome */
	-o-transform: scale(1.1,1.1);	/* Opera */
	-moz-transform: scale(1.1,1.1); transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;}