<link rel="stylesheet" type="text/css" href="../bld/static/css/new_header.css?t=20210608001">
<div class="maxW1800 paddingLR4">		
	<div class="head_top clearfloat">
		<h1 class="float_l head_logo"><a href="/index.html"><img src="../bld/static/img/BLD_logo.png" alt="BLDpharm LOGO"></a></h1>
		<div class="float_r head_search">
			<div class="float_l search_box popups_transition">
				<label class="search_lab"><span class="icon_head search_icon" id="sesarch_btn"></span><input class="search_ipt" type="search" autocomplete="off" placeholder="Search by topic"></label>
				<p class="search_other"><a href="/">Certificate</a> / <a href="/">SDS Search</a></p>
				<ul class="search_result_list" id="searchResult_List">
					<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
					<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
					<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
					<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
					<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
					<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
				</ul>
			</div>
			<button class="float_l icon_head search_min" id="search_show">Search</button>
			<div class="float_r language_box">
				<p class="icon_head language_icon">EN</p>
				<span class="language_select">
					<a class="language_en" href="/">EN</a>
					<a class="language_de" href="/">DE</a>
				</span>
			</div>
		</div>
	</div>
	<div class="head_bottom clearfloat">
		<span class="head_menu_phone" id="menu_show"><i></i><i></i><i></i></span>
		<div class="head_menu">
			<ul class="menu_ul popups_transition">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/about-us.html">About Us</a>
					<div class="menu_div">
						<a href="/custom-synthesis.html">Custom Synthesis</a>
						<a href="/quality-control.html">Quality Control</a>
						<a href="/r-d-center.html">R&D Center</a>
					</div>
				</li>
				<li><a href="/services.html">Services</a>
					<div class="menu_div">
						<a href="/custom-synthesis.html">Custom Synthesis</a>
						<a href="/scale-up-commercial-manufacture.html">Scale Up Commercial Manufacture</a>
						<a href="/bulk-inquires.html">Bulk Inquires</a>
					</div>
				</li>
				<li><a href="/shop.html">Shop</a></li>
				<li><a href="/contact-us.html">Contact Us</a>
					<div class="menu_div">
						<a href="/distributors.html">Distributors</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="cart_box">
			<span class="icon_head cart_icon" id="cart_show">Cart <i class="cart_total">4</i></span>
		</div>
		<div class="login_box">
			<a href="/login.html">Login</a> / <a href="/sign-up.html">Sign up</a>
		</div>
	</div>
</div>
<!-- 公用遮罩层 z-index 1000 -->
<div class="bld_mask"></div>
<!-- 公共隐藏购物车 -->
<div class="hide_cart">
	<div class="hide_cart_content popups_transition">
		<div class="hide_cart_title">
			<span><img class="cart_hide" src="../bld/static/img/index/next.png" alt=""></span><span class="F20">SHOPPING CART</span>
		</div>
		<div class="hide_cart_list">
			<table class="cart_ptable">
				<tbody class="cart_ptbody">
					<tr>
						<td rowspan="3"><a href="/" class="cart_pimg"><img src="https://file.bldpharm.com/static/upload/proimg/422/86087-24-3.png" alt=""></a></td>
						<td colspan="3" class="position_r"><button class="cart_pdel">×</button><a href="/" class="cart_pname">(R)-Tetrahydrofuran-3-ol</a></td>
					</tr>
					<tr>
						<td>BD47643</td>
						<td align="center">95%</td>
						<td align="right">10g</td>
					</tr>
					<tr>
						<td>86087-24-3</td>
						<td align="center" class="color_red">USD <span class="cart_pprice">43</span></td>
						<td align="right">
							<input class="unit_price" type="hidden" value="43">
							<label class="cart_pnum"><em class="cart_num_less">-</em><input class="cart_ipt_mun" onpropertychange="" onkeyup="" value="1" min="1" type="number"><em class="cart_num_add">+</em></label>
						</td>
					</tr>
				</tbody>
				<tbody class="cart_ptbody">
					<tr>
						<td rowspan="3"><a href="/" class="cart_pimg"><img src="https://file.bldpharm.com/static/upload/proimg/1307/1844202-89-6.png" alt=""></a></td>
						<td colspan="3" class="position_r"><button class="cart_pdel">×</button><a href="/" class="cart_pname">(3S,4R)-4-(Cyclobutyl(methyl)amino)tetrahydrofuran-3-ol</a></td>
					</tr>
					<tr>
						<td>BD01352698</td>
						<td align="center">98%</td>
						<td align="right">1g</td>
					</tr>
					<tr>
						<td>1844202-89-6</td>
						<td align="center" class="color_red">USD <span class="cart_pprice">96</span></td>
						<td align="right">
							<input class="unit_price" type="hidden" value="96">
							<label class="cart_pnum"><em class="cart_num_less">-</em><input class="cart_ipt_mun" onpropertychange="" onkeyup="" value="1" min="1" type="number"><em class="cart_num_add">+</em></label>
						</td>
					</tr>
				</tbody>
				<tbody class="cart_ptbody">
					<tr>
						<td rowspan="3"><a href="/" class="cart_pimg"><img src="https://file.bldpharm.com/static/upload/proimg/422/86087-24-3.png" alt=""></a></td>
						<td colspan="3" class="position_r"><button class="cart_pdel">×</button><a href="/" class="cart_pname">(R)-Tetrahydrofuran-3-ol(R)-Tetrahydrofuran-3-ol(R)-Tetrahydrofuran-3-ol(R)-Tetrahydrofuran-3-ol(R)-Tetrahydrofuran-3-ol</a></td>
					</tr>
					<tr>
						<td>BD47643</td>
						<td align="center">95%</td>
						<td align="right">10g</td>
					</tr>
					<tr>
						<td>86087-24-3</td>
						<td align="center" class="color_red">USD <span class="cart_pprice">43</span></td>
						<td align="right">
							<input class="unit_price" type="hidden" value="43">
							<label class="cart_pnum"><em class="cart_num_less">-</em><input class="cart_ipt_mun" onpropertychange="" onkeyup="" value="1" min="1" type="number"><em class="cart_num_add">+</em></label>
						</td>
					</tr>
				</tbody>
				<tbody class="cart_ptbody">
					<tr>
						<td rowspan="3"><a href="/" class="cart_pimg"><img src="https://file.bldpharm.com/static/upload/proimg/1307/1844202-89-6.png" alt=""></a></td>
						<td colspan="3" class="position_r"><button class="cart_pdel">×</button><a href="/" class="cart_pname">(3S,4R)-4-(Cyclobutyl(methyl)amino)tetrahydrofuran-3-ol</a></td>
					</tr>
					<tr>
						<td>BD01352698</td>
						<td align="center">98%</td>
						<td align="right">1g</td>
					</tr>
					<tr>
						<td>1844202-89-6</td>
						<td align="center" class="color_red">USD <span class="cart_pprice">96</span></td>
						<td align="right">
							<input class="unit_price" type="hidden" value="96">
							<label class="cart_pnum"><em class="cart_num_less">-</em><input class="cart_ipt_mun" onpropertychange="" onkeyup="" value="1" min="1" type="number"><em class="cart_num_add">+</em></label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="cart_btn_box clearfloat">
				<div class="cart_btn_left float_l">
					<p>Subtotal (<strong class="cart_total color_red">4</strong> items)</p>
					<strong class="F20 color_red">USD <i class="cart_pricr_total">278</i></strong>
				</div>
				<div class="cart_btn_right float_r">
					<button class="btn_min btn_white btn_transition cart_list_btn">Cart Details</button>
					<button class="btn_min btn_red btn_transition cart_list_btn" id="checkout">Checkout</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 回到顶部 -->
<div class="backTop">
	<span><a href="/contact-us.html">Contact us</a></span>
	<span class="toTop">TOP</span>
</div>
<script>
$(document).ready(function(){
	//scroll
	$(window).scroll(function (){
		var st = $(this).scrollTop();
		// 滚动到200显示backTop
		if(st >= 200){
			$('.backTop').fadeIn();
		} else {
			$('.backTop').fadeOut();
		}
	})
	//to top
	$('.toTop').click(function(){;
		$('html,body').animate({scrollTop:0}, 500);
	});
	//cart show 
	$('#cart_show').click(function() {
		$('.hide_cart').addClass('hide_cart_show');
		$('.bld_mask').show();
	});
	$('.cart_hide').click(function() {
		$('.hide_cart').removeClass('hide_cart_show');
		$('.bld_mask').hide();
	});

	//menu show
	$('.head_menu_phone').click(function(){
		$('.head_menu').addClass('head_menu_show');
		$('.bld_mask').show();
	})
	//search show
	$('.search_min').click(function(){
		$('.head_search').addClass('search_show');
		$('.bld_mask').show();
	})
	//关闭弹窗、遮罩层
	$('.bld_mask').click(function(){
		$(this).hide();
		$('.head_menu').removeClass('head_menu_show');
		$('.head_search').removeClass('search_show');
		$('.hide_cart').removeClass('hide_cart_show');
	})

	//购物车数量加减
	if($('.cart_pnum').length>0){
        $('.cart_num_less').click(function(){
            var id=$(this).parent().attr('id');
            var ipt=$(this).parent().find('input');
            var val=ipt.val();
            var price=$(this).parent().parent().parent().find('.cart_pprice');
            val=Number(val)-1;
            if(val>0){
                ipt.val(val>0?val:1);
                _sumCoinUpt();
                price.html(parseInt(val*$(this).parent().parent().find('.unit_price').val()));
                /*var cartparams={'quantity':val};
                _DoAjaxAsyncTrue('PUT',cartparams,'/webapi/v1/user/cart/'+id,function(){
                    _uptCartInfo();//更新购物车信息
                });*/
            }
        });
        $('.cart_num_add').click(function(){
            var id=$(this).parent().attr('id');
            var ipt=$(this).parent().find('input');
            var val=ipt.val();
            var price=$(this).parent().parent().parent().find('.cart_pprice');
            val=Number(val)+1;
            ipt.val(val);
            _sumCoinUpt();
            price.html(parseInt(val*$(this).parent().parent().find('.unit_price').val()));
            /*var cartparams={'quantity':val};
            _DoAjaxAsyncTrue('PUT',cartparams,'/webapi/v1/user/cart/'+id,function(){
                _uptCartInfo();//更新购物车信息
            });*/
        });
        $('.cart_pdel').click(function(){
        	var thisobj=$(this).parent().parent().parent();
        	thisobj.remove();
        })

        /*$('.cart_pdel').click(function(){
            var thisobj=$(this);
            var id=thisobj.parent().attr('id');
            _confBtnBox('Confirm Delete ?',function(){
                //删除
                _DoAjaxAsyncTrue('DELETE',{},'/webapi/v1/user/cart/'+id,function(){
                    _uptCartInfo();//更新购物车信息
                    bld._warn('Delete Successfully!');
                    setTimeout(function(){layer.closeAll();},1500);
                    thisobj.parent().parent().remove();
                    _sumCoinUpt();
                });
            })
        });*/
        /*$('#checkout').click(function(){
            var data='{{ len(cartinfo) }}';
            if(data!='0'){
                window.location.href='/pay/payment.html';
            }
        });*/
    }
    //更新总价
	function _sumCoinUpt(){
		var itemLen=$('.cart_ptbody').length;
		$('.cart_total').html(itemLen);
		if(itemLen==0){
			$('.cart_ptable').append('<tbody class="no_data"><tr><td>No Data</td></tr></tbody>');
			$('.cart_btn_box').html('')
		}
		var sumcoin=0;
		$.each($('.cart_pnum input'), function(idx, item) {
			var rowprice=parseInt($(item).parent().parent().find('.unit_price').val());
			sumcoin+=Number($(item).val())*rowprice;
		});
		$('.cart_pricr_total').html(sumcoin);
	}
})
</script>