<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="robots" content="index,follow">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://www.ambeed.com/static/img/ambeed.ico" type="image/x-icon">
	<meta name="description" content="Ambeed provides building blocks, advanced intermediates, amino acids and peptides, catalysts and ligands, natural products, nucleotides etc.">
	<meta name="keywords" content="building blocks, advanced intermediates, inhibitors, amino acids and peptides, catalysts and ligands, natural products, nucleotides; Polycondensation, Halogenation, Cyanation, Esterification, Nitration Diazotization, Amination, Alkylation, Oxidation, Grignard's reaction, Oxidation, Suzuki Coupling reaction, Lithiation, Friedel-Crafts reaction, Hydrogenation, and Reduction">
	<!-- Start of Baidu Transcode -->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="mobile-agent" content="format=html5;url=http://localhost/"/>
	<!-- End of Baidu Transcode -->

	
	<link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css?v=2019113000002">
	<link rel="stylesheet" type="text/css" href="/static/css/common-default.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script>
		//根据设备加载不同的样式
		var setStyle = function(cssArr){
			var i= 0,len = cssArr.length;
			for(i;i<len;i++){
				document.write('<link href="'+cssArr[i]+'" type="text/css" rel=stylesheet>');
			}
		};
		// 判断是否移动端
		function goPAGE() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				console.log("mobile");
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/mobile/header-mobile.css','/static/css/mobile/about-mobile.css']);
			}else {
				console.log("pc")
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/pc/header.css','/static/css/pc/about.css']);
			}
		}
		goPAGE();
	</script>
</head>
<body>
<div id="header"></div>



<div class="clear height40"></div>
<div id="footer"></div>

</body>
</html>