<!DOCTYPE html>
<html lang="cn">
<head>
    <title>运费和政策</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>


<!-- header -->
<header id="header"></header>

<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">运费和政策</a>
    </div>
</nav>
<div class="about-common quality-con">
    <section>
        <header>运费和政策</header>
        <article>
            采购的库存产品将在您的订单24小时内处理出货。如果要求的产品缺货，我们将尽快补充库存，并与您直接联系更新。小订单在美国的运费和处理费是35美元，在欧盟是45美元，其他国家是85美元。
        </article>
        <div class="img-box freight-img">
            <img src="/static/img/cart/freight.png" alt="">
        </div>
    </section>
</div>
<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>