<!DOCTYPE html>
<html lang="cn">
<head>
    <title>如何订购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>


<!-- header -->
<header id="header"></header>

<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">如何订购</a>
    </div>
</nav>
<div class="layout page-title">
    如何订购
</div>
<div class="about-common how-order-con">
    <section>
        <header><span class="tips-red"></span>网上订购</header>
        <article>
            <p>按照在线购买流程图轻松下订单。</p>
            <p><span class="tips-circle-red">1</span>登录/注册</p>
            <p><span class="tips-circle-red">2</span>将产品添加到我的购物车</p>
            <p><span class="tips-circle-red">3</span>留言订购</p>
        </article>
    </section>
    <section>
        <header class="margin-B"><span class="tips-red"></span>线下订购</header>
        <div>
            <a class="tel" href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/header/iphone.png" alt="Tel">
                </span>
                400-920-2911
            </a>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/email.png" alt="Email">
                </span>
                sales@csnpharm.cn
            </a>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/web.png" alt="Web">
                </span>
                www.csnpharm.cn
            </a>
            <a class="email" href="mailto:tech@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/email.png" alt="Email">
                </span>
                tech@csnpharm.cn
            </a>
        </div>
        <a class="tel margin-B" href="javascript:;">
            <span class="img-box small-icon">
                <img src="/static/img/header/addr.png" alt="addr">
            </span>
            上海市浦东新区陶桥路488号5幢，邮编201203
        </a>
    </section>
</div>
<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>