<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="robots" content="index,follow">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://www.ambeed.com/static/img/ambeed.ico" type="image/x-icon">
	<meta name="description" content="Ambeed provides building blocks, advanced intermediates, amino acids and peptides, catalysts and ligands, natural products, nucleotides etc.">
	<meta name="keywords" content="building blocks, advanced intermediates, inhibitors, amino acids and peptides, catalysts and ligands, natural products, nucleotides; Polycondensation, Halogenation, Cyanation, Esterification, Nitration Diazotization, Amination, Alkylation, Oxidation, Grignard's reaction, Oxidation, Suzuki Coupling reaction, Lithiation, Friedel-Crafts reaction, Hydrogenation, and Reduction">
	<!-- Start of Baidu Transcode -->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="mobile-agent" content="format=html5;url=http://localhost/"/>
	<!-- End of Baidu Transcode -->

	
	<link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css?v=2019113000002">
	<link rel="stylesheet" type="text/css" href="/static/css/common-default.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script>
		//根据设备加载不同的样式
		var setStyle = function(cssArr){
			var i= 0,len = cssArr.length;
			for(i;i<len;i++){
				document.write('<link href="'+cssArr[i]+'" type="text/css" rel=stylesheet>');
			}
		};
		// 判断是否移动端
		function goPAGE() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				console.log("mobile");
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/mobile/header-mobile.css','/static/css/mobile/about-mobile.css']);
			}else {
				console.log("pc")
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/pc/header.css','/static/css/pc/about.css']);
			}
		}
		goPAGE();
	</script>
</head>
<body>
<div id="header"></div>

<div class="layout">
<div class="nav-com-title">
<p>
<a href="/" class="home-logo"><img src="/static/img/home-logo.png" alt=""></a>
<a href="javascript:;" class="current">How to Order and Pay</a>
</p>
<h3>How to Order and Pay</h3>
</div>
<div class="about-new-con">
<div class="about-new-side">
<h4>COMPANY PROFILE</h4>
<ul>
<li><a href="/about-us.html" class="a_side_about">About Us</a></li>
<li><a href="/shipping-rates-policies.html" class="a_side_shipping">Shipping Rates and Policies</a></li>
<li><a href="/quality-control.html" class="a_side_quality">Quality Control</a></li>
<li><a href="/privacy-policy.html" class="a_side_policy">Privacy Policy</a></li>
<li><a href="/return-policy.html" class="a_side_policy">Return Policy</a></li>
</ul>
<h4>USAGE GUIDE</h4>
<ul>
<li><a href="/guide-book.html" class="a_side_guide">Guide Book</a></li>
<li><a href="/find-chemicals.html" class="a_side_find">Find Chemicals</a></li>
<li><a href="/guide-book.html#download_quality" class="a_side_download">Download Quality Inspection File</a></li>
<li><a href="/catalog-overview.html" class="a_side_download">Download Product Catalog</a></li>
<li><a href="/inquiry-form.html" target="_blank" class="a_side_request">Custom Chemical Synthesis Request</a></li>
<li><a href="/how-to-order-and-pay.html" class="a_side_payment a_side_on">Oder and Payment</a></li>
<li><a href="/email-subscribe.html" class="a_side_email">E-mail Subscribe</a></li>
</ul>
<h4>SALES CONTACT</h4>
<ul class="marginT10">
<li><img src="/static/img/about/icon-usa.png" alt=""><span>630-580-1088</span></li>
<li><img src="/static/img/about/icon-email.png" alt=""><a href="mailto:info@ambeed.com" title="">info@ambeed.com</a></li>
</ul>
</div>
<div class="about-new-main">
<h3>New customer</h3>
<p>For new customer, please set up an account with us. To do this, please email or fax to us (630-581-0788) the <a href="/static/file/new-account-setup-form.pdf" class="email-color under-line" target="_blank">new account setup form</a>.</p>
<ul class="paddingB40">
<li><span class="dot">●</span>Official purchase order form (including shipping, billing, and product information)</li>
<li><span class="dot">●</span>Contact information (such as buyer, receiver, accounts payable and remit-to address)</li>
</ul>
<h3>How to order</h3>
<ul>
<li><span class="dot">●</span><strong>Email</strong> to <a href="mailto:sales@ambeed.com" class="email-color">sales@ambeed.com</a></li>
<li><span class="dot">●</span><strong>Fax</strong> to 630-581-0788</li>
<li><span class="dot">●</span><strong>Online</strong> You may use our online order system to place your orders.</li>
</ul>
<p class="paddingB40">(You may use your own purchase order, or use our <a href="/static/file/credit-card-payment-form.pdf" target="_blank" class="email-color under-line">order form</a> and send back.)</p>
<h3>Payment Methods</h3>
<ul>
<li><span class="dot">●</span><strong>Check or money order.</strong> Please make it payable to <strong>Ambeed, Inc.</strong> and mail it to us.
</li>
<li><span class="dot">●</span><strong>ACH/Wire transfer.</strong> Please send your payment to our bank account on the invoice.</li>
<li><span class="dot">●</span><strong>Credit card.</strong> We accept Visa and MasterCard. If you are ordering online then you may enter the credit card information using our secure ordering system; otherwise please call us (630-580-1088) or fax to us (630-581-0788) the following information: (1) Card type, (2) card number, (3) expiration date, (4) card holder name and address, including city, state and zip code. You may use our <a href="/static/file/credit-card-payment-form.pdf" target="_blank" class="email-color under-line">order form</a>.
</li>
</ul>
</div>
</div>
</div>

<div class="clear height40"></div>
<div id="footer"></div>

</body>
</html>