<!DOCTYPE html>
<html lang="cn">
<head>
    <title>摩尔浓度计算器</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>


<!-- header -->
<header id="header"></header>
  
<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">摩尔浓度计算器</a>
    </div>
</nav>
<div class="about-common molarity-con">
    <section>
        <header class="margin-B">摩尔浓度计算器</header>
        <ul class="molarity">
            <li>
                计算溶液所需的质量、体积或浓度。Csnpharm物质量浓度计算器基于以下公式:
            </li>
            <li class="margin-top">
                浓度 (mol/L) × 体积 (L) × 分子量 (g/mol)=质量 (g)
            </li>
            <li>
                <p>
                    <span>质量</span>
                </p>
                <div class="ipt-kuang">
                    <i class="iconfont icon-sanjiao_down_s"> </i>
                    <input type="text" class="ipt">
                    <select id="concUnits" name="concUnits">
                        <option value="">fM</option> 
                        <option value="">pM</option> 
                        <option value="">nM</option> 
                        <option value="">μM</option> 
                        <option selected="" value="">mM</option> 
                        <option value="">M</option>
                    </select>
                </div>
                <p>
                    <span class="molarity-txt">浓度</span>
                    <i class="iconfont icon-cha"></i>
                </p>
                <div class="ipt-kuang">
                    <i class="iconfont icon-sanjiao_down_s"> </i>
                    <input type="text" class="ipt">
                    <select id="volUnits" name="volUnits">
                        <option value="">nL</option> 
                        <option value="">μL</option> 
                        <option selected="" value="">mL</option> 
                        <option value="">L</option>
                    </select>
                </div>
                <p>
                    <span class="molarity-txt">体积</span>
                    <i class="iconfont icon-cha"></i>
                </p>
                <div class="ipt-kuang">
                    <i class="iconfont icon-sanjiao_down_s"> </i>
                    <input type="text" class="ipt">
                    <select id="massUnits" name="massUnits">
                        <option value="">pg</option> 
                        <option value="">ng</option> 
                        <option value="">μg</option> 
                        <option selected="" value="">mg</option> 
                        <option value="">g</option> 
                        <option value="">kg</option>
                    </select>
                </div>
                <p>
                    <span class="molarity-txt">分子量</span>
                    <i class="iconfont icon-shuzhibiaochi"></i>
                </p>
                <input type="text" readonly>
                <br>
                    *在准备库存解决方案时，请始终使用所发现的产物的分子量通过标签和MSDS / COA(可在产品页面上获得)。
                <button class="btn btn-blue margin-B">计算</button>
            </li>
        </ul>
    </section>
</div>
<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>