<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="robots" content="index,follow">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://www.ambeed.com/static/img/ambeed.ico" type="image/x-icon">
	<meta name="description" content="Ambeed provides building blocks, advanced intermediates, amino acids and peptides, catalysts and ligands, natural products, nucleotides etc.">
	<meta name="keywords" content="building blocks, advanced intermediates, inhibitors, amino acids and peptides, catalysts and ligands, natural products, nucleotides; Polycondensation, Halogenation, Cyanation, Esterification, Nitration Diazotization, Amination, Alkylation, Oxidation, Grignard's reaction, Oxidation, Suzuki Coupling reaction, Lithiation, Friedel-Crafts reaction, Hydrogenation, and Reduction">
	<!-- Start of Baidu Transcode -->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="mobile-agent" content="format=html5;url=http://localhost/"/>
	<!-- End of Baidu Transcode -->

	
	<link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css?v=2019113000002">
	<link rel="stylesheet" type="text/css" href="/static/css/common-default.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script>
		//根据设备加载不同的样式
		var setStyle = function(cssArr){
			var i= 0,len = cssArr.length;
			for(i;i<len;i++){
				document.write('<link href="'+cssArr[i]+'" type="text/css" rel=stylesheet>');
			}
		};
		// 判断是否移动端
		function goPAGE() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				console.log("mobile");
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/mobile/header-mobile.css','/static/css/mobile/about-mobile.css']);
			}else {
				console.log("pc")
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/pc/header.css','/static/css/pc/about.css']);
			}
		}
		goPAGE();
	</script>
</head>
<body>
<div id="header"></div>

<div class="layout">
<div class="nav-com-title">
<p>
<a href="/" class="home-logo"><img src="/static/img/home-logo.png" alt=""></a>
<a href="javascript:;" class="current">Quality Control</a>
</p>
<h3>Quality Control</h3>
</div>
<div class="about-new-con">
<div class="about-new-side">
<h4>COMPANY PROFILE</h4>
<ul>
<li><a href="/about-us.html" class="a_side_about">About Us</a></li>
<li><a href="/shipping-rates-policies.html" class="a_side_shipping">Shipping Rates and Policies</a></li>
<li><a href="/quality-control.html" class="a_side_quality a_side_on">Quality Control</a></li>
<li><a href="/privacy-policy.html" class="a_side_policy">Privacy Policy</a></li>
<li><a href="/return-policy.html" class="a_side_policy">Return Policy</a></li>
</ul>
<h4>USAGE GUIDE</h4>
<ul>
<li><a href="/guide-book.html" class="a_side_guide">Guide Book</a></li>
<li><a href="/find-chemicals.html" class="a_side_find">Find Chemicals</a></li>
<li><a href="/guide-book.html#download_quality" class="a_side_download">Download Quality Inspection File</a></li>
<li><a href="/catalog-overview.html" class="a_side_download">Download Product Catalog</a></li>
<li><a href="/inquiry-form.html" target="_blank" class="a_side_request">Custom Chemical Synthesis Request</a></li>
<li><a href="/how-to-order-and-pay.html" class="a_side_payment">Oder and Payment</a></li>
<li><a href="/email-subscribe.html" class="a_side_email">E-mail Subscribe</a></li>
</ul>
<h4>SALES CONTACT</h4>
<ul class="marginT10">
<li><img src="/static/img/about/icon-usa.png" alt=""><span>630-580-1088</span></li>
<li><img src="/static/img/about/icon-email.png" alt=""><a href="mailto:info@ambeed.com" title="">info@ambeed.com</a></li>
</ul>
</div>
<div class="about-new-main">
<p> Ambeed has proven its high quality with assured more than 95 % purity, as confirmed by LCMS and/or NMR.</p>
<p>Ambeed provides analytical characterization determination reports.</p><p>
</p><p>NMR </p><p>
</p><p>1H, 13C, 19F, 31P AND 2D</p><p>
</p><p>HPLC-MS</p><p>
</p><p>HPLC methods development and purity evaluation</p><p>
</p><p>Chiral HPLC analysis</p><p>
</p><p class="paddingB40">Polarimeter Analysis of Optically active substances</p>
<p>Analytical Chemistry</p><p>
</p><p>The Laboratory is well-equipped for comprehensive Physico-chemical analysis, including</p><p>
</p><p>Water determination</p><p>
</p><p>Qualitative and quantitative determination of functional groups in organic compounds</p><p>
</p><p>Qualitative and quantitative determination of the salt form of organic compounds</p><p>
</p><p>Quality control of solvents and inorganic compounds</p><p>
</p><p>Measuring optical activity</p><p>
</p><p>Melting point verification</p><p>
</p>
</div>
</div>
</div>

<div class="clear height40"></div>
<div id="footer"></div>

</body>
</html>