<!DOCTYPE html>
<html lang="cn">
<head>
    <title>质量手册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>


<!-- header -->
<header id="header"></header>

<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">质量手册</a>
    </div>
</nav>
<div class="about-common quality-con">
    <section>
        <header>质量手册</header>
        <article>
            Csnpharm致力于成为生命科学和创新技术的研究，开发和制造领域的全球领先供应商。为了实现我们的战略愿景，我们必须满足并超越客户的要求。我们通过建立和维护卓越的质量和质量保证标准来实现这一目标。
        </article>
        <article>
            查找Csnpharm Quality Manual.s的详细信息。
            <p><span class="img-box small-icon"><img src="/static/img/products/PDF.png"></span>质量手册</p>
        </article>
    </section>
</div>
<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>