<!DOCTYPE html>
<html>
<head>
	<title>BLDpharm - Scale Up Commercial Manufacture List</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="msapplication-tap-highlight" content="no"/> 
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
</head>
<body>
<div class="BLDbody">
	<div id="header"></div>
	
	<div class="breadcrumb scale_up_commercial_manufacture_breadcrumb">
		<h2>Scale Up Commercial Manufacture</h2>
		<p><a href="/">Home</a><span class="oblique_line">/</span>Scale Up Commercial Manufacture</p>
	</div>
	<div class="about_gray_bg">
		<div class="width50">
			<div class="floatR width650">
				<h2 class="content_title">Scale Up Commercial Manufacture</h2>
				<span class="title_border"></span>
				<p class="about_text">The company is run by an outstanding team of Ph.D and master degree holders working together with you to make innovation easy. The 19,500 square feet R&D center is dedicated to custom synthesis and can meet the demand of new compounds from milligrams to hundreds of kilograms. A confidentiality agreement is signed with each customer and we make sure that our clients are kept informed with the progress during the whole custom synthesis process.</p>
				<p class="about_text">BLD Pharm designs services that covers all aspects of the pharmaceutical industry chain including: synthesis of pharmaceutically active compounds and reference compounds, synthetic routes, documents and data query services.</p>
			</div>
		</div>
		<div class="width50 scale_up_commercial_manufacture_img"></div>
	</div>
	<div class="layout">
		<ul class="clearfloat blue_line_ul">
			<li><a href="">Heterocyclic Building Blocks</a></li>
			<li><a href="">Organic Building Blocks</a></li>
			<li><a href="">Catalysis Chemistry</a></li>
			<li><a href="">Asymmetric Synthesis</a></li>
			<li><a href="">Organometallic Reagents</a></li>
			<li><a href="">Synthetic Reagents</a></li>
		</ul>
	</div>

	<div id="footer"></div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

</body>
</html>