<!DOCTYPE html>
<html lang="cn">
<head>
    <title>购物车</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

<!-- header -->
<header id="header"></header>

<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html" target="_top">首页</a><span> /</span>
        <a href="" class="current">我的购物车</a>
    </div>
</nav>
<section>
    <header class="layout cart-title">
        <h2>我的购物车</h2>
    </header>
    <section class="cart-con">
        <div class="swiper-left">
            <section>
                <table>
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="/templates/products/products-details.html">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td>
                               <div class="number">
                                    <span class="minus">-</span>
                                    <input type="number" name="" value="1">
                                    <span class="add">+</span>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop">加入<br>收藏</div>
                    <div class="cancel">删除</div>
                </div>
            </section>
        </div>
        <div class="layout white-bg"><div class="border-B"></div></div>
        <div class="swiper-left">
            <section>
                <table>
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="/templates/products/products-details.html">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td>
                               <div class="number">
                                    <span class="minus">-</span>
                                    <input type="number" name="" value="1">
                                    <span class="add">+</span>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop">加入<br>收藏</div>
                    <div class="cancel">删除</div>
                </div>
            </section>
        </div>
        <div class="layout white-bg"><div class="border-B"></div></div>
        <div class="swiper-left">
            <section>
                <table>
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="/templates/products/products-details.html">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td>
                               <div class="number">
                                    <span class="minus">-</span>
                                    <input type="number" name="" value="1">
                                    <span class="add">+</span>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop">加入<br>收藏</div>
                    <div class="cancel">删除</div>
                </div>
            </section>
        </div>
        <div class="layout white-bg"><div class="border-B"></div></div>
        <div class="swiper-left">
            <section>
                <table>
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="/templates/products/products-details.html">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td>
                               <div class="number">
                                    <span class="minus">-</span>
                                    <input type="number" name="" value="1">
                                    <span class="add">+</span>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop">加入<br>收藏</div>
                    <div class="cancel">删除</div>
                </div>
            </section>
        </div>
        <div class="layout white-bg"><div class="border-B"></div></div>
    </section>
    <footer class="settlement-con">
        <ul class="layout">
            <li class="border-B">小计(4项)：RMB1344</li>
            <li class="border-B">运费：RMB149</li>
            <li class="total">合计：RMB1493</li>
            <li><button type="submit" class="btn btn-red">结算</button></li>
        </ul>
    </footer>
</section>
<section class="cart-companion">
    <header class="layout cart-title">
        <h2>安全和方便购物</h2>
    </header>
    <ul class="layout">
        <li class="border-B">
            <a href="/templates/privacy-policy/freight-and-policy.html" target="_top">隐私和安全：<span>隐私政策</span>
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
        <li class="">
            自由和快速交付
            <br>所有订单超过500美元可免费送货
        </li>
    </ul>
</section>


<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>

<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/swipeleft.js"></script>

<script type="text/javascript">
    $(function () {

        /* 数值加减 */
        $('.number .minus').on('click', function(event){
            var num = Number($(this).parent().find('input').val());
            $(this).parent().find('input').val(num - 1);
            if(num <=1) {
                $(this).parent().find('input').val(1);
                $(this).css({ 'color' : "#ddd" })
            }else{
                $(this).css({ 'color' : "#333" })
            }
        })
        $('.number .add').on('click', function(event){
            var num = Number($(this).parent().find('input').val());
            $(this).parent().find('input').val(num + 1);
        })
    })
</script>

</body>
</html>