<!DOCTYPE html>
<html lang="cn">
<head>
    <title>购物车</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

<!-- header -->
<div id="header"></div>

 <!-- 主体 -->
 <div class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">我的购物车</a>
    </div>
</div>
<div class="table-box">
    <div class="layout cart-title">
        <h1>我的购物车</h1>
    </div>
    <div class="cart-con">
        <div class="swiper-left">
            <div class="table-card">
                <table cellspacing="0" border="0">
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="javascript:;">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td align="right" class="number">
                                <span class="minus">-</span>
                                <input type="number" name="" value="1">
                                <span class="add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop"><span>加入<br>收藏</span></div>
                    <div class="cancel"><span>删除</span></div>
                </div>
            </div>
        </div>
        <div class="layout white-bg">
            <div class=" border-B">    
            </div>
        </div>
        <div class="swiper-left">
            <div class="table-card">
                <table cellspacing="0" border="0">
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="javascript:;">Pyrrolobenzodiazepine Dimer </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td align="right" class="number">
                                <span class="minus">-</span>
                                <input type="number" name="" value="2">
                                <span class="add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop"><span>加入<br>收藏</span></div>
                    <div class="cancel"><span>删除</span></div>
                </div>
            </div>
        </div>
        <div class="layout white-bg">
            <div class=" border-B">    
            </div>
        </div>
        <div class="swiper-left">
            <div class="table-card">
                <table cellspacing="0" border="0">
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="javascript:;">Pyrrolobenzodiazepine Dimer Pyrrolobenzodiazepine Dimer</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td align="right" class="number">
                                <span class="minus">-</span>
                                <input type="number" name="" value="1">
                                <span class="add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop"><span>加入<br>收藏</span></div>
                    <div class="cancel"><span>删除</span></div>
                </div>
            </div>
        </div>
        <div class="layout white-bg">
            <div class=" border-B">    
            </div>
        </div>
        <div class="swiper-left">
            <div class="table-card">
                <table cellspacing="0" border="0">
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>CSN13849</td>
                            <td>1062368-62-0</td>
                            <td align="right">1mg</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="products-name">
                                <a href="javascript:;">Pyrrolobenzodiazepine Dimer </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="price">
                                RMB <b>336</b>
                            </td>
                            <td align="right" class="number">
                                <span class="minus">-</span>
                                <input type="number" name="" value="1">
                                <span class="add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hide-con">
                    <div class="istop"><span>加入<br>收藏</span></div>
                    <div class="cancel"><span>删除</span></div>
                </div>
            </div>
        </div>
        <div class="layout white-bg">
            <div class="border-B">    
            </div>
        </div>
    </div>
    <div class="settlement-con">
        <ul class="layout">
            <li class="border-B">小计(4项)：RMB1344</li>
            <li class="border-B">运费：RMB149</li>
            <li class="total">合计：RMB1493</li>
            <li><button type="submit" class="btn btn-red">结算</button></li>
        </ul>
    </div>
</div>
<div class="cart-companion">
    <div class="layout cart-title">
        <h1>安全和方便购物</h1>
    </div>
    <ul class="layout">
        <li class="border-B">
            <a href="/templates/cart/freight-and-policy.html" title="">隐私和安全：<span>隐私政策</span>
                <span class="img-box small-icon float-R">
                    <img src="/static/images/right.png" alt="">
                </span>
            </a>
        </li>
        <li class="">
            自由和快速交付
            <br>所有订单超过500美元可免费送货
        </li>
    </ul>
</div>


<!-- footer -->
<div id="footer"></div>




<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/touch.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

<script>
;(function($){
   

/**/

$('.table-card').swipeLeft(function(event){
    event.preventDefault();
    event.stopPropagation();
    $(this).css({
        "left" : "-45%"
    });
    $(this).parent().siblings().find('.table-card').css({
        "left" : "0"
    });
})
$('.table-card').bind('touchstart', function(event){
    event.preventDefault();
    event.stopPropagation();
    $(this).css({
        "left" : "0"
    });

})

/* 数值加减 */
$('.number .minus').on('click', function(event){
    var num = Number($(this).parent().find('input').val());
    $(this).parent().find('input').val(num - 1);
    if(num <=1) {
        $(this).parent().find('input').val(1);
        $(this).css({ 'color' : "#ddd" })
    }else{
        $(this).css({ 'color' : "#333" })
    }
})
$('.number .add').on('click', function(event){
    var num = Number($(this).parent().find('input').val());
    $(this).parent().find('input').val(num + 1);
})


})(Zepto);
</script>   




</body>
</html>
