<!DOCTYPE html>
<html lang="cn">
<head>
    <title>联系我们</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/images/left.png" alt="">
    </a>
    <span class="title-txt">联系我们</span>
</div>

<div class="layout white-bg">
    <div class="privacy-policy-txt contact-us-con">
        如果您对本隐私政策，本网站的做法或您与本网站的交易有任何疑问，请联系我们：
        
        <p class="contact-us-title">Csnpharm</p>
        <div class="flex">
            <div>
                <a class="tel" href="javascript:;">
                    <span class="img-box small-icon">
                        <img src="/static/images/header/iphone.png" alt="Tel">
                    </span>
                    400-920-2911
                </a>
            </div>
            <div>
                <a class="email" href="mailto:sales@csnpharm.cn">
                    <span class="img-box small-icon">
                        <img src="/static/images/header/email.png" alt="Email">
                    </span>
                    sales@csnpharm.cn
                </a>
            </div>
        </div>
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/images/header/email.png" alt="Web">
                </span>
                www.csnpharm.cn
            </a>
        </div>
        <div>
            <a class="tel" href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/images/header/iphone.png" alt="Address">
                </span>
                上海市浦东新区陶桥路488号5幢，邮编201203
            </a>
        </div>
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>