<!DOCTYPE html>
<html lang="cn">
<head>
    <title>个人识别信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/img/left.png" alt="">
    </a>
    <span class="title-txt">个人识别信息</span>
</div>

<div class="layout white-bg">
    <div class="privacy-policy-txt">
        我们可能以各种方式从用户收集个人识别信息，包括但不限于用户访问我们的网站，订阅时事通讯，填写表格以及与其他活动，服务，功能或资源相关的行为。我们在我们的网站上提供。可能会要求用户提供姓名，电子邮件地址，电话号码，信用卡信息。但是，用户可以匿名访问我们的网站。只有当用户自愿向我们提交此类信息时，我们才会收集用户的个人识别信息。用户可以随时拒绝提供个人身份信息，但这可能会阻止他们参与某些与网站相关的活动。
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>