<!DOCTYPE html>
<html lang="cn">
<head>
    <title>我们如何使用收集的信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/images/left.png" alt="">
    </a>
    <span class="title-txt">我们如何使用收集的信息</span>
</div>

<ul class="privacy-policy-con use-information">
    <li class="use-information-title">
        Csnpharm可能出于以下目的收集和使用用户的个人信息：  
    </li>
    <li class="sub-title">
        <a href="/templates/cart/privacy-policy-personal-information.html" title="">
            <span class="tips-red"></span>
            改善客户服务
        </a>
        <p>
           用户信息用于处理通过本网站发出的订单。您提供的信息还有助于我们更有效地响应您的客户服务请求和支持需求。 
        </p>
    </li>
    <li class="sub-title">
        <a href="/templates/cart/privacy-policy-personal-information.html" title="">
            <span class="tips-red"></span>
            个性化用户体验
        </a>
        <p>
           用户信息用于通过自定义站点来个性化客户体验，以显示相关信息并允许访问用户的交易和支持信息。我们可能会使用汇总信息来了解我们的用户如何作为一个群体使用我们网站上提供的服务和资源。 
        </p>
    </li>
    <li class="sub-title">
        <a href="/templates/cart/privacy-policy-personal-information.html" title="">
            <span class="tips-red"></span>
            定期发送电子邮件
        </a>
        <p>
           我们可能会使用用户提供的电子邮件地址发送与其订单相关的信息和更新。联系信息也可用于响应他们的询问，问题和/或其他请求。 
        </p>
    </li>

</ul>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>