<!DOCTYPE html>
<html lang="cn">
<head>
    <title>分享您的个人信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">分享您的个人信息</span>
</div>

<div class="layout white-bg">
    <div class="privacy-policy-txt">
        我们不会将用户的个人身份信息出售，交易或出租给他人。出于上述目的，我们可能会与我们的业务合作伙伴，受信任的关联公司和广告客户共享匿名的通用汇总人口统计信息，这些信息与任何个人识别信息无关。
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>