<!DOCTYPE html>
<html lang="cn">
<head>
    <title>本隐私政策的变更</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/images/left.png" alt="">
    </a>
    <span class="title-txt">本隐私政策的变更</span>
</div>

<div class="layout white-bg">
    <div class="privacy-policy-txt">
        Csnpharm可随时更新本隐私政策。当我们这样做时，我们将修改本页底部的更新日期。我们鼓励用户经常查看此页面以了解任何更改，以便随时了解我们如何帮助保护我们收集的个人信息。您承认并同意，您有责任定期查看本隐私政策并了解修改。
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>