<!DOCTYPE html>
<html lang="cn">
<head>
    <title>您接受这些条款</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/img/left.png" alt="">
    </a>
    <span class="title-txt">您接受这些条款</span>
</div>

<div class="layout white-bg">
    <div class="privacy-policy-txt">
        使用本网站即表示您接受本政策。如果您不同意本政策，请不要使用我们的网站。您在发布本政策变更后继续使用本网站将被视为您接受这些变更。
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


</body>
</html>