<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

        
   

<!-- header -->
    <div class="header">
        <div class="header-top layout">
            <ul class="header-left">
               <li><span class="img-box small-icon menu-icon"><img src="../static/images/header/menu.png" alt="menu"></span></li> 
               <li><span class="img-box logo"><img src="../static/images/logo.png" alt="logo"></span></li> 
            </ul>
            <ul class="header-right">
               <li><span class="img-box small-icon"><img src="../static/images/header/login.png" alt="login"></span></li>
               <li><span class="img-box small-icon"><img src="../static/images/header/user.png" alt="user"></span></li>
               <li class="position-r">
                    <span class="img-box small-icon"><img src="../static/images/header/cart.png" alt="cart"></span>
                    <span class="cart-count">3</span>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <input type="text" placeholder="CAS号; 产品名; 产品号; Target">
            <span class="img-box small-icon">
                <img src="../static/images/header/search.png" alt="">
            </span>
        </div>
    </div>
  


<!-- 主体 -->
    <div class="layout link">
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="../static/images/header/email.png" alt="Email">
                </span>
                sales@csnpharm.cn
            </a>
        </div>
        <div>
            <a class="tel" href="javascript">
                <span class="img-box small-icon">
                    <img src="../static/images/header/iphone.png" alt="Tel">
                </span>
                400-920-2911
            </a>
        </div>
    </div>
    <div class="layout banner">
        <ul class="banner-con border-box">
            <li class="img-box"><img src="../static/images/banner.png" alt=""></li>
            <li class="img-box"><img src="../static/images/banner.png" alt=""></li>
        </ul>
    </div>
    <div class="layout white-bg">
        <div class="btn-box">
            <button class="btn btn-red">登录</button>
            <button class="btn btn-line">注册</button>
        </div>
    </div>
    <div class="layout section white-bg">
        <div class="title">
            信号通路
        </div>
        <div class="sub-title">
            <a href=""><span class="tips-red"></span><b>Ubiquitin Signaling Pathway</b></a>
            <span class="img-box small-icon">
                <img src="../static/images/right.png" alt="link">
            </span>
        </div>
        <div class="section-img-box">
            <span class="img-box"><img src="../static/images/img.png" alt=""></span>
        </div>
        <div class="sub-title">
            <a href=""><span class="tips-red"></span><b>Stem Cell Signaling Pathway</b></a>
            <span class="img-box small-icon">
                <img src="../static/images/right.png" alt="link">
            </span>
        </div>
        <div class="section-img-box">
            <span class="img-box"><img src="../static/images/img.png" alt=""></span>
        </div>
        <div class="sub-title">
            <a href=""><span class="tips-red"></span><b>Protein Tyrosine Kinase-RTK Signaling Pathway</b></a>
            <span class="img-box small-icon">
                <img src="../static/images/right.png" alt="link">
            </span>
        </div>
        <div class="section-img-box">
            <span class="img-box"><img src="../static/images/img.png" alt=""></span>
        </div>
        <div class="sub-title">
            <a href=""><span class="tips-red"></span><b>PI3K-AKT-mTOR Signaling Pathway</b></a>
            <span class="img-box small-icon">
                <img src="../static/images/right.png" alt="link">
            </span>
        </div>
        <div class="section-img-box margin0">
            <span class="img-box"><img src="../static/images/img.png" alt=""></span>
        </div>
    </div>
    <div class="layout white-bg">
        <div class="btn-box">
            <button class="btn btn-blue"><span>+ </span> 查看更多</button>
        </div>
    </div>
    
<!-- footer -->
    <div class="to-top">
        <div>
            <span class="img-box to-top-icon">
                <img src="../static/images/footer/to-top.png" alt="">
            </span>
        </div>
        置顶
    </div>
    <div class="layout white-bg warranty">
        <ul>
            <li>
                <span class="img-box footer-icon">
                    <img src="../static/images/footer/footer_1.png" alt="">
                </span>
                价格优惠
            </li>
            <li><span class="img-box footer-icon"><img src="../static/images/footer/footer_2.png" alt=""></span>快速交付</li>
        </ul>
        <ul class="support">
            <li><span class="img-box footer-icon"><img src="../static/images/footer/footer_3.png" alt=""></span>质量保证</li>
            <li><span class="img-box footer-icon"><img src="../static/images/footer/footer_4.png" alt=""></span>专业技术支持</li>
        </ul>
    </div>
    <div class="layout footer-bar">
        <ul class="percent_55">
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">我们的服务</a></li>
            <li><a href="">药理学术语</a></li>
            <li><a href="">缩略词</a></li>
            <li><a href="">质量管理</a></li>
            <li><a href="">询价单</a></li>
        </ul>
        <ul>
            <li><a href="">如何购买</a></li>
            <li><a href="">条款和条件</a></li>
            <li><a href="">运费和政策</a></li>
            <li><a href="">隐私政策</a></li>
            <li><a href="">摩尔浓度计算器</a></li>
            <li><a href="">网站地图</a></li>
        </ul>
    </div>
    <div class="layout footer-message">
        <div class="footer-message-top">
            <div class="img-box brochure-img">
                <img src="../static/images/footer/brochure.png" alt="">
            </div>
            <ul class="footer-message-con">
                <li>
                    <span class="img-box small-icon"><img src="../static/images/footer/footer-iphone.png" alt="user"></span>
                    400-920-2911
                </li>
                <li>
                    <span class="img-box small-icon"><img src="../static/images/footer/footer-email.png" alt="user"></span>
                    sales@csnpharm.cn
                </li>
                <li>
                    <span class="img-box small-icon"><img src="../static/images/footer/footer-web.png" alt="user"></span>
                    www.csnpharm.cn
                </li>
                <li>
                    <span class="img-box small-icon"><img src="../static/images/footer/footer-address.png" alt="user"></span>
                    上海市浦东新区陶桥路488号5幢
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="img-box">
                <img src="../static/images/footer/footer.png" alt="">
            </div>
            <p>&copy;2017 - 2018 csnpharm版权所有。 仅供研究使用!</p>
        </div>
    </div>
 
<!-- 侧边导航 -->

    <div class="mask sidebar-mask">
        <div class="del-sidebar">
        </div>
        <div class="popups sidebar">
            <ul class="menu">
                <li class="title">
                    信号通路
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>ADCs (3)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Anti-infection (20)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>   
                    </div>    
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Apoptosis (15)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Autophagy (5)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Cell Cycle (35)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Cytoskeleton (16)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>DNA Damage (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Endocrinology/Hormones (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Epigenetics (15)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>GPCR/G protein (54)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Immunology/Inflammation (24)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>JAK/STAT Signaling (4)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>MAPK/ERK Pathway (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Membrane Transporter/Ion Channel (30)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Metabolic Enzyme (65)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Neuronal Signaling (30)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>NF-κB (0)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>PI3K/Akt/mTOR (13)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Protease (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Protein Tyrosine Kinase/RTK (31)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Stem Cells/Wnt (19)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Ubiquitin (6)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Biochemical Reagents (3)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Others (6)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="../static/images/down.png" alt="">
                        </span>
                    </div>
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle">●</span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="../static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>  





<script type="text/javascript" src="../static/js/zepto.js"></script>
</body>

<script type="text/javascript">

;(function($){

    //侧边菜单移入移出
    $('span.menu-icon').bind('touchstart', function(event){
        $('.sidebar-mask').css({
            "left" : "0"
        })
    });
    $('.del-sidebar').bind('touchstart', function(event){
        $('.sidebar-mask').css({
            "left" : "-100%"
        })
    });
    


    //二级菜单显示隐藏
    $('.sub-title div').bind('touchstart',function(event){

        $(this).siblings('.sub-menu').toggle();
        $(this).parent().siblings().find('.sub-menu').hide()

    });

    $('.to-top').bind('touchstart',function(event){

        $(window).scrollTop(0).animate(1000);

    })




})(Zepto);   

</script>

</html>