*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,html{margin:0;padding:0;width:100%}
body{color:#333;font-size:14px;font-family:sans-serif,Helvetica,Arial;}
dd,dl,dt,h1,h2,h3,h4,h5,h6,img,li,ol,p,ul{margin:0;padding:0}
header,article,aside,footer,head,main,nav,section{display:block}
a{text-decoration:none;color:#333;cursor:pointer;}
li{list-style:none}
img,table{max-width:100%;border:0}
table{width:100%;border-collapse:collapse}
i,em{font-style:normal;}
sub,sup{display:inline-block;line-height:14px;transform:scale(.9)}
button,input,select,textarea{outline:none;color:#333;font-size:14px;font-family:sans-serif,Helvetica,Arial;}
input::-ms-clear,input::-ms-reveal{display:none}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input::-webkit-input-placeholder{color:#ddd}
input:-ms-input-placeholder{color:#ddd}
input:-moz-placeholder{color:#ddd}
input::-moz-placeholder{color:#ddd}
textarea::-webkit-input-placeholder{color:#ddd}
textarea:-ms-input-placeholder{color:#ddd}
textarea:-moz-placeholder{color:#ddd}
textarea::-moz-placeholder{color:#ddd}
button{cursor:pointer;border:none;}
input[type="text"],input[type="number"]{border:1px solid #ddd;}

.layout{margin:0 auto;padding:0 4%;}


@media only screen and (max-width:1025px){

}