<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>

<div class="select" style="margin-top:0px;outline:none;border:1px solid #BBBBBB;border-radius:4px;position:relative;">
	<select id="orderTimeDataSel" class="text" style="height:40px;-webkit-appearance:none;appearance:none;border:none;font-size:18px;padding:0px 10px;display:block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#FFFFFF;color:#333333;border-radius:4px;">
	 <option>--预约日期1</option>

	 <option>--预约日期2</option>

	 <option>--预约日期3</option>
	</select>
</div>



</body>
</html>