<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语-BALB/c</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">BALB/c</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        实验室小鼠的白化病毒株，其中衍生出许多常见的亚型。BALB/c亚基“特别是在用矿物油注射时产生浆细胞瘤是众所周知的”，这是生产单克隆抗体的重要方法。据报道它们具有“低乳腺肿瘤发病率，但在以后的生活中确实发展出其他类型的癌症，最常见的是网状肿瘤，肺肿瘤和肾肿瘤。
    </article>
</section>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>