<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语-C57BL/6</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt"> C57BL/6</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        C57BL/6通常称为“C57黑6”或仅“黑6”是实验室小鼠的常见近交品系。深棕色，近黑色，外套。容易烦躁的气质。他们有咬人的倾向。来自C57BL/6株的小鼠的免疫应答将其与其他近交品系如BALB/c区分开来。
    </article>
</section>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>