<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>


<!-- header -->
<header id="header"></header>

<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="" class="current">药理学术语</a>
    </div>
</nav>
<div class="layout page-title">
    药理学术语——常用药理学术语的定义
</div>
<div class="about-common pharmacological-con">
    <section>
        <a href="/templates/pharmacological-glossary/PG-absorbancy.html">
            <span class="tips-red"></span>吸光度<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-ADME.html">
            <span class="tips-red"></span>ADME<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-agonist.html">
            <span class="tips-red"></span>激动剂<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-AM.html">
            <span class="tips-red"></span>变构调制器<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-opponent.html">
            <span class="tips-red"></span>对手<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-AUC.html">
            <span class="tips-red"></span>AUC<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-BALB.html">
            <span class="tips-red"></span>BALB/c<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-BMAX.html">
            <span class="tips-red"></span>BMAX<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-C57BL.html">
            <span class="tips-red"></span>C57BL/6<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-CYP.html">
            <span class="tips-red"></span>CYP<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-CF.html">
            <span class="tips-red"></span>Cheng-Prusoff方程<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-desensitization.html">
            <span class="tips-red"></span>脱敏<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-DMPK.html">
            <span class="tips-red"></span>DMPK<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-EC50.html">
            <span class="tips-red"></span>EC50<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="javascript:;">
            <span class="tips-red"></span>ED50<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-effect.html">
            <span class="tips-red"></span>功效<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-ELISA.html">
            <span class="tips-red"></span>ELISA<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-inVitro.html">
            <span class="tips-red"></span>离体<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-fluorescence.html">
            <span class="tips-red"></span>荧光<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-FP.html">
            <span class="tips-red"></span>荧光偏振<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-hit.html">
            <span class="tips-red"></span>击中<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-IC50.html">
            <span class="tips-red"></span>IC50<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/pg-ID50.html">
            <span class="tips-red"></span>ID50<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-KB.html">
            <span class="tips-red"></span>KB<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-KD.html">
            <span class="tips-red"></span>KD<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-writing.html">
            <span class="tips-red"></span>文<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-LC-MS.html">
            <span class="tips-red"></span>LC-MS<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-LC.html">
            <span class="tips-red"></span>铅化合物<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-shine.html">
            <span class="tips-red"></span>发光<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-NM.html">
            <span class="tips-red"></span>裸鼠<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-NB.html">
            <span class="tips-red"></span>非特异性结合<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-TSB.html">
            <span class="tips-red"></span>具体绑定<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-TOFMS.html">
            <span class="tips-red"></span>飞行时间质谱<span>（TOFMS）</span><i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-TRF.html">
            <span class="tips-red"></span>时间分辨荧光<span>（TRF）</span><i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-TQMS.html">
            <span class="tips-red"></span>三重四极杆质谱仪<i class="iconfont icon-gengduo"></i>
        </a>
        <a href="/templates/pharmacological-glossary/PG-XTT.html">
            <span class="tips-red"></span>XTT<i class="iconfont icon-gengduo"></i>
        </a>
    </section>
    
</div>
<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</body>
</html>