<!DOCTYPE html>
<html>
<head>
	<title>BLDpharm - Product Details</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="msapplication-tap-highlight" content="no"/> 
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bulk-product-details.css">
</head>
<body>
<div class="BLDbody">
	<div id="header"></div>
	<div class="blue_bg"></div>
	<div class="layout product_details_content">
		<div class="product_details_breadcrumb">
			<a href="/">Home</a>
			<span>/</span>
			<a href="/templates/menu/chemistry.html">Chemistry</a>
			<span>/</span>
			Benzoic anhydride
		</div>
		<div class="product_details_left">
			<div class="product_img_box">
				<div class="product_img_bg">
					<img class="product_img_small" src="https://file.bldpharm.com/static/upload/proimg/513/93-97-0.png" alt="">
				</div>
				<div class="product_img_loupe">
					<span class="product_img_big"><img src="https://file.bldpharm.com/static/upload/proimg/513/93-97-0.png" alt=""></span>
				</div>
			</div>
			<h2 class="details_title_h2">Quality Control</h2>
			<div class="quality_control">
				<select onchange="_uptProBatch(this)">
					<option>253041-006</option>
					<option>253041-007</option>
					<option>253041-008</option>
				</select> 
				<span>Purity: 98.42%</span>
				<div class="quality_control_download">
					<a href="">COA</a>
					<a href="">GC</a>
					<a href="">SDS</a>
					<a href="">MOL</a>
				</div>
			</div>
			<h2 class="details_title_h2">Video</h2>
			<div class="BLD_video">
				<img src="/static/img/bulk_product_details/BLD_video.png" alt="">
			</div>
			<h2 class="details_title_h2">About Us</h2>
			<div class="about_us">
				<p>Found in 2014, BLD Pharmatech Ltd. is a leading supplier and manufacturer of research chemicals to pharmaceutical companies, universities, biotech companies,healthcare industries,contract research organizations etc.</p>
				<br>
				<p>With its own R&D center in Shanghai, BLD Pharmatech Ltd. main field of expertise covers the development and production of heterocycles,boronic acids, amino acids, metal catalysts and chiral compounds.</p>
			</div>
			<h2 class="details_title_h2">Qualifications</h2>
			<div class="ISO9001-2015">
				<img src="/static/img/bulk_product_details/ISO9001-2015.png" alt="">
			</div>
		</div>
		<div class="product_details_right">
			<div class="product_details_info">
				<h1><i>BD115833</i><span>[</span>93-97-0<span>]</span><strong>Benzoic anhydride</strong><em><span>*</span>1kg ~ 5kg</em></h1>
				<div class="specific_info">
					<h2 class="details_title_h2">Specific Information</h2>
					<table>
						<colgroup><col width="20%"><col width="28%"><col width="15%"><col></colgroup>
						<tbody>
							<tr>
								<td><span class="have_data">Purity(HPLC) :</span></td>
								<td>>98%</td>
								<td><span class="no_data">Specific Rotation :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">NMR(H/C/F/S/P) :</span></td>
								<td></td>
								<td><span class="no_data">E.E. :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">HPLC :</span></td>
								<td></td>
								<td><span class="no_data">Water Content :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">Polymerization Inhibitor :</span></td>
								<td></td>
								<td><span class="no_data">Single Impurity :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">Melting Point :</span></td>
								<td></td>
								<td><span class="no_data">Density :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">Packaging :</span></td>
								<td></td>
								<td><span class="have_data">Solubility :</span></td>
								<td>Solubility in water: soluble; Other solubilities: miscible with most orfanic solvents</td>
							</tr>
							<tr>
								<td><span class="no_data">Name Note :</span></td>
								<td></td>
								<td><span class="no_data">Acetic Acid :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">Beilstein :</span></td>
								<td></td>
								<td><span class="no_data">Grade :</span></td>
								<td></td>
							</tr>
							<tr>
								<td><span class="no_data">Specific Gravity :</span></td>
								<td></td>
								<td><span class="no_data">Viscosity :</span></td>
								<td></td>
							</tr>
							<tr>     
								<td colspan="4"><span class="no_data">Others :</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="details_btn_box">
					<a class="details_tel" href="javascript:;">+86-21-61629022</a>
					<a class="details_email" href="mailto:sales@bldpharm.com">sales@bldpharm.com</a>
					<a class="details_inquiry_btn btn" href="">Inquiry</a>
					<a class="details_favorites" href="javascript:;"></a>
				</div>
			</div>
			<h2 class="details_title_h2">Product Details</h2>
			<div class="product_details">
				<table>
					<colgroup><col width="20%"><col width="28%"><col width="18%"><col></colgroup>
					<tbody>
						<tr>
							<td><span>Cat No. :</span></td>
							<td>BD115833</td>
							<td><span>Synonyms :</span></td>
							<td></td>
						</tr>
						<tr>
							<td><span>CAS No. :</span></td>
							<td>93-97-0</td>
							<td><span>MDL NO :</span></td>
							<td>MFCD00003073</td>
						</tr>
						<tr>
							<td><span>Formule :</span></td>
							<td>C<sub>14</sub>H<sub>10</sub>O<sub>3</sub></td>
							<td><span>InChI Key :</span></td>
							<td>CHIHQLCVLOXUJW-UHFFFAOYSA-N</td>
						</tr>
						<tr>
							<td><span>M.W :</span></td>
							<td>226.23</td>
							<td><span>Pubchem ID :</span></td>
							<td><a href="">7167</a></td>
						</tr>
						<tr>
							<td><span>Boiling Point :</span></td>
							<td colspan="3">360°C at 760 mmHg</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h2 class="details_title_h2">Computed Properties</h2>
			<div class="computed_properties">
				<table>
					<colgroup><col width="20%"><col width="28%"><col width="18%"><col></colgroup>
					<tbody>
						<tr>
							<td><span>TPSA :</span></td>
							<td>43.4</td>
							<td><span>H-Bond Acceptor Count :</span></td>
							<td>3</td>
						</tr>
						<tr>
							<td><span>XLogP3 :</span></td>
							<td>3.2</td>
							<td><span>H-Bond Donor Count :</span></td>
							<td>0</td>
						</tr>
						<tr>
							<td><span>SP3 :</span></td>
							<td>0.0</td>
							<td><span>Rotatable Bond Count :</span></td>
							<td>4</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h2 class="details_title_h2">Safety</h2>
			<div class="safety">
				<table>
					<colgroup><col width="20%"><col width="28%"><col width="18%"><col></colgroup>
					<tbody>
						<tr>
							<td><span>Signal Word :</span></td>
							<td>Warning</td>
							<td><span>Class :</span></td>
							<td>N/A</td>
						</tr>
						<tr>
							<td><span>Precautionary Statements :</span></td>
							<td>P261-P305+P351+P338</td>
							<td><span>UN# :</span></td>
							<td>N/A</td>
						</tr>
						<tr>
							<td><span>Hazard Statements :</span></td>
							<td>H315-H319-H335</td>
							<td><span>Packing Group :</span></td>
							<td>N/A</td>
						</tr>
						<tr>
							<td><span>GHS Pictogram:</span></td>
							<td colspan="3"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<h2 class="details_title_h2">Successful Case</h2>
			<div class="successful_case">
				
			</div>
			<h2 class="details_title_h2">R&D Center</h2>
			<ul class="R_D_center">
				<li><img src="/static/img/bulk_product_details/R&D_Center_1.png" alt=""></li>	
				<li><img src="/static/img/bulk_product_details/R&D_Center_2.png" alt=""></li>	
				<li><img src="/static/img/bulk_product_details/R&D_Center_3.png" alt=""></li>	
				<li><img src="/static/img/bulk_product_details/R&D_Center_4.png" alt=""></li>	
			</ul>
			<h2 class="details_title_h2">Successful Projects</h2>
			<div class="successful_projects">
				
			</div>
		</div>
		<div class="clearfloat"></div>
	</div>

	<div id="footer"></div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>