<!DOCTYPE html>
<html lang="cn">
<head>
    <title>购物车询价页面</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>

 
<!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/images/left.png" alt="">
    </a>
    <span class="title-txt">询价</span>
</div>

<div class="layout white-bg inquiry-form">
    <p class="inquiry-form-title"> <span>*必填项</span></p>
    <input type="text" name="user" placeholder="*姓名">
    <input type="text" name="email" placeholder="*邮箱">
    <input type="text" name="tel" placeholder="*电话">
    <input type="text" name="number" placeholder="*数量要求">
    <input type="text" name="productName" placeholder="*产品名">
    <textarea name="text" placeholder="*留言内容"></textarea>
    <button class="btn btn-red">提交</button>
</div>








<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>



</body>
</html>