<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="robots" content="index,follow">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://www.ambeed.com/static/img/ambeed.ico" type="image/x-icon">
	<meta name="description" content="Ambeed provides building blocks, advanced intermediates, amino acids and peptides, catalysts and ligands, natural products, nucleotides etc.">
	<meta name="keywords" content="building blocks, advanced intermediates, inhibitors, amino acids and peptides, catalysts and ligands, natural products, nucleotides; Polycondensation, Halogenation, Cyanation, Esterification, Nitration Diazotization, Amination, Alkylation, Oxidation, Grignard's reaction, Oxidation, Suzuki Coupling reaction, Lithiation, Friedel-Crafts reaction, Hydrogenation, and Reduction">
	<!-- Start of Baidu Transcode -->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="mobile-agent" content="format=html5;url=http://localhost/"/>
	<!-- End of Baidu Transcode -->

	
	<link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css?v=2019113000002">
	<link rel="stylesheet" type="text/css" href="/static/css/common-default.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script>
		$(function(){
			//$("#home").load("/templates/modules/home.html");
		})
		//根据设备加载不同的样式
		var setStyle = function(cssArr){
			var i= 0,len = cssArr.length;
			for(i;i<len;i++){
				document.write('<link href="'+cssArr[i]+'" type="text/css" rel=stylesheet>');
			}
		};
		// 判断是否移动端
		function goPAGE() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				console.log("mobile");
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/mobile/header-mobile.css','/static/css/mobile/menu-mobile.css']);
			}else {
				console.log("pc")
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/pc/header.css','/static/css/pc/menu.css']);
			}
		}
		goPAGE();
	</script>
</head>
<body>
<div id="header"></div>

<div class="layout">
<div class="nav-com-title">
<p>
<a href="/" class="home-logo"><img src="/static/img/home-logo.png" alt=""></a>
<a href="javascript:;" class="current">New Products<span class="sp_count"></span></a>
</p>
<h3>New Products</h3>
</div>
<div>
<a id="ad_hyperlink" href="" target="_blank"><img id="ad_img" src="" alt=""></a>
</div>
<div class="single-menu-detail-con dv_list" style="margin-top: 10px;">


<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1001414-95-4.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/509/1001414-95-4.png" alt="(4-Bromopyridin-2-yl)methanamine dihydrochloride"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000508719" cas="1001414-95-4" ak="A137328" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A137328</span><span>1001414-95-4</span>97%</h3>
<p class="product-name"><a href="/products/1001414-95-4.html" target="_blank">(4-Bromopyridin-2-yl)methanamine dihydrochloride</a></p>
<h2>$129.00/ 1g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1001414-95-4.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>(4-Bromopyridin-2-yl)methanamine dihydrochloride</h3>
<p class="dashed"><span>A137328</span><span>1001414-95-4</span><span>97%</span></p>
<ul class="sales-hover-list" proid="P000508719" bd="A137328">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1001414-95-4.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1001414-95-4.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/10165-86-3.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/341/10165-86-3.png" alt="Methyl 6-formylnicotinate"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000340110" cas="10165-86-3" ak="A157975" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A157975</span><span>10165-86-3</span>97+%</h3>
<p class="product-name"><a href="/products/10165-86-3.html" target="_blank">Methyl 6-formylnicotinate</a></p>
<h2>$295.00/ 5g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/10165-86-3.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>Methyl 6-formylnicotinate</h3>
<p class="dashed"><span>A157975</span><span>10165-86-3</span><span>97+%</span></p>
<ul class="sales-hover-list" proid="P000340110" bd="A157975">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/10165-86-3.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/10165-86-3.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1019108-05-4.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/315/1019108-05-4.png" alt="3H-Imidazo[4,5-b]pyridine-5-carboxylic acid"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000314666" cas="1019108-05-4" ak="A149516" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A149516</span><span>1019108-05-4</span>98%</h3>
<p class="product-name"><a href="/products/1019108-05-4.html" target="_blank">3H-Imidazo[4,5-b]pyridine-5-carboxylic acid</a></p>
<h2>$3479.00/ 100g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1019108-05-4.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>3H-Imidazo[4,5-b]pyridine-5-carboxylic acid</h3>
<p class="dashed"><span>A149516</span><span>1019108-05-4</span><span>98%</span></p>
<ul class="sales-hover-list" proid="P000314666" bd="A149516">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1019108-05-4.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1019108-05-4.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/105174-97-8.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/84/105174-97-8.png" alt="Ethyl 3-bromoisoxazole-5-carboxylate"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000083582" cas="105174-97-8" ak="A157132" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A157132</span><span>105174-97-8</span>98%</h3>
<p class="product-name"><a href="/products/105174-97-8.html" target="_blank">Ethyl 3-bromoisoxazole-5-carboxylate</a></p>
<h2>$568.00/ 25g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/105174-97-8.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>Ethyl 3-bromoisoxazole-5-carboxylate</h3>
<p class="dashed"><span>A157132</span><span>105174-97-8</span><span>98%</span></p>
<ul class="sales-hover-list" proid="P000083582" bd="A157132">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/105174-97-8.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/105174-97-8.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1060811-65-5.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/612/1060811-65-5.png" alt="4-Amino-6-chloronicotinic acid"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000611642" cas="1060811-65-5" ak="A164727" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A164727</span><span>1060811-65-5</span>95+%</h3>
<p class="product-name"><a href="/products/1060811-65-5.html" target="_blank">4-Amino-6-chloronicotinic acid</a></p>
<h2>$475.00/ 5g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1060811-65-5.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>4-Amino-6-chloronicotinic acid</h3>
<p class="dashed"><span>A164727</span><span>1060811-65-5</span><span>95+%</span></p>
<ul class="sales-hover-list" proid="P000611642" bd="A164727">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1060811-65-5.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1060811-65-5.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1092351-94-4.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/416/1092351-94-4.png" alt="Methyl 2-bromo-4-oxazolecarboxylate"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000415125" cas="1092351-94-4" ak="A148920" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A148920</span><span>1092351-94-4</span>97%</h3>
<p class="product-name"><a href="/products/1092351-94-4.html" target="_blank">Methyl 2-bromo-4-oxazolecarboxylate</a></p>
<h2>$4250.00/ 100g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1092351-94-4.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>Methyl 2-bromo-4-oxazolecarboxylate</h3>
<p class="dashed"><span>A148920</span><span>1092351-94-4</span><span>97%</span></p>
<ul class="sales-hover-list" proid="P000415125" bd="A148920">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1092351-94-4.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1092351-94-4.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1159818-57-1.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/135/1159818-57-1.png" alt="4-Amino-6-bromopyrimidine"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000134585" cas="1159818-57-1" ak="A134341" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A134341</span><span>1159818-57-1</span>98%</h3>
<p class="product-name"><a href="/products/1159818-57-1.html" target="_blank">4-Amino-6-bromopyrimidine</a></p>
<h2>$497.00/ 25g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1159818-57-1.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>4-Amino-6-bromopyrimidine</h3>
<p class="dashed"><span>A134341</span><span>1159818-57-1</span><span>98%</span></p>
<ul class="sales-hover-list" proid="P000134585" bd="A134341">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1159818-57-1.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1159818-57-1.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1159981-95-9.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/164/1159981-95-9.png" alt="5-Bromopyrazolo[1,5-a]pyrimidine"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000163400" cas="1159981-95-9" ak="A153438" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A153438</span><span>1159981-95-9</span>97%</h3>
<p class="product-name"><a href="/products/1159981-95-9.html" target="_blank">5-Bromopyrazolo[1,5-a]pyrimidine</a></p>
<h2>$154.00/ 1g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1159981-95-9.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>5-Bromopyrazolo[1,5-a]pyrimidine</h3>
<p class="dashed"><span>A153438</span><span>1159981-95-9</span><span>97%</span></p>
<ul class="sales-hover-list" proid="P000163400" bd="A153438">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1159981-95-9.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1159981-95-9.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1217090-32-8.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/131/1217090-32-8.png" alt="N-Methyl-5-bromo-4,7-diazaindole"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000130562" cas="1217090-32-8" ak="A160971" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A160971</span><span>1217090-32-8</span>98%</h3>
<p class="product-name"><a href="/products/1217090-32-8.html" target="_blank">N-Methyl-5-bromo-4,7-diazaindole</a></p>
<h2>$4365.00/ 100g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1217090-32-8.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>N-Methyl-5-bromo-4,7-diazaindole</h3>
<p class="dashed"><span>A160971</span><span>1217090-32-8</span><span>98%</span></p>
<ul class="sales-hover-list" proid="P000130562" bd="A160971">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1217090-32-8.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1217090-32-8.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>

<dl class="sales-dl position-r">
<dt>
<div class="menu-detail-img">
<a href="/products/1217501-00-2.html" target="_blank" class="a_img_box"><img src="https://file.ambeed.com/static/upload/proimg/403/1217501-00-2.png" alt="(4-(1-Cyanocyclopropyl)phenyl)boronic acid"></a>
</div>
<div class="menu-detail-txt">
<p class="menu-detail-xin">
<span class="float-left"><i class="tips lab_New">New</i></span>
<span class="position-r xin-click">
<img class="position-r xin-add" onclick="_addFavorites(this)" proid="P000402842" cas="1217501-00-2" ak="A161144" src="/static/img/xin-add.png" alt="">
<span class="position-a xin-tips">click to sign in and save</span>
<img class="position-a xin-b-shadow" src="/static/img/bottom-green.png" alt="">
</span>
</p>
<h3 class="sales-text"><span>A161144</span><span>1217501-00-2</span>95%</h3>
<p class="product-name"><a href="/products/1217501-00-2.html" target="_blank">(4-(1-Cyanocyclopropyl)phenyl)boronic acid</a></p>
<h2>$1732.00/ 25g</h2>
</div>
</dt>
<dd class="hover-btn">
<a href="/products/1217501-00-2.html" target="_blank" class="btn red-btn float-right">Detail</a>
<div class="hover sales-hover">
<h3>(4-(1-Cyanocyclopropyl)phenyl)boronic acid</h3>
<p class="dashed"><span>A161144</span><span>1217501-00-2</span><span>95%</span></p>
<ul class="sales-hover-list" proid="P000402842" bd="A161144">
<ol>
<li>size</li><li>price</li><li> sale price</li><li>Quantity</li>
</ol>
<ol>
<img src="/static/img/loading.gif">
</ol>
</ul>
<p class="prlist_error"></p>
<a href="/products/1217501-00-2.html" title="" class="btn green-btn">Detail</a>
<p class="more-inf"><i class="iconfont icon-jia"></i><a href="/products/1217501-00-2.html" target="_blank"> more information</a></p>
</div>
</dd>
</dl>


</div>
<div class="clear"></div>
<div class="pages">
<a href="javascript:void(0)"><img src="/static/img/prev.png" alt=""></a>
<span> page 1 of 11</span>
<a href="new-products.html?pagesize=10&amp;pageindex=2"><img src="/static/img/next.png" alt=""></a>
</div>
<div class="feedback">
<p><a class="btn bulk-btn" href="javascript:;" style="width: 200px;">Inquiry</a></p>
</div>
</div>

<div class="clear height40"></div>
<div id="footer"></div>

</body>
</html>