<!DOCTYPE html>
<html lang="cn">
<head>
    <title>产品默认询单页面</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/products.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>

<!-- header -->
<header id="header"></header>
  
<!-- 主体 -->
<nav class="layout">
    <div class="breadcrumb">
        <a href="/index.html">首页</a><span> /</span>
        <a href="">Cytoskeleton</a><span> /</span>
        <a href="">Microtubule</a><span> /</span>
        <a href="">Tubulin & ADC Toxin</a><span> /</span>
        <a href="" class="current">Tubulin & ADC Toxin</a>
    </div>
</nav>
<section class="products-con">
    <ul class="white-bg products-con-top">
        <li>
            <span class="img-box products-img">
                <img src="/static/img/products/products_01.png" alt="products-img">
            </span>
        </li>
        <li>
            <a href="" class="product-name">Mc-MMAE</a>
        </li>
        <li class="prodect-num">
            <p class="float-L">产品号.: CSN18492</p>
            <p class="float-R">CAS号.: 863971-24-8</p>
        </li>
        <li>
           Synonyms: Maleimidocaproyl-monomethylauristatin E Maleimidocaproyl-monomethylauristatin E 
        </li>
    </ul>
    <div class="layout white-bg products-table">
        <table cellspacing="0" border="0">
            <thead>
                <tr>
                    <td>规格</td>
                    <td>价格</td>
                    <td>库存</td>
                    <td>数量</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1mg</td>
                    <td>RMB 336</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>1mg</td>
                    <td>RMB 336</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <ul class="product-btn-box">
            <li class="flex1">
                <span class="img-box small-icon">
                    <img class="show" src="/static/img/xin.png" alt="">
                    <img class="hide" src="/static/img/xin-red.png" alt="">
                </span> <br>
                收藏
            </li>
            <li class="flex5">
                <button class="btn btn-blue">询价</button>
            </li>
        </ul>
    </div>
    <div class="layout link">   
        <div>
            <a class="tel" href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/header/iphone.png" alt="Tel">
                </span>
                400-920-2911
            </a>
        </div>
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/email.png" alt="Email">
                </span>
                sales@csnpharm.cn
            </a>
        </div>
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/email.png" alt="WEB">
                </span>
                www.csnpharm.cn
            </a>
        </div>
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/email.png" alt="Email">
                </span>
                tech@csnpharm.cn
            </a>
        </div>
    </div>
    <ul class="layout white-bg purity-doc-con">
        <li class="purity-doc-title">纯度和文档</li>
        <li class="purity-batch">
            <p class="float-L">Purity: 99.76%</p>
            <div class="float-R">
                <span class="select-batch">Select Batch:</span>
                <div class="select-box">
                    <i class="iconfont icon-sanjiao_down_s"></i>
                    <select>
                        <option>C30162310</option>
                        <option>C30162312</option>
                        <option>C30162313</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="download">
            <a href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/products/HTML.png" alt=""> 
                </span>
                <br>COA
            </a>
            <a href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/products/PDF.png" alt="">
                </span>
                <br>NMR
            </a>
            <a href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/products/PDF.png" alt="">
                </span>
                <br>HPLC
            </a>
            <a href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/products/HTML.png" alt="">
                </span>
                <br>Datasheet
            </a>
        </li>
    </ul>
    <ul class="hide-card">
        <li>
            <div>
                生物活性
                <i class="iconfont icon-xiangxia"></i>
            </div>
            <ol class="hide bioactivity">
                <li>
                    描述
                </li>
                <li>
                    MK-0812 Succinate is a potent and selective CCR2 antagonist with low nM affinity for CCR2 on human monocytes.
                </li>
            </ol>
        </li>
        <li>
            <div>
               实验参考方法
                <i class="iconfont icon-xiangxia"></i>
            </div>
            <ol class="hide molarity">
                <li>
                    摩尔浓度计算器:<br>
                    计算溶液所需的质量、体积或浓度。Csnpharm物质量浓度计算器基于以下公式:
                </li>
                <li class="margin-top">
                    浓度 (mol/L) × 体积 (L) × 分子量 (g/mol)=质量 (g)
                </li>
                <li>
                    <p>
                        <span>质量</span>
                    </p>
                    <div class="ipt-kuang">
                        <i class="iconfont icon-sanjiao_down_s"> </i>
                        <input type="text" name="">
                        <select id="concUnits" name="concUnits">
                            <option value="">fM</option> 
                            <option value="">pM</option> 
                            <option value="">nM</option> 
                            <option value="">μM</option> 
                            <option selected="" value="">mM</option> 
                            <option value="">M</option>
                        </select>
                    </div>
                    <p>
                        <span class="molarity-txt">浓度</span>
                        <span class="img-box small-icon">
                            <img src="/static/img/products/multiple-sign.png" alt="">
                        </span>
                    </p>
                    <div class="ipt-kuang">
                        <i class="iconfont icon-sanjiao_down_s"> </i>
                        <input type="text" name="">
                        <select id="volUnits" name="volUnits">
                            <option value="">nL</option> 
                            <option value="">μL</option> 
                            <option selected="" value="">mL</option> 
                            <option value="">L</option>
                        </select>
                    </div>
                    <p>
                        <span class="molarity-txt">体积</span>
                        <span class="img-box small-icon">
                            <img src="/static/img/products/multiple-sign.png" alt="">
                        </span>
                    </p>
                    <div class="ipt-kuang">
                        <i class="iconfont icon-sanjiao_down_s"> </i>
                        <input type="text" name="" >
                        <select id="massUnits" name="massUnits">
                            <option value="">pg</option> 
                            <option value="">ng</option> 
                            <option value="">μg</option> 
                            <option selected="" value="">mg</option> 
                            <option value="">g</option> 
                            <option value="">kg</option>
                        </select>
                    </div>
                    <p>
                        <span class="molarity-txt">分子量</span>
                        <span class="img-box small-icon">
                            <img src="/static/img/products/equal-to.png" alt="">
                        </span>
                    </p>
                    <input type="text" name="">
                    <p>
                        *在准备库存解决方案时，请始终使用所发现的产物的分子量通过标签和MSDS / COA(可在产品页面上获得)。
                    </p>
                    <button class="btn btn-blue">计算</button>
                </li>
            </ol>
        </li>
        <li>
            <div>
                技术信息
                <i class="iconfont icon-xiangxia"></i>
            </div>
            <ol class="hide technical-information">
                <table cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td width="23%">分子量</td>
                            <td colspan="3">587.63</td>
                        </tr>
                        <tr>
                            <td>化学式</td>
                            <td colspan="3">C28H40F3N3O7</td>
                        </tr>
                        <tr>
                            <td>CAS号</td>
                            <td colspan="3">951916-42-2</td>
                        </tr>
                        <tr>
                            <td rowspan="2">体外</td>
                            <td>DMSO</td>
                            <td>Ethanol</td>
                            <td>Water</td>
                        </tr>
                        <tr>
                            <td colspan="3">≥32</td>
                        </tr>
                        <tr>
                            <td><b>Shipping</b></td>
                            <td colspan="3">Room temperature in continental US;  may vary elsewhere</td>
                        </tr>
                        <tr>
                            <td rowspan="2">稳定性</td>
                            <td>Powder</td>
                            <td>-20°C  <br> 4°C</td>
                            <td>3 years <br> 2 years</td>
                        </tr>
                        <tr>
                            <td>In solvent</td>
                            <td>-80°C  <br> -20°C</td>
                            <td>6 months <br> 1 months</td>
                        </tr>
                    </tbody>
                </table>
            </ol>
        </li>
        <li>
            <div>
                参考文献
                <i class="iconfont icon-xiangxia"></i>
            </div>
            <ol class="hide references">
                <li>
                    <a href="">
                        [1]Sanderson RJ, Hering MA, et al. In vivo drug-linker stability of an anti-CD30 dipeptide-linked auristatin immunoconjugate. Clin Cancer Res. 2005 Jan 15;11(2 Pt 1):843-52.
                    </a>
                </li>
                <li>
                    <a href="">
                        [1]Sanderson RJ, Hering MA, et al. In vivo drug-linker stability of an anti-CD30 dipeptide-linked auristatin immunoconjugate. Clin Cancer Res. 2005 Jan 15;11(2 Pt 1):843-52.
                    </a>
                </li>
            </ol>
        </li>
    </ul>
    <div class="layout white-bg inquiry-form">
        <p class="inquiry-form-title">询价 <span>*必填项</span></p>
        <input type="text" name="user" placeholder="*姓名">
        <input type="text" name="email" placeholder="*邮箱">
        <input type="text" name="tel" placeholder="*电话">
        <textarea name="text" placeholder="*留言内容"></textarea>
        <button class="btn btn-red">提交</button>
    </div>
</section>

<!-- footer -->
<footer id="footer"></footer>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/load-header-footer.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>
<script>
;(function($){
    //显示隐藏
    $('.hide-card>li div').on('touchstart',function(event){

        event.stopPropagation();
        $(this).parent().find('ol.hide').toggle();
        $(this).parent().siblings().find('ol.hide').hide();

    });
    
})(Zepto); 
</script>

</body>
</html>