/* 隐私政策 */
.privacy-policy-txt {
	min-height: 2rem;
	line-height: 1.8rem;
	text-align: justify;
	margin: .56rem 0;
	padding: 1.2rem 0.5rem 1.4rem;
	color: #555;
}
.privacy-policy-con li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0 4%;
	background: #fff;
	margin-bottom: .56rem;
}
.privacy-policy-con li a {
	font-size: 1.33rem;
}
.privacy-policy li a{
	line-height: 4.45rem;
}
.privacy-policy-con .sub-title i {
	top: 0;
	padding-right: 2rem;
}

/* 运费和政策 */
.freight-policy-txt {
	font-size: 1.11rem;
	line-height: 2rem;
	padding: 0 1rem;
	text-align: justify;
}
.freight-img {
	height: 4.56rem;
	padding: 1rem;
}

/* 我们如何使用收集的信息 */
.use-info-title {
	height: 4.45rem;
	line-height: 4.45rem;
}
.use-info {
	margin-top: .56rem;
}
.use-info .sub-title p {
	line-height: 1.8rem;
}
.use-info .sub-title {
	padding-top: .5rem;
	padding-bottom: 1rem;
}
.use-info .sub-title a {
	line-height: 2.5rem;
}

/* 联系我们 */
.contact-us-title {
	margin-top: 1rem;
	font-size: 1.33rem;
	height: 2.65rem;
}
.contact-us-con .flex{
	justify-content: space-between;
}
.contact-us-con a {
	display: block;
	height: 3rem;
}
.contact-us-con .img-box {
	position: relative;
	top: .5rem;
}