.header_top{padding:10px 0;}
.header_top span{white-space:nowrap;}
.menu_box{position:relative;padding:20px 0 10px;}
.menu_left{float:left;width:20%;}
.menu_right{float:right;width:76%;}
.menu_flex{padding-top:8px;}
.hover_li{display:inline-block;padding:0 10px;font-size:16px;line-height:40px;}
.hover_li a{display:block;}
.hover_li>a{border-bottom:2px solid #fff;}
.caret{display:inline-block;margin-top:-2px;margin-left:4px;width:0;height:0;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent;vertical-align:middle;}
.submenu{position:absolute;z-index:20;display:none;overflow:hidden;border:1px solid #e5e5e5;background:#fff;}
.customized{right:0;left:0;}
.customized .submenu_left{position:absolute;top:0;bottom:0;left:0;width:66%;}
.customized .first_a{padding:0 35px;max-width:50%;}
.submenu_left{padding:15px 0;}
.submenu_left li{line-height:46px;}
.submenu_right{float:right;padding:30px 35px 20px;width:34%;border-left:1px solid #e5e5e5;}
.submenu_right p{margin:10px 0;font-size:14px;line-height:24px;}
.submenu_item{position:absolute;top:0;right:0;bottom:0;display:none;padding:15px 35px;width:50%;border-left:1px solid #e5e5e5;background:#fff;}
.submenu_item a:hover,ol.submenu a:hover{color:#0864ca;}
.submenu_product{left:-100px;}
.submenu_news,.submenu_support{left:-52px;}
ol.submenu a{padding:0 20px;min-width:200px;text-align:center;white-space:nowrap;line-height:50px;}


/*footer*/
.footer_top li{line-height:40px;margin-top:10px;}
.footer_bottom{padding:1.5% 0;border-top:1px solid #e5e5e5;}
.dv_footer a:hover{color:#0864ca;}





@media only screen and (min-width:1026px){

.hover_li:hover>a{border-color:#f8c807;color:#0864ca;}
.hover_li:hover .submenu,.submenu_left li.on .submenu_item,.submenu_left li:hover .submenu_item{display:block;}
.customized li:hover,.submenu_left li.on,ol.submenu a:hover{background:#eee;}

}
@media only screen and (max-width:1025px){
	.submenu,.submenu_item{display:block;border:none;}
	.submenu_item{margin-left:20px;}
	.submenu,.customized .submenu_left,.submenu_item{position:static;}
	.customized .submenu_left,.submenu_item,.customized .first_a{max-width:100%;width:100%;}
	ol.submenu a{text-align:left;line-height:44px;}
	.menu_left{width:30%;}
	.submenu_item{padding:5px 20px;}
	.customized .first_a{padding:0 20px;}
	.submenu_left{padding:10px 0;}
	.submenu_left li{line-height:44px;}
	.menu_flex,.submenu_right{display:none;}
	.menu_right_fixed{position:fixed;top:0;left:0;bottom:0;right:0;z-index:1000;width:100%;}
	.menu_right_fixed .menu_flex{display:block;position:absolute;top:0;left:0;bottom:0;z-index:10;padding:10px;width:80%;height:100%;background:#fff;overflow-y:auto;}
	.menu_right_fixed .hover_li{width:100%;}
	.menu_right_fixed .menu_bg{position:absolute;top:0;left:0;bottom:0;z-index:5;background:rgba(0,0,0,0.4);height:100%;width:100%;}
	.phone_menu{position:absolute;right:0;cursor:pointer;height:40px;width:40px;padding:8px 5px;line-height:10px;}
	.phone_menu i{display:inline-block;width:100%;height:3px;border-radius:3px;background:#333;}
}
@media only screen and (max-width:768px){
	.menu_box{padding:16px 0 8px;}
	.menu_left{width:40%;}
	.submenu_left li,ol.submenu a{line-height:42px;}
}
@media only screen and (max-width:480px){

	.menu_left{width:50%;}
	.submenu_left li,ol.submenu a{line-height:38px;}
}