/*index css */
.index_bg{overflow:hidden;font-size:0;}
.index_bg .head_box{position:absolute;top:0;left:0;z-index:1000;width:100%;min-height:100px;background:transparent;}
.position_img{position:absolute;z-index:-1;overflow:hidden;width:100%;height:100vh;}
.position_img>div{position:absolute;width:100%;height:100%;background:no-repeat 50% 50%;background-size:cover;-webkit-animation:scaleImg 40s linear infinite;animation:scaleImg 20s linear infinite;}
#particles-js{background:rgba(22,49,113,.7);}
#particles-js,#particles-js canvas{max-height:100vh;min-height:100vh;min-width:320px;}
.index_txt,.contact_title,.services_con a,.contact_con label input{color:#fff;}
.index_txt{height:100px;text-align:center;text-shadow:3px 3px 8px rgba(11,80,234,.6);}
.index_txt p{padding-top:3%;}
.txt_animation{max-width:1000px;-webkit-animation:lessen 3s 1 normal;animation:lessen 3s 1 normal;}
.services_title,.distributors_title,.contact_con button{color:#e84e4d;}
.services_title .title_line,.distributors_title .title_line,.map_site,.map_site::after{background:#e84e4d;}
.services_title .title_line::after,.distributors_title .title_line::after{border:3px solid #e84e4d;background:#fff;}
.services_con,.contact_con{overflow:hidden;padding-top:2%;}
.services_con li{float:left;margin:1% 1% 0;width:31.33%;height:300px;text-align:center;line-height:300px;}
.services_con a{display:inline-block;vertical-align:middle;font-weight:700;line-height:30px;}
.services_con a:hover{text-decoration:underline;}
.owl-carousel{max-width:1920px;margin:0 auto;}
.owl-theme .owl-controls{position:absolute;right:0;bottom:0;left:0;text-align:center;}
.owl-theme .owl-controls .owl-nav [class*=owl-]{background:none;margin-top:-15%;}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:rgba(22,49,113,.2)}
.owl-nav{padding:0 10%;}
.owl-prev{float:left;}
.owl-next{float:right;}

.i_left,.i_right{z-index:0;height:250px;color:rgba(255,255,255,.1);text-align:center;line-height:250px;}
.contact_box .i_left{margin-right:77%;width:250px;font-size:250px;}
.contact_box .i_right{margin-left:75%;width:200px;font-size:300px;}
.contact_box{overflow:hidden;position:relative;}
.contact_title .title_line{background:#fff;}
.contact_title .title_line::after{border:3px solid #fff;background:#bb4999;}
.contact_con{position:relative;z-index:10;}
.contact_con label{float:left;display:block;padding:1% 2% 2%;}
.contact_con label input{padding:10px;width:100%;border:1px solid transparent;border-bottom-color:#c89dca;background:none;}
.contact_con label input:focus{border-color:#a7d2f7;}
.contact_con button{margin:2%;width:96%;background:#fff;font-weight:700;}
.contact_con button:hover{background:rgba(255,255,255,.6);}
.distributors_title{margin-top:4%;}
.map_bg{position:relative;}
.map_site{position:absolute;width:10px;height:10px;border-radius:10px;}
.map_site_1{top:44.9%;left:21.6%;}
.map_site_2{top:37.7%;left:51.8%;}
.map_site_3{top:52.9%;left:67.2%;}
.map_site_4{top:49.3%;left:78.4%;}
.map_site_1.translate_x{-webkit-animation:translateRight 5s 1 normal;animation:translateRight 5s 1 normal;}
.map_site_2.translate_x{-webkit-animation:translateRight 8s 1 normal;animation:translateRight 8s 1 normal;}
.map_site_3.translate_x{-webkit-animation:translateLeft 5s 1 normal;animation:translateLeft 5s 1 normal;}
.map_site_4.translate_x{-webkit-animation:translateLeft 8s 1 normal;animation:translateLeft 8s 1 normal;}
.map_site i{position:absolute;top:500%;right:320%;padding-top:5px;border-top:1px solid #e84e4d;white-space:nowrap;font-weight:700;font-size:12px;}
.map_site::after{position:absolute;top:280%;left:-340%;width:500%;height:1px;content:"";transform:rotate(-60deg);}
.map_site_1::after{right:-340%;left:auto;transform:rotate(60deg);}
.map_site_1 i{right:auto;left:320%;}
.ul_text{padding:4% 0;}
.ul_text li{position:relative;float:left;padding:0 2% 20px 70px;}
.ul_text li img{position:absolute;top:10px;left:10px;}
.ul_text li p{margin-bottom:3%;}

@keyframes translateRight{
	0%{opacity:0;-webkit-transform:translateX(-1000%);transform:translateX(-1000%);}
	100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes translateLeft{
	0%{opacity:0;-webkit-transform:translateX(1000%);transform:translateX(1000%);}
	100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes lessen{
	0%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5);}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes scaleImg{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2);}
	50%{-webkit-transform:scale(1);transform:scale(1);}
	100%{-webkit-transform:scale(1.2);transform:scale(1.2);}
}


@media only screen and (min-width:1025px){
	.index_bg .menu_div{background:rgba(211,230,246,0.2);}
}
@media only screen and (max-width:1025px){
	.services_con li{height:260px;line-height:260px;}
	@keyframes translateRight{
		0%{opacity:0;-webkit-transform:translateX(-1000%);transform:translateX(-1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.8);transform:scale(0.8);}
	}
	@keyframes translateLeft{
		0%{opacity:0;-webkit-transform:translateX(1000%);transform:translateX(1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.8);transform:scale(0.8);}
	}
	.map_site{-webkit-transform:scale(0.8);transform:scale(0.8);}
	.owl-nav img{width:25px;}
}
@media only screen and (min-width:769px){
	.search_ipt:focus{background:#2b578d;}
}
@media only screen and (max-width:768px){
	.services_con li{width:98%;height:220px;line-height:220px;}
	@keyframes translateRight{
		0%{opacity:0;-webkit-transform:translateX(-1000%);transform:translateX(-1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.6);transform:scale(0.6);}
	}
	@keyframes translateLeft{
		0%{opacity:0;-webkit-transform:translateX(1000%);transform:translateX(1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.6);transform:scale(0.6);}
	}
	.map_site{-webkit-transform:scale(0.6);transform:scale(0.6);}

	.owl-nav img{width:20px;}
}
@media only screen and (max-width:480px){
	.services_con li{height:180px;line-height:180px;}
	@keyframes translateRight{
		0%{opacity:0;-webkit-transform:translateX(-1000%);transform:translateX(-1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.4);transform:scale(0.4);}
	}
	@keyframes translateLeft{
		0%{opacity:0;-webkit-transform:translateX(1000%);transform:translateX(1000%);-webkit-transform:scale(1);transform:scale(1);}
		100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform:scale(0.4);transform:scale(0.4);}
	}
	.map_site{-webkit-transform:scale(0.4);transform:scale(0.4);}

	.owl-nav img{width:16px;}
	.owl-theme .owl-dots .owl-dot span{width:8px;height:8px;margin:5px;}
}
