body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz-text-size-adjust:none;text-size-adjust:none;}
body,html{margin:0;padding:0;width:100%;min-width:320px;}
body{color:#333;font-size:14px;font-family:sans-serif,Arial;}
dd,dl,dt,h1,h2,h3,h4,h5,h6,img,li,ol,p,ul{margin:0;padding:0;}
header,article,aside,footer,main,nav,section{display:block;}
a{text-decoration:none;color:#333;cursor:pointer;}
li{list-style:none;}
img,table{max-height:100%;max-width:100%;border:0;}
table{width:100%;border-collapse:collapse;}
i,em{font-style:normal;}
sub,sup{display:inline-block;-webkit-transform:scale(.9);-moz-transform:scale(.9);transform:scale(.9);}
button,input,select,textarea{margin:0;padding:0;outline:none;color:#333;font-size:14px;font-family:sans-serif,Arial;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button{cursor:pointer;border:none;}
textarea{resize:none;}
input::-ms-clear,input::-ms-reveal{display:none;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;}
input::-webkit-input-placeholder{color:#d3e6f6;}
input:-ms-input-placeholder{color:#d3e6f6;}
input:-moz-placeholder{color:#d3e6f6;}
input::-moz-placeholder{color:#d3e6f6;}
textarea::-webkit-input-placeholder{color:#d3e6f6;}
textarea:-ms-input-placeholder{color:#d3e6f6;}
textarea:-moz-placeholder{color:#d3e6f6;}
textarea::-moz-placeholder{color:#d3e6f6;}
/*百分比布局*/
.maxW1800{margin:0 auto;max-width:1800px;}
.maxW1300{margin:0 auto;max-width:1300px;}
.maxW960{margin:0 auto;max-width:960px;}
.maxH100{max-height:100px;}
.rows_1{width:100%;}
.rows_2{width:50%;}
.rows_3{width:33.33%;}
.rows_4{width:25%;}
.rows_5{width:20%;}
/*字体*/
.title_h2{font-size:70px;text-align:center;}
.title_h3{position:relative;padding-bottom:30px;font-size:50px;text-align:center;}
.title_line{position:absolute;left:50%;right:50%;bottom:10px;margin-left:-50px;width:100px;height:2px;}
.title_line::after{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:14px;height:14px;border-radius:14px;content:" ";}
.F50{font-size:50px;}
.F30{font-size:30px;}
.F24{font-size:24px;}
.F20{font-size:20px;}
.F18{font-size:18px;}
.F16{font-size:16px;line-height:30px;}
.FW400{font-weight:400;}
.color_blue{color:#1a284f;}
.color_red{color:#e84e4d;}
.color_white,.color_white a{color:#fff;}
/*颜色*/
.bg_red_purple{background:linear-gradient(to right,#e75d5d,#8f35d3);}
.bg_darkblue{background:#1a284f;}
.bg_blue{background:#002c75;}
.bg_lightblue{background:#d3e6f6;}
.bg_red{background:#e84e4d;}
.bg_white{background:#fff;}
/*按钮*/
.btn{height:50px;line-height:50px;white-space:nowrap;}
.btn_min{height:40px;line-height:40px;}
.btn_red{background:#e84e4d;color:#fff;font-weight:700;padding:0 10px;}
.btn_red:hover{background:rgba(232,78,77,0.4);color:#e84e4d;}
.btn_white{background:#fff;color:#e84e4d;font-weight:700;padding:0 10px;}
.btn_white:hover{background:rgba(255,255,255,.6);}
/*公共样式*/
.float_l{float:left;}
.float_r{float:right;}
.ovf_hid{overflow:hidden;}
.clearfloat:after{clear:both;display:block;visibility:hidden;height:0;content:" ";}
.clearfloat{zoom:1;}
.paddingTRBL4{padding:4%;}
.paddingTB4{padding:4% 0;}
.paddingLR4{padding:0 4%;}
.paddingTB2{padding:2% 0;}
.paddingT2{padding-top:2%;}
.paddingTop10{padding-top:10px;}
.align_c{text-align:center;}
.no_data{text-align:center;line-height:160px;}
.bld_mask{position:fixed;top:0;left:0;z-index:1000;display:none;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
.position_center{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.position_r{position:relative;}
.btn_transition{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.popups_transition{-webkit-transition:all .6s ease;-moz-transition:all .6s ease;transition:all .6s ease;}
.breadcrumb_box{position:relative;text-align:center;}
.borderBblue{border-bottom:1px solid #1a284f;}
/************** common.css end **********************/
/*************** header css start***************/
.head_box{font-size:14px;min-width:320px;background:#1a284f;}
.head_box,.head_box a,.search_ipt,.hide_cart_title{color:#fff;}
.head_top{padding:35px 0 10px;border-bottom:1px solid #698dab;}
.head_search{width:55%;}
.icon_head{background:url(../img/header/css_sprites.png) no-repeat;}
.cart_icon{position:relative;display:inline-block;padding-left:32px;min-width:20%;background-position:-8px -90px;cursor:pointer;}
.search_box{position:relative;width:86%;}
.search_lab{display:block;position:relative;}
.search_icon{position:absolute;top:0;left:0;width:40px;height:40px;background-position:-2px -2px;cursor:pointer;}
.search_ipt{margin-bottom:4px;padding:10px 10px 10px 45px;width:100%;height:40px;border:1px solid #698dab;background:none;}
.search_ipt:focus{border-color:#a7d2f7;}
.search_min{display:none;}
.search_result_list{display:none;position:absolute;top:40px;width:100%;}
.search_result_list li{padding:0 10px;background:#d3e6f6;}
.search_result_list a{display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:32px;color:#1a284f;}
.search_result_list a em{color:#0853dc;}
.search_result_list li:hover{background:#a7d2f7;}

<<<<<<< HEAD
.language_icon{position:relative;float:right;padding-left:35px;background-position:-8px -46px;line-height:40px;cursor:pointer;}
=======
.language_box{position:relative;z-index:10;cursor:pointer;}
.language_icon{padding-left:35px;background-position:-8px -46px;line-height:40px;}
>>>>>>> 8fa020634eba7eb4db7579a0a5d0cf17137b839f
.language_select,.language_select::after{position:absolute;background:#d3e6f6;}
.language_select{top:40px;left:-10px;z-index:10;display:none;color:#1a284f;}
.language_select::after{top:-5px;left:42%;z-index:-1;width:10px;height:10px;content:'';-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
.language_select a{display:block;padding:0 30px;color:#1a284f;line-height:30px;}
.language_select a:hover{background:#a7d2f7;}
.language_icon:hover .language_select{display:block;}

.head_menu{float:left;}
.menu_ul{display:inline-block;}
.menu_ul li{float:left;padding:0 15px;position:relative;}
.menu_ul li>a{font-weight:700;line-height:50px;}
.menu_div a{display:block;padding:8px;white-space:nowrap;}
.cart_box,.login_box{float:right;line-height:50px;}
.cart_box{min-width:8%;padding-left:15px;text-align:right;}
.cart_icon .cart_total,.cart_pdel{position:absolute;background:#d3e6f6;width:24px;height:24px;line-height:24px;text-align:center;}
.cart_icon .cart_total{left:10px;top:2px;z-index:0;color:#1a284f;border-radius:24px;}
.login_box{max-width:160px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.hide_cart_content{position:fixed;top:0;right:-105%;z-index:1020;padding:80px 0 60px;width:400px;min-width:300px;height:100%;background:#d3e6f6;}
.hide_cart_show .hide_cart_content{right:-1px;}
.hide_cart_title{position:absolute;top:0;left:0;width:100%;height:80px;background:#1a284f;text-align:center;display:table;font-weight:700;}
.hide_cart_title span{display:table-cell;vertical-align:middle;}
.hide_cart_title img{vertical-align:middle;width:14px;cursor:pointer;user-select:none;}
.hide_cart_list{padding:3%;max-height:100%;overflow:auto;}
.hide_cart_list,.hide_cart_list a{color:#1a284f;font-size:12px;}
.cart_ptbody{border-bottom:1px solid #a7d2f7;}
.cart_ptbody .position_r{padding-right:26px;}
.cart_pimg{margin:5px 5px 5px 0;display:block;width:80px;height:80px;background:#fff;}
.cart_pdel{top:0;right:0;background:none;color:#1a284f;font-weight:700;font-size:20px;}
.cart_pdel:hover{color:#e84e4d;}
.cart_pname{display:inline-block;min-height:32px;word-break:break-all;}
.cart_pname:hover{color:#4787e8;}
.cart_pnum {display:inline-block;min-width:68px;height:24px;border:1px solid #a7d2f7;user-select:none;background:#a7d2f7;white-space:nowrap;}
.cart_pnum em{float:left;width:22px;height:22px;line-height:22px;font-size:18px;text-align:center;cursor:pointer;}
.cart_ipt_mun{float:left;width:24px;height:22px;border:none;text-align:center;}
.cart_ipt_mun[type="number"]::-webkit-outer-spin-button,.cart_ipt_mun[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;appearance:none;}
.cart_ipt_mun[type="number"] {-moz-appearance:textfield;}
.cart_btn_box{position:absolute;bottom:0;left:0;padding:5px 10px 10px;width:100%;}

.backTop{display:none;position:fixed;z-index:1010;width:60px;height:124px;right:1%;bottom:2%;}
.backTop span{display:block;border-radius:60px;height:60px;padding:15px 0;line-height:18px;text-align:center;background:linear-gradient(to bottom,#4787e8,#a74fc6);}
.backTop span:hover{cursor:pointer; background:linear-gradient(to right,#4787e8,#a74fc6);}
.backTop .toTop{margin-top:4px;padding-top:20px;background:linear-gradient(to top,#4787e8,#a74fc6);}
/*footer css */
.foot_box{padding-top:6%;background:#d3e6f6;}
.foot_box div{padding:2% 4%;border-top:1px solid #bacfe0;}

/******************** @media ****************************/
@media only screen and (min-width:1025px){
	.body_bld{min-height:90vh;}
	.menu_div{display:none;position:absolute;top:48px;left:0;z-index:100;padding:15px;background:#1a284f;}
	.menu_ul li:first-child{padding-left:0;}
	.menu_ul li:hover>a{border-bottom:1px solid #fff;}
	.menu_ul li:hover .menu_div{display:block;}
	.menu_div a:hover,.login_box a:hover,.search_other a:hover{text-decoration:underline;}
}
@media only screen and (max-width:1025px){
	.rows_4{width:33.33%;}
	.title_h2{font-size:52px;}
	.title_h3{font-size:42px;}
	.title_line{margin-left:-45px;width:90px;}
	.title_line::after{width:13px;height:13px;border-radius:13px;}
	.F50{font-size:44px;}
	.F30{font-size:26px;}
	.F24{font-size:22px;line-height:24px;}
	.F20{font-size:18px;}
	.btn{height:45px;line-height:45px;}
	/************** common.css end **********************/
	/************** header.css start **********************/
	.head_menu_show .menu_ul{right:-1px;}
	.menu_ul{position:fixed;top:0;right:-105%;z-index:1010;padding:10px;width:82%;height:100%;background:#d3e6f6;}
	.menu_ul li{width:100%;padding:0 15px;}
	.menu_ul li a{color:#1a284f;}
	.head_menu_phone{display:inline-block;padding:5px;width:45px;height:45px;background:none;line-height:10px;user-select:none;cursor:pointer;}
	.head_menu_phone i{display:inline-block;width:100%;height:2px;border-radius:2px;background:#d3e6f6;}
	.hide_cart_title{height:70px;}
	.hide_cart_content{padding-top:70px;}
	.head_logo{max-width:30%;}
	.head_search{width:65%;}
	.head_top{padding-top:30px;}
}
@media only screen and (max-width:768px){
	.rows_4{width:50%;}
	.rows_3,.rows_2{width:100%;}
	.title_h2{font-size:46px;}
	.title_h3{font-size:36px;}
	.F50{font-size:38px;}
	.F18{font-size:16px;}
	/**************common.css end**********************/
	/**************header.css start**********************/
	.head_logo{max-width:45%;}
	.head_search{width:auto;}
	.search_box{position:fixed;top:-100px;left:0;z-index:1020;padding:20px 16px 10px;width:100%;background:#1a284f;}
	.search_show .search_box{top:0;}
	.search_min{display:block;padding-left:30px;width:90px;height:40px;background-position:-8px -2px;line-height:40px;color:#fff;text-align:left;}
	.head_top{padding-top:25px;}
	.hide_cart_title{height:65px;}
	.hide_cart_content{padding-top:65px;}
}
@media only screen and (max-width:480px){
	.rows_4{width:100%;}
	.title_h2{font-size:40px;}
	.title_h3{font-size:30px;}
	.title_line{margin-left:-40px;width:80px;}
	.title_line::after{width:12px;height:12px;border-radius:12px;}
	.F50{font-size:30px;}
	.F30{font-size:24px;}
	.F24{font-size:20px;}
	.F20{font-size:16px;}
	.F16{font-size:14px;line-height:24px;}
	/**************common.css end**********************/
	/**************header.css start**********************/
	.icon_head{background:url(../img/header/css_sprites_2.png) no-repeat;background-size:46px 135px;}
	.search_min{background-position:-8px -2px;}
	.language_icon{background-position:-8px -46px;}
	.cart_icon{background-position:-8px -90px;}
	.head_top{padding-top:20px;}
	.hide_cart_title{height:60px;}
	.hide_cart_content{width:84%;padding-top:60px;}
	.cart_pimg{margin-right:3px;width:75px;height:75px;}
	.foot_box{font-size:12px;text-align:center;}
	.foot_box .float_r{width:100%;}
	.backTop{height:104px;width:50px;line-height:16px;}
	.backTop span{padding-top:10px;width:50px;height:50px;font-size:12px;}
	.backTop .toTop{padding-top:15px;}
}
@media only screen and (max-width:320px){
	.hide_cart_content,.menu_ul{right:-320px;}
	.cart_pimg{width:70px;height:70px;}
}
