.text_box {line-height:32px;}
.text_box .rows_2{float:left;}
.text_box .dot{padding-right:5px;}

.body_bld{overflow:hidden;}
.position_aimg{position:absolute;top:5%;left:52%;}

.menu_a_box p{overflow:hidden;padding:10px 0 20px;}
.menu_a_box p a{float:left;line-height:32px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}


@media only screen and (max-width:1025px){
	.text_box {line-height:30px;}
}
@media only screen and (max-width:760px){
.position_aimg{position:static;}
}
@media only screen and (max-width:480px){
	.text_box {line-height:26px;}
}