.about-common section {
	padding: 0 4%;
	background: #fff;
	margin-bottom: .56rem;
	color: #555;
	line-height: 1.8rem;
}
.about-common header {
	font-size: 1.33rem;
	height: 4.5rem;
	line-height: 4.5rem;
	border-bottom: .08rem solid #e0e0e0;
}
.about-common article {
	text-align: justify;
	padding: 1rem 0;
}
.about-con header { font-size: 1rem;}
.margin-B { margin-bottom: 1rem; }
/* 联系我们 */
.contact-us-con header { border-bottom: none; }
.about-common a { height: 3rem; }
.about-common div a {
	width: 50%;
	float: left;
}
.about-common .img-box {
	position: relative;
	top: .5rem;
}
/* 摩尔计算器 */
.molarity p {
	margin: .56rem 0;
}
.molarity .margin-top {
	margin-top: .8rem;
}
.molarity .iconfont {
	color: #b6b6b6;
}
.molarity .ipt-kuang .iconfont {
	position: absolute;
}
.molarity p .molarity-txt {
	display: inline-block;
	width: 45%;
}
.molarity .ipt-kuang {
    background: #f3f3f3;
	height: 4rem;
	line-height: 4rem;
	position: relative;
	text-align: right;
}
.ipt-kuang i {
	font-size: 2rem;
	color: #555555;
	position: absolute;
	right: 3.8rem;
}
.molarity input {
	width: 100%;
	height: 4rem;
	background: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0;
}
.ipt-kuang select {
	position: absolute;
	right: 0;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 2.4rem;
	z-index: 9;
	height: 100%;
	width: 20%;
	background: none;
	outline: none;
	border: none;
}
.molarity .btn {
	margin-top: .5rem;
}
/* 如何订购 */
.how-order-con article p {
	padding: .5rem 0;
	font-size: 1.11rem;
}
.tips-circle-red {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    margin: 0 .65rem;
    border-radius: 1rem;
    background: #ea5413;
    text-align: center;
    color:#fff;
}
/* 条款和条件 */
.terms-con article {
	position: relative;
	padding: 1rem;
}
.terms-con article span {
	position: absolute;
	left:0; top: 1.3rem;
}
.quality-con p {
	padding: 1rem 0;
	font-size: 1.11rem;
	color: #2180be;
}
.quality-con p span { margin-right: .6rem; }
.inquiry-form-con p {
	padding: .4rem 0;
}
/*运费和政策*/
.freight-img {
    height: 4.56rem;
    padding: .5rem 1rem 3rem;
}
/* 缩略语 */
.abbreviations-con {
	background: #fff;
	padding: 0 4%;
}
.abbreviations-con div {
	padding-bottom: 2rem;
	margin-bottom: .56rem;
}
.tab-menu li {
	float: left;
	width: 28%;
	height: 4rem;
	font-size: 1.11rem;
	color: #555;
}
.tab-menu li span {
	display: inline-block;
	padding: 1rem 0 .2rem;
}
.tab-menu .current span {
	border-bottom: .1rem solid #eb6132;
}
.tab-content td {
	height: 4rem;
	line-height: 1.8rem;
	border-bottom: .08rem solid #e0e0e0;
	border-right: .08rem solid #e0e0e0;
	padding: 0 .8rem;
	color: #555;
}
.tab-content td:first-child {
	padding-left:0;
}
.tab-content td:last-child {
	border-right: none;
}
.tab-content tr:first-child td {
	border-top: .08rem solid #e0e0e0;
}
/*  */
.pharmacological-con section {
	background: none;
	display: flex;
	margin-bottom: 0;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pharmacological-con a {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 .8rem;
	width: 49%;
	height: 4rem;
	line-height: 4rem;
	margin-bottom: .56rem;
	background: #fff;
	white-space: nowrap;
	font-size: 1.11rem;
	color: #555;
}
.pharmacological-con a span { font-size: .8rem; }
.pharmacological-con a i {
	position: absolute;
	right: .8rem;
}