/* about 静态页面公共样式 */
.title_border{position:relative;top:-10px;display:inline-block;margin-bottom:20px;width:100px;height:2px;background:#eee}
.about_gray_bg{margin-bottom:30px;min-height:490px;background:#fafafb}
.about_text{padding-bottom:20px;text-align:justify;line-height:28px}
.width50{float:left;width:50%;min-height:490px}
.width650{padding-right:30px;max-width:650px}

/* Custom Synthesis 页面 */
.custom_synthesis_breadcrumb{background:url(/static/img/breadcrumb/CustomSynthesis.png) no-repeat center}
.custom_synthesis_img{background:url(/static/img/about/CustomSynthesisImage.png) no-repeat 10px top}
.blue_ul{margin:0 -5px}
.blue_ul li{float:left;padding:5px;width:33.33%;height:70px}
.blue_ul li a{display:block;overflow:hidden;padding:0 20px;background:#ddefff;color:#015cac;text-overflow:ellipsis;white-space:nowrap;font-weight:700;line-height:60px}
.white_ul_title{padding:30px 0 15px}
.white_ul{margin-bottom:20px}
.white_ul li{float:left;overflow:hidden;padding-right:15px;width:25%;text-overflow:ellipsis;white-space:nowrap;line-height:32px}
.white_ul li span{padding-right:6px;font-weight:900}

/* scale up commercial manufacture 页面 */
.scale_up_commercial_manufacture_breadcrumb{background:url(/static/img/breadcrumb/ScaleUpCommercialManufacture.png) no-repeat center}
.scale_up_commercial_manufacture_img{background:url(/static/img/about/ScaleUpCommercialManufactureImage.png) no-repeat 10px top}
.blue_line_ul li{float:left;padding:0 30px 15px 0;width:50%}
.blue_line_ul li a{display:block;overflow:hidden;padding:0 20px;border-top:3px solid #98ceff;background:#fafafb;color:#015cac;text-overflow:ellipsis;white-space:nowrap;font-weight:700;line-height:60px}
/* ==================================屏幕宽度小于1350 ===========================================*/
@media only screen and (max-width:1350px){
.width50{padding-left: 2%;}
}