.email-txt,.contact-us-con dl a,.contact-us-con dl,.wedsite-map-con a:hover{color:#007bc4;}
.margin-top15{margin-top:15px;}
/*about-us.html*/
.about-con{color:#222;text-align:justify;line-height:28px;}
.about-con li,.about-con ul{overflow:hidden;}
.about-con .float-L,.about-con .float-R{width:48.5%;}
.about-con .img-box{margin-bottom:10px;}
.about-txt{margin-bottom:20px;text-indent:28px;}
/*shopping-guide.html*/
.shopping-guide-title{padding-bottom:20px;font-size:16px;}
.shopping-guide-txt b{display:inline-block;padding-top:15px;}
/*quality-control.html*/
.quality-control-con h5{padding:10px 0;font-size:16px;}
.quality-control-con .float-R p{line-height:24px;}
/*terms-policy.html*/
.terms-policy-con .quality-control-con p{margin-bottom:30px;}
/*contact-us.html*/
.contact-us-con h2{padding:10px 0;font-weight:400;font-size:20px;}
.contact-us-con dl{overflow:hidden;}
.contact-us-con dt{float:left;padding-right:5%;font-size:16px;line-height:26px;}
.contact-us-con dt p{position:relative;padding-left:70px;padding-top:10px;}
.contact-us-con p span{position:absolute;left:0;display:inline-block;width:70px;color:#333;}
.contact-us-con dt img{vertical-align:middle;margin-right:4px;}
.bide-addr img{margin-top:20px;}
/*wedsite-map.html*/
.wedsite-map-con dl{overflow:hidden;margin-bottom:12px;padding:20px;background:#f5f5f5;line-height:34px;}
.wedsite-map-con dl dd,.wedsite-map-con dl dt{float:left;}
.wedsite-map-con dl dt{margin-bottom:6px;width:100%;font-weight:700;font-size:18px;}
.wedsite-map-con dl dd{overflow:hidden;width:20%;text-overflow:ellipsis;white-space:nowrap;}
/*find-chemicals.html*/
.find_chemicals_con{position:relative;padding-left:180px;line-height:24px;}
.find_chemicals_left{position:absolute;top:180px;left:0;width:140px;}
.find_chemicals_left{position:fixed;left:auto;margin-left:-180px;}
.find_chemicals_left a{display:inline-block;margin-bottom:10px;width:140px;height:38px;background:#007bc4;color:#fff;text-align:center;font-weight:600;line-height:38px;}
.find_chemicals_con h3{font-size:20px;}
.find_chemicals_con h3,.find_chemicals_con h4{padding:15px 0 10px;font-weight:600;}
.find_chemicals_con h4{margin:0;font-size:16px;}
.find_chemicals_con p{padding-bottom:5px;}
.find_chemicals_table{max-width:680px;}
.find_chemicals_table thead td{background:#f1f1f1;font-weight:600;}
.find_chemicals_table td{padding:5px 10px;border:1px solid #ddd;}
.paddingT15{padding-top:15px;}
.paddingL38{padding-left:38px;}
.paddingL38 .dot{display:inline-block;padding-right:5px;color:#007bc4;}
#search_2,#search_3{margin-top:-65px;height:65px;}
/*bide-coa-data.html*/
.COAdata_title{margin-bottom:10px;height:38px;color:#007bc4;font-weight:700;font-size:24px;}
.COAdata_con{margin:0 auto;max-width:550px;}
.COA_ipt{width:80%;padding:0 10px;height:40px;border:1px solid #97c5ff;}
.COAdata_con .COA_btn{float:right;height:40px;width:19%;background:#007bc4;color:#fff;font-weight:700;font-size:16px;}
.coalink{margin-top:50px;}
.padding15{padding:15px 0;text-align:center;}
.a_down{display:inline-block;height:30px;margin-right:10px;line-height:30px;padding-left:30px;background:url(/static/img/download.png) no-repeat left center;}
/*suggestion.html*/
.customer_content,.customer_content_tips{margin:0 auto;max-width:700px;}
.customer_content_tips{display:none}
.customer_h3{margin:10px 0;font-weight:700;font-size:24px;}
.customer_content_tips .customer_h3{padding:10px 0 20px;}
.customer_content h4{margin-bottom:5px;font-weight:700;font-size:18px;}
.customer_content p{padding:5px 0;}
.customer_content .icon_bg{padding-left:26px;background:url(/static/img/about/customer-feedback-icon.png) no-repeat left center;}
.customer_content select{padding-left:10px;width:200px;height:36px;outline:0;border:1px solid #ddd;background:#fff url(/static/img/select-ico.png) no-repeat right center;}
.customer_textarea{padding:5px 10px;width:100%;height:180px;border:1px solid #ddd;resize:none;}
.customer_contact{overflow:hidden;padding-bottom:10px;}
.customer_contact label{float:left;display:inline-block;width:220px;line-height:30px;}
.customer_contact input{padding:0 10px;width:200px;height:36px;border:1px solid #ddd;line-height:36px;}
.customer_btn{width:200px;height:40px;outline:0;border:none;background:#0092d8;color:#fff;text-align:center;font-weight:700;font-size:16px;line-height:40px;cursor:pointer;}
.customer_img{text-align:center;}
/*organic-name-reaction.html*/
.organic_content{position:relative;overflow:hidden;}
.organic_sidenav{float:left;width:23%;}
.organic_line{position:absolute;top:0;left:24.4%;width:1px;height:100%;border-right:1px solid #ddd;}
.organic_search{position:relative;overflow:hidden;margin-bottom:5px;height:40px;border:1px solid #ddd;border-radius:20px;}
.organic_search_ipt{padding:0 45px 0 15px;width:100%;height:38px;border:none;}
.organic_search_btn{position:absolute;top:0;right:0;display:inline-block;width:42px;height:38px;border-top-right-radius:20px;border-bottom-right-radius:20px;background:#fdd000 url(/static/img/search.png) no-repeat center;}
.organic_tab_title{overflow-y:auto;max-height:500px;}
.organic_tab_title li{border-bottom:1px dotted #ccc;}
.organic_tab_title li a{display:block;overflow:hidden;padding:0 15px;height:40px;text-overflow:ellipsis;white-space:nowrap;line-height:40px;}
.organic_tab_title .current a,.organic_tab_title li:hover a{color:#007bc4;font-weight:700;}
.organic_main{float:right;width:74%;}
.organic_tab_content,.def_hide,.li_hid{display:none;}
.organic_title{margin-bottom:10px;height:40px;border-bottom:2px dotted #ccc;color:#007bc4;font-weight:700;font-size:24px;}
.organic_main .current,.li_show{display:block;}
.h3_title{padding:10px 0;color:#555;font-weight:700;font-size:18px;}
.dv_description{padding-bottom:15px;line-height:24px;}
.div_img{text-align:center;}
.li_nodata{text-align:center;line-height:40px;}
.organic_tips a{display:inline-block;margin-top:5px;width:38px;height:20px;background:#f5f5f5;text-align:center;line-height:20px;}
.organic_tips a.current,.organic_tips a:hover{background:#fdd000;}
.organic_tips_content{margin-top:10px;}
.div_reference{padding:10px 25px;}
.div_reference span{padding-right:4px;}
.div_reference a,.div_reference span{color:#007bc4;font-size:12px;word-break:break-all;}
.div_reference a:hover{text-decoration:underline;}
.dv_box{margin:10px auto;max-width:870px;}
.div_reference p{padding-left:24px;text-indent:-24px;}
.p_text{text-indent:29px;}
/*enterprise-honor.html*/
.honor-patent-box{overflow:hidden;}
.approach-nav-title{height:80px;background:#029dca;background-image:linear-gradient(to top right,#029dca,#2cc6ed);color:#fff;font-weight:700;font-size:30px;line-height:80px;}
.approach-bide-nav{float:left;width:17%;text-align:center;}
.approach-bide-nav li{padding:8px 0 12px;height:60px;border-bottom:1px dashed #ddd;}
.approach-bide-nav li a{display:block;color:#666;font-size:18px;line-height:40px;}
.approach-bide-nav li a.current,.approach-bide-nav li:hover a{position:relative;background:#007bc4;color:#fff;font-weight:700;}
.approach-bide-nav .current span,.approach-bide-nav li:hover span{position:absolute;bottom:-8px;left:0;display:inline-block;width:0;height:0;border-color:transparent #005bac;border-style:solid;border-width:0 15px 8px 0;}
.approach-bide-content{float:left;padding-left:20px;width:83%;color:#666;}
.approach-content-title{padding:20px 0;color:#007bc4;font-weight:700;font-size:30px;}
.approach-txt{font-size:16px;line-height:30px;}
.approach-bide-content .current{display:block;}
.tab-content{display:none;}
.tab-content li{float:left;padding:6px;max-width:50%;text-align:center;}
.tab-content li p{padding:10px 0;}
.tab-content li strong{font-size:20px;}
.tab-content .marginL50{float:right;}
.honor-patent{overflow:hidden;margin-top:10px;padding:10px 8px;background:#f5f5f5;}
.honor-image-box li{white-space:nowrap;}
.honor-image-box li:nth-child(1),.honor-image-box li:nth-child(2){max-width:26%;}
.honor-image-box li:nth-child(3){max-width:48%;}
.patent_certificate_img li{width:33.3%;}
.patent_certificate_img span{display:block;margin-top:10px;min-height:40px;line-height:20px;}


@media only screen and (max-width:1024px){
	.organic_title{font-size:22px;}
	/*about-us.html*/
	.about-con{line-height:24px;}
	.about-con .float-L,.about-con .float-R,.organic_sidenav,.organic_main,.organic_search_ipt{width:100%;}
	/*wedsite-map.html*/
	.wedsite-map-con dl{line-height:32px;}
	.wedsite-map-con dl dd{width:33%;}
	/*organic-name-reaction.html*/
	.organic_search_btn{max-width:50px;}
	.organic_sidenav{margin-bottom:20px;}
	.organic_sidenav,.organic_main{float:none;}
	.organic_tab_title li{display:inline-block;margin-right:5px;}
	.organic_tab_title li a{padding:0 10px;}
	.organic_tab_title .def_hide,.organic_tab_title .li_hide,.organic_line,.approach-content-title{display:none;}
	.organic_tab_title .li_show{display:inline-block;}
	.h3_title{font-size:16px;}
	/*enterprise-honor.html*/
	.approach-nav-title{height:70px;font-size:26px;line-height:70px;}
	.approach-bide-nav{margin-bottom:10px;}
	.approach-bide-nav li{display:inline-block;min-width:140px;margin:0 5px;}
	.approach-bide-nav li a{font-size:16px;line-height:36px;}
	.approach-bide-nav,.approach-bide-content{float:none;width:100%;}
	.approach-bide-content{padding:0;}
}
@media only screen and (max-width:780px){
	.organic_title{font-size:20px;}
	/*find-chemicals.html*/
	.find_chemicals_con h3,.honor-image-box li strong{font-size:18px;}
	.find_chemicals_con{padding:0;}
	.find_chemicals_left{display:none;}
	/*enterprise-honor.html*/
	.approach-nav-title{height:60px;font-size:22px;line-height:60px;}
	.patent_certificate_img li{width:50%;}
}
@media only screen and (max-width:640px){
	.contact-us-con h2{font-size:18px;}
	.contact-us-con dt{font-size:14px;}
	/*wedsite-map.html*/
	.wedsite-map-con dl dt,.honor-image-box li strong{font-size:16px;}
	.wedsite-map-con dl dd{width:50%;}
	/*enterprise-honor.html*/
	.approach-nav-title{height:50px;font-size:20px;line-height:50px;}
	.honor-image-box .marginL50{float:left;}
	.honor-image-box li:nth-child(3){max-width:50%}
	.honor-image-box li:nth-child(1),.honor-image-box li:nth-child(2){max-width:50%}
}
@media only screen and (max-width:480px){
	/*wedsite-map.html*/
	.wedsite-map-con dl{line-height:30px;}
	.wedsite-map-con dl dd{width:100%;}
	/*enterprise-honor.html*/
	.approach-nav-title{font-size:18px;}
	.tab-content li span{font-size:12px;}
	.tab-content li p{padding:5px 0;}
	.honor-patent{padding:10px 0;}
	.honor-image-box li{white-space:normal;}
	.honor-image-box li strong,.approach-txt{font-size:14px;}
}
@media only screen and (max-width:320px){
	.organic_title{font-size:18px;}
	.h3_title{font-size:14px;}
}