.i_f_content {
    padding: 20px 25px 10px;
    font-size:14px;
}
.i_f_ipt{
    margin-top:8px;
}
.i_f_ipt input ,.a_i_select{
    border: none;
    border-bottom: 1px #ddd solid;
    padding:8px 10px 4px;
    width: 100%;
    font-size:14px;
}
.colorGrey{
    color: #999999;
}
.colorGrey span{font-size:12px;}







.blue_btn {
    height: 36px;
    width: 360px;
    line-height: 36px;
    font-size: 16px;
    background-color: rgb(61, 127, 222);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 15px 0px;
    outline: none;
}
.blue_btn:hover {
    background-color: rgb(58, 121, 210);
}
.marg0{margin: 0!important;}
.sel_province,.ipt_province{display:none;}
.sel_province.show,.ipt_province.show{display:block;}