.blue_bg{margin-bottom:10px;height:90px;background:#041e42}
.product_details_content{font-size:14px;}
.product_details_content table{margin:15px 0}
.product_details_content table td{padding:5px;line-height:24px;vertical-align:top;}
.product_details_content table td span{color:#777;white-space:nowrap;}
.product_details_breadcrumb{height:50px;line-height:48px;overflow:hidden;padding:0 10px;border:1px solid #eee;color:#666;text-overflow:ellipsis;white-space:nowrap}
.product_details_breadcrumb span{padding:0 8px;color:#999;font-style:italic}
.product_details_breadcrumb a{color:#666}
.product_details_breadcrumb a:hover,.product_details_content table a:hover{color:#1c79e1}
/*product details left */
.product_details_left{float:left;width:350px}
.product_img_box{position:relative}
.product_img_bg{width:350px;height:350px;background:#f5f5f5}
.product_img_loupe{position:absolute;bottom:0;right:0;width:40px;height:40px;background:url(/static/img/bulk_product_details/icon_loupe.png) no-repeat center;cursor:pointer}
.product_img_loupe:hover .product_img_big{display:block}
.product_img_big{position:absolute;bottom:-150px;left:-310px;display:none;width:500px;height:500px;background:#f5f5f5;-webkit-box-shadow:0 0 10px rgba(36,50,56,.3);-moz-box-shadow:0 0 10px rgba(36,50,56,.3);box-shadow:0 0 10px rgba(36,50,56,.3)}
.quality_control{padding:10px 0;border-bottom:1px solid #eee}
.quality_control select{margin-right:10px;height:32px;border:1px solid #eee;line-height:32px}
.quality_control_download{overflow:hidden;padding-top:10px}
.quality_control_download a{float:left;padding-left:35px;width:25%;height:40px;background:url(/static/img/bulk_product_details/icon_download.png) no-repeat left center;line-height:40px}
.BLD_video,.ISO9001-2015{padding-top:10px}
.about_us{padding:10px 0;border-bottom:1px solid #eee;line-height:20px}
/*product details  right */
/*product_details_info*/
.product_details_info h1{padding-top:25px;font-weight:200;font-size:16px}
.product_details_info h1 i{font-style:normal;padding-right:10px}
.product_details_info h1 span{position:relative;z-index:-1;top:-2px;padding:0 5px}
.product_details_info h1 strong{padding:0 12px;font-size:24px}
.product_details_info h1 em{font-style:normal;font-weight:bold;color:#e6002d}
.specific_info table .paddingR20{width:26%;}
.paddingR20{padding-right:20px!important}
.specific_info table td {line-height:20px}
.specific_info table td span{display:inline-block;height:20px;background-size:16px;padding-left:22px;}
.have_data{background:url(/static/img/bulk_product_details/have_data.png) no-repeat left center}
.no_data{background:url(/static/img/bulk_product_details/no_data.png) no-repeat left center}
.details_title_h2{padding:10px 0;margin-top:20px;border-bottom:1px solid #eee;font-size:14px}
.details_btn_box{overflow:hidden;padding-top:20px;border-top:1px solid #eee;border-bottom:1px solid #eee}
.details_btn_box a{display:inline-block;height:55px;padding:0 30px;line-height:55px}
.details_tel{background:url(/static/img/bulk_product_details/details_icon_tel.png) no-repeat left center;cursor:default}
.details_email{background:url(/static/img/bulk_product_details/details_icon_email.png) no-repeat left center}
.details_email:hover{color:#1c79e1}
.details_btn_box .details_favorites{float:right;padding:0;margin-right:20px;width:40px;background:url(/static/img/bulk_product_details/details_icon_favorites.png) no-repeat center}
.details_inquiry_btn{float:right;width:300px;background:#015cac;color:#fff;font-weight:700;font-size:24px}
.details_inquiry_btn:hover{background:#1c79e1}
.product_details_right{float:right;width:70.8%}
.successful_case,.successful_projects{min-height:120px}
.R_D_center {overflow:hidden;margin:15px -5px}
.R_D_center li{float:left;width:25%;padding:0 5px}