/* category-title */
.category-con {
	background: #fff;
}
.category-con header {
	height: 4.11rem;
	line-height: 4.11rem;
	font-size: 1.67rem;
}
.category-card {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 12rem;
	padding: 1.72rem 0;
	border-top: .08rem solid #e0e0e0;
	line-height: 2rem;
}
.category-card p .products-number{
	display: inline-block;
	width: 38%;
}
.category-card h2 {
	margin: 1rem 0 0.8rem;
	font-size: 1.33rem;
	color: #eb6132;
}