@charset "utf-8";

html{font-size: 10px}
@media screen and (min-width: 321px) and (max-width: 375px){html{font-size: 11px}}
@media screen and (min-width: 376px) and (max-width: 414px){html{font-size: 12px}}
@media screen and (min-width: 415px) and (max-width: 639px){html{font-size: 15px}}
@media screen and (min-width: 640px) and (max-width: 719px){html{font-size: 20px}}
@media screen and (min-width: 720px) and (max-width: 749px){html{font-size: 22.5px}}
@media screen and (min-width: 750px) and (max-width: 799px){html{font-size: 23.5px}}
@media screen and (min-width: 800px){html{font-size: 25px}}

html,body,h1,h2,h3,h4,p,ul,ol,li,dl,dd,dt,label,span,b {margin:0;padding:0;}
html,body { width:100%; min-width:320px; }
body { background: #f3f3f3; font-family:"微软雅黑"; color:#000;}
img { border: none; }
header,footer,nav,section,aside,article { display: block;}
a {
	display: inline-block;
	text-decoration: none;
	color: #000; outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,ol,li { list-style: none;}
table { width:100%; border-collapse:collapse; border:none;}
button { cursor: pointer; }
/*input去掉黄色背景*/
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px #fff inset;}
/* ::-ms-clear 是文本清除按钮 
   ::-ms-reveal是密码查看按钮  */
input::-ms-clear,input::-ms-reveal{ display: none;}
input,button,textarea{ outline:none; }
select { -webkit-appearance:none;appearance:none;}
input, textarea {
    -webkit-user-select: auto!important;
     -khtml-user-select: auto!important;
       -moz-user-select: auto!important;
        -ms-user-select: auto!important;
         -o-user-select: auto!important;
            user-select: auto!important;
}
.border-box,input,select {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.position-r { position: relative;}
.position-a { position: absolute;}
.float-R { float: right;}
.float-L { float: left;}
.border-B { border-bottom:  .08rem solid #e0e0e0;}
span.img-box { display: inline-block;}
.img-box img { max-height: 100%;max-width: 100%;}
.margin0 { margin: 0!important;}
.white-bg { background: #fff;}
.background-none { background: none;}
.hide { display: none;}
.clear { clear: both;}
.layout { padding: 0 4%;}
.page-title {
	height: 4.5rem;
	line-height: 4.5rem;
	background: #fff;
	font-size: 1.33rem;
	color: #666;
	margin-bottom: .56rem;
}

/* ------- common title -------- */
.title-con {
	position: relative;
	height: 3.5rem;
	padding-top: 2rem;
	background: #fff;
	font-size: 1.33rem;
	color: #666;
	text-align: center;
}
.title-con .back-icon {
	position: absolute;
	left: 4%;
}
.title-con .back-icon i { font-size: 1.8rem;}

/* ------------ btn style ------------ */
.btn-box { padding: 1.44rem 0; }
a.btn {
	display: inline-block;
	line-height: 4rem;
}
.btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.33rem;
	border-radius: .5rem;
	border: .08rem solid #e0e0e0;
}
.btn-red {
	background: #eb6132;
	border-color: #eb6132;
	color: #fff; 
}
.btn-line { background: #fff;}
.btn-blue {
	background: #2180be;
	color: #fff;
	font-size: 1.2rem;
	border-color: #2180be;
	padding-bottom:.2rem;
}
.loading {
	height: 4rem;
	line-height: 4rem;
	font-size: 1rem;
	color: #666;
	text-align: center;
}

/* ------------ 侧边菜单 ------------ */
.mask {
	position: fixed; 
	top: 0; left:-100%;
	z-index: 100;
	height: 100%;
	width: 100%; 
	background: rgba(25,25,25,.6);
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}
.popups {
	position: absolute;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	background: #fff;
}
.sidebar {
	top: 0;
	right: 0;
	width: 90%;
	height: 100%;
	overflow-y: auto;
	padding: 1.75rem 1.75rem 1rem;
}
.del-sidebar {
	height: 100%;
	width: 100%;
}

/* ------------  header style start  ------------- */
.header {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	background: #fff;
	height: 9.31rem;
	padding-top: 1.67rem;
	border-bottom: .12rem solid #eb6132;
}
.small-icon {
	width: 1.75rem;
	height: 1.75rem;
}
.logo { height: 2.08rem; }
.header-top, .header-top ul,.btn-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header-top,.btn-box { justify-content: space-between ;}
.header-top { height: 3rem; }
.header-left li { margin-right: 1rem; }
.header-right li {
	margin-left: .8rem;
	margin-right: 1.5rem;
}
.cart-count {
	position: absolute;
	bottom: 1.3rem; 
	right: -1.4rem;
	height: 1.45rem;
	width: 1.45rem;
	background: #eb6123;
	border-radius: 1.45rem;
	line-height: 1.45rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
}
.header-search {
 	position: relative;
	text-align: center;
	padding: 0 4%;
}
.header-search input {
	height: 3.22rem;
	width: 100%;
	text-indent: .8rem;
	font-size: 1rem;
	background: #f3f3f3;
	border-radius: .5rem;
	border: .08rem solid #f3f3f3;
	resize:none; 
	-webkit-appearance:none;  /*清除浏览器默认的样式 */
	line-height: normal;   /* 光标问题  */
}
/* 搜索提示 placeholder */
.header-search input::-webkit-input-placeholder{ color:#aaa; } 
.header-search input:-moz-placeholder{ color:#aaa; } 
.header-search input::-moz-placeholder{ color:#aaa; } 
.header-search input:-ms-input-placeholder{ color:#aaa; }
.header-search a {
	position: absolute;
	padding: .55rem;
	right: 5.5%;
	bottom: 0;
}


/*  ------------  菜单样式    sub-title stytle ------------ */
.sub-title {
	position: relative;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	min-height: 4.45rem;
	padding-top: 1.5rem;
}
.sub-title>div { height: 2.95rem; }
.sub-title a {
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 1.06rem;	
	white-space: nowrap;
}
.icon-gengduo,.icon-fanhui,.icon-xiangxia {
	font-size: 1.4rem;
	color: #c6c6c6;
}
.sub-title i {
	position: absolute;
	right:0; top: 1.5rem;
	padding-right: .5rem;
}
.sub-menu .sub-title i { padding-right:1rem; }
.menu .title { font-size: 1.33rem; }
.menu .sub-title { border-bottom: .08rem solid #e0e0e0;}
.menu>li:last-child { border: none; }
.sub-menu {
	display: none;
	border-top: .08rem solid #e0e0e0;
}
.sub-menu .sub-title {
	border: none;
	background: #f3f3f3;
	margin-bottom: .35rem;
}
.sub-menu li:last-child { margin: 0; }
.tips-red {
	display: inline-block;
	height: .94rem;
	width: .25rem;
	margin-right: .9rem;
	background: #eb6132;
}
.tips-circle {
	position: relative;
	top: .15rem;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	border-radius: 1rem;
	margin: 0 .65rem;
	background: #cbcbcb;
	-webkit-transform: scale(.5,.5);	/* Safari 和 Chrome */
	-ms-transform: scale(.5,.5);	/* IE 9 */
	-o-transform: scale(.5,.5);	/* Opera */
	-moz-transform: scale(.5,.5);
	transform: scale(.5,.5);
}

/* ------------ menu.html style start ------------- */
.menu-con {
	margin-bottom: .56rem;
	padding-top: 1rem;
	padding-bottom: .5rem;
	background: #fff;
}
.menu-con .title {
	padding-top: .5rem;
	margin-bottom: .4rem;
}

/*  ------------ breadcrumb 面包屑  ------------ */
.breadcrumb {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	height: 4rem;
	width: 95%;
	line-height: 2rem;
	padding: 1rem 0;
	font-size: 1rem; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.breadcrumb a {
	color: #666;
}
.breadcrumb span {
	color: #666;
	padding: 0 0.35rem;
}
.breadcrumb a.current {
	color: #bababa;
}

/* ------------ footer stytle start ------------ */
/* 回到顶部 */
.to-top {
	background: #000;
	height: 4.39rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
}
.to-top-icon {
	height: 1rem;
	width: 1rem;
	margin-top: .65rem;
}
/* 价格优惠 */
.warranty{
	height: 12.08rem;
	margin-top: .56rem;
	padding-top: .83rem;
}
.warranty ul{
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
}
.warranty li {
	width: 48.5%;
	height: 4.89rem;
	border: .08rem solid #e0e0e0;
	border-radius: .5rem;
	font-size: 1.22rem;
	text-indent: 4%;
	line-height: 4.89rem;
}
.support {
	padding-top: .7rem;
}
.footer-icon {
	position: relative;
	top: 1rem;
	height: 2.64rem;
	height: 2.64rem;
	margin-right: 1rem;
}
/* 关于我们 */
.footer-bar {
	height: 24.54rem;
	background: #4a4d52;
}
.footer-bar ul {
	overflow: hidden;
	float: left;
	padding-top: .5rem;
}
.footer-bar ul.percent_55 {
	width:52%;
}
.footer-bar ul li {
	height: 3.35rem;
	line-height: 3.35rem;
}
.footer-bar ul a {
	font-size: 1rem;
	color: #fff;
}
/* 地址信息 */
.footer-message {
	height: 22.5rem;
	background: #202122;
	color: #fff;
}
.footer-message-top {
	padding: 2.5rem 0 2rem;
}
.brochure-img {
	float: left;
	height: 10.83rem;
	line-height: 10.83rem;
	width: 28%;
	margin-right: 1.45rem;
}
.brochure-img img {
	height:100%;
}
.footer-message-con {
	margin-top: -0.3rem;
}
.footer-message-con li{
	height: 2.9rem;
	line-height: 2.9rem;
	font-size: 1rem;
	white-space: nowrap;
}
.footer-message-con li .img-box {
	position: relative;
	top: .4rem;
	margin-right: .3rem;
}
.footer-bottom ,.footer-bottom .img-box {
	text-align: center;
}
.footer-bottom p {
	padding-top: .6rem;
	font-size: .83rem;
}

/* map style */
.map-con {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background: #fff;
	margin-bottom: .56rem;
}
.map-con ul {
	width: 46%;
}
.map-con .sub-title {
	border-bottom: .08rem solid #e0e0e0;
}
.map-con li:last-child {
	border: none;
}

/* error style */
.error-con {
	margin: .56rem 0;
	padding-bottom: 2rem;
	text-align: center;
}
.error-con .img-box {
	width: 60%;
	padding-top: 2rem;
}
.error-con h1 {
	font-size: 2.2rem;
	font-weight: normal;
	margin: 1.5rem 0 1rem;
}
.error-con p {
	padding: 0 20%;
	font-size: 1.11rem;
	line-height: 1.6rem;
	margin-bottom: 1.6rem;
}


/* swipLeft */
.swiper-left {
	margin-top: .56rem;
	width: 100%;
	background: #fff;
	overflow:hidden;
}
.swiper-left section {
	position: relative;
	width: 140%;
	overflow: hidden;
	display: flex;
}
.swiper-left table {
	width:66%;
	margin:0 3%;
	background: #fff;
}
.hide-con {
	width: 28%;
	display: flex;
	overflow: hidden;
	background: #f3f3f3;
}
.hide-con div {	
	display: flex;
	flex: 1;
	align-items:center;
	justify-content:center;
	text-align: center;
	font-size: 1.11rem;
	width: 0;
	overflow: hidden;
}
.swiper-left .istop {
	background: #f3f3f3;
}
.swiper-left .cancel {
	background: #eb6132;
	color: #fff;
}
.swiper-left table td {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 3.75rem;
	padding: .6rem 0;
	font-size: 1.11rem;
	border-bottom: .08rem solid #f3f3f3;
}
.swiper-left table span {
	font-size: .9rem;
	color:#555;
}
.swiper-left .product-red-name {
	display: inline-block;
	width: 100%;
	padding: .5rem 0;
	font-weight: bold;
	font-size: 1.33rem;
	color: #eb6132!important;
}
.swiper-left .description {
	margin: .8rem 0 1rem; 
	max-height: 2.8rem;
        overflow : hidden; 
	display: -webkit-box; 
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2;  
}



/* .ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}
.swiper-left {
	padding-left: 4%;
	margin-bottom: .56rem;
	background: #fff;
	position: relative;
}
.swiper-left .table-card {
	position: relative;
	touch-action: none;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.swiper-left .table-card table {
	width: 94%;
}
.swiper-left table tr:last-child td{
	border: none;
}
.hide-con {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	right: 0;
	top:0;
	height: 100%;
	overflow: hidden;
	background: #f3f3f3;
}
.hide-con div {	
	display: inline-block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1;
	align-items:center;
	justify-content:center;
	text-align: center;
	font-size: 1.11rem;
	width: 0;
	overflow: hidden;
	height: 100%;
}
.istop {
	background: #f3f3f3;
}
.cancel {
	background: #eb6132;
	color: #fff;
}
.product-red-name {
	display: inline-block;
	width: 100%;
	padding: .5rem 0;
	font-weight: bold;
	font-size: 1.33rem;
	color: #eb6132!important;
}
.description {
	margin: .8rem 0 1rem; 
	max-height: 2.8rem;
    overflow : hidden; 
	display: -webkit-box; 
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2;  
}
 */
