body,dd,dl,h1,h2,h3,h4,h5,hr,html,input,li,ol,p,ul{margin:0;padding:0;}
body{min-width:1200px;height:100%;width:100%;font-family:Arial;font-size:14px;color:#222}
img{border:none}
i{font-style:normal}
.overflow-hidden{overflow:hidden}
.pageShow{text-align:right;line-height:20px;margin-top:20px}
.pageShow a{color:#343434;box-sizing:border-box;display:inline-block;text-align:center;height:20px;width:20px;border-radius:20px;margin-top:20px}
.pageShow a{display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;margin:0 2px}
.pageShow .active,.pageShow a.num:hover{color:#fff;background:#1772e6}
.bide-icon-collection_fill{color:#ffb800}
.underline{height:1px;background:#e5e5e5;width:100%}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
button{cursor:pointer}
select{outline:0}
input[type=button]{cursor:pointer}
a{cursor:pointer}
li{list-style:none;cursor:pointer}
ul.dian li{list-style:disc}
.textL{text-align:left!important}
.textR{text-align:right!important}
.textC{text-align:center!important}
.textC td{text-align:center!important}
.floatL{float:left!important}
.floatR{float:right!important}
.displayNone{display:none!important}
.borderNone{border:none!important}
.borderRNone{border-right:none!important}
.borderLNone{border-left:none!important}
.borderBNone{border-bottom:none!important}
.margin0{margin:0!important}
.mr0{margin-right:0!important}
.bold{font-weight:700}
.minWidth1300{min-width:1200px}
.vbhide{visibility:hidden}
.f12,.f12 a,.f12 p{font-size:12px!important}
.f9{display:inline-block!important;font-size:12px!important;-webkit-transform:scale(.75)!important;transform:scale(.75)!important}
.f14{font-size:14px!important}
.fontb{font-weight:700}
.width1300{width:1200px;margin:0 auto}
.height100{height:100%}
.dv_header{width:100%}
.inlineBlock{display:inline-block!important;vertical-align:middle!important;zoom:1!important}
.inlineBlockT{display:inline-block!important;vertical-align:top!important}
img{max-width:100%;max-height:100%;border:none!important}
.overflowHidder{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
a{text-decoration:none;color:#222}
li,ol,ul{list-style:none}
button{cursor:pointer}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input::-ms-clear,input::-ms-reveal{display:none}
input,option,select,textarea{outline:0}
textarea{border:none;font-family:Arial;font-size:14px}
input{border:none}
option::-ms-expand,select::-ms-expand{display:none}
.layout{width:1200px;margin:0 auto}
.clear{clear:both}
.hidden{display:none}
.pointer{cursor:pointer}
.font16{font-size:16px!important}
.float-left{float:left!important}
.float-right{float:right!important}
.position-r{position:relative}
.position-a{position:absolute}
.height20{height:20px}
.height40{height:40px}
.height60{height:60px!important}
.margin0{margin:0!important}
.margin-top10{margin-top:10px}
.padding-top20{padding-top:20px}
.padding0{padding:0!important}
.inline-block{display:inline-block!important}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn{display:inline-block;width:80px;height:34px;line-height:34px;text-align:center;border:1px solid #222;border-radius:2px;background:#fff;color:#222;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-white{border-color:#fff}
.green-btn{width:120px;border-color:#0fcea1;background:#0fcea1;color:#fff}
.green-white-btn{border-color:#0fcea1;color:#0fcea1}
.gray-btn{border-color:#999}
.circle-btn{width:115px;border-radius:32px;border-color:#999}
.circle-btn:hover,.gray-btn:hover{border-color:#0fcea1;color:#0fcea1}
.green-white-btn:hover{background:#0fcea1;border-color:#0fcea1;color:#fff}
.green-btn:hover{background:#21bf9a;border-color:#21bf9a}
.btn-white:hover{color:#0fcea1}
.line-btn:hover{border-color:#0fcea1;border-color:#0fcea1;color:#0fcea1}
.btn-red-line{border-color:#ff5226;color:#ff5226}
.btn-red-full{border-color:#ff5226;background:#ff5226;color:#fff}
.green-black-btn{background:#0fcea1;border-color:#0fcea1;color:#222;font-weight:700;width:300px;height:40px;font-size:16px;line-height:40px;border-radius:40px}
.line-black-btn{background:#fff;color:#222;font-weight:700;width:300px;height:40px;font-size:16px;line-height:40px;border-radius:40px}
.yellow-btn{color:#fff;background:#c3d72c;width:140px;height:36px;line-height:36px;border:none;font-weight:700;bottom:15px;left:350px}
.blue-btn{color:#fff;background:#1f8ff8;width:120px;height:40px;line-height:40px;border:none;font-size:16px;font-weight:700;right:180px;top:50px}
.circle-btn:hover,.gray-btn:hover{border-color:#0fcea1;color:#0fcea1}
.tips{display:inline-block;padding:2px 5px;margin-right:6px;border-radius:4px;font-size:12px;border:1px solid #999;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tips-red{border-color:#ff5226;color:#ff5226}
.tips-green{border-color:#0fcea1;color:#0fcea1}
.tips-blue{border-color:#142977;color:#142977;cursor:pointer}
.tips-blue:hover{border-color:#142977;background:#142977;color:#fff}
.tips-blue-line{border-color:#142977;color:#142977;cursor:pointer}
.tips-default{border:none;background:#ffe4dd;color:#ff5226}
.tips-content{display:none;width:160px;padding:10px;position:absolute;top:46px;left:-15px;color:#555;border-radius:4px;border:1px solid #aaa;background:#fff;z-index:20;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tips-content .top-img{position:absolute;top:-16px;left:69px}
.tips-content li{height:26px;margin-top:10px;cursor:pointer}
.tips-content li i{float:right;color:#fff}
.tips-content li span{display:inline-block;padding-left:2px}
.tips-content .tips-active span{border-bottom:1.5px solid #b6b6b6}
.tips-content .tips-active i{color:#555}
.filter-con .tips-txt{height:30px;width:auto!important;min-width:80px;padding-right:35px;line-height:30px;text-align:left;padding-left:6px;border-color:#999;background:#fff url(/static/img/down.png) no-repeat right center}
.width130{width:130px!important}
.width90{width:90px!important}
.width160{width:165px!important}
.nucleus-ul{width:230px;left:-35px}
.nucleus-ul .top-img{left:100px}
.nucleus-ul li{padding-top:5px}
.nucleus-ul img{float:left;position:relative;top:-10px}
.size-ul{left:0}
.size-ul .top-img{left:34px}
.nucleus-ul .tips-active span,.size-ul .tips-active span{border:none}
.hover{position:absolute;top:0;background:rgba(25,25,25,.8);text-align:center;color:#fff;z-index:11}
.hover .btn{width:130px;height:38px;line-height:38px;border-radius:4px;font-weight:700}
.title{height:60px;width:100%;margin:30px 0 0;line-height:60px;text-align:center;font-size:30px;font-weight:700}
.title-right{font-weight:200;position:relative;top:3px;padding-left:10px}
.sing-in{position:relative;top:-10px;color:#fff}
.xin{padding:0 10px}
.count{display:inline-block;position:absolute;height:22px;width:22px;border-radius:20px;text-align:center;line-height:22px;color:#fff;border:1px solid #fff;background:#0eaf89;right:0;bottom:6px;z-index:9}
.keyword_text{display:none}
.search-content{height:40px;border-radius:4px;background:#fff}
.search-img{cursor:pointer;padding:8px 6px 0 12px}
.search-btn{padding:3px}
.search-btn .btn{border-radius:4px}
.search-ipt{height:32px;width:813px;padding-left:20px;position:relative;top:-9px;border:none}
.keyword_text::-webkit-input-placeholder,.search-content input::-webkit-input-placeholder{color:#79aa9e}
.keyword_text:-moz-placeholder,.search-content input:-moz-placeholder{color:#79aa9e}
.keyword_text::-moz-placeholder,.search-content input::-moz-placeholder{color:#79aa9e}
.keyword_text:-ms-input-placeholder,.search-content input:-ms-input-placeholder{color:#79aa9e}
.col1{-moz-column-count:1;-webkit-column-count:1;column-count:1}
.col2{-moz-column-count:2;-webkit-column-count:2;column-count:2}
.col3{-moz-column-count:3;-webkit-column-count:3;column-count:3}
.col4{-moz-column-count:4;-webkit-column-count:4;column-count:4}
.col5{-moz-column-count:5;-webkit-column-count:5;column-count:5}
.banner-box{margin:10px 0}
.more-inf a{display:inline-block;color:#eee;font-size:12px;margin-left:8px;padding-top:10px}
.more-inf i{font-size:14px;color:#eee}
.more-inf a:hover{border-bottom:1px solid #eee}
.sales-hover h3{font-size:14px;display:inline-block;height:35px;overflow:hidden;padding:5px 5px 0}
.sales-hover p span{padding:0 10px}
.sales-hover-list{height:193px;border-bottom:1px dashed #eee;overflow-x:hidden;margin:6px 6px 0}
.sales-hover-list ol>li{display:inline-block;width:30%;height:30px;text-align:right;float:left;padding-bottom:2px}
.sales-hover-list ol>li:nth-child(1){width:10%}
.sales-hover-list select{min-width:39px}
.prlist_error{line-height:20px;height:20px;color:red;text-align:center}
.select-ipt{width:44px;height:22px;border:none;background:#fff;color:#fff;float:right;margin-top:-5px;position:relative}
.select-ipt input{border:none}
.select-opt{display:none;width:42px;background:#fff;color:#222;text-align:left;position:absolute;left:0;top:23px;border:1px solid #e5e5e5;z-index:4}
.select-opt li{padding-left:4px;width:38px;height:24px;line-height:24px}
.input{width:40px;height:20px;padding-left:4px;cursor:pointer;background:#fff url(/static/img/select-ico.png) no-repeat right center}
.active{background:#0fcea1;color:#fff}
.dashed{border-bottom:1px dashed #d9d9d8;padding:4px 0 8px}
.sales-dl dt{height:280px}
.sales-dl dt:hover .sales-hover{display:block}
.a_img_box{height:228px;background:#fff;display:block;text-align:center}
.a_img_box img{display:inline-block;vertical-align:middle}
.xin-click{cursor:pointer;margin-left:14px}
.xin-add{z-index:10}
.xin-tips{display:none;background:#0fcea1;width:200px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:16px;right:-76px;top:-58px;border-radius:4px;z-index:7;-moz-box-shadow:0 0 12px rgba(25,25,25,.8);-webkit-box-shadow:0 0 12px rgba(25,25,25,.8);box-shadow:0 0 12px rgba(25,25,25,.8)}
.xin-b-shadow{display:none;top:-18px;right:12px;z-index:8}
.xin-click:not(.isFavorites):hover .xin-b-shadow,.xin-click:not(.isFavorites):hover .xin-tips{display:block}
.footer{height:200px;background:#f6f6f6;padding-top:60px;margin-top:50px}
.footer-con ul.float-left{width:30%}
.margin-right60{margin-right:60px}
.footer-con ul.float-right{width:250px}
.footer-con ul li{height:36px}
.footer-con li a{color:#666;display:inline-block;padding:3px 0 2px}
.footer-con li>a:hover{border-bottom:1px solid #aaa}
.jsDraw-con{height:610px;width:1200px;margin:0 auto}
.underline-eee{height:1px;background:#eee;margin-bottom:20px}
.single-menu-con{min-height:500px;margin-top:30px}
.single-menu-con li{width:298px;height:45px;background:#f6f6f6;float:left;margin-bottom:20px;margin-right:35px;padding:14px 6px 12px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.single-menu-con li:nth-child(4n){margin-right:0}
.single-menu-con li a{display:inline-block;border-left:2px solid #0fcea1;padding-left:10px;font-size:16px;height:18px;width:93%;color:#555;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.single-menu-con li i{color:#f6f6f6;font-weight:600;font-size:18px}
.single-menu-con li:hover{-moz-box-shadow:0 0 8px rgba(36,50,56,.3);-webkit-box-shadow:0 0 8px rgba(36,50,56,.3);box-shadow:0 0 8px rgba(36,50,56,.3);background:#fff}
.single-menu-con li:hover a,.single-menu-con li:hover i{color:#0fcea1}
.single-submenu-con li a{border:none}
.single-submenu-con li:hover{background:#0fcea1}
.single-submenu-con li:hover a{color:#555}
.filter-con{width:1200px;height:50px;background:#eee;border-radius:4px;margin-bottom:15px}
.filter-con .filter-left div{display:inline-block;float:left;margin-right:10px;margin-top:10px}
.filter-left{padding-left:15px}
.filter-left input[type=checkbox]{position:absolute;width:20px;height:20px;visibility:hidden}
.filter-left input[type=checkbox]+label{display:inline-block;width:20px;height:20px;background:url(/static/img/right.png) no-repeat;background-position:-21px -3px;border:1px solid #999;border-radius:2px;position:relative;top:5px}
.filter-left input[type=checkbox]:checked+label{background-position:0 0}
.filter-right{padding-right:15px}
.filter-right a{color:#666;display:inline-block;padding-top:18px}
.filter-right a:hover{border-bottom:1px solid #8f8f8f}
.single-menu-detail-con dl{width:250px;height:360px;border:1px solid #ddd;border-radius:4px;padding:10px;float:left;margin-right:12px;margin-bottom:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.single-menu-detail-con dl:nth-child(5n){margin-right:0}
.single-menu-detail-con dt>img{width:280px}
.menu-detail-img{text-align:center}
.menu-detail-txt{border-top:1px solid #ddd}
.menu-detail-txt h3{font-weight:700;font-size:14px;margin:5px 0}
.menu-detail-txt h3 span{padding-right:20px}
.menu-detail-txt h2{font-size:18px;line-height:28px;height:28px;white-space:nowrap;overflow:hidden;width:146px;display:inline-block}
.red-btn{font-weight:200;font-size:14px;width:80px;height:28px;background:#f45b18;color:#222;line-height:28px;border:none;position:absolute;right:12px;bottom:7px}
.menu-detail-xin{height:25px;padding-top:5px}
.single-menu-detail-con dl:hover{-moz-box-shadow:0 0 10px rgba(36,50,56,.3);-webkit-box-shadow:0 0 10px rgba(36,50,56,.3);box-shadow:0 0 10px rgba(36,50,56,.3)}
.single-menu-detail-con dl:hover .red-btn{display:block}
.single-menu-detail-con .sales-hover{display:none;width:250px;height:360px;left:0;padding-top:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.single-menu-detail-con .dashed{font-weight:700}
.single-menu-detail-con .more-inf{margin-top:20px}
.single-menu-detail-con .xin-tips{top:-49px}
.single-menu-detail-con .xin-click{float:right}
.single-menu-detail-con .xin-b-shadow{right:2px;top:-9px}
.submenu-detail-img img{margin:15px 0 30px}
.feedback,.pages{height:100px;text-align:center}
.pages{line-height:100px}
.pages span{display:inline-block;position:relative;top:-12px;font-size:16px;margin:0 10px}
.pages img{width:30px;}
.feedback{height:100px;padding:15px 0 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.feedback h4{font-size:16px}
.feedback .btn{border-color:#ccc;color:#666;margin:16px 3px 20px}
.feedback .no-btn,.feedback .yes-btn{width:45px}
.feedback span{color:#888;font-size:12px}
.yellow-btn{color:#fff;background:#c3d72c;width:140px;height:36px;line-height:36px;border:none;font-weight:700;bottom:15px;left:350px}
.body_mask .poster{display:none}
.body_mask .header{left:0;position:fixed;z-index:101;top:0;height:110px;width:100%}
.body_mask{padding-top:110px!important}
.dv_keyword_mask{display:block!important;top:-100%!important;opacity:0;transition:opacity .3s}
.body_mask .dv_keyword_mask{opacity:1;top:0!important}
.body_mask .dv_keyword_list{display:block}
.body_mask2 .dv_keyword_list{display:none}
.mask{display:none;position:fixed;top:0;left:0;z-index:100;height:100%;width:100%;background:rgba(25,25,25,.8)}
.popups{position:absolute;top:0;right:0;left:0;bottom:0;margin:auto;background:#fff}
.del-mask{position:absolute;right:0;top:-40px;cursor:pointer}
.color-green{color:#0fcea1}
.btn_structure{float:right;margin:3px}
.header-right .search-content{position:relative}
.dv_keyword_list{resize:none;display:none;position:absolute;width:885px;z-index:102;min-height:7px;padding-bottom:30px;background:#fff;top:37px;left:0}
.dv_keyword_list p{width:100%;position:absolute;bottom:0;height:30px;line-height:30px;text-align:right;}
#searchResult_List dd a i{color:#f39800}
.dv_keyword_list p a{font-size:12px;margin-right:20px}
.dv_keyword_list p a.on{color:#0fcea1}
.dv_keyword_list.idx2 textarea{display:block}
.dv_keyword_list.idx2 dl{display:none}
.dv_keyword_list.idx2{height:171px}
.dv_keyword_list .keyword_text{position:absolute;top:-34px;line-height:25px;font-size:14px;width:810px;height:195px;left:3px;border:none;padding-left:20px}
.dv_keyword_list .i_bgfff{display:none;position:absolute;top:-34px;left:816px;background:#fff;width:20px;height:200px}
.dv_keyword_list.idx2 .i_bgfff{display:block}
.head_top{height:60px!important}
.head_top .header-top{display:none!important}
.green-black-btn{background:#0fcea1;border-color:#0fcea1;color:#222;font-weight:700;width:300px;height:40px;font-size:16px;line-height:40px;border-radius:40px}
.btn-block{display:block;margin:0 auto}
.btn-red-line{border-color:#ff5226;color:#ff5226}
.btn-red-full{border-color:#ff5226;background:#ff5226;color:#fff}
.del-mask{position:absolute;right:0;top:-40px;cursor:pointer}
.layui-layer-title{background-color:#c8f6eb!important}
.layui-layer-ico{width:26px!important;height:26px!important;background:0 0!important}
.layui-layer-setwin{top:8px!important}
.layui-layer-close{background:url(/static/img/delete.png) no-repeat!important}
.layui-layer-close2:before{content:"";display:none}
.layui-layer-close2{width:30px!important;height:30px!important;background:url(/static/layer/theme/default/icon.png) no-repeat!important;background-position:-149px -31px!important}
.errorBox{color:red;padding:8px 0}
.padding-top15{padding-top:15px}
.product-name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:26px;line-height:24px}
.header_cart,.header_name{visibility:hidden}
.purity-detail{display:inline-block;width:98px;height:98px;border:1px solid #063c85;border-top-color:#063c85;border-right-color:#063c85;border-bottom-color:#063c85;border-left-color:#063c85;text-align:center;border-radius:98px;bottom:15px;right:10px;background:#fff;overflow:hidden}
.purity-detail .purity{width:100%;display:inline-block;background:#063c85;padding:5px 0 3px;font-size:14px;color:#fff}
.purity-detail .percent{font-size:30px;color:#063c85;font-weight:900;display:inline-block;width:100%;height:40px;margin-top:-4px}
.purity-detail .weight{font-size:24px;color:#063c85;font-weight:900;position:relative;top:-10px}
.purity-red .percent,.purity-red .weight{color:#ed3b54}
.purity-red .purity{background:#ed3b54}
.purity-red{border-color:#ed3b54}
.purity-yellow .purity{background:#f5ad01}
.purity-yellow .percent,.purity-yellow .weight{color:#f5ad01}
.purity-purple .purity{background:#542da3}
.purity-purple .percent,.purity-purple .weight{color:#542da3}
.purity-purple{border-color:#542da3}
.purity-yellow{border-color:#f5ad01}
.width860{width:860px;margin:0 auto}
.bgfff{background:#fff}
.font20{font-size:20px!important}
.width100{width:100px!important}
.padding-right15{padding-right:15px}
.padding-top5{padding-top:5px}
.margin-top15{margin-top:15px}
.p_nodata{height:80px;line-height:80px;text-align:center}
.dv_inquiry_box{padding:0 20px}
.color-green a.current,.color-green a:hover{color:#888;border-bottom:1px solid #a2a2a2}
.sales-text{overflow:hidden;white-space:nowrap}
.lab_New{border-color:#0fcea1;color:#0fcea1}
.lab_Deals,.lab_Sales{border-color:#ff5226;color:#ff5226}
.li_header_fs{display:none}
.footer-left .last-ul li{height:26px}
.dv_list{min-height:390px}
.promotion-price{min-width:105px;height:60px;top:0;left:0;overflow:hidden}
.promotion-price-con{min-width:125px;height:60px;color:#fff;text-align:left;background:#f45b18;padding-top:20px;border-bottom-right-radius:95px;position:relative;top:-20px;left:-28px}
.promotion-price-con span{display:block;text-align:left;text-indent:36px;color:#fff}
.promotion-price-con .new-price{font-weight:700;margin-top:6px;font-size:20px}
.new-price i{font-size:20px;padding-right:16px;font-style:initial}
.old-price{text-decoration:line-through}
.nav-left li a,.sing-in{color:#bbb}
.keyword_text::-webkit-input-placeholder,.search-content input::-webkit-input-placeholder{color:#aaa}
.keyword_text:-moz-placeholder,.search-content input:-moz-placeholder{color:#aaa}
.keyword_text::-moz-placeholder,.search-content input::-moz-placeholder{color:#aaa}
.keyword_text:-ms-input-placeholder,.search-content input:-ms-input-placeholder{color:#aaa}
.dv_keyword_list p a.on{color:#b57608}
.count{background:#222}
.green-btn{border:none;background-color:#ffe100;color:#222}
.green-btn:hover{background-color:#f0b200!important}
.banner-box .green-white-btn,.banner-box .login-con{border:none!important;background:#fef3bd!important}
.banner-box .green-white-btn{border:1px solid #222!important;color:#222!important}
.banner-box .login-con .btn{background:#fef3bd}
.banner-box .gray-btn{border-color:#222!important}
.banner-box .login{background:#fff}
.color-green a.current,.color-green a:hover{color:#888!important}
.bulk-products-con dl:hover .btn,.red-btn{background:#ffe100!important;border:1px}
.xin-tips{background:#ffe100!important;color:#222!important}
.green-black-btn{background:#ffe100!important;color:#222!important;border:none}
.layui-layer-title{background-color:#ffe100!important}
.sample-title .search-bg{background-color:#ffe100!important}
.color-green{color:#b57608!important}
.dv_jsDrawEdit{background-color:#ffd76c!important}
.dv_edit_r p{color:#222!important}
.dv_edit_r .h5{color:#222!important;border-bottom:1.5px solid #222}
.dv_jsDrawEdit .btn input{color:#222!important;background-color:#58d7d9!important}
#similityValue{background:#fff!important;color:#222!important}
.dv_error .a_back{background:#ffe100!important;color:#222!important;box-shadow:1px 2px 7px #ffe100!important}
.dv_error .a_back:hover{background:#f0b200!important}
.bg-yellow{background-color:#fef6bd!important;color:#222!important}
.bg-yellow li a{color:#222!important}
.active-inf{border-bottom:1px solid #222!important}
.more-answer-popups-title{background-color:#ffd76c!important;color:#222!important}
.more-answer-con{background-color:#faf4e1!important}
.customer-question-con .send-btn{background:#fdd000!important}
.more-answer-popups .del-mask i{color:#222!important}
.customer .hui-hua-kuang{background:#c8f6e8!important}
.green-white-btn{border:1px solid #ffe100!important;color:#222!important;background:#fff!important}
.gray-btn:hover,.green-white-btn:hover{color:#222!important;border:1px solid #222!important;background:#f0b200!important}
.img-thumbnail ul li.on{border:1px solid #aaa!important}
.products-detail-popups-title{background:#ffd76c!important}
.products-detail-popups-table-title{background:#f1e3be!important}
.line-bg .background-line{background:#eee!important}
.switch-checkbox:checked~.switch-label{background:#ffe100!important}
.layui-layer-btn .layui-layer-btn0{background-color:#ffe100!important;color:#222!important;border:none!important}
.layui-layer-btn .layui-layer-btn0:hover{background-color:#f0b200!important}
.a_hd_tel{margin-right:33px}
.a_menu_more,.a_submenu_more{display:inline-block;width:60px;text-align:center;height:25px!important;margin-left:10px;padding:0!important;line-height:25px!important;border:1px solid #d6d6d6}
.a_submenu_more{margin-left:0}
.search-content .green-btn:hover{background:0 0!important;border:none!important}
.sales-dl .sales-hover{display:none}
.sales-dl dt:hover .sales-hover{display:none}
.fixed-sidebar{display:none;position:fixed;right:0;bottom:202px;padding-top:3px;background:#0eaf89;z-index:99}
.fixed-sidebar li{position:relative;overflow:hidden;}
.fixed-sidebar li span{display:inline-block}
.fixed-sidebar li .margin2{margin-top:2px}
.fixed-sidebar li .fixed-txt{float:left;display:none}
.fixed-sidebar li .left{float:right}
.left .cart{margin-right:5px;margin-top:-2px}
.fixed-sidebar .count{right:-5px;bottom:8px;font-size:14px;font-weight:200}
.fixed-sidebar li .top{position:relative;left:-5px;font-weight:200}
.top i{font-size:36px;color:#fff}
.fixed-sidebar .header_cart{visibility:visible}
.fixed-sidebar,.fixed-sidebar li,.fixed-sidebar li a{background:#888!important}
.fixed-sidebar li:hover a{background:#000!important}
.fixed-sidebar li .top{left:-5px}
.top i{font-size:32px}
.fixed-sidebar .count{bottom:26px;right:0}
.fixed-sidebar li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:36px;width:36px;padding:0}
.fixed-sidebar li a{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;width:36px;height:36px;position:absolute;right:0;font-weight:700;font-size:14px;line-height:30px;color:#fff}
.fixed-sidebar li .top{left:0;padding-left:3px}
.fixed-sidebar li a img{padding-bottom:5px;}
.fixed-sidebar li .left{ width:24px;padding-right:6px;}
.fixed-sidebar li:hover a {z-index: 9;}
.fixed-sidebar li .a_my_cart img{padding-bottom:0;padding-top:4px;}
.fixed-sidebar .underline{position:absolute;bottom:2px;right:3px;height:1px;width:30px;background:#acacac}
.fixed-sidebar .count{width:20px;height:20px;line-height:20px;bottom:8px;right:1px;font-size:12px}
.fixed-txt{text-indent:15px;line-height:36px}
.fixed-sidebar li:hover a{background:#222!important}
.fixed-sidebar .count{bottom:16px}
.footer{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:30px;background:#eee;border-top:1px solid #ddd;margin-top:120px}
.footer-con ul li{height:28px}
.header-bottom .header-left{display:none}
.red-btn{width:60px}
.bulk-products-con dl:hover .btn,.red-btn{background:#f39800!important}
.lab_New{border-color:#f39800;color:#f39800}
.green-black-btn{background:#f38900!important}
.color-green{color:#f38900!important}
.menu-detail-txt h3 span{padding-right:13px}
.feedback{display:none}
.newhead{height:120px}
.head{width:100%;height:80px;background:#fff}
.fixed-head{position:fixed;top:0;z-index:100;border-bottom:1px solid #ddd;-moz-box-shadow:5px 1px 10px #ddd;-webkit-box-shadow:5px 1px 10px #ddd;box-shadow:5px 1px 10px #ddd}
.new-head-top a:hover{color:#222}
.new-head-top{position:relative;height:35px}
.logo-a{position:relative;float:left;height:50px;width:290px}
.logo{position:absolute;top:20px;left:0}
.head-nav{float:left}
.head-contact{float:right;padding-top:5px;white-space:nowrap}
.head-nav li{float:left;margin-right:23px;margin-top:12px}
.head-nav li a:hover,.nav-left li.on a{border-bottom:1px solid #222}
.head-contact img{position:relative;top:4px;left:-2px}
.head-sign-box{position:relative;float:right;width:240px;padding-top:5px}
.head_login{position:relative;top:-6px;display:inline-block;width:115px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.people_img{position:relative;top:-2px}
.xin{padding-top:4px}
.head-cart{display:inline-block;position:absolute;width:44px;right:0;top:5px}
.cart-count{display:inline-block;position:absolute;visibility:hidden;height:22px;width:22px;border-radius:22px;text-align:center;line-height:22px;color:#fff;border:1px solid #fff;background:#000;left:18px;bottom:15px;z-index:4}
.cart-txt{position:relative;top:-12px;left:7px}
.new-head-middle{background:#fff;height:45px}
.head-search{position:relative;float:left}
.head-search-ipt{position:absolute;left:0;top:0;height:36px;width:490px;text-indent:15px;background:#fef2dd}
.head-search-img{position:absolute;left:490px;top:0;width:40px;height:36px;background:#f39800;cursor:pointer;background:#f39800 url(/static/img/search.png);background-repeat:no-repeat;background-position:center;z-index:105}
.structure-btn{position:absolute;left:535px;top:19px;width:106px;white-space:nowrap;color:#f39800;border-bottom:1px solid #f39800}
.structure-btn:hover{color:#f39800!important}
.body_mask .head{left:0;position:fixed;z-index:101;top:0;height:80px;width:100%;background:#fff}
.dv_keyword_list{resize:none;display:none;position:absolute;width:530px;z-index:102;min-height:0;padding-bottom:30px;background:#fef2dd;top:36px;left:0}
.dv_keyword_list.idx2 textarea{background:#fef2dd}
.dv_keyword_list .keyword_text{position:absolute;top:-34px;line-height:25px;font-size:14px;height:195px;width:514px;top:-36px;left:0;border:none;padding-top:5px;padding-left:15px}
.dv_keyword_list .i_bgfff{display:none;position:absolute;top:-36px;left:510px;background:#fef2dd;width:20px}
.body_mask .dv_keyword_mask{background:#000;opacity:.6}
footer{display:block}
.new-head-bottom{height:40px;background:#222}
.nav-menu{position:relative;width:1200px;height:40px;margin:0 auto}
.nav-dl{position:relative;float:left;z-index:99}
.PI-title img{padding-right:3px}
.nav-title{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:3px 0;height:34px;line-height:34px;width:100%;color:#ddd;font-weight:700;white-space:nowrap;text-align:center}
.nav-title span{position:relative;bottom:12px}
.nav-title img{position:relative;top:-1px}
.nav-dl:hover .nav-title{position:relative;top:-2px;height:40px;line-height:40px;color:#222;background:#fff}
.nav-dl:hover .hide-img{display:inline-block}
.nav-dl:hover .show-img{display:none}
.nav-dl:hover .subnav-dl,.nav-dl:hover .white_bg{display:block}
.hide-img{display:none}
.subnav-dl{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:none;position:absolute;z-index:100;left:0;top:40px;width:690px;max-height:650px;max-width:910px;padding:10px;background:#fff;border-top:none;-moz-box-shadow:0 5px 8px rgba(36,50,56,.4);-webkit-box-shadow:0 5px 8px rgba(36,50,56,.4);box-shadow:0 5px 8px rgba(36,50,56,.4);overflow-y:hidden}
.life-dl .subnav-dl,.material-dl .subnav-dl{right:0;left:auto}
.subnav-dl dd{width:222px;height:100%;float:left}
.subnav-dl dd a{display:block;margin:5px;line-height:18px;color:#999;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.subnav-dl dd a:hover{color:#f39800;text-decoration:underline}
.subnav-dl dd a.title-a{color:#555}
.subnav-dl dd a.title-a:hover{text-decoration:none}
.body_mask .newhead{height:40px}
.body_mask{padding-top:80px!important}
.nav-dl .line-span{position:absolute;left:0;top:9px;display:inline-block;width:1px;height:22px;background:#555}
.nav-dl .last-line-span{left:auto;right:-1px!important}
.pharmaceutical-dl{width:25%}
.inhibitors-dl{width:20%}
.material-dl{width:20%}
.life-dl{width:18%}
.nav-dl:hover .nav-title span{bottom:14px}
.filter-con{margin-bottom:10px;height:36px}
.filter-con .filter-left div{margin-top:6px}
.filter-left input[type=checkbox]+label{width:16px;height:16px}
.tips-kuang{position:relative;height:40px}
.filter-con .tips-txt{height:24px;line-height:24px;font-size:12px}
.filter-right a{padding-top:10px}
.tips-content{padding:5px 10px;top:40px}
.tips-content li{height:18px;margin-top:5px}
.nav-dl { min-width:14%;}
.pharmaceutical-dl { width: 23%; }
 .inhibitors-dl {width: 17%;}
 .material-dl { width: 17%; }
 .life-dl { width:15%; }
 .contact-dl:hover .nav-title span {  bottom:10px;  }
/*search */
.dv_keyword_list p{bottom:0;height:30px;border-top:1px solid #ddd;background: #ffffff;}
.dv_keyword_list p a.a_top{border:none}
.dt_keyword_tags a{float:left; height:16px;border-left:1px solid #aaaaaa;margin-top:7px;line-height:16px;padding-left:15px;}
.dv_keyword_list p a{color:#0272d0}
.dv_keyword_list p span{padding-left:12px;line-height:20px;color:#999}
.dv_keyword_list dd{background: #ffffff;height:30px;padding:0 15px;line-height:30px;margin:0!important}
.dv_keyword_list dd:hover{background:#eee}
.dv_keyword_list dd:hover .search_record{display:none}
.dv_keyword_list dd:hover .del_search_record{display:block}
.dv_keyword_list dd span{float:right;cursor:pointer;color:#999;font-size:12px}
.dv_keyword_list dd a{display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:12px}
.dv_keyword_list dd a:hover{color:#222}
.dd_search_history a{width:410px;}
#searchResult_List label{display: inline-block;cursor:pointer;float: right;width: 80px;height: 30px;}
.dd_search_history .sp_nav_delete{display: none;}
.dd_search_history:hover .sp_nav_record{display: none;}
.dd_search_history:hover .sp_nav_delete{display: inline-block;}
.del_search_record{display:none}
/* 面包屑 */
.nav-com-title{padding-top:10px;}
.nav-com-title a{display: inline-block;height:20px;line-height: 20px;color: #f39800;font-weight: bold;font-size: 12px;vertical-align: top;}
.nav-com-title a.home-logo{height: 20px;margin-top: -1px; padding-right: 18px;background: url('/static/img/menu-right.png') no-repeat right center}
.nav-com-title a.home-logo img{position: relative;top:-1px;}
.nav-com-title h3{padding: 10px 0 20px;font-size: 24px;}
.nav-com-title a.nav-img{ padding-right:16px;background: url('/static/img/menu-right.png') no-repeat right center;}
.nav-com-title a.current{text-decoration:underline;color:#999999;font-size:12px;fony-weight:normal;}
.dd_mdl i{font-size: 12px;padding-right: 2px;line-height: 30px;color: #f39800; display:inline-block; vertical-align: top;}
.li_header_bulk{display: none;}