*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz--text-size-adjust:none;text-size-adjust:none}
body,html{margin:0;padding:0;width:100%}
body{color:#222;font-size:14px;font-family:Arial}
dd,dl,dt,ul,ol,li,form,h1,h2,h3,h4,h5,h6,img,p,label{margin:0;padding:0}
a{color:#222;text-decoration:none;outline:none}
li,ul{margin:0;padding:0;list-style:none}
input,select,textarea{margin:0;padding:0;color:#222;font-size:14px;font-family:Arial}
input:focus,textarea:focus{outline:0}
input::-ms-clear,input::-ms-reveal{display:none}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input::-webkit-input-placeholder{color:#bbb}
input:-ms-input-placeholder{color:#bbb}
input:-moz-placeholder{color:#bbb}
input::-moz-placeholder{color:#bbb}
textarea::-webkit-input-placeholder{color:#bbb}
textarea:-ms-input-placeholder{color:#bbb}
textarea:-moz-placeholder{color:#bbb}
textarea::-moz-placeholder{color:#bbb}
img{max-width:100%;max-height:100%;border:none}
table{max-width:100%;border-collapse:collapse}
header,footer{display:block;}
body{position:relative;padding-bottom:400px;width:100%;min-width:320px;min-height:1000px;min-height:100vh}
#footer{position:absolute;bottom:0;left:0;width:100%;min-height:120px;background:#eee}
.layout,.width1200{margin:0 auto;max-width:1200px}
.clear:after,.clearfloat:after{clear:both;display:block;visibility:hidden;height:0;content:" "}
.clear,.clearfloat{zoom:1}
.textL{text-align:left!important}
.textR{text-align:right!important}
.textC{text-align:center!important}
.float-left,.floatL{float:left!important}
.float-right,.floatR{float:right!important}
.position-r{position:relative}
.position-a{position:absolute}
.hidden{display:none}
.poster{display:none!important}
.body_mask .dv_keyword_list,.body_mask .dv_keyword_mask{display:block}
.dv_keyword_mask,.mask{position:fixed;top:0;left:0;z-index:10;display:none;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=60)}
/*  Ambeed  btn  */
.btn{display:inline-block;height:30px;min-width:60px;border-radius:2px;text-align:center;line-height:30px}
.popups {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
/* ============================== Ambeed header-top start================================ */
.newhead{padding-top:80px}
.head{position:fixed;top:0;left:0;z-index:99;width:100%;min-height:80px;background:#fff}
.box_shadow{border-bottom:1px solid #ddd;-webkit-box-shadow:0 0 5px #aaa;-moz-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa;}
.new-head-top{min-height:35px}
.logo-a{float:left;padding-right:2%}
.logo-a img{position:relative;top:20px}
.head-nav{float:left;width:45%}
.head-nav li{float:left;margin-top:12px;margin-right:4%}
.head-nav li a:hover,.nav-left li.on a{border-bottom:1px solid #222}
.li_header_fs{display:none}
.head-contact{float:right;padding-top:5px;white-space:nowrap}
.head-contact img{position:relative;top:4px;left:-2px}
.a_hd_tel{padding-right:30px}
/*  Ambeed header middle  */
.head{border-bottom:1px solid #ddd}
.new-head-middle{background:#fff}
.head-search{position:relative;float:left;width:44%}
.head-search-ipt{width:100%;height:36px;border:none;background:#fef2dd;text-indent:15px}
.head-search-img{position:absolute;top:0;right:0;width:40px;height:36px;background:#f39800;background:#f39800 url(https://www.ambeed.com/static/img/search.png);background-position:center;background-repeat:no-repeat;cursor:pointer}
.structure-btn{position:absolute;top:19px;margin-left:10px;width:106px;border-bottom:1px solid #f39800;color:#f39800;white-space:nowrap}
.dv_keyword_list{position:absolute;top:36px;left:0;z-index:100;display:none;width:100%;min-height:0;background:#fef2dd;resize:none}
.dv_keyword_list .keyword_text{display:none}
.dv_keyword_list p{bottom:0;height:30px;border-top:1px solid #ddd;background:#fff}
.dv_keyword_list p a{float:left;margin-top:7px;margin-right:20px;padding-left:15px;height:16px;border-left:1px solid #aaa;color:#0272d0;font-size:12px;line-height:16px}
.dv_keyword_list p{bottom:0;height:30px;border-top:1px solid #ddd;background:#fff}
.dv_keyword_list p a.a_top{border:none}
.dt_keyword_tags a{float:left;margin-top:7px;padding-left:15px;height:16px;border-left:1px solid #aaa;line-height:16px}
.dv_keyword_list p a{color:#0272d0}
.dv_keyword_list p span{padding-left:12px;color:#999;line-height:20px}
.dv_keyword_list dd{margin:0!important;padding:0 15px;height:30px;background:#fff;line-height:30px}
.dv_keyword_list dd:hover{background:#eee}
.dv_keyword_list dd:hover .search_record{display:none}
.dv_keyword_list dd:hover .del_search_record{display:block}
.dv_keyword_list dd span{float:right;color:#999;font-size:12px;cursor:pointer}
.dv_keyword_list dd a{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px}
.dv_keyword_list dd a:hover{color:#222}
.dd_search_history a{width:410px}
#searchResult_List dd a i{color:#f39800}
#searchResult_List label{float:right;display:inline-block;width:80px;height:30px;cursor:pointer}
.dd_search_history .sp_nav_delete{display:none}
.dd_search_history:hover .sp_nav_record{display:none}
.dd_search_history:hover .sp_nav_delete{display:inline-block}
.del_search_record{display:none}
.head-sign-box{float:right}
.head-sign-box a,.head-sign-box span{display:inline-block}
.head_login{position:relative;top:-4px;overflow:hidden;width:110px;text-overflow:ellipsis;white-space:nowrap}
.xin{padding:4px 10px 0 0}
.head-cart{position:relative;top:5px;right:0;display:inline-block;width:44px}
.cart-count{position:absolute;bottom:15px;left:18px;z-index:4;display:inline-block;visibility:hidden;width:22px;height:22px;border:1px solid #fff;border-radius:22px;background:#000;color:#fff;text-align:center;line-height:22px}
/* Ambeed header bottom nav */
.new-head-bottom{min-height:40px;background:#222}
.nav-menu{position:relative;margin:0 auto;height:40px;max-width:1200px;z-index:15}
.nav-dl{position:relative;z-index:9;float:left;min-width:14%}
.nav-dl:hover .nav-title{position:relative;top:0;height:40px;background:#fff;color:#222;line-height:40px}
.nav-dl:hover .hide-img{display:inline-block}
.nav-dl:hover .show-img{display:none}
.nav-dl:hover .subnav-dl,.nav-dl:hover .white_bg{display:block}
.pharmaceutical-dl{width:23%}
.inhibitors-dl{width:17%}
.material-dl{width:17%}
.life-dl{width:15%}
.nav-dl .line-span{position:absolute;top:9px;left:0;display:inline-block;width:1px;height:22px;background:#555}
.nav-dl .last-line-span{right:-1px;left:auto}
.nav-title{display:block;width:100%;height:40px;padding:4px 0;color:#ddd;text-align:center;white-space:nowrap;font-weight:700;line-height:40px}
.nav-title span{position:relative;bottom:13px}
.nav-title img{position:relative;top:-1px}
.hide-img{display:none}
.subnav-dl{position:absolute;top:40px;left:0;z-index:100;display:none;overflow-y:hidden;padding:10px;min-width:690px;max-width:910px;border-top:none;background:#fff;-webkit-box-shadow:0 5px 8px rgba(36,50,56,.4);-moz-box-shadow:0 5px 8px rgba(36,50,56,.4);box-shadow:0 5px 8px rgba(36,50,56,.4)}
.life-dl .subnav-dl,.material-dl .subnav-dl{right:0;left:auto}
.chemistry-dl .subnav-dl,.pharmaceutical-dl .subnav-dl{min-width:910px;}
.subnav-dl dd{float:left;width:222px;height:100%}
.subnav-dl dd a.title-a{color:#555}
.subnav-dl dd a{display:block;overflow:hidden;margin:5px;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:18px}
.subnav-dl dd a:hover{color:#f39800;text-decoration:underline}
/*  Ambeed header ---- fixed-sidebar */
.fixed-sidebar{display:none;position:fixed;right:0;bottom:10%;z-index:9;width:36px;background:#888}
.fixed-sidebar li{position:relative;height:36px}
.fixed-sidebar li a{position:absolute;top:0;right:0;height:36px;min-width:36px;color:#fff;white-space:nowrap}
.fixed-sidebar .underline{position:absolute;right:3px;bottom:2px;width:30px;height:1px;background:#acacac}
.fixed-a:hover .fixed-txt,.fixed-email:hover .fixed-txt{right:36px;left:auto}
.fixed-a:hover .left,.fixed-email:hover .left{background:#333}
.fixed-sidebar .fixed-txt{position:absolute;left:36px;display:table-cell;padding:0 10px;height:36px;background:#333;font-weight:700;line-height:36px}
.fixed-sidebar .left{display:inline-block;width:36px;height:36px;background:#888;text-align:center;line-height:36px}
.fixed-sidebar a img{padding-top:2px;width:24px}
.fixed-sidebar li:first-child img{padding-top:5px}
.fixed-sidebar .count{position:absolute;top:1px;right:1px;display:inline-block;width:20px;height:20px;border-radius:20px;background:#333;color:#fff;text-align:center;font-size:12px;line-height:20px}
.top{width:36px;height:36px}
.top .icon-top{display:block;width:36px;height:36px;background:url(https://www.ambeed.com/static/img/com_top.png) no-repeat top center}
.top .icon-top:hover{background-color:#333}
/* ============================== Ambeed header end ================================ */

/* =======================  Ambeed nav-com-title start  ============================ */
.nav-com-title{padding-top:10px}
.nav-com-title a.home-logo{margin-top:-1px;padding-right:18px;height:20px;background:url(https://www.ambeed.com/static/img/menu-right.png) no-repeat right center}
.nav-com-title a{display:inline-block;height:20px;color:#f39800;vertical-align:top;font-weight:700;font-size:12px;line-height:20px}
.nav-com-title a.current{color:#999;text-decoration:underline;font-size:12px}
.nav-com-title h3{padding:10px 0 20px;font-size:24px}

/* =======================  Ambeed pages start  ============================ */
.pages{height:100px;text-align:center;line-height:100px}
.pages span{position:relative;top:-12px;display:inline-block;margin:0 10px;font-size:16px}
.pages img{width:30px}
.errorBox {padding:8px 0;color:red}
/* =======================  Ambeed tips start  ============================ */
.tips{display:inline-block;margin-right:6px;padding:2px 5px;border:1px solid #999;border-radius:4px;background:#fff;font-style:normal;font-size:12px}
.lab_New{border-color:#f39800;color:#f39800}
.lab_Deals,.lab_Sales{border-color:#ff5226;color:#ff5226}

/* ============================== Ambeed products card start================================ */
.sales-dl .sales-hover,.feedback{display:none}

.single-menu-detail-con dl{float:left;margin:0 .5% 1%;padding:6px;width:19%;border:1px solid #ddd;border-radius:4px}
.a_img_box,.sales-dl dt{display:block;background:#fff}
.a_img_box{text-align:center}
.menu-detail-txt{border-top:1px solid #ddd}
.menu-detail-xin{padding-top:5px;height:25px}
.menu-detail-xin .xin-click{float:right}
.xin-click{cursor:pointer}
.xin-tips{top:-42px;right:-68px;z-index:2;display:none;padding:8px 12px;border-radius:4px;background:#ffe100;-webkit-box-shadow:0 0 10px rgba(25,25,25,.6);-moz-box-shadow:0 0 10px rgba(25,25,25,.6);box-shadow:0 0 10px rgba(25,25,25,.6);color:#222;white-space:nowrap}
.xin-b-shadow{top:-10px;right:4px;z-index:3;display:none}
.xin-click:not(.isFavorites):hover .xin-b-shadow,.xin-click:not(.isFavorites):hover .xin-tips{display:block}
.sales-text{display:flex;overflow:hidden;padding:5px 0;width:100%;text-align:center;white-space:nowrap;font-size:14px;justify-content:space-between}
.sales-text span{padding-right:12px;font-size:12px}
.product-name{overflow:hidden;margin-bottom:5px;height:24px;text-overflow:ellipsis;white-space:nowrap;line-height:24px}
.menu-detail-txt h2{float:left;margin-top:4px;height:28px;font-size:18px;line-height:28px}
.sales-dl .btn{position:absolute;right:6px;bottom:6px;width:60px;background:#f39800}

/* ============================== Ambeed footer start================================ */
.footer{padding:30px 0 10px;border-top:1px solid #ddd;background:#eee}
.footer-con{overflow:hidden}
.footer-con ul.float-left{width:30%}
.footer-con ul li{height:28px}
.footer-con li>a:hover{border-bottom:1px solid #aaa}
.footer-con li a{display:inline-block;padding:3px 0 2px;color:#666;white-space:nowrap}
.foot_partner{margin:0 auto;margin-top:10px;padding-top:10px;max-width:1200px;border-top:2px solid #ccc}
.foot_copy{padding:10px 10px 0;color:#666}
/* ============================== Ambeed footer end ================================ */

/* ============================== Ambeed mobile @media ================================ */
@media only screen and (min-width:1025px){
     body{overflow-x: hidden}
    .new-head-middle{min-height:45px}
    /*  Ambeed products card */
    .single-menu-detail-con dl{min-height:350px;}
}
@media only screen and (max-width:1200px){
    .nav-dl .last-line-span,.head-sign-box .a_favorites,.head-sign-box .a_my_cart{display:none}
    .head-sign-box{padding-top:8px;}
}
@media only screen and (max-width:1025px){
    .layout,.width1200{padding:0 2%}
    .logo-a img{top:14px;}
    .head-nav,.structure-btn{display:none}
    .new-head-top{min-height:30px}
    .nav-menu{/* display:none; */position:absolute;left:0;width:100%}
    .nav-dl{width:100%!important;background:#222;}
    .nav-dl .line-span{display:none;}
    .nav-title{text-align:left;padding:0 5%;padding-top:12px;}
    .nav-title img{display:none!important;}
    .subnav-dl{position: relative;top:0;}
    .head{min-height:70px}
    .newhead{padding-top:70px}
    .head-search{position:absolute;bottom:-39px;right:2px;width:60%;}

    /*  Ambeed products card */
    .single-menu-detail-con dl{width:24%}
    .xin-tips{right:-26px;}
}
@media only screen and (max-width:960px){
    .footer-con ul.float-left{width:25%}
    .nav-com-title h3{padding:8px 0 15px;font-size:22px}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:32%}
}
@media only screen and (max-width:680px){
    .footer .float-right{width:100%}
    .footer-con ul.float-left{max-width:50%;}
    .footer .float-right li{float:left;min-width:40%;padding-right:12px;}
    .footer .float-right li:first-child{width:100%}
    .footer-con ul li{height:24px}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:49%}
    .xin-tips{right:-15px;}
}
@media only screen and (max-width:500px){
    .head{min-height:60px}
    .newhead{padding-top:60px}
    .logo-a img{top:14px;min-width:150px;}
    .head-sign-box {display:none;}
    .head-contact{display:none;}
    .footer-con ul li{height:20px}
    .footer-con ul.float-left{min-width:40%}
    .footer{font-size:12px}
    .foot_partner{border-width:1px}
    .foot_copy{padding-top:5px}
    .nav-com-title h3{font-size:20px}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:99%;padding:0 6px 0 0;}
    .menu-detail-img{float:left;width:42%;border-radius:4px;overflow:hidden}
    .menu-detail-txt{float:left;width:58%;padding-top:3%;}
    .menu-detail-txt{border-top:none}
    .menu-detail-txt h2{font-size:16px;}
}
@media only screen and (max-width:370px){
    .footer-con ul.float-left{min-width:34%}
    .nav-com-title h3{font-size:18px}
    /*  Ambeed products card */
    .menu-detail-img{float:left;width:40%}
    .menu-detail-txt{float:left;width:60%}
    .sales-text span{padding-right:6px;}
    .product-name{margin-bottom:0;}
    .menu-detail-txt h2{font-size:15px;}
    .sales-dl .btn{height:28px;line-height:28px;}
}
@media only screen and (max-width:340px){
    /*  Ambeed products card */
    .menu-detail-txt{padding-top:1%;}
}
