*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz--text-size-adjust:none;text-size-adjust:none}
body,html{margin:0;padding:0;width:100%}
body{color:#222;font-size:14px;font-family:Arial}
dd,dl,dt,ul,ol,li,form,h1,h2,h3,h4,h5,h6,img,p,label{margin:0;padding:0}
a{color:#222;text-decoration:none;outline:none}
li,ul,ol{list-style:none}
input,select,textarea{margin:0;padding:0;color:#222;font-size:14px;font-family:Arial}
input:focus,textarea:focus{outline:0}
input::-ms-clear,input::-ms-reveal{display:none}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input::-webkit-input-placeholder{color:#999}
input:-ms-input-placeholder{color:#999}
input:-moz-placeholder{color:#999}
input::-moz-placeholder{color:#999}
textarea::-webkit-input-placeholder{color:#999}
textarea:-ms-input-placeholder{color:#999}
textarea:-moz-placeholder{color:#999}
textarea::-moz-placeholder{color:#999}
img{max-width:100%;max-height:100%;border:none}
table{max-width:100%;border-collapse:collapse}
header,footer{display:block;}
input[type=checkbox]+label{position:relative;top:4px;left:5px;display:inline-block;width:16px;height:16px;border:1px solid #999;border-radius:2px;background:#eee url(/static/img/right.png) no-repeat;background-position:-21px -3px}
input[type=checkbox]{position:absolute;visibility:hidden;width:16px;height:16px}
input[type=checkbox]:checked+label{background-position:-1px -1px;}
sub{display:inline-block;transform:scale(.9)}
.poster,.keyword_text,.i_bgfff,.advertising,.feedback,#ad_hyperlink{display:none;}
.Ambeed_body{width:100%;min-width:320px}
.fixed-sidebar{position:fixed;right:0;bottom:200px;}
.layout,.width1200{margin:0 auto;max-width:1200px}
.clear:after,.clearfloat:after{clear:both;display:block;visibility:hidden;height:0;content:" "}
.clear,.clearfloat{zoom:1}
.textL{text-align:left!important}
.textR{text-align:right!important}
.textC{text-align:center!important}
.float-left,.floatL{float:left!important}
.float-right,.floatR{float:right!important}
.position-r{position:relative}
.position-a{position:absolute}
.hidden{display:none}

.inlineBlock {
    display: inline-block!important;
    vertical-align: middle!important;
    zoom: 1!important;
}

.btn{display:inline-block;height:30px;min-width:60px;border-radius:2px;text-align:center;line-height:30px}
.default-color,.default-color:hover{color:#f39800}
/*head search */
.head{background:#fff}
.head-search{position:relative;}
.head-search-ipt{float:left;padding-right:40px;width:100%;height:36px;border:none;background:#fef2dd;text-indent:15px;line-height:36px}
.head-search-img{position:absolute;top:0;right:0;z-index:8;width:40px;height:36px;background:#f39800 url(/static/img/search.png);background-position:center;background-repeat:no-repeat;cursor:pointer}
.structure-btn{position:absolute;top:19px;right:-110px;width:106px;border-bottom:1px solid #f39800;color:#f39800;white-space:nowrap}
/*head search list*/
.dv_keyword_list{position:absolute;top:36px;left:0;display:none;padding-bottom:5px;min-height:30px;background:#fff}
.dv_keyword_list dd:hover {background: #eee;}
.dv_keyword_list dd{margin:0!important;padding:0 15px;height:30px;background:#fff;line-height:30px}
.dv_keyword_list dd a{display:inline-block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;font-size:12px}
#searchResult_List dd a i{color:#f39800;font-style:normal}
.dv_keyword_list p{border-top:1px solid #eee}
.dv_keyword_list p a.a_top{border:none}
.dt_keyword_tags a{float:left;margin-top:7px;margin-right:20px;padding-left:15px;height:16px;border-left:1px solid #aaa;color:#0272d0;font-size:12px;line-height:16px}
/*head search mask*/
.body_mask .dv_keyword_list{display:block;width:100%}
.body_mask .dv_keyword_mask{display:block;}
.mask{display:none;position:fixed;top:0;z-index:99;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=60);}

/*footer .fixed-sidebar*/
.fixed-sidebar{display:none;position:fixed;right:0;bottom:10%;z-index:5;width:36px;background:#888}
.fixed-sidebar li{position:relative;height:36px}
.fixed-sidebar li a{position:absolute;top:0;right:0;height:36px;min-width:36px;color:#fff;white-space:nowrap}
.fixed-sidebar .underline{position:absolute;right:3px;bottom:1px;width:30px;height:1px;background:#acacac}
.fixed-sidebar .fixed-txt{position:absolute;left:36px;display:table-cell;padding:0 10px;height:36px;background:#333;font-weight:700;line-height:36px}
.fixed-sidebar .left{display:inline-block;width:36px;height:36px;text-align:center;line-height:36px}
.fixed-sidebar img{padding-top:4px;width:24px}
.sidebar_account img{padding-top:5px}
.header_cart {position:absolute;top:1px;right:1px;display:inline-block;width:20px;height:20px;border-radius:20px;background:#333;color:#fff;border:1px solid #888;text-align:center;font-size:12px;font-style:normal;visibility:hidden;line-height:20px}
.fixed-sidebar i{display:none}
.fixed-sidebar .top{width:36px;height:36px;background:url(https://www.ambeed.com/static/img/com_top.png) no-repeat top center}
/*footer*/
.footer{padding:30px 0 10px;border-top:1px solid #ccc;background:#f5f5f5}
.footer-con ul{line-height:30px}
.footer-con a{color:#666}
.foot_partner{border-top: 2px solid #ccc}
.foot_copy{color:#666}

/*products card*/
.single-menu-detail-con{margin:0 -.5%}
.sales-dl{float:left;margin:0 .5% 1%;padding:6px;width:19%;border:1px solid #eee;border-radius:4px}
.sales-dl:hover{-webkit-box-shadow:0 0 10px rgba(36,50,56,.3);-moz-box-shadow:0 0 10px rgba(36,50,56,.3);box-shadow:0 0 10px rgba(36,50,56,.3)}
.sales-dl .a_img_box{display:block;background:#fff;text-align:center}
.sales-dl .menu-detail-txt{position:relative;border-top:1px solid #eee}
.menu-detail-xin{height:25px;width:100%}
.menu-detail-xin .xin-click{display:none;float:right;cursor:pointer}
.xin-click:hover .xin-b-shadow,.xin-click:hover .xin-tips{display:block}
.xin-tips{top:-42px;right:-68px;z-index:2;display:none;padding:8px 12px;border-radius:4px;background:#ffe100;-webkit-box-shadow:0 0 10px rgba(25,25,25,.5);-moz-box-shadow:0 0 10px rgba(25,25,25,.5);box-shadow:0 0 10px rgba(25,25,25,.5);color:#222;white-space:nowrap}
.xin-b-shadow{top:-10px;right:4px;z-index:3;display:none}
.tips{display:inline-block;margin-right:6px;padding:2px 5px;border:1px solid #eee;border-radius:4px;background:#fff;font-style:normal;font-size:12px}
.lab_New{border-color:#f39800;color:#f39800}
.sales-text{display:flex;overflow:hidden;padding:6px 0 4px;width:100%;text-align:center;white-space:nowrap;font-size:12px;justify-content:space-between}
.sales-text span{padding-right:12px;font-size:12px}
.product-name{position:relative;margin-bottom:5px;height:25px;line-height:25px}
.product-name a{display:block;overflow:hidden;background:#fff;text-overflow:ellipsis;white-space:nowrap}
.menu-detail-txt h2{float:left;height:28px;font-size:18px;line-height:28px}
.sales-dl .btn{position:absolute;right:6px;bottom:6px;width:60px;background:#f39800}
.sales-dl .sales-hover {display:none;}

/* nav-com-title */
.nav-com-title{padding-top:10px}
.nav-com-title a{display:inline-block;height:20px;color:#f39800;vertical-align:top;font-weight:700;font-size:12px;line-height:20px}
.nav-com-title a.current{color:#999;text-decoration:underline}
.nav-com-title a.home-logo{padding-right:18px;background:url(/static/img/menu-right.png) no-repeat right center}
.home-logo img{position:relative;top:-2px}
.nav-com-title h3{padding:10px 0 30px;font-size:24px}
.nav-com-title a.nav-img{padding-right:16px;background:url(/static/img/menu-right.png) no-repeat right center}


.pages{padding:30px 0;text-align:center}
.pages img{width:30px}
.pages span{position:relative;top:-12px;display:inline-block;margin:0 10px;font-size:16px}
