.form-popups{width:95%;height:95%;max-width:420px!important;max-height:650px;border-radius:5px;}
.form-popups-tips{padding:4% 0 2%;color:#007bc4;text-align:center;font-size:12px;}
.form-box{padding:0 5%;height:92%;overflow-y:auto;}
.form-box p{margin:8px 0 2px;color:#999;font-size:12px;}
.form-box p span,.errorBox,.error{color:#fd4100!important;}
.form-box input[type='text'],.form-box input[type='password'],.form-box select,.form-box textarea{padding:5px;width:100%;height:34px;border:1px solid #ddd;}
.form-box select{background:#fff url(/static/img/select-ico.png) no-repeat right center;}
.form-box .remember{-webkit-user-select:none;user-select:none;}
.form-box .btn{width:100%;height:36px;font-weight:700;font-size:14px;line-height:36px;}
.form-box .btn-blue{background:#0092d8;color:#fff;}
.del-mask i{font-size:26px;}

/*产品详情 询单*/
.inquiry-form{max-height:600px;}
.form-box ul{overflow:hidden;}
.form-box ul li{width:49%;}
.form-box .sp_pro_name_cn{height:60px;}
.form-box .remark{height:80px;}
/*产品详情 弹出层*/
.mask .statements_popups {width:95%;height:90%;max-width:1000px;max-height:700px;}
.statements_popups {padding-top:45px;}
.statements_title{position:absolute;width:100%;height:45px;top:0;left:0;}
.statements_title h2{font-size:20px;}
.statements_title .del-mask{top:0;}
.statements_con{max-height:100%;padding:10px;overflow-y:auto;}
.statements_con td{border:1px solid #eee;padding:8px;}
.tr_one td{border:none;padding:20px 10px 10px; text-align:center;font-weight:700;font-size:16px;}
.tr_bg td{background:#f8fafb}

/*支付页面 支付密码*/
.password-popups{width:95%;height:90%;max-width:420px!important;max-height:300px;border-radius:5px;}
.password-con{margin:0 auto;padding-top:30px;width:204px;}
.i-block{display:inline-block;margin-bottom:5px;width:100%;}
.six-password{position:relative;vertical-align:middle;overflow:hidden;}
.sixDigitPassword-box{position:relative;overflow:hidden;padding:8px 0;outline:0;border:1px solid #ccc;border-radius:2px;background:#fff;cursor:text;}
.sixDigitPassword-box i{float:left;display:block;padding:4px 0;height:16px;border-left:1px solid #ccc;}
.sixDigitPassword-box b{display:block;visibility:hidden;overflow:hidden;margin:0 auto;width:7px;height:7px;background:url(/static/img/dot.png) no-repeat;}
.sixDigitPassword-box span{position:absolute;top:0;left:0;display:block;visibility:hidden;height:30px;}
.sixDigitPassword-box .active{background:url(/static/img/password-blink.gif) no-repeat center center;}
.sixDigitPassword{position:absolute;top:0;left:-80px;z-index:999;width:300px;height:26px;outline:0;color:#fff;font-size:12px;opacity:0;filter:alpha(opacity=0);}
.password-con .btn-yellow{margin-top:15px;width:100%;height:36px;background:#fd8300;color:#fff;font-weight:700;line-height:36px;}
.forget-password{text-align:right;}
.forget-password a{color:#0092d8;}

.bill-info-form input[type='radio'],.bill-info-form input[type='checkbox']{position:relative;top:2px;margin-right:3px;}


/*基本资料 重置密码*/
.change-password-popups{height:380px;}
.change-password-popups .form-box{padding-top:40px;}
.change-password-popups .btn {margin-top:30px;}

@media only screen and (max-width:1024px){
.statements_title h2{font-size:18px;}
.statements_con{font-size:12px;}
.statements_con td{padding:5px;}
}

