#aims_header{-webkit-box-shadow:0 2px 10px rgba(24,58,128,.2);-moz-box-shadow:0 2px 10px rgba(24,58,128,.2);box-shadow:0 2px 10px rgba(24,58,128,.2);}
.header_top{padding:10px 0;}
.header_top span{white-space:nowrap;}
.menu_box{position:relative;padding-top:20px;}
.menu_left{float:left;width:20%;}
.menu_right{float:right;width:76%;}
.hover_li{display:inline-block;padding:0 10px;line-height:58px;}
.hover_li a{display:block;}
.hover_li>a{border-bottom:3px solid #fff;}
.caret{display:inline-block;margin-top:-2px;margin-left:4px;width:0;height:0;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent;vertical-align:middle;}
.submenu{position:absolute;z-index:20;display:none;overflow:hidden;border:1px solid #e5e5e5;background:#fff;}
div.submenu{right:0;left:0;}
div.submenu .submenu_left{position:absolute;top:0;bottom:0;left:0;width:66%;}
div.submenu .first_a{padding:0 35px;max-width:50%;}
.submenu_left{padding:15px 0;}
.submenu_left li{line-height:46px;}
.submenu_right{float:right;padding:30px 35px 20px;width:34%;border-left:1px solid #e5e5e5;}
.submenu_right p{margin:10px 0;}
.submenu_right dt img{border-radius:4px;}
.submenu_item{position:absolute;top:0;right:0;bottom:0;display:none;padding:15px 35px;width:50%;overflow:auto;border-left:1px solid #e5e5e5;background:#fff;}
.submenu_item a:hover,ol.submenu a:hover{color:#0075bc;}
.submenu_product{left:-100px;}
.submenu_news,.submenu_support{left:-52px;}
ol.submenu a{padding:0 20px;min-width:200px;text-align:center;white-space:nowrap;line-height:50px;}
.phone_menu{display:none;}

.fixed_bar{position:fixed;z-index:1000;right:0;bottom:10%;width:48px;background:#183a80;}
.fixed_bar li{padding:0 8px;border:1px solid #183a80;}
.fixed_bar a{display:block;color:#fff;text-align:center;padding:5px 0;height:48px;border-bottom:1px solid #0075bc;white-space:nowrap;}
.lineH38{line-height:38px;}
.li_top a{border:none;padding-top:20px;position:relative;}
.li_top a:before{position:absolute;top:10px;left:10px;width:10px;height:10px;border-top:2px solid #0075bc;border-left:2px solid #0075bc;content:'';transform:rotate(45deg);}
.fixed_bar li:hover{background:#fff;}
.fixed_bar li:hover a{color:#183a80;border:none;}
/*footer*/
.footer_top li{float:left;min-width:108px;line-height:40px;margin-top:10px;}
.footer_bottom{padding:1.5% 0;border-top:1px solid #e5e5e5;}
.dv_footer a:hover{color:#0075bc;}

@media only screen and (min-width:1025px){
	.hover_li:hover>a{border-color:#f8c807;color:#0075bc;}
	.hover_li:hover .submenu,.submenu_left li.on .submenu_item,.submenu_left li:hover .submenu_item{display:block;}
	div.submenu li:hover,.submenu_left li.on,ol.submenu a:hover{background:#eee;}
}
@media only screen and (max-width:1025px){
	.li_wechat{display:none;}
	.submenu,.submenu_item{display:block;border:none;}
	.submenu_item{margin-left:20px;}
	.submenu,div.submenu .submenu_left,.submenu_item{position:static;}
	div.submenu .submenu_left,.submenu_item,div.submenu .first_a{max-width:100%;width:100%;}
	ol.submenu a{text-align:left;line-height:44px;}
	.menu_left{width:30%;}
	.submenu_item{padding:5px 20px;}
	div.submenu .first_a{padding:0 20px;}
	.submenu_left{padding:10px 0;}
	.submenu_left li{line-height:44px;}
	.menu_flex,.submenu_right{display:none;}
	.menu_right_fixed{position:fixed;top:0;left:0;bottom:0;right:0;z-index:1000;width:100%;}
	.menu_right_fixed .menu_flex{display:block;position:absolute;top:0;left:0;bottom:0;z-index:10;padding:10px;width:80%;height:100%;background:#fff;overflow-y:auto;}
	.menu_right_fixed .hover_li{width:100%;}
	.menu_right_fixed .menu_bg{position:absolute;top:0;left:0;bottom:0;z-index:5;background:rgba(0,0,0,0.4);height:100%;width:100%;}
	.phone_menu{display:block;position:absolute;bottom:10px;right:0;cursor:pointer;height:40px;width:40px;line-height:40px;user-select:none;}
	.phone_menu img{vertical-align:middle;}
}
@media only screen and (max-width:768px){
	.menu_box{padding:16px 0 8px;}
	.menu_left{width:40%;}
	.submenu_left li,ol.submenu a{line-height:42px;}
	.footer_top.space_between{justify-content:flex-start;}
	.footer_top li{line-height:36px;min-width:25%;}
}
@media only screen and (max-width:560px){
	.fixed_bar{display:none;}
	.menu_box{padding-bottom:4px;}
	.menu_left{width:50%;}
	.submenu_left li,ol.submenu a{line-height:38px;}
	.phone_menu{padding:2px;margin-top:2px;}

	.footer_top li{min-width:32%;line-height:32px}
	.footer_bottom{line-height:20px;}
	.li_contact{max-width:220px;}
}
@media only screen and (max-width:320px){
	.li_contact{max-width:200px;}
	.phone_menu{margin-top:0;}
}