body{min-width:320px;}
.layout{padding:0 2%;max-width:100%;}
.header{padding-top:0}
.fixed_header{position: relative;min-height:50px;}
.head-nav,.head_structure_btn,.first_span{display:none;}
.head_search {position:absolute;top:79px;right:2px;width:80%;}
.search_ipt_box{width:100%;}
.mobile_show{width:36px;padding-top:2px;font-size:0;}
.mobile_menu_show{padding:10px;cursor:pointer;}
.header_menu .nav-dl{width:100%;float:none;border-bottom: 1px solid #ddd;}
 .nav-dl .subnav-dl{width:100%;box-shadow:none; border-top: 1px solid #ddd;column-count:1;column-gap:1em;-moz-column-count:1;-webkit-column-count:1;}
.subnav-dl div {display:none;padding-bottom:5px;}
.nav-dl .nav-title,.nav-dl:hover .nav-title{background:none;padding-left:0;}
.nav-title{color:#333;}
.nav-dl:hover .nav-title{border-top:none;}
.nav-dl .nav-title span{border:none;}
.nav-dl dt{position: relative;}
.show_menu,.hide_menu,.show_submenu,.hide_submenu{position: absolute;display:inline-block;right:0;padding:7px 9px;cursor:pointer;font-style:normal;color:#f39800;font-weight:bold;}
.show_menu,.hide_menu{top:7px;}
.show_submenu,.hide_submenu{top:0;}
.hide_menu,.hide_submenu{display:none}
.subnav-dl{position:relative;padding:5px 0;}
.subnav-dl .title-a {display:block;}
.subnav-dl dd{padding:0;}
.subnav-dl dd a{padding-left:20px;line-height:20px;}
.subnav-dl dd a.title-a{padding:0;}
.subnav-dl dd{position: relative;padding: 0 20px}
.fixed_menu_mask{display:none;position:fixed;top:0;left:0;z-index:9;background: #222;opacity:.6;width:100%;height:100%;}
.fixed_menu{position:fixed;top:0;right:-85%;z-index:10;min-width:270px;width:85%;height:100%;padding:20px;background: #fff;overflow-y: auto;-webkit-transition:all ease .3s;-moz-transition:all ease .3s;-o-transition:all ease .3s;transition:all ease .3s}
.fixed_menu_show{right:0;}
.dv_keyword_list{width:100%;}
.mobile_show{display:block;}
@media only screen and (max-width:1025px){
	.head_search {top:73px;}
}
@media only screen and (max-width:768px){
	.logo_box{max-width:28%}
	.header_right{width:60%;}
	.footer{padding-top:30px;}
	.footer-con ul b{line-height:30px;}
	.footer-con ul{line-height:22px;}
	.footer-con .foot_left{min-width:25%;}
}
@media only screen and (max-width:610px){
	body{padding-bottom:500px;}
	.head-contact{display:none;}
	.logo_box{ padding-top:14px;min-width:150px;}
	.head_search {top: 55px;width:86%;}
	.fixed_menu{padding:15px;}
	.header_right{padding-top:12px;}
	.dv_keyword_list dd{padding:0 10px;}
	.head_searches_btn{padding:0;}
	.dv_keyword_list dd a{max-width:70%}
	.head_searches_btn {white-space:nowrap;}
	.footer{padding-top:20px;}
	.footer-con ul{width:100%;}
	.foot_copy{font-size:12px;}
}
@media only screen and (max-width:410px){
	.logo_box{min-width:144px;}
	.head_icon_box .head_favorites{display:none}
	.head_cart{margin:0;}
	.foot_nav{padding:0 10px;}
}
@media only screen and (max-width:361px){
	.logo_box{min-width:138px;}
	.subnav-dl dd{padding: 0px 15px;}
	.subnav-dl dd a{padding-left: 15px;}
	.dv_keyword_list dd a{max-width:65%}
	.head_searches_btn a{padding-right:5px;}
	.foot_partner{padding:15px 0 6px;margin-top:15px;}
}
@media only screen and (max-width:321px){
	.logo_box{min-width:122px;}
	.header_right{padding-top:10px;}
	.head_search {top: 53px;}
}
