.banner-box .layout,.layout.position-r{padding:0;max-width:1200px;}
.banner-box{padding:0;}
.home-sign{bottom:0;}
.what-content dd{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
@media only screen and (min-width:1025px){
    /*  Ambeed products card */
    .single-menu-detail-con dl{min-height:350px;}
}
@media only screen and (max-width:1025px){
    .layout,.width1200{padding:0 2%}
    .what-content dl{padding:5px;}
    .techology{margin:20px 2% 0;width:96%}
    .techology li{max-width:50%;padding:5px 10px;}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:24%}
    .xin-tips{right:-26px;}
}
@media only screen and (max-width:960px){
    .home-sign{display:none}
    .what-content dl{width:33.3%} 
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:32.3%}
}
@media only screen and (max-width:900px){
    .what-title{margin-top:20px;min-height:28px;font-size:24px}
    .techology h2{font-size:24px}
}
@media only screen and (max-width:765px){
    .techology li{max-width:100%}
    .techology li:first-child{text-align:center}
    .techology p{font-size:14px;line-height:26px}
    .techology h2,.what-title{font-size:22px}
}
@media only screen and (max-width:680px){
    .what-content dl{width:50%}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:49%}
    .xin-tips{right:-15px;}
}
@media only screen and (max-width:500px){
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:99%;padding:0 6px 0 0;}
    .menu-detail-img{float:left;width:42%;border-radius:4px;overflow:hidden}
    .menu-detail-txt{float:left;width:58%;padding-top:3%;}
    .menu-detail-txt{border-top:none}
    .menu-detail-txt h2{font-size:16px;}
}
@media only screen and (max-width:450px){
    .what-content dl{width:50%}
    .what-title,.techology h2{font-size:20px}
    .techology li{width:100%}
    .experts-title{font-size:16px}
    .experts-content dt img{max-width:34px}
    .experts-content dd{font-size:14px}
}
@media only screen and (max-width:370px){
    .title-h4 a{height:32px;line-height:32px;}
    .title-h4 a span{height:32px;}
    /*  Ambeed products card */
    .menu-detail-img{float:left;width:40%}
    .menu-detail-txt{float:left;width:60%}
    .sales-text span{padding-right:6px;}
    .product-name{margin-bottom:0;}
    .menu-detail-txt h2{font-size:15px;}
    .sales-dl .btn{height:28px;line-height:28px;}
}
@media only screen and (max-width:340px){
    /*  Ambeed products card */
    .menu-detail-txt{padding-top:1%;}
}