/* 邮箱 电话 */
.link {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 3.78rem;
	background: #fff;
	line-height: 3.78rem;
	font-size: 1.33rem;
	white-space: nowrap;
}
.link .img-box {
	position: relative;
	top: .35rem;
}
.link .email {
	color: #666;
}
.link .tel {
	color: #eb6132;
}
/* banner */
.banner{
	height: 18rem;
	overflow: hidden;
}
.banner{
    padding-top: .7rem;
}
.item{
    margin-top: .1rem;
    margin-left: .7rem;
}

/* 登录 注册 */
.btn-red {
	margin-right: 1rem;
}

/* section   信号通路*/
.section {
	margin-top: 1.17rem;
}
.title {
	font-size: 1.67rem;
	height: 4.06rem;
	line-height: 4.06rem;
}
.section .sub-title {
	border-top: .08rem solid #e0e0e0;
}
.section .sub-title b {
	display: inline-block;
	width: 93%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.section .sub-title i {
	padding-right:0;
}
.section .section-img-box {
	border: .05rem solid #e0e0e0;
	height: 18.44rem;
	width: 100%;
	border-radius: .6rem;
	margin-bottom: 1.67rem;
	text-align: center;
	line-height: 18.44rem;
}
.section-img-box .img-box {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	padding: .05rem;
	height: 100%;
	width: 100%;
}

/* 查看更多 */
.btn-blue span {
	font-size: 1.7rem;
}
