@charset "utf-8";

html{font-size: 10px}
@media screen and (min-width: 321px) and (max-width: 375px){html{font-size: 11px}}
@media screen and (min-width: 376px) and (max-width: 414px){html{font-size: 12px}
.check span	{
	white-space: nowrap;}
}
@media screen and (min-width: 415px) and (max-width: 639px){html{font-size: 15px}}
@media screen and (min-width: 640px) and (max-width: 719px){html{font-size: 20px}}
@media screen and (min-width: 720px) and (max-width: 749px){html{font-size: 22.5px}}
@media screen and (min-width: 750px) and (max-width: 799px){html{font-size: 23.5px}}
@media screen and (min-width: 800px){html{font-size: 25px}}


html,body,p,span,b {
	margin: 0;padding: 0;
}
html,body {
	width: 100%;
	min-width: 320px;
	background: #fff;
	font-family: "微软雅黑";
	color: #000;
}
img {
	border: none;
}
a {
	text-decoration: none;
	color: #000;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
button {
	cursor: pointer;
}
/*input去掉黄色背景*/
input: -webkit-autofill{ 
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* ::-ms-clear 是文本清除按钮 
   ::-ms-reveal是密码查看按钮  */
input::-ms-clear,input::-ms-reveal{
	display: none;
}
input,button{
	outline: none;
}
input {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
}
.layout {
	padding: 0 4%;
}

.img-box {
	display: inline-block;
}
.img-box img {
	max-height: 100%;
	max-width: 100%;
}
.back-icon {
	display: inline-block;
	width: 1.75rem;
	height: 1.75rem;
	margin-top: 2rem;
}
.back-icon i {
	font-size: 1.8rem;
	color: #c6c6c6;
}
.logo-box {
	text-align: center;
}
.logo {
	height: 2.8rem;
}
.login-register-con{
	padding: 4%;
}
.input-box input {
	height: 3.8rem;
	width: 100%;
	margin: .5rem 0;
	text-indent: .8rem;
	font-size: 1rem;
	color: #555;
	border-radius: .1rem;
	background: #f3f3f3;
	border: .08rem solid #f3f3f3;
	resize:none; 
	-webkit-appearance:none;  /*清除浏览器默认的样式 */
	line-height: normal;   /* 光标问题  */
}
/* 搜索提示 placeholder */
.input-box input::-webkit-input-placeholder{ 
  	color: #c0c0c0; /* WebKit browsers */
} 
.input-box input:-moz-placeholder{ 
	color: #c0c0c0; /* Mozilla Firefox 4 to 18 */
} 
.input-box input::-moz-placeholder{ 
  	color: #c0c0c0; /* Mozilla Firefox 19+ */
} 
.input-box input:-ms-input-placeholder{ 
 	color: #c0c0c0; /* Internet Explorer 10+ */ 
}
.code-box {
	position: relative;
}
.code {
	position: absolute;
	right: .45rem;
	top: 1.05rem;
	height: 2.8rem;
	width: 5.56rem;
	background: #48bbfd;
	line-height: 2.8rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	letter-spacing: .3rem;
}

.forgot {
	text-align: right;
	height: 3rem;
	padding-top: .5rem;
}
.forgot a,.check {
	font-size: 1rem;
	color: #666;
}
.check {
	position: relative;
	height: 3rem;
	padding-top: 1rem;
}
.check input[type="checkbox"] {
	position: absolute;
	width: .92rem;
	height: .92rem;
	background: #fff;
	visibility: hidden;
}
.check input[type="checkbox"] +label {
	display: inline-block;
	width: .92rem;
	height: .92rem; 
	margin-top: .2rem;
	background:url(/static/img/checked.png) no-repeat;
	background-position: -0.9rem -0.1rem; 
	background-size: .83rem;
	border: .08rem solid #999; 
	position: absolute;
}
.check input[type="checkbox"]:checked +label {
	background-position: center;
}

.check span {
	display: inline-block;
	padding-left: 1.6rem;
}

.btn {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	height: 4rem;
	width: 100%;
	margin-top: 1rem;
	font-size: 1.33rem;
	border-radius: .5rem;
	border: .08rem solid #e0e0e0;
}
.btn-red {
	background: #eb6132;
	border-color: #eb6132;
	color: #fff; 
}
.btn-line {
	background: #fff;
}

.con-txt {
	padding-bottom: 4%;
	text-align: justify;
	font-size: 1.1rem;
	line-height: 1.8rem;
	color: #666;
}
.con-txt a {
	color: #2180be;
}
