.member-center-con{overflow:hidden;padding-top:10px;}
.member-center-L{border:2px solid #d9dee1;}
.member-center-L{float:left;width:16%;min-height:800px;background:#f5f5f5;}
.member-center-L h4{height:50px;background:#d9dee1;color:#005bac;text-align:center;font-size:16px;line-height:46px;}
.member-center-L li a{display:inline-block;padding-left:32%;height:50px;line-height:50px;}
.member-center-L .member-nav-title{padding-left:32%;height:50px;color:#888;text-indent:-5px;font-weight:700;line-height:50px;}
.member-nav-title span{position:relative;left:-12px;display:inline-block;width:5px;height:5px;border-radius:5px;background:#007bc4;}
.member-center-L a.current,.member-center-L a:hover{color:#007bc4;font-weight:700;}
.member-center-L .border-B{margin:0 15px;}
.member-center-R{float:right;padding:10px;width:83%;min-height:800px;background:#f5f5f5;}
.mcr-title{overflow:hidden;margin-bottom:10px;padding:10px;min-height:62px;border-top:2px solid #007bc4;background:#28a8e6;}
.mcr-title li{float:left;color:#fff;white-space:nowrap;line-height:40px;}
.mcr-bi-title li span{display:inline-block;padding:0 25px;color:#007bc4;}
.mcr-con{padding:0 15px;background:#fff;}
.mcr-con table td{height:60px;border-bottom:1px solid #eee;}
.member-center-R thead td{height:32px;font-size:14px;}
.member-center-R td{font-size:12px;padding:5px 10px;}

/*基本资料*/
.mcr-title .mcr-member{padding-left:60px;background:url(/static/img/login.png) no-repeat;background-position:5px center;}
.mcr-title .mcrt-btn{float:right;}
.mcrt-btn .btn{padding:0 25px;height:32px;background:#fdd000;line-height:32px;}
.mcr-bi-con .position-r{position:relative;padding-right:95px!important;}
.mcr-bi-con table td:first-child{color:#999;white-space:nowrap;}
.mcr-bi-con .btn{position:absolute;right:0;bottom:5px;color:#fff;padding:5px;}
.mcr-bi-con .btn_blue{background:#28a8e6;}
.mcr-bi-con .btn_orange{background:#ff7f00;}

/*账户余额 我的积分*/
.mcr-ab-con-title{height:36px;max-width:560px;font-size:0;}
.mcr-ab-con-title a{float:left;display:inline-block;width:140px;height:36px;max-width:25%;border:1px solid #ddd;background:#fff;text-align:center;font-size:14px;line-height:36px;}
.mcr-ab-con-title a.current{border:1px solid #007bc4;background:#007bc4;color:#fff;font-weight:700;}
.mcr-ab-con tbody .price-details{color:#007bc4;font-size:16px;white-space:nowrap;}
.mcr-ab-con tbody td{color:#888;}

/*收货地址 发票地址 发票信息 我的反馈*/
.mcr-addr-title{min-height:25px;color:#007bc4;font-weight:700;font-size:16px;}
.mcr-addr-title button{padding:2px 5px;background:#007bc4;color:#fff;font-weight:700;}
.mcr-addr-title .btn-blue{margin-left:20px;width:100px;font-size:12px;line-height:26px;}
.mcr-sa-con table{margin:10px 0;}
.mcr-sa-con tbody td{height:60px;background:#fff;}
.mcr-sa-con td{min-width:50px;border:1px solid #ddd;}
.mcr-sa-con td a{display:inline-block;padding:5px;color:#007bc4;white-space:nowrap;}
.mcr-sa-con td a:hover{text-decoration:underline;}
.mcr-sa-con td .on,.mcr-sa-con td .btn-yellow:hover{background:#fdd000;color:#333;}
.mcr-sa-con td .btn:hover{text-decoration:none;}

/*我的收藏*/
.mcr-products-con{overflow:hidden;margin-top:15px;padding:10px;min-height:655px;background:#fff;font-size:0;}

/*我的询单*/
.width8{width:8%;}
.width12{width:12%;}
.width18{width:18%;}
.width20{width:20%;}
.width25{width:25%;}
.mc-inquire-card{margin-top:10px;padding:5px;background:#eff5f7;border:1px solid #dbe2e4;font-size:12px;}
.mc-inquire-card dt{overflow:hidden;background:#eff5f7;}
.mc-inquire-card span{float:left;padding:10px 5px;}
div.mc-inquire-card{overflow:hidden;background:#f5f5f5;border:none;}
div.mc-inquire-card span{padding:0;font-weight:700;}
.mc-inquire-card dd{margin-top:5px;padding:15px 10px 15px 50px;background:#fff;text-indent:-46px;}
.mc-inquire-reply span{float:none;padding:0;color:#007bc4;}

/*我的订单*/
.mcr-addr-title h3{float:left;min-height:25px;}
.mcr-addr-title h3 a{color:#007bc4;}
.mcr-addr-title select{padding-left:5px;width:80px;height:24px;border:1px solid #ddd;background:#fff url(/static/img/select-ico.png) no-repeat right center;}
.mcr-addr-title input{padding-left:5px;width:100px;height:24px;border:1px solid #ddd;font-size:12px;}
.mcr-addr-title #keywords_value{width:190px;}
.order-time i{font-size:12px;}
.btn-success{margin-right:5px;}
.mcr-mo-title{padding-top:10px;}
.mcr-mo-title li,.mcr-moi-title li{display:inline-block;font-size:12px;}
.mcr-mo-title li.float-R{width:62%;}
.mcr-mo-title .float-R span{float:left;width:13%;padding-left:5px;}
.mcr-mo-title .float-R span.width18{width:18%;padding-left:4%;}
.p_split_title{padding:5px;background:#f5f5f5;font-size:12px;}
.p_split_title span{white-space:nowrap;}
.p_split_title span,.successful-order-table .font12 span{padding-right:15px;}
.font_bold{font-weight:700;margin-top:10px;background:#ededed;border:1px solid #ddd;border-bottom:none;}
.successful-order ul{position:relative;overflow:hidden;}
.successful-order-table td{background:#fff;}
.successful-order-table>tbody>tr>td{padding:0;border:1px solid #ddd;}
.successful-order-table table td{padding:5px;border-bottom:1px solid #ddd;}
.successful-order-table td table:last-child tr:last-child td{border-bottom:none;}
.successful-order-table .img-box{display:block;margin-right:5px;width:80px;height:80px;background:#e8f9fe;}
.successful-order-table .through{color:#999;text-decoration:line-through;}
.successful-order-table p.font12{margin-top:5px;}
.td_order_info p,.td_price p{margin-top:5px;}
.td_price b{font-size:14px;}
.td_order_info a{color:#007bc4;white-space:nowrap;font-weight:700;}
.phone_show{display:none;}
/*我的订单 详情*/
.mcr-moi-title li span{display:inline-block;min-width:75px;}
.mcr-order-info .mcr-addr-title{margin-bottom:15px;}
.mcr-addr-title .btn-down-pdf{padding:5px 10px;}
.successful-trade{overflow:hidden;border:1px solid #ddd;}
.successful-trade-addr dt{margin-bottom:5px;padding-left:3%;height:32px;border-bottom:1px solid #ddd;background:#eee;font-weight:700;line-height:32px;}
.successful-trade dl{padding-bottom:10px;width:60%;min-height:160px;border-right:1px solid #ddd;background:#f5f5f5;font-size:12px;}
.successful-trade-addr dd{padding:5px 0 5px 80px;color:#999;text-indent:-60px;line-height:20px;}
.successful-trade-addr dd label{color:#333;}
.successful-trade-addr dd span{padding-right:5px;}
.order-status{padding-left:2%;width:40%;}
.order-status h3{margin-top:30px;padding:10px 0 10px 4%;background:url(/static/img/status.png) no-repeat;background-position:left center;color:#0092d8;font-weight:700;font-size:18px;}
.order-status p{padding:5px 0 5px 4%;}
.order-details-right{padding:10px;background:#fff;text-align:right;}
.order-details-right p{padding:5px;}
.order-details-right span{display:inline-block;padding-left:5px;min-width:120px;text-align:left;}
.order-details-right b{color:#fbb000;font-size:16px;}
div.successful-order-table{border:1px solid #ddd;}

@media only screen and (max-width:1024px){
    .member_body{background:#f5f5f5;}
    .phone_none{display:none!important;}
    .member-center-L,.member-center-R{float:none;width:100%;min-height:100px;border:none;padding:0;}
    .member-center-L{margin-top:20px;}
    .member-center-L ul{overflow:hidden;}
    .member-center-L li a{height:40px;line-height:40px;}
    .member-center-R td{padding:5px;}
    .member-center-R td.textC{padding:10px 0!important;min-height:62px;}
    .mcr-con{padding:0 10px 40px;}
    .mcr-con table td{height:50px;}
    .mcr-bi-title{margin:10px 0 0;}
    .successful-order-table{border:1px solid #ddd;}
    .successful-order-table table td{padding:0 5px 0 0;}
    .successful-order-table table td:nth-child(5){display:none;}
    .successful-order-table>tbody>tr>td{display:inline-block;width:100%;border:none;}
    .successful-order-table td table:last-child tr:last-child td{border-bottom:1px solid #ddd;}
    .successful-order-table .img-box{width:75px;height:75px;}
    .td_price,.td_order_info{width:50%!important;padding-top:5px!important;min-height:50px;border-top:none!important;}
    .mc-inquire-card span{padding:5px;}
    .phone_show{display:inline-block;
}
@media only screen and (max-width:780px){
    .mcr-con table td{height:45px;}
    .successful-order-table .img-box{width:70px;height:70px;}
}
@media only screen and (max-width:640px){
    .mcr-mo-title,.btn-down-pdf,.mcr-my-order .mcr-addr-title .float-R{display:none;}
    .mcr-bi-title li span{visibility:hidden;}
    .mcr-con table td{height:40px;}
    .mc-inquire-card dt span{float:none;display:inline-block;min-width:100px;width:auto;}
    .successful-order-table .img-box{width:65px;height:65px;}
    .successful-order-table .font12 span{display:inline-block;}
    .successful-trade dl,.order-status{width:100%;}
    .order-status{border-top:1px solid #ddd;padding:10px 0;}
    .order-status h3{margin:0;}

    .mcr-addr-con thead,.mcr-ms-con thead{display:none}
    .mcr-addr-con tr,.mcr-ms-con tr{border:1px solid #ddd;background:#fff;vertical-align:top;}
    .mcr-addr-con tbody td,.mcr-ms-con tbody td{display:inline-block;border:none;min-height:24px;height:auto;}
    .mcr-ms-con tbody td{padding:10px 5px;}
    .mcr-addr-con tbody td:last-child{width:100%;text-align:right;}
    .mcr-addr-con tbody td p{display:inline-block;padding-right:10px;}
}
