/*menu-common*/
.menu-con-title{height:38px;color:#007bc4;font-weight:700;font-size:24px;}
.menu-con-title>span{padding-left:10px;color:#888;font-weight:400;font-size:12px;}
.menu-common{overflow:hidden;padding-top:20px;}
.menu-common ul li{float:left;}
.menu-common ul a{display:block;overflow:hidden;height:50px;color:#555;text-overflow:ellipsis;white-space:nowrap;line-height:50px;}
.menu-common ul a:hover,.menu-con ul a:hover i{color:#007bc4;}
/*one-menu*/
.one-menu ul{margin:0 -3%;}
.one-menu li{margin:0 3%;width:19%;}
.one-menu ul a{border-bottom:1px dashed #ddd;}
.one-menu ul a i{float:right;color:#a2a2a2;}
/*two-menu*/
.two-menu li{width:20%;}
/*three-menu*/
.p_list_title{padding:5px 0 20px;line-height:24px;}

@media only screen and (max-width:1024px){
	.menu-con-title{font-size:22px;}
	.two-menu li {width:25%;}
}
@media only screen and (max-width:780px){
	.menu-con-title{font-size:20px;}
	.one-menu li{width:27.3%;}
	.two-menu li {width:33.3%;}
}
@media only screen and (max-width:640px){
	.one-menu li{width:44%;}
	.two-menu li {width:50%;}
}
@media only screen and (max-width:480px){
	.one-menu ul,.one-menu li{margin:0;}
	.one-menu li{width:100%;}
}
@media only screen and (max-width:320px){
	.menu-con-title{font-size:18px;}
}