.banner-box .layout{padding:0;}
.width1200{padding:0 2%}
.home-sign{display:none}

.what-content{overflow:hidden;margin:0 -10px;}
.what-content dl{float:left;padding:10px;width:25%}
.what-content dd{color:#999;font-size:12px;line-height:16px}
.what-content dd a{display:block;overflow:hidden;padding-top:5px;text-overflow:ellipsis;white-space:nowrap;font-weight:700;font-size:14px;line-height:20px}

.experts-container{margin-top:30px;min-height:135px;background:#f2f2f2;text-align:center}
.experts-title{padding-top:20px;font-weight:400;font-size:20px}
.width950{overflow:hidden;margin:0 auto;max-width:950px}
.experts-content dt img{max-width:42px}
.experts-content dl{float:left;padding:10px 20px;width:33.3%}
.experts-content dd{padding-top:5px;font-size:16px;line-height:20px}

.techology{overflow:hidden;margin-top:30px;margin-bottom:25px;min-height:290px;border:1px solid #d6d6d6;margin:2%;}
.techology li{float:left;padding:10px 20px;}
.techology h2{padding:15px 0;font-size:26px}
.techology p{overflow:hidden;max-width:675px;text-overflow:ellipsis;white-space:nowrap;font-size:16px;line-height:28px}
.techology a{display:block;color:#f39800;text-align:right}
.techology li:last-child a{padding-bottom:10px;}
/* Ambeed index ---- Recommended Products  ---- New Products */
.title-h4{margin:10px 0;min-height:46px;border-bottom:1px solid #f39800}
.title-h4 a{position:relative;
    display:inline-block;padding-left:10px;padding-right:40px;height:36px;border-radius:4px;background:#f39800;color:#fff;font-size:16px;line-height:36px}
.title-h4 a span{position:absolute;right:0;display:inline-block;margin-left:8px;width:30px;height:36px;border-radius:4px;-webkit-box-shadow:5px 0 8px #e58c00 inset;-moz-box-shadow:5px 0 8px #e58c00 inset;box-shadow:5px 0 8px #e58c00 inset;text-align:center;}


@media only screen and (max-width:960px){
    .home-sign{display:none}
    .what-content dl{width:33.3%} 
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:32.3%}
}
@media only screen and (max-width:900px){
    .what-title{margin-top:20px;min-height:28px;font-size:24px}
    .techology h2{font-size:24px}
}
@media only screen and (max-width:765px){
    .techology li{max-width:100%}
    .techology li:first-child{text-align:center}
    .techology p{font-size:14px;line-height:26px}
    .techology h2,.what-title{font-size:22px}
}
@media only screen and (max-width:680px){
    .what-content dl{width:50%}
    .what-content dd{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:49%}
    .xin-tips{right:-15px;}
}
@media only screen and (max-width:500px){
    /*  Ambeed products card */
    .single-menu-detail-con dl{width:99%;padding:0 6px 0 0;}
    .menu-detail-img{float:left;width:42%;border-radius:4px;overflow:hidden}
    .menu-detail-txt{float:left;width:58%;padding-top:3%;}
    .menu-detail-txt{border-top:none}
    .menu-detail-txt h2{font-size:16px;}
}
@media only screen and (max-width:450px){
    .what-content dl{width:50%}
    .what-title,.techology h2{font-size:20px}
    .techology li{width:100%}
    .experts-title{font-size:16px}
    .experts-content dt img{max-width:34px}
    .experts-content dd{font-size:14px}
}
@media only screen and (max-width:370px){
    .title-h4 a{height:32px;line-height:32px;}
    .title-h4 a span{height:32px;}
    /*  Ambeed products card */
    .menu-detail-img{float:left;width:40%}
    .menu-detail-txt{float:left;width:60%}
    .sales-text span{padding-right:6px;}
    .product-name{margin-bottom:0;}
    .menu-detail-txt h2{font-size:15px;}
    .sales-dl .btn{height:28px;line-height:28px;}
}
@media only screen and (max-width:340px){
    /*  Ambeed products card */
    .menu-detail-txt{padding-top:1%;}
}