.bg-yellow{overflow:hidden;padding:10px 10px 5px;background-color:#fef6bd;}
.welcome{position:relative;top:-18px;left:5px;font-size:16px;}
.bg-yellow li{display:inline-block;padding-left:45px;height:50px;line-height:50px;}
.bg-yellow li a{display:inline-block;font-size:14px;line-height:18px;}
.active-inf{border-bottom:1px solid #222;font-weight:700;}
.bg-gray{padding-top:12px;background:#eee;}
.bg-gray ul{text-align:center;}
.bg-gray li{display:inline-block;}
.bg-gray li a{display:inline-block;margin:0 15px;padding:0 25px;font-size:14px;min-height:24px;}
.my-account-con{margin-top:40px;min-height:300px;}
.my-account-con table{border-bottom:1px solid #ddd;margin-bottom:20px;width:100%;}
.my-account-con h4{padding-bottom:10px;}
.my-account-con td{padding:8px 0;}
table td .sp_hide{display:none;}
/*personal-information.html */
.personal-inf-con td{height:60px;border-top:1px solid #ddd;}
.personal-inf-con td:nth-child(1),.addr-con td span{color:#999;}
.personal-inf-con td input{display:none;padding:5px 10px;font-size:14px;}
.personal-inf-con td a,.addr-con td a,.my-inquiry-con td a{font-size:14px;}
/*shipping-address.html */
.addr-con td {vertical-align:top;padding-right:5px;}
.tips-default{border:none;background:#f39800;}

/*my-order.html */
.my-inquiry-con table{border-right:1px solid #ddd;border-left:1px solid #ddd;}
.my-inquiry-con thead td{height:45px;background:#eee;color:#999;}
.my-inquiry-con td{height:60px;border-top:1px solid #ddd;color:#222;padding-left:10px;}
.my-inquiry-con td a{color:#f39800;}
.my-inquiry-con td a:hover{text-decoration:underline;}

.order_detail{border:1px solid #ddd;padding:10px 20px;}
.order_detail table{margin-top:20px;}
.bor_bot {border-bottom: 1px solid #d6d6d6;}
.order_top1,.order_top2{line-height:24px;overflow:hidden;}
.order_top1 dd,.order_top2 dd,.order_top1 dt{padding:8px 0;}
.order_top2 dt{padding:16px 0 8px;}
.order_top1 dd,.order_top2 dd{border-bottom:1px solid #efefef;padding-left:140px;position:relative;float:left;width:50%;}
.order_top1 dd i,.order_top2 dd i{display:inline-block;width:140px;position: absolute;left:0;font-style:normal;color:#888;}
.strong_status{color:#ea7836;margin-left:20px;}
.ship_address1,.ship_address2{display:block;min-width:30%;}
.order_top2 dd.addr_dd{width:100%;}
.order_detail table td{min-width:90px;}
.order_detail .overHide{max-width:200px;display:inline-block;}
.dv_order_info{overflow:hidden;}
.dv_order_info dl{float:right;width:26%;overflow:hidden;line-height:22px;min-width:250px;}
.dv_order_info dl dd,.dv_order_info dl dt{float:left;min-width:40%;white-space:nowrap;}
.dv_order_info dl dt{width:120px;text-align:right;color:#555;}
.dv_order_info dl dd{padding-left:15px;}
.dv_note {float:left;max-width:70%;line-height:18px;padding-left:15px;}
.dv_note p{color:#555;}
.show_textarea{margin:5px 0;padding:5px 10px;min-height:60px;background:#fff8dc;color:#222;}
.order_top3 dt,.order_top4 dt{padding:10px 12px;background:#efefef;color:#555;font-weight:700;}
.order_top3 dl dd,.order_top4 dl dd{display:inline-block;padding:8px 12px;min-width:24%;}

/*my-inquiry.html */
.inquiry_detail {padding:15px;line-height:24px;color:#555;}
.inquiry_detail p b{font-size:18px;line-height:34px;}
.inquiry_detail table{width:100%;}
.inquiry_detail table td{border:1px solid #ddd;padding:5px 10px;}
.inquiry_detail a{color:#f38900;}
.inquiry_detail a:hover{text-decoration:underline;}

/*my-favorites.html */
.padding-top15{padding-top:10px;}
.sales-dl{border-color:#ddd;}

/*my-cart.html */
.displayNone,.hid{display:none;}
.cart_title {padding-bottom:10px;text-align:right;}
.cart_title span{display:inline-block;width:13%;}
.cart_title .cart_price{width:20%;text-align:center;}
.dv_table_list dl{position:relative;padding-left:155px;min-height:150px;border-top:1px solid #ddd;}
.dv_table_list dt{position:absolute;top:5px;left:0;height:100%;}
.dv_table_list dd{display:inline-block;width:49%;line-height:22px;}
.dd_left{padding-top:20px;}
.img-border{display:inline-block;width:140px;height:140px;border:1px solid #eee;}
.dd_left p i{font-style:normal;}
.dd_left p span{padding:0 15px;}
.a_del_cart{display:inline-block;margin-top:10px;color:#f39800;cursor:pointer;font-size:14px;}
.a_del_cart:hover{text-decoration:underline;}
.td_NameEN{display:inline-block;min-height:44px;line-height:18px;}
.dd_right{text-align:right;}
.dd_right p{float:left;width:28%;}
.p_number{min-width:78px;}
.dd_right .p_size{width:44%;text-align:center;}
.sp_ipt_number input{float:left;display:inline-block;width:34px;height:22px;outline:0;border:1px solid gray;vertical-align:middle color: #343434;text-align:center;line-height:22px;}
.sp_ipt_number b,.sp_ipt_number em{float:left;display:inline-block;width:22px;height:22px;color:#222;text-align:center;font-weight:700;font-size:16px;line-height:22px;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.sp_ipt_number b:hover,.sp_ipt_number em:hover{color:#f39800;}
.p_price{color:#f22;white-space:nowrap;font-size:14px;text-align:left}

.fixed-cart{overflow:hidden;padding:8px 0;background:#c7f2e8;font-size:14px;}
.my-account-checkbox li{display:inline-block;line-height:34px;}
.my-account-checkbox .btn-red-line{margin-left:20px;width:90px;height:34px;border:1px solid #ff5226;border-radius:4px;background:#fff;color:#ff5226;line-height:32px;}
.my-account-checkbox .btn-red-full{width:120px;height:34px;border-radius:4px;background:#ff5226;color:#fff;font-weight:700;font-size:16px;line-height:34px;}
.total_price{position:relative;top:4px;margin-right:15px;color:#ff5226;white-space:nowrap;font-weight:700;font-size:24px;}


@media only screen and (max-width:1024px){
#footer,.cart_title{display:none;}
body{padding-bottom:50px;}
.dv_table_list{padding-bottom:100px;}

.addr-con td{position:relative;display:inline-block;width:50%;padding:10px 0 5px 120px;}
.addr-con td span,.my-inquiry-con td .sp_hide{position:absolute;left:2px;display:inline-block;color:#999;}
.my-inquiry-con td .sp_hide{left:15px;}
.my-inquiry-con thead {display:none;}
.my-inquiry-con td {display:inline-block;width:50%;border:none;height:auto;padding:8px 8px 0 130px;vertical-align:top;}
.my-inquiry-con tr td:last-child {padding-bottom:8px;}
.my-inquiry-con tr{border:1px solid #ddd;}
/*my-account-con addr-con billing-addr-con*/
.addr-con table{position:relative;}
.addr-con .edit_td,.addr-con .setDefault_td{position:absolute;bottom:0;width:auto;}
.addr-con .edit_td{right:100px;}
.addr-con .setDefault_td{right:10px;}
.order_detail .overHide{display:inline;}
.dv_note{padding-left:10px;max-width:62%;}
.dv_table_list dl{min-height:140px;padding-left:140px;}
.img-border{height:130px;width:130px;}
.dv_table_list dd{width:100%;position:relative;padding-top:10px;}
.a_del_cart{position:absolute;right:16px;bottom:0;}
.dd_right p{width:auto;}
.dd_right .p_size{width:60px;text-align:left;}
.dd_right .p_number{float:right;}
.fixed-cart{position:fixed;bottom:0;width:100%;}
#chat-application{bottom:40px!important;}
}

@media only screen and (max-width:780px){
.order_top1 dd,.order_top2 dd{width:100%;}
.dv_note{max-width:55%;}
.order_top3 dl dd, .order_top4 dl dd {min-width:32%}
.total_price{font-size:22px;}
}
@media only screen and (max-width:680px){
.my-inquiry-con td {width:100%;}
.bg-yellow{padding:10px 0 5px;}
.bg-yellow ul{width:100%;text-align:center;}
.bg-yellow li{height:40px;line-height:40px;padding:0;}
.bg-yellow li:nth-child(2){padding:0 10px;}
.bg-yellow img{margin-left:8px;}
.bg-gray li a{margin: 0 12px;padding : 0 20px;}
.addr-con td{width:100%;height:auto;}
.order_detail{padding:15px;}
.dv_note{max-width:100%;}
.total_price{margin-right:10px;}
.my-account-checkbox .btn-red-full{width:110px;}
}

@media only screen and (max-width:480px){
.bg-gray li a{ padding: 0 ;}
.personal-inf-con td input{max-width:120px;}
.inquiry_detail table td{padding:5px;}
.order_top3 dl dd, .order_top4 dl dd {min-width:49%}
.order_detail{padding:10px;}
.dd_left p span{padding:0 6px;}
.dv_table_list dl{min-height:125px;padding-left:120px;}
.img-border{height:115px;width:115px;}
.td_NameEN{min-height:24px;}
.p_price,.a_del_cart{font-size:14px;}
.a_del_cart{right:0;}
.total_price{font-size:20px;}
.my-account-checkbox .btn-red-full{width:100px;}
}

@media only screen and (max-width:320px){
.bg-gray li a{margin: 0 8px;}
.personal-inf-con td input{max-width:100px;}
.dv_table_list dl{min-height:100px;padding-left:95px;}
.img-border{height:90px;width:90px;}
.dd_right .p_size{width:40px;}
}