/*index css */
.index_bg{position:relative;overflow:hidden;z-index:1000;}
.index_bg,.position_img,#particles-js,#particles-js canvas{min-height:600px;}
.index_bg .head_box{position:absolute;top:0;left:0;z-index:1000;width:100%;min-height:100px;background:transparent;}
.index_bg .head_bottom_box{background:transparent;}
.index_bg .bld_msg_box{display:block;}
.position_img{position:absolute;z-index:-1;overflow:hidden;width:100%;height:100vh;}
.position_img_bg{position:absolute;width:100%;height:100%;background:no-repeat 50% 50%;background-size:cover;-webkit-animation:scaleImg 60s linear infinite;animation:scaleImg 20s linear infinite;}
.position_img_bg{background-image:url(/static/img/index/index_bg1.jpg)}

#particles-js,#particles-js canvas{max-height:100vh;height:100vh;min-width:320px;}
.index_txt,.custom_title,.services_con a,.custom_con label input{color:#fff;}
.index_txt{height:100px;text-align:center;}
.index_txt .txt_p{margin:30px 0;}
.index_txt .btn{min-width:240px;margin:10px;}
.txt_animation{margin:0 auto;max-width:960px;-webkit-animation:lessen 3s 1 normal;-moz-animation:lessen 3s 1 normal;animation:lessen 3s 1 normal;}
.txt_p,.position_txt_home p{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.btn.on{background:rgba(255,255,255,.8);color:#e84e4d;}

.F0.position_r{z-index:0}
/*services*/
.position_txt_home{position:absolute;top:20%;z-index:10;max-width:44%;}
.position_txt_home .btn{margin-top:2%;width:240px;max-width:100%;border:1px solid #e84e4d;line-height:58px;}
.position_txt_home .btn_red:hover{background:transparent;color:#e84e4d;}
.position_txt_home p{margin:3% 0;line-height:42px;max-height:126px;}
.position_left{left:4%;}
.position_right{right:4%;}
.position_img_box{position:relative;overflow:hidden;width:57.7%;}
.position_img_box img{width:100%;}
.position_img_top:before,.position_img_bottom:before{position:absolute;left:-10%;content:"";width:25%;background:#fff;}
.position_img_top:before{top:-25%;bottom:-15%;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);transform:rotate(20deg);}
.position_img_bottom:before{top:-15%;bottom:-25%;-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);transform:rotate(-20deg);}
.position_txt_a{white-space:nowrap;}
.position_txt_a:hover{color:#147fde;}
/*banner*/
.banner_phone{display:none!important;}
.banner_pc{width:100%;}
.item{position:relative;}
.item_txt_box{position:absolute;width:100%;height:100%;top:0;left:0;}
.item_txt{position:absolute;font-weight:700;}
.item_txt a{text-decoration:underline;}
.F90{font-size:90px;left:9%;bottom:35%;}
.F60{font-size:60px;left:9%;bottom:40%;line-height:96px;}
.item_patents .F90{left:6%;}
.swiper-button-next, .swiper-button-prev{padding:5px;background:rgba(0,0,0,0.4); width: 37px;
    height: 54px;background-repeat:no-repeat;background-position:center;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:2px 8px;}
.swiper-pagination-white .swiper-pagination-bullet-active{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);transform:scale(1.5);background:#147fde;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right:20px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{left:20px;}
.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url(/static/img/index/next.png);}
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url(/static/img/index/prev.png);}

/*.owl-theme .owl-controls{position:static;margin:0;}
.owl-prev,.owl-next{position:absolute;bottom:45%;padding:10px!important;background:rgba(0,0,0,0.5)!important;font-size:0!important;}
.owl-prev{left:20px;}
.owl-next{right:20px;}
.owl-theme .owl-dots .owl-dot.active span{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);transform:scale(1.5);background:#147fde;}
.owl-theme .owl-dots{position:absolute;bottom:10px;width:100%;}
*/
/*custom form*/
.custom_box{padding:4% 6%;}
.custom_left{width:60%;}
.custom_con{position:relative;overflow:hidden;}
.custom_con label{position:relative;float:left;display:block;padding:2.5% 2% 0;color:#fff;}
.custom_con label input,.custom_con label select,.ipt_hear{margin-top:5px;padding:0 10px;width:100%;height:55px;border:1px solid #c89dca;background:none;color:#fff;}
.ipt_hear{line-height:50px;background:url(/static/img/index/down.png) no-repeat;background-position:98% center;}
.select_ul{display:none;z-index:10;position:absolute;top:55px;left:0;right:0;background:#fff;color:#1a284f;}
/*.select_ul{opacity:0;filter:alpha(opacity=0);-webkit-transition:all .5s ease-out;transition:all .5s ease-out;pointer-events:none;-webkit-clip-path:inset(0 0 420px 0);clip-path:inset(0 0 420px 0);}
.select_ul_show{z-index:10;opacity:1;filter:alpha(opacity=1);pointer-events:all;-webkit-clip-path:inset(0 0 0 0);clip-path:inset(0 0 0 0);}
.select_ul li{cursor:pointer;padding:0 10px;color:#1a284f;line-height:24px;}
.select_ul li:hover{background:#d3e6f6;}*/
.custom_con label select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(/static/img/index/down.png) no-repeat;background-position:98% center;}
.custom_con select option{color:#333;}
.custom_con select option:hover{background-color:#d3e6f6;}
.custom_con label textarea{margin-top:5px;padding:5px 10px;width:100%;height:100px;border:1px solid #c89dca;background:none;color:#fff;}
.custom_con label input:focus{border-color:#a7d2f7;}
.custom_con .btn{margin:2% 2% 0;width:96%;}
.custom_right{position:absolute;right:1%;top:10%;bottom:0;width:32%;min-height:320px;border:1px solid #b376b6;color:#fff;}
.custom_stock{max-height:320px;padding:6% 4%;text-align:center;}
.custom_stock p{margin-bottom:10%;font-size:40px;}
.custom_stock .btn{margin-top:5%;width:80%;background:transparent;color:#fff;font-weight:700;border:1px solid #fff;}
.custom_stock .btn:hover{background:rgba(255,255,255,.8);color:#e84e4d;}

@keyframes lessen{
	0%{opacity:0;-webkit-transform:scale(1.4);transform:scale(1.4);}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes scaleImg{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2);}
	50%{-webkit-transform:scale(1);transform:scale(1);}
	100%{-webkit-transform:scale(1.2);transform:scale(1.2);}
}
@media only screen and (min-width:2400px){
	.custom_box{padding-top:10%;}
}
@media only screen and (max-width:1600px){
	.position_txt_home{top:16%;}
	.position_txt_home p{line-height:36px;font-size:16px;}
	.position_img_box{width:60%;}
}
@media only screen and (max-width:1400px){
	.F90{font-size:76px;}
	.F60{font-size:52px;line-height:80px;}
	.index_txt .txt_p{margin:25px 0;}
	.position_txt_home{top:12%;width:42%;}
	.position_txt_home p{line-height:32px;font-size:15px;max-height:96px;}
}
@media only screen and (max-width:1200px){
	.F90{font-size:64px;}
	.F60{font-size:42px;line-height:70px;}

	/*.owl-prev,.owl-next{padding:8px!important;}
	.owl-prev img,.owl-next img{width:25px;}*/
}
@media only screen and (max-width:1024px){
	.F90{font-size:48px;}
	.F60{font-size:32px;line-height:60px;}
	.index_txt .txt_p{margin:20px 0;}
	.position_txt_home{top:10%;width:40%;}
	.position_img_box{width:65%;}
	.position_img_top:before,.position_img_bottom:before{width:30%;}
	.position_txt_home .btn{line-height:48px;}
	.custom_left{width:100%;}
	.custom_right{width:96%;margin:5% 2% 0;}
	.custom_right,.custom_right .position_center{position:static;min-height:auto;}
	.custom_stock p{margin-bottom:2%;font-size:30px;}
	.custom_stock button{margin-top:1%;}
}
@media only screen and (max-width:768px){
	.F90{font-size:70px;left:0;bottom:auto;top:14%;}
	.F60{font-size:40px;left:0;top:20%;}
	.item_txt{width:100%;text-align:center;}
	.banner_pc{display:none!important;}
	.banner_phone{display:block!important;width:100%;}
	.position_img_box{width:75%;}
	.position_txt_home p{margin:4% 0;line-height:30px;font-size:14px;max-height:60px;-webkit-line-clamp:2;}
	.position_txt_home .btn{width:200px;line-height:43px;}
	.item_fmg .F90{color:#e84e4d;}
	.item_sd br{display:none;}
	.custom_box{padding-top:6%;}
}
@media only screen and (max-width:568px){
	.F90{font-size:36px;}
	.F60{font-size:22px;line-height:48px;}
	.index_bg .logo_white_hide{display:none;}
	.index_txt{height:200px;}

	.position_img_box{width:100%;}
	.position_img_top:before,.position_img_bottom:before{width:56%;}
	.position_txt_home{top:6%;}
	.position_right.position_txt_home{top:12%;}
	.position_txt_home p{margin:0;max-height:20px;visibility:hidden;}
	.position_txt_home h3{padding-top:15px;font-weight:400;}
	.position_txt_home .btn{font-weight:400;width:120px;height:42px;line-height:40px;}


	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:2px 6px;}
	.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white{background-size:22px 36px;}
	.swiper-button-next, .swiper-button-prev{width:32px;height:46px;}
	/*.owl-prev,.owl-next{padding:5px!important;}
	.owl-prev{left:10px;}
	.owl-next{right:10px;}
	.owl-prev img,.owl-next img{width:22px;}*/

	.custom_box{padding:6% 0 4%;}
	.custom_con label input,.custom_con label select{height:45px;margin-top:2px;}
	.custom_con label textarea{height:90px;margin-top:2px;}
	.custom_box .F18{font-size:14px;}
	.custom_stock p{font-size:22px;}
}
@media only screen and (max-width:376px){
    .title_h3{font-size:28px;}
	.custom_stock p{font-size:20px;}
	.foot_nav a{font-size:14px;}
	/*.owl-prev img,.owl-next img{width:20px;}*/
}
@media only screen and (max-width:320px){
	/*.owl-prev img,.owl-next img{width:18px;}*/
}
