.search_change a{display:inline-block;white-space:nowrap;line-height:32px;}
.search_change .search_textarea{margin:0 5%;}
.search_change .on,.search_change a:hover{border-bottom:2px solid #fff;}
.search_content{position:relative;margin:2% 0;background:#fff;border:5px solid #4d75df;}
.search_box .search_ipt{padding-left:10px;padding-right:50px;color:#333;border:none;}
.search_box input::-webkit-input-placeholder{color:#999;}
.search_box input:-ms-input-placeholder{color:#999;}
.search_box input:-moz-placeholder{color:#999;}
.search_box input::-moz-placeholder{color:#999;}
.search_box textarea::-webkit-input-placeholder{color:#999;}
.search_box textarea:-ms-input-placeholder{color:#999;}
.search_box textarea:-moz-placeholder{color:#999;}
.search_box textarea::-moz-placeholder{color:#999;}
.search_box .search_img{position:absolute;top:0;right:0;padding:10px;cursor:pointer;}
.search_textarea_con{position:relative;}
.search_textarea_con textarea{width:100%;height:175px;padding:10px 50px 5px 10px;border:none;}
.search_textarea_bg{position:absolute;top:0;right:0;width:20px;background:#fff;height:100%;}

.flex_box{display:-webkit-flex;display:flex;justify-content:flex-start;flex-wrap:wrap;}
.product_card{float:left;width:19%;margin:0.5%;background:rgba(255,255,255,0.7);font-size:14px;}
.product_card:hover{background:#fff;}
.product_card p{line-height:24px;padding:0 8% 10px;white-space:nowrap;}
.pro_name{display:inline-block;width:100%;padding:0 8%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.pro_img{display:inline-block;min-height:200px;line-height:200px;width:100%;text-align:center;}
.pro_img img{vertical-align:middle;}
.pro_cas{display:inline-block;white-space:nowrap;padding-right:20px;}
.num{display:inline-block;height:30px;width:30px;line-height:30px;}
.num.active{border-radius:30px;background:rgba(255,255,255,0.4);}


@media only screen and (max-width:1025px){
	.product_card{width:24%;}
	.pro_img{min-height:160px;}
	.pro_cas{padding-right:15px;}
}
@media only screen and (max-width:768px){
	.product_card{width:32.33%;}
}
@media only screen and (max-width:568px){
	.search_change .search_structure{display:none;}
	.search_keyword{margin:0 5%;}
	.search_textarea_con textarea{height:140px;}
	.product_card{padding:10px 0;width:99%;}
	.product_card:hover{background:none;}
	.pro_name{position:relative;padding:0 0 5px 20px;white-space:normal;}
	.pro_name:before{position:absolute;top:-6px;left:5px;color:#555;content:"\2022";font-size:20px;}
	.product_card .pro_img{display:none;}
	.product_card p{padding:0 0 0 20px;}
}