body{position:relative;padding-bottom:420px;width:100%;min-width:1200px;min-height:1000px;min-height:100vh}
.footer{position:absolute;bottom:0;left:0;width:100%;min-height:200px}
.layout,.width1200{margin:0 auto;width:1200px}
/*header   start*/
.header_shadow {border-bottom:1px solid #ddd;-webkit-box-shadow:0 0 5px #aaa;-moz-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa;}
.head{position:fixed;top:0;padding-top:10px;width:100%;min-height:80px;min-width:1200px;background:#fff;z-index:101;}
.logo-a{float:left;padding-top:10px;width:290px}
.head-nav{float:left;overflow:hidden;height:26px}
.head-nav li{float:left;margin-right:24px;line-height:26px}
.head-nav li:hover a{text-decoration:underline}
.head-contact{float:right;height:26px}
.head-contact img{position:relative;top:4px;left:-2px}
.a_hd_tel{margin-right:32px}
/*header search  start*/
.new-head-middle{padding-left:290px}
.head-search{position:relative;float:left;width:530px}
.head-search-ipt{float:left;width:490px;height:36px;border:none;background:#fef2dd;text-indent:15px}
.head-search-img{position:absolute;top:0;right:0;z-index:105;width:40px;height:36px;background:#f39800;background:#f39800 url(/static/img/search.png);background-position:center;background-repeat:no-repeat;cursor:pointer}
.structure-btn{position:absolute;top:19px;left:535px;width:106px;border-bottom:1px solid #f39800;color:#f39800;white-space:nowrap}
/*header icon  start*/
.head-sign-box{position:relative;float:right;padding-top:5px;width:240px}
.head_login{position:relative;top:-6px;display:inline-block;overflow:hidden;width:115px;text-overflow:ellipsis;white-space:nowrap}
.xin{padding:4px 5px 0}
.head-cart{position:relative;float:right;display:inline-block;width:44px}
.cart-count{position:absolute;bottom:15px;left:18px;z-index:4;display:inline-block;visibility:hidden;width:22px;height:22px;border:1px solid #fff;border-radius:22px;background:#000;color:#fff;text-align:center;line-height:22px}
/*header bottom  start*/
.new-head-bottom{margin-top:80px;height:40px;background:#222;}
.mobile_show,.show_menu,.hide_menu,.show_submenu,.hide_submenu{display:none;}
.nav-menu{position:relative;z-index:15}
/*header 一级级菜单 */
.nav-dl{position:relative;z-index:9;float:left;min-width:14%}
.pharmaceutical-dl{width:23%}
.inhibitors-dl{width:17%}
.material-dl{width:17%}
.life-dl{width:15%}
.nav-title{display:block;padding:8px 0;color:#fff;white-space:nowrap;font-weight:700;line-height:24px;}
.nav-title span {display:block;border-right: 1px #555 solid;}
.first_span{position:absolute;height:24px;top:8px;border-left:1px #555 solid;}
.nav-dl:hover .nav-title span,.nav-dl:hover .first_span{border:none;}
.nav-dl:hover .nav-title {color:#222;border-top: 1px solid #222;height:40px;}
.chemistry-dl .nav-title{padding-left:64px;background:url(https://www.ambeed.com/static/img/head-nav/nav-1.png) no-repeat 24px center}
.chemistry-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-01.png) no-repeat 24px center}
.pharmaceutical-dl .nav-title{padding-left:52px;background:url(https://www.ambeed.com/static/img/head-nav/nav-2.png) no-repeat 26px center}
.pharmaceutical-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-02.png) no-repeat 26px center}
.inhibitors-dl .nav-title{padding-left:56px;background:url(https://www.ambeed.com/static/img/head-nav/nav-3.png) no-repeat 15px center}
.inhibitors-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-03.png) no-repeat 15px center}
.material-dl .nav-title{padding-left:60px;background:url(https://www.ambeed.com/static/img/head-nav/nav-4.png) no-repeat 20px center}
.material-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-04.png) no-repeat 20px center}
.life-dl .nav-title{padding-left:76px;background:url(https://www.ambeed.com/static/img/head-nav/nav-5.png) no-repeat 18px center}
.life-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-05.png) no-repeat 18px center}
.contact-dl .nav-title{padding-left:58px;background:url(https://www.ambeed.com/static/img/head-nav/contact-1.png) no-repeat 30px center}
.contact-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/contact-01.png) no-repeat 30px center}
/*header 二级菜单 */
.nav-dl:hover .subnav-dl{display:block}
.subnav-dl{position:absolute;top:40px;left:0;z-index:100;display:none;overflow-y:hidden;padding:10px 10px 0;min-width:690px;max-width:910px;border-top:none;background:#fff;
	-webkit-box-shadow:0 5px 8px rgba(36,50,56,.4);-moz-box-shadow:0 5px 8px rgba(36,50,56,.4);box-shadow:0 5px 8px rgba(36,50,56,.4);column-count:4;column-gap:1em;-moz-column-count:4;-webkit-column-count:4;-moz-column-gap:1em;-webkit-column-gap:1em}
.inhibitors-dl .subnav-dl,.life-dl .subnav-dl,.material-dl .subnav-dl{width:680px;column-count:3;column-gap:1em;-moz-column-count:3;-webkit-column-count:3;-moz-column-gap:1em;-webkit-column-gap:1em}
.life-dl .subnav-dl,.material-dl .subnav-dl{right:0;left:auto}
.chemistry-dl .subnav-dl,.pharmaceutical-dl .subnav-dl{min-width:910px;}
.subnav-dl dd{float:left;width:222px;height:100%;text-overflow:ellipsis;white-space:nowrap;break-inside:avoid;-moz-page-break-inside:avoid;-webkit-column-break-inside:avoid}
.subnav-dl dd a.title-a{color:#555}
.subnav-dl dd a{display:block;overflow:hidden;margin:5px;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:18px}
.subnav-dl dd a:hover{color:#f39800;text-decoration:underline}
/*header sidebar  start*/
.fixed-sidebar .fixed-txt{position:absolute;left:36px;display:table-cell;padding:0 10px;height:36px;background:#333;color:#fff;font-weight:700;line-height:36px}
.fixed-sidebar li a:hover .fixed-txt{right:36px;left:auto}
/*footer */
.footer{padding:40px 0 10px;}
.foot_nav{overflow:hidden;}
.footer-con ul{float:left;}
.footer-con a:hover{text-decoration: underline;}
.footer-con  b a{cursor: default;}
.footer-con  b a:hover{text-decoration:none;}
.footer-con .foot_left{min-width:30%;}
.footer-con .foot_right{float:right;min-width:20%;}
.foot_partner{padding:20px 0 6px;margin-top:20px;}
.foot_copy{color:#666;}

