body{background:#f5f5f5;}
.menu-con-title{height:38px;color:#007bc4;font-weight:700;font-size:24px;}
.brochure-card-con{overflow:hidden;min-height:450px;}
.brochure-card-con a{float:left;padding:0 18px 18px 0;width:33.3%;}
.brochure-card{overflow:hidden;padding:20px;border:1px solid #ddd;background:#fff;}
.brochure-card dd,.brochure-card dt{float:left;}
.brochure-card dt{width:32%;max-width:118px;height:118px;}
.brochure-card dd{width:68%;}
.brochure-card h2{margin-bottom:10px;border-bottom:1px dashed #ddd;color:#007bc4;font-weight:700;font-size:20px;line-height:50px;}

@media only screen and (max-width:1024px){
	.menu-con-title{font-size:22px;}
    .brochure-card-con a{width:50%;}
	.brochure-card h2{line-height:40px;font-size:18px;}
	.brochure-card dd p:last-child{min-height:38px;}
}
@media only screen and (max-width:780px){
	.brochure-card-con a{width:80%;}
}
@media only screen and (max-width:640px){
	.menu-con-title{font-size:20px;}
    .brochure-card-con a{width:100%;padding-right:0;}
	.brochure-card h2{line-height:32px;font-size:16px;}
}
@media only screen and (max-width:480px){
	.brochure-card{padding:15px;}
}
@media only screen and (max-width:320px){
    .brochure-card{padding:10px;}
	.brochure-card h2{margin-bottom:6px;line-height:26px;font-size:14px;}
}