.dv_slide{
    height: 380px;
}
.dv_slide .slide-dl {
    display:inline-block;
    float: left;
    height: 346px;
    position: relative;
    width: 260px;
    text-align:center;
}
.dv_slide.slide-dl .currency {
    font-size:16px; 
    font-weight:600;
    position: relative;
    top:-5px;
}
.dv_slide .slide-dl dt {
    height:230px;
    width: 230px;
    line-height: 230px;
    text-align: center;
}
.dv_slide .slide-dl dt img{
    display: inline-block;
    vertical-align: middle;
}
.dv_slide .slide-dl dd {
    margin-top:10px;
}
.dv_slide .slide-dl p {
    line-height: 19px;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dv_slide .slide-dl b {
    font-weight:600; 
    font-size:24px;
    padding-right:15px;
}
.dv_slide .slide-dl .weight {
    font-weight:600;
    padding-left:15px;
    font-size:18px;
}
.dv_slide .slide-hover {
    display:none;
    height:330px;
    width:260px;
    top:0;
    left: 0;
    position: absolute;
    background:rgba(25,25,25,0.8);
    text-align: center;
    color:#fff;
    z-index: 9;
}
.slide-hover h2 {
    font-family: arial;
    font-size: 30px;
    margin: 80px 0 10px;
    font-weight: 100;
    height: 80px;
    border-bottom: 1px dashed #eee;
}
.dv_slide .slide-hover h2 span {
    font-weight: bold;
}
.dv_slide .slide-hover h3 {
    font-size:24px;width:190px;
    margin:0 auto;
    border-bottom:1px dashed #eee;
    padding-bottom:10px;
    margin-bottom:25px;
}
.dv_slide .price-btn {
    display:inline-block; 
    width:130px; height:38px;
    line-height:38px;
    text-align:center;
    background:#0fcea1;
    border-radius:4px;
    font-weight: bold;
    color:#fff;
    font-size: 30px;
}
.dv_slide .price-btn span {
    font-size:18px;
    line-height: 16px;
    position: relative;
    top:-8px;
}
.dv_slide .see-more {
    display:inline-block;
    width:100%;
    border-top:1px dashed #eee;
    padding:10px 0;
    margin-top:55px;
}
.dv_slide .see-more a {
    color:#eee;
    margin-left:5px;
}
.dv_slide .see-more a:hover {
    border-bottom:1px solid #eee;
}
.dv_slide .see-more i {
    color:#eee;
    font-size:14px;
}
.dv_slide .slide-dl:hover .slide-hover {
    display:block;
}
.dv_slide .mark {
    position: absolute;
    top:0; 
    height:100%; 
    width:230px; 
    z-index: 9;
}
.dv_slide .mark-left{
    left:0;
    background:linear-gradient(to left,rgba(255,255,255,0),rgba(255,255,255,1));
}
.dv_slide .mark-right {
    right:0;
    background:linear-gradient(to left,rgba(255,255,255,1),rgba(255,255,255,0));
}
.dv_slide .btn-next,.dv_slide .btn-prev {
    top:120px; z-index: 10; position: absolute;cursor: pointer;
}
.dv_slide .btn-next{
    right: 18px;
}
.dv_slide .btn-prev {
    left: 18px;
}
.dv_slide .banner {
    width:1300px;  
    margin:0 auto;
}
.dv_slide .slide-banner {
    width:1300px;
    height:330px;
}
.dv_slide .slide-img {
    width:2700px;
}
.dv_slide .slide-img li {
    width:1400px;
    float:left;
}
.dv_slide .slide-banner .num{
    width:55%;
    bottom:10px;
}
.dv_slide .dv_pages{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
}
.dv_slide .dv_pages span{
    border-color:#aaa; 
}
.dv_slide .dv_pages span.swiper-visible-switch {
    background:#aaa; 
}
.slide-hover .btn {
    margin-top: 20px;
}