/*  ----  用户中心 stytle ---- */
.user-center-con {
	background: #fff;
	margin-bottom: .56rem;
}
.user-center-con li a {
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	height: 4.45rem;
	width: 100%;
	padding-top: 1.5rem;
	border-bottom: .08rem solid #f3f3f3;
}
.user-center-con li:last-child a {
	border: none;
}
.user-center-con a i {
	position: absolute;
	right: 0;
	padding-right: .5rem;
}
.user-center-txt {
	position: relative;
	left: .5rem;
	bottom: .4rem;
	font-size: 1.22rem;
	color: #666;
}
/*  ---- header stytle ---- */
.title-con {
	position: relative;
	height: 3.5rem;
	padding-top: 2rem;
	background: #fff;
	font-size: 1.33rem;
	color: #666;
	text-align: center;
}
.title-con .left-icon {
	position: absolute;
	left: 4%;
}

/*  ---- 我的订单 stytle ---- */
.com-card {
	background: #fff;
	margin-top: .56rem;
	padding: 0 4%;
	font-size: 1.11rem;
}
.com-card span {
	font-size: .9rem;
	color:#555;
}
.com-card .img-box {
	position: relative;
	top: .5rem;
	margin-right: .3rem;
}
.order-card li {
	height: 3.75rem;
	line-height: 3.75rem;
	border-bottom: .08rem solid #f3f3f3;
	white-space: nowrap;
	overflow: hidden;
}
.order-card li:last-child,.trace-msg dd:last-child，.addr-msg dd:last-child { border:none;}
.order-card li p {
	float: left;
	width: 50%;
}
.order-card span {
	display: inline-block;
	width: 5rem; 
}
.order-card span.width6{
	width: 6.2rem;
}
.order-card .look-details a {
	display: block;
}

/*  ---- 订单详情 stytle ---- */
.order-detial-status{
	height: 3.75rem;
	line-height: 3.75rem;
	overflow: hidden;
}
/*跟踪信息*/
.trace-msg dd,.addr-msg dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 3.75rem; 
	padding: .8rem 0;
	border-bottom: .08rem solid #f3f3f3;
}
.trace-msg-title {
	height: 5.33rem;
	line-height: 3.75rem;
}
.trace-msg .float-L {
	line-height: 1.6rem; 
}
.trace-msg  p.float-L { 
	padding-right: 1rem;
	font-size: .9rem;
	color: #555;
}
.trace-msg  div.float-L {
	max-width: 84%;
}
/* 产品清单 */
.product-list thead td {
	line-height: 3.75rem;
}
.product-list td {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 3.75rem;
	padding: .8rem 0;
	border-bottom: .08rem solid #f3f3f3;
}
.product-list td p{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: .8rem;
}
.product-list td .product-name {
	font-size: 1.33rem;
}
.product-list p i {
	font-style:normal;
}
.count {
	min-width: 2.2rem;
	text-align: center; 
}
.product-list .price b {
	color: #000;
	font-size: 1.33rem;
}
.product-list .color555 {
	color:#555;
}
.product-list td.total,.product-list td.total span {
	color: #000;
	font-size: 1.33rem;
}
/*地址信息*/
.addr-msg dt {
	font-size: .9rem;
	color:#555;
	border-bottom: .08rem solid #f3f3f3;
	height: 3.75rem;
	line-height: 3.75rem;
}
.addr-msg dd {
	font-size: 1.11rem;
}
.addr-msg dd span {
	color:#000;
	font-size: 1.33rem;
}

/*  ---- 我的询单 stytle ---- */
.inquire-con .msg-con {
	padding: 0 4%;
	background: #fff;
}
.msg-box {
	padding-top: 1rem;
	line-height: 1.5rem;
	font-size: 1.11rem;
}
.msg-box p {
	padding: 0 1rem;
}
.msg-box span {
	font-size: .9rem;
	color:#555;
}
.msg-box .session-box {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 3.5rem;
	padding: .8rem 1rem;
	border-radius: .5rem;
	background: #f3f3f3;
	margin-top: 1.5rem;
}
.session-box .up-icon {
	position: absolute;
	top: -1rem;
	left: 18%;
}
.last-p a {
	display: inline-block;
	padding: 1rem 0 1.5rem;
	color: #1583d8;
}
.customer-answer{
	text-align: right;
}

/*  ---- 客户询单问答 stytle ---- */
.customer-QA-con {
	margin-top: 1.4rem;
	font-size: 1rem;
}
.QA-img {
	height: 3.11rem;
	width: 3.11rem;
	background: #fff;
	border-radius: .25rem;
}
.msg-con dl {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.msg-con dd {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 74%;
	padding: .6rem .6rem .5rem .8rem;
	min-height: 1.75rem; 
	line-height: 1.75rem;
	border-radius: .6rem;
}
.msg-con dd .img-box {
	position: absolute;
}
.CSNpharm-service dd {
	margin-left: 1.5rem;
	background: #fff;
}
.CSNpharm-service dd .img-box {
	left: -0.75rem;
	top: .8rem;
}
.time {
	text-align: center;
	padding: 1.5rem 0 1rem;
	font-size: 1rem;
	color: #fff;
}
.time span {
	display: inline-block;
	padding: .5rem 1.4rem;
	background: #ddd;
	border-radius: 1.5rem;
}
.customer-question {
	justify-content: flex-end;
}
.customer-question dd {
	margin-right: 1.5rem;
	background: #eb6132;
	color: #fff;
}
.customer-question dd .img-box {
	right: -0.75rem;
	top: .8rem;
}
.customer-QA-icon {
	height: 1rem;
	width: 1rem;
}

/*  ---- 个人信息 stytle ---- */
.info-com {
    font-size: 1.11rem;
    color: #555;
}
.info-com article {
	margin-top: .56rem;
	background: #fff;
}
.info-com p {
	height: 3.75rem;
	line-height: 3.75rem;
    border-bottom: .08rem solid #f3f3f3;
}
.info-com p span {
	display: inline-block;
	width: 12%;
	color: #aaa;
}
.edit {
	text-align: right;
	height: 3.75rem;
	line-height: 3.75rem;
}
.edit a {
	padding-right: .6rem;
	color: #aaa;
}
.edit i {
	font-size: 2.4rem;
}
.edit span {
	position: relative;
	bottom: .5rem;
}

/*  ---- 编辑个人信息 stytle ---- */
.info-com input{
	width: 86%;
    border: none;
    line-height: 3rem;
    font-size: 1.11rem;
    color: #555;
    font-family: "微软雅黑";
}
.edit-btn-box {
	padding: 1rem 5%;
}

/*  ---- 修改密码 stytle ---- */
.change-password-con p span {
	width: 21%;
}
.change-password-con input {
	width: 77%;
}

/*  ---- 地址信息 stytle ---- */
.addr-info-con {
	background: none;
}
.addr-info-card {
	background: #fff;
	font-size: 1.11rem;
	margin-top: .56rem;
}
.addr-info-card header {
	height: 3.75rem;
	line-height: 3.75rem;
	border-bottom: .08rem solid #f3f3f3;
	color: #aaa;
}
.addr-info-card article {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	border-bottom: .08rem solid #f3f3f3;
}
.addr-info-card article p{
	width:80%;
	padding-right: 1rem;
	line-height: 2rem;
	margin: .5rem 0;
}
.user-name {
	display: inline-block;
	padding-right: .8rem;
	font-size: 1.33rem;
}
.color-red { color: #eb6132; }
.addr-info-card article a{
	width: 3.2rem;
	display: block;
	height: 2.5rem; 
	line-height: 2.5rem; 
	margin-top: 6%;
	padding-left: .6rem;
	border-left: .08rem solid #f3f3f3;
	color: #aaa;
}
.add-addr {
	display: block;
	text-align: center;
	color: #aaa;
	height: 2.5rem;
	padding: .5rem 0;
}
.add-addr i{
	position: relative;
	top: .15rem;
	font-size: 1.6rem;
}

/*  ---- 编辑地址信息 stytle ---- */
.save {
	float: right;
	color: #aaa; 
	padding-right: .3rem;
}
.edit-addr-con p span {
	width: 18%;
}
.edit-addr-con input {
	width: 80%;
}
.edit-addr-con select {
	position: absolute;
	left: 18%;
	top: .8rem;
	width: 80%;
	height: 60%;
	background: none;
	outline: none;
	border: none;
    font-size: 1.11rem;
    color: #555;
    font-family: "微软雅黑";
}
.edit-addr-con p i {
	float:right;
	padding-right: .5rem;
}
.set-default,.del-addr {
	background: #fff;
	height: 3.89rem;
	line-height: 3.89rem;
	margin: .56rem 0;
}
.del-addr {
	display: block;
	margin-top: 1rem;
	color: #ea5413;
}
.set-default .float-R{
	padding-top: .55rem;
}
/*  set default */
.switch-checkbox { display: none;} 
.switch-label {
    background-color: #ddd;
    display: inline-block;
    position: relative;
    cursor: pointer;
  	width: 3.9rem;
  	height: 1.95rem;
    border-radius: 1.95rem;
    box-shadow: 0 0 0.08rem #ddd;
}
.switch-checkbox:checked~.switch-label .switch-circle {
    left: 1.95rem;
}
.switch-circle {
    position: absolute;
    display: inline-block;
    height: 1.95rem;
    width: 1.95rem;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; /*过渡效果，可考虑不加*/
}
.switch-checkbox:checked~.switch-label {
    background: #60b5ea;
}

/*  ---- 我的收藏 stytle ---- */
.my-favorite-card {
	overflow: hidden;
}
