body,.layout{min-width:1200px;}
body{position:relative;padding:80px 0 400px;min-height:1000px;min-height:100vh}
#footer{position:absolute;bottom:0;left:0;width:100%;min-height:120px}
.head{position:fixed;top:0;z-index:100;width:100%;min-height:80px}
.fixed-head{border-bottom:1px solid #eee;-webkit-box-shadow:0 0 5px #aaa;-moz-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa}
/* new-head-top*/
.new-head-top{padding-top:6px}
.logo-a{float:left;display:inline-block;width:24%}
.logo-a img{padding-top:14px}
/* head-nav */
.head-nav,.head-nav li{float:left}
.head-nav li{float:left;margin-right:24px;line-height:28px}
.head-nav li:hover a{text-decoration:underline}
.li_header_bulk,.li_header_fs{display:none}
/* head-contact*/
.head-contact{float:right;height:28px}
.head-contact .a_hd_tel{margin-right:32px}
.head-contact img{position:relative;left:-2px}
/* new-head-middle */
.head-search{position:relative;float:left;width:44%}
.head-search-ipt{float:left;padding-right:40px;width:100%;height:36px;border:none;background:#fef2dd;text-indent:15px;line-height:36px}
.head-search-img{position:absolute;top:0;right:0;z-index:105;width:40px;height:36px;background:#f39800 url(/static/img/search.png);background-position:center;background-repeat:no-repeat;cursor:pointer}
.structure-btn{position:absolute;top:19px;right:-110px;width:106px;border-bottom:1px solid #f39800;color:#f39800;white-space:nowrap}
/* head-sign-box */
.head-sign-box{position:relative;float:right;padding-top:5px;width:20%}
.head-sign-box .head_login{position:relative;display:inline-block;overflow:hidden;width:115px;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.head-sign-box .xin{padding:4px 5px 0}
.head-sign-box .head-cart{position:relative;float:right;display:inline-block;width:44px}
.head-sign-box .cart-count{position:absolute;bottom:15px;left:18px;z-index:4;display:inline-block;visibility:hidden;width:22px;height:22px;border:1px solid #fff;border-radius:22px;background:#000;color:#fff;text-align:center;line-height:22px}
/*new-head-bottom*/
.new-head-bottom{min-height:40px;background:#222}
.mobile_show,.show_menu,.hide_menu{display:none;}
/*new-head-bottom  nav-dl*/
.nav-dl{position:relative;z-index:9;float:left;width:14%}
.pharmaceutical-dl{width:23%}
.inhibitors-dl,.material-dl{width:17%}
.life-dl{width:15%}
.nav-title{display:block;padding:8px 0;color:#ddd;white-space:nowrap;font-weight:700;line-height:24px}
.nav-title span{display:block;border-right:1px #555 solid}
.first_span{position:absolute;top:8px;height:24px;border-left:1px #555 solid}
.nav-dl:hover .first_span,.nav-dl:hover .nav-title span{border:none}
.nav-dl:hover .nav-title{height:40px;border-top:1px solid #222;color:#222}
.chemistry-dl .nav-title{padding-left:64px;background:url(https://www.ambeed.com/static/img/head-nav/nav-1.png) no-repeat 24px center}
.chemistry-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-01.png) no-repeat 24px center}
.pharmaceutical-dl .nav-title{padding-left:52px;background:url(https://www.ambeed.com/static/img/head-nav/nav-2.png) no-repeat 26px center}
.pharmaceutical-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-02.png) no-repeat 26px center}
.inhibitors-dl .nav-title{padding-left:56px;background:url(https://www.ambeed.com/static/img/head-nav/nav-3.png) no-repeat 15px center}
.inhibitors-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-03.png) no-repeat 15px center}
.material-dl .nav-title{padding-left:60px;background:url(https://www.ambeed.com/static/img/head-nav/nav-4.png) no-repeat 20px center}
.material-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-04.png) no-repeat 20px center}
.life-dl .nav-title{padding-left:76px;background:url(https://www.ambeed.com/static/img/head-nav/nav-5.png) no-repeat 18px center}
.life-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/nav-05.png) no-repeat 18px center}
.contact-dl .nav-title{padding-left:58px;background:url(https://www.ambeed.com/static/img/head-nav/contact-1.png) no-repeat 30px center}
.contact-dl:hover .nav-title{background:#fff url(https://www.ambeed.com/static/img/head-nav/contact-01.png) no-repeat 30px center}

/*new-head-bottom  subnav-dl*/
.nav-dl:hover .subnav-dl{display:block}
.subnav-dl{position:absolute;top:40px;left:0;z-index:100;display:none;overflow-y:hidden;padding:10px 10px 0;max-width:910px;max-height:620px;min-width:690px;border-top:none;background:#fff;-webkit-box-shadow:0 5px 8px rgba(36,50,56,.4);-moz-box-shadow:0 5px 8px rgba(36,50,56,.4);box-shadow:0 5px 8px rgba(36,50,56,.4);column-count:4;column-gap:1em;-moz-column-count:4;-webkit-column-count:4;-moz-column-gap:1em;-webkit-column-gap:1em}
.inhibitors-dl .subnav-dl,.life-dl .subnav-dl,.material-dl .subnav-dl{width:680px;column-count:3;column-gap:1em;-moz-column-count:3;-webkit-column-count:3;-moz-column-gap:1em;-webkit-column-gap:1em}
.life-dl .subnav-dl,.material-dl .subnav-dl{right:0;left:auto}
.chemistry-dl .subnav-dl,.pharmaceutical-dl .subnav-dl{min-width:910px}
.life-dl .subnav-dl{max-height:260px}
.material-dl .subnav-dl{max-height:490px}
.chemistry-dl .subnav-dl{max-height:580px}
.subnav-dl dd{float:left;width:222px;height:100%;text-overflow:ellipsis;white-space:nowrap;break-inside:avoid;-moz-page-break-inside:avoid;-webkit--column-break-inside:avoid}
.subnav-dl dd a.title-a{color:#555}
.subnav-dl dd a{display:block;overflow:hidden;margin:5px;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:18px}
.subnav-dl dd a:hover{color:#f39800;text-decoration:underline}

/*products card */
.sales-dl:hover .product-name a{position:absolute;bottom:0;left:0;z-index:12;width:100%;overflow:visible;white-space:normal}
.sales-dl:hover .xin-click{display:block}
.menu-detail-xin{position:absolute;top:-25px;}
/*footer */
.footer-con b a{cursor:default}
.footer-con li:hover a{text-decoration:underline;}
.footer-con li:hover b a{text-decoration:none;}
.footer-con .float-left{min-width:35%}
.foot_partner{margin-top:15px;padding:15px 0 6px}
/*footer fixed-sidebar*/
.top:hover{background-color:#333}
.fixed-a:hover .fixed-txt,.fixed-email:hover .fixed-txt{right:36px;left:auto}
.fixed-a:hover .left,.fixed-email:hover .left{background:#333}