<!DOCTYPE html>
<html lang="cn">
<head>
    <title>联系我们</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

 
<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">联系我们</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt contact-us-con">
        如果您对本隐私政策，本网站的做法或您与本网站的交易有任何疑问，请联系我们：    
        <p class="contact-us-title">Csnpharm</p>
        <div class="flex">
            <div>
                <a class="tel" href="javascript:;">
                    <span class="img-box small-icon">
                        <img src="/static/img/header/iphone.png" alt="Tel">
                    </span>
                    400-920-2911
                </a>
            </div>
            <div>
                <a class="email" href="mailto:sales@csnpharm.cn">
                    <span class="img-box small-icon">
                        <img src="/static/img/header/email.png" alt="Email">
                    </span>
                    sales@csnpharm.cn
                </a>
            </div>
        </div>
        <div>
            <a class="email" href="mailto:sales@csnpharm.cn">
                <span class="img-box small-icon">
                    <img src="/static/img/header/web.png" alt="Web">
                </span>
                www.csnpharm.cn
            </a>
        </div>
        <div>
            <a class="tel" href="javascript:;">
                <span class="img-box small-icon">
                    <img src="/static/img/header/addr.png" alt="addr">
                </span>
                上海市浦东新区陶桥路488号5幢，邮编201203
            </a>
        </div>
    </article>
</section>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>