<!DOCTYPE html>
<html lang="cn">
<head>
    <title>网络浏览器cookie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

 
<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">网络浏览器cookie</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        我们的网站可能会使用“cookies”来增强用户体验。用户的Web浏览器将cookie放在其硬盘驱动器上以便记录，有时可用于识别和跟踪用户活动。用户可以选择将其Web浏览器设置为拒绝cookie，或在发送cookie时提醒您。如果他们选择这样做，请注意本网站的某些部分可能无法正常运行。
    </article>
</section>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>