@charset "utf-8";

html{font-size: 10px}
@media screen and (min-width: 321px) and (max-width: 375px){html{font-size: 11px}}
@media screen and (min-width: 376px) and (max-width: 414px){html{font-size: 12px}}
@media screen and (min-width: 415px) and (max-width: 639px){html{font-size: 15px}}
@media screen and (min-width: 640px) and (max-width: 719px){html{font-size: 20px}}
@media screen and (min-width: 720px) and (max-width: 749px){html{font-size: 22.5px}}
@media screen and (min-width: 750px) and (max-width: 799px){html{font-size: 23.5px}}
@media screen and (min-width: 800px){html{font-size: 25px}}


html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,label,span,b {
	margin: 0;padding: 0;
}
html,body {
	background: #f3f3f3;
	min-width: 320px;
	margin: 0; padding: 0;
	font-family: "微软雅黑";
	color: #000;
}
header,footer {
	display: block;
}
img {
	border: none;
}
a {
	text-decoration: none;
	color: #000;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,ol,li {
	list-style: none;
}
button {
	cursor: pointer;
}
/*input去掉黄色背景*/
input: -webkit-autofill{ 
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* :: -ms-clear 是文本清除按钮 
   :: -ms-reveal是密码查看按钮  */
input:: -ms-clear,input:: -ms-reveal{
	display: none;
}
input,button,textarea{
	outline: none;
}
input, textarea {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}
.border-box {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
}
.flex {
	display: -webkit-flex; /* Safari */
  	display: flex;
}
.position-r {
	position: relative;
}
.position-a {
	position: absolute;
}
span.img-box,a.img-box {
	display: inline-block;
}
.img-box img {
	max-height: 100%;
	max-width: 100%;
}
.margin0 {
	margin: 0!important;
}
.white-bg {
	background: #fff;
}
.layout {
	padding: 0 4%;
}

/* ------------ btn style ------------ */
.btn-box {
	padding: 1.44rem 0;
}
.btn {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	height: 4rem;
	width: 100%;
	font-size: 1.33rem;
	border-radius: .5rem;
	border: .08rem solid #e0e0e0;
}
.btn-red {
	background: #eb6132;
	border-color: #eb6132;
	color: #fff; 
}
.btn-line {
	background: #fff;
}
.btn-blue {
	background: #2180be;
	color: #fff;
	font-size: 1.2rem;
	border-color: #2180be;
	padding-bottom:.2rem;
}

.loading {
	height: 4rem;
	line-height: 4rem;
	font-size: 1rem;
	color: #666;
	text-align: center;
}


/* ------------ 侧边菜单 ------------ */
.mask {
	position: fixed; 
	top: 0; left:-100%;
	z-index: 100;
	height: 100%;
	width: 100%; 
	background: rgba(25,25,25,.6);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.popups {
	position: absolute;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	background: #fff;
}
.sidebar {
	top: 0;
	right: 0;
	width: 90%;
	height: 100%;
	overflow-y: auto;
	padding: 1.75rem 1.75rem 1rem;
}
.del-sidebar {
	height: 100%;
	width: 100%;
}



/* ------------  header style start  ------------- */
.header {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	background: #fff;
	height: 9.31rem;
	padding-top: 1.67rem;
	border-bottom: .12rem solid #eb6132;
}
.small-icon {
	width: 1.75rem;
	height: 1.75rem;
}
.logo {
	height: 2.08rem;
}
.header-top, .header-top ul,.link,.btn-box {
	display: -webkit-flex; /* Safari */
	display: flex;
}
.header-top,.link,.btn-box {
	justify-content: space-between ;
}
.header-top {
	height: 3rem;
}
.header-left li {
	margin-right: 1rem;
}
.header-right li {
	margin-left: .8rem;
	margin-right: 1.5rem;
}
.cart-count {
	position: absolute;
	bottom: 1.3rem; 
	right: -1.4rem;
	height: 1.45rem;
	width: 1.45rem;
	background: #eb6123;
	border-radius: 1.45rem;
	line-height: 1.45rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
}
.header-search {
 	position: relative;
	text-align: center;
}
.header-search div {
	padding: 0 4%;
}
.header-search input {
	width: 100%;
	height: 3.22rem;
	text-indent: .8rem;
	font-size: 1rem;
	background: #f3f3f3;
	border-radius: .5rem;
	border: .08rem solid #f3f3f3;
    resize:none; 
    -webkit-appearance:none;  /*清除浏览器默认的样式 */
    line-height: normal;   /* 光标问题  */
}
/* 搜索提示 placeholder */
.header-search input:: -webkit-input-placeholder{ 
  	color: #aaa; /* WebKit browsers */
} 
.header-search input: -moz-placeholder{ 
	color: #aaa; /* Mozilla Firefox 4 to 18 */
} 
.header-search input:: -moz-placeholder{ 
  	color: #aaa; /* Mozilla Firefox 19+ */
} 
.header-search input: -ms-input-placeholder{ 
 	color: #aaa; /* Internet Explorer 10+ */ 
}
.header-search .small-icon {
	position: absolute;
	right: 5%;
	bottom: 1rem;
}



/*  ------------  菜单样式    sub-title stytle ------------ */
.sub-title {
	position: relative;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
	min-height: 4.45rem;
	padding-top: 1.5rem;
}
.sub-title>div {
	height: 2.95rem;
}
.sub-title a {
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 1.06rem;	
	white-space: nowrap;
}
.sub-title .small-icon {
	position: absolute;
	right: 0;
	top: 1.5rem;
}
.menu .title {
	font-size: 1.33rem
}
.menu .sub-title {
	border-bottom: .08rem solid #e0e0e0;
}
.sub-title .down-icon {
	width: 1.55rem;
	padding-right: .9rem;
}
.right-icon {
	height: 1.65rem;
	padding-right: .7rem;
}
.menu>li:last-child {
	border: none;
}
.sub-menu {
	display: none;
	border-top: .08rem solid #e0e0e0;
}
.sub-menu .sub-title {
	border: none;
	background: #f3f3f3;
	margin-bottom: .35rem;
}
.sub-menu li:last-child {
	margin: 0;
}
.tips-red {
	display: inline-block;
	height: .94rem;
	width: .25rem;
	margin-right: 1rem;
	background: #eb6132;
}
.tips-circle {
	position: relative;
	top: .15rem;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	border-radius: 1rem;
	margin: 0 .65rem;
	background: #cbcbcb;
	-webkit-transform: scale(.5,.5);	/* Safari 和 Chrome */
	-ms-transform: scale(.5,.5);	/* IE 9 */
	-o-transform: scale(.5,.5);	/* Opera */
	-moz-transform: scale(.5,.5);
	transform: scale(.5,.5);
}

/* ------------ menu.html style start ------------- */
.menu-con {
	margin: .94rem 0;
	padding-top: 1rem;
	padding-bottom: .5rem;
	background: #fff;
}
.menu-con .title {
	margin-bottom: .56rem;
}


/* ------------ footer stytle start ------------ */
/* 回到顶部 */
.to-top {
	background: #000;
	height: 4.39rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
}
.to-top-icon {
	height: 1rem;
	width: 1rem;
	margin-top: .65rem;
}
/* 价格优惠 */
.warranty{
	height: 12.08rem;
	margin-top: 1.17rem;
	padding-top: .83rem;
}
.warranty ul{
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
}
.warranty li {
	width: 48%;
	height: 4.89rem;
	border: .08rem solid #e0e0e0;
	border-radius: .5rem;
	font-size: 1.22rem;
	text-indent: 4%;
	line-height: 4.89rem;
}
.support {
	padding-top: .9rem;
}
.footer-icon {
	position: relative;
	top: 1rem;
	height: 2.64rem;
	height: 2.64rem;
	margin-right: 1rem;
}
/* 关于我们 */
.footer-bar {
	height: 24.54rem;
	background: #4a4d52;
}
.footer-bar ul {
	overflow: hidden;
	float: left;
	padding-top: .5rem;
}
.footer-bar ul.percent_55 {
	width:55%;
}
.footer-bar ul li {
	height: 3.35rem;
	line-height: 3.35rem;
}
.footer-bar ul a {
	font-size: 1rem;
	color: #fff;
}
/* 地址信息 */
.footer-message {
	height: 22.5rem;
	background: #202122;
	color: #fff;
}
.footer-message-top {
	padding: 2.5rem 0 2rem;
}
.brochure-img {
	float: left;
	height: 10.83rem;
	line-height: 10.83rem;
	width: 28%;
	margin-right: 1.45rem;
}
.brochure-img img {
	height:100%;
}
.footer-message-con {
	margin-top: -0.3rem;
}
.footer-message-con li{
	height: 2.9rem;
	line-height: 2.9rem;
	font-size: 1rem;
	white-space: nowrap;
}
.footer-message-con li .img-box {
	position: relative;
	top: .4rem;
	margin-right: .3rem;
}
.footer-bottom ,.footer-bottom .img-box {
	text-align: center;
}
.footer-bottom p {
	padding-top: .6rem;
	font-size: .83rem;
}
