<!DOCTYPE html>
<html lang="cn">
<head>
    <title>我的订单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">我的订单</span>
</header>
<section class="my-order-con">
    <ul class="com-card order-card">
        <li>
            <a href="javascript:;" class="img-box small-icon">
                <img src="/static/img/user-center/bell.png" alt="">
            </a>
            <span>
                您的订单将保留48小时
            </span>
        </li>
        <li>
            <p><span>订单编号</span>25212522133</p>
            <p><span class="width6">客户订单号</span>856623212</p>
        </li>
        <li>
            <p><span>总价</span>RMB420</p>
            <p><span class="width6">订单状态</span>已支付</p>
        </li>
        <li class="look-details">
            <a href="my-order-detail.html">
                查看订单详情
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
    </ul>
    <ul class="com-card order-card">
        <li>
            <a href="javascript:;" class="img-box small-icon">
                <img src="/static/img/user-center/time.png" alt="">
            </a>
            <span>
                您的订单正在处理中，很快就会发出去
            </span>
        </li>
        <li>
            <p><span>订单编号</span>25212522133</p>
            <p><span class="width6">客户订单号</span>856623212</p>
        </li>
        <li>
            <p><span>总价</span>RMB420</p>
            <p><span class="width6">订单状态</span>已支付</p>
        </li>
        <li class="look-details">
            <a href="my-order-detail.html">
                查看订单详情
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
    </ul>
    <ul class="com-card order-card">
        <li>
            <a href="javascript:;" class="img-box small-icon">
                <img src="/static/img/user-center/time.png" alt="">
            </a>
            <span>
                您的订单正在处理中，很快就会发出去
            </span>
        </li>
        <li>
            <p><span>订单编号</span>25212522133</p>
            <p><span class="width6">客户订单号</span>856623212</p>
        </li>
        <li>
            <p><span>总价</span>RMB420</p>
            <p><span class="width6">订单状态</span>已支付</p>
        </li>
        <li class="look-details">
            <a href="my-order-detail.html">
                查看订单详情
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
    </ul>
    <ul class="com-card order-card">
        <li>
            <a href="javascript:;" class="img-box small-icon">
                <img src="/static/img/user-center/bell.png" alt="">
            </a>
            <span>
                您的订单将保留48小时
            </span>
        </li>
        <li>
            <p><span>订单编号</span>25212522133</p>
            <p><span class="width6">客户订单号</span>856623212</p>
        </li>
        <li>
            <p><span>总价</span>RMB420</p>
            <p><span class="width6">订单状态</span>已支付</p>
        </li>
        <li class="look-details">
            <a href="my-order-detail.html">
                查看订单详情
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
    </ul>
    <ul class="com-card order-card">
        <li>
            <a class="img-box small-icon">
                <img src="/static/img/user-center/time.png" alt="">
            </a>
            <span>
                您的订单正在处理中，很快就会发出去
            </span>
        </li>
        <li>
            <p><span>订单编号</span>25212522133</p>
            <p><span class="width6">客户订单号</span>856623212</p>
        </li>
        <li>
            <p><span>总价</span>RMB420</p>
            <p><span class="width6">订单状态</span>已支付</p>
        </li>
        <li class="look-details">
            <a href="my-order-detail.html">
                查看订单详情
                <i class="iconfont icon-gengduo float-R"></i>
            </a>
        </li>
    </ul>
</section>
<div class="loading">
    加载中...
</div>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>
