<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语-吸光度</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">吸光度</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        吸光度用于测定，例如ELISA测定，蛋白质和核酸定量或酶活性测定（即在MTT测定中用于细胞活力）。光源使用特定波长（由滤光器或单色器选择）照射样品，位于孔另一侧的光检测器测量初始（100%）光通过样品传输的量；透射光的量通常与目标分子的浓度有关。
    </article>
</section>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>