<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语-AUC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">AUC</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        药物或放射性配体的最大量，通常表示为每毫克蛋白质的皮摩尔（pM），其可特异性结合膜制剂中的受体。可用于测量特定制剂中受体位点的密度。
    </article>
</section>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>