<!DOCTYPE html>
<html lang="cn">
<head>
    <title>药理学术语-XTT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/privacy-policy.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">XTT</span>
</header>
<section class="layout white-bg">
    <article class="privacy-policy-txt">
        （3' - [1-（苯基氨基羰基）-3,4-四唑] - 双（4-甲氧基-6-硝基）苯磺酸水合物）。用于细胞增殖和活力的非放射性定量的比色测定。该测定基于通过代谢活性细胞裂解黄色四唑盐XTT以形成橙色甲dye染料。
    </article>
</section>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>