body{padding-bottom:0;}
#footer{position:static;}
/*banner */
.banner-box{overflow:hidden;overflow:hidden;padding-bottom:10px;max-height:300px;background:#000076 url(/static/img/banner_bg.png) no-repeat center;}
.banner-box .layout{padding:0;}
.banner{width:79.2%;font-size:0;}
.slide-banner .dv_pages{z-index:99;position:absolute;bottom:20px;left:0;width:100%;text-align:right;}
.dv_pages span{display:inline-block;margin-right:20px;width:12px;height:12px;border:1.5px solid #fff;border-radius:50%;cursor:pointer;}
.dv_pages span.swiper-active-switch{background:#fff;}

/* .home-sign */
.home-sign{float:right;padding:15px;width:20.8%;height:290px;background:#fff;}
.home-sign .f18{font-size:18px;}
.home-sign .ipt{margin:2px 0 5px;padding:0 8px;width:100%;height:34px;border:1px solid #eee;border-radius:2px;line-height:34px;}
.home-sign .forgot{padding-bottom:3px;text-align:right;}
.forgot a{color:#f39800;}
.checkbox label{margin-right:4px;}
.checkbox .f12{padding-left:20px;}
.home-sign .btn{margin-top:5px;width:100%;height:36px;font-weight:700;font-size:14px;line-height:36px;}
.home-sign .sign-btn{background:#f39800;color:#fff;}
.accout-tips{margin-bottom:8px;border-bottom:1px solid #eee;text-align:center;}
.accout-tips span{position:relative;top:6px;display:inline-block;padding:0 8px;background:#fff;}
.home-sign .account-btn{border:1px solid #fdd000;line-height:34px;}
.logged-in{text-align:center;}
.logged-in h3{overflow:hidden;padding-top:15px;text-overflow:ellipsis;white-space:nowrap;font-size:18px;}
.logged-in p{margin:10px 0 18px;padding-bottom:8px;border-bottom:1px #eee dashed;color:#888;}
.logged-icon a{float:left;display:block;margin-bottom:15px;width:50%;color:#888;text-align:center;}
.logged-icon a span{display:inline-block;width:100%;}

/* We Can Provide */
.priovide_title{padding:30px 0 15px;font-size:26px;}
.pc_priovide{overflow:hidden;margin:0 -0.8%;}
.pc_priovide dd{float:left;padding:0.8%;width:25%;}
.pc_priovide p{color:#999;line-height:16px;min-height:50px;}
.pc_priovide p a{color:#999;}
.pc_priovide b{padding-top:5px;display:inline-block;text-overflow:ellipsis;white-space:nowrap;font-size:14px;line-height:20px;color:#333;}
.phone_priovide{display:none;}

/* experts-container */
.experts-container{margin-top:30px;background:#f2f2f2;}
.experts-title{padding-top:20px;text-align:center;font-weight:400;font-size:20px;}
.experts-content{overflow:hidden;margin:0 auto;width:80%;max-width:1200px;}
.experts-content dd{float:left;padding:10px 20px;width:33.3%;text-align:center;font-size:16px;line-height:20px;}
.experts-content img{width:42px;}

/* techology */
.techology ul{overflow:hidden;margin:30px 0 20px;padding:1.5%;border:1px solid #d6d6d6;}
.techology li{float:left;}
.techology_img{max-width:25%;}
.techology_text{max-width:74%;}
.techology h2{font-size:26px;padding:2% 0;}
.techology_text{padding-left:3%;font-size:16px;line-height:28px;}
.techology_text p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.align_r{text-align:right}
.align_r a{color:#f39800;}
.align_r a:hover{text-decoration:underline;}

/* product title */
.title-h4{margin-bottom:10px;padding:10px 0;border-bottom:1px solid #f39800;}
.title-h4 a{display:inline-block;padding-left:10px;border-radius:4px;background:#f39800;font-size:14px;color:#fff;}
.title-h4 a span{display:inline-block;margin-left:10px;padding:10px;border-radius:4px;-webkit-box-shadow:5px 0 8px #e58c00 inset;-moz-box-shadow:5px 0 8px #e58c00 inset;box-shadow:5px 0 8px #e58c00 inset;}
.title-h4 i{font-size:14px;}

/*am_arrangement */
.am_arrangement{margin-top:120px;background:#eee;}
.arrangement_title{padding:35px 0 20px;border-bottom:2px solid #ddd;color:#666;text-align:center;font-weight:700;font-size:18px;}
.arrangement_main{overflow:hidden;display:flex;display:-webkit-flex;justify-content:space-between;flex-wrap:wrap;padding:20px 0;}
.marginR140{margin-right:140px\9;}
.arrangement_main .all_cas{float:left;}
.arrangement_main .all_cas tr td.font_l{font-weight:700;font-size:14px;}
.arrangement_main .all_cas tr td{padding:5px;color:#666;}
.arrangement_main .all_cas tr td a{display:inline-block;padding:0 5px;font-size:14px;}
.arrangement_main .all_cas tr td a:hover{color:#f39800;text-decoration:underline;}

@media only screen and (max-width:1024px){
    .home-sign,.pc_priovide,.single-menu-detail-con dl:last-child{display:none;}
    .slide-banner .dv_pages{bottom:10px;}
    .banner-box{padding-bottom:5px;}
    .banner{width:100%;text-align:center;}
    .priovide_title{padding:25px 0 10px;font-size:24px;}
    .phone_priovide{margin:0 -2%;display:block;overflow:hidden;}
    .phone_priovide a{float:left;display:block;padding-top:10px;width:33.3%;text-align:center;}
    .phone_priovide a span{display:block;overflow:hidden;margin:0 auto;height:122px;width:122px;border-radius:122px;border:1px solid #fff;box-shadow:0 0 8px rgba(36,50,56,.4);}
    .phone_priovide a i{display:inline-block;padding:10px 0;font-size:14px;font-style:normal;}

    .experts-container{margin-top:20px;}
    .experts-title{font-size:18px;}
    .experts-content dd{font-size:14px;}
    .experts-content img{width:36px;}
    .techology h2{font-size:24px;}
    .techology_img{padding-top:2%;}
}
@media only screen and (max-width:920px){
    .single-menu-detail-con dl:nth-child(4),.am_arrangement{display:none;}
    .priovide_title,.techology h2{font-size:22px;}
    .experts-content img{width:34px;}
}
@media only screen and (max-width:780px){
    .footer{margin-top:60px;}
    .priovide_title,.techology h2{font-size:20px;}
    .phone_priovide a span{height:102px;width:102px;border-radius:102px;}
    .phone_priovide a i{padding:8px 0;}
    .title-h4 a span{padding:8px;}
    .experts-container{margin-bottom:10px;}
    .experts-content img{width:32px;}
    .experts-content dd{padding:10px 0;}
    .techology {display:none!important;}
}
@media only screen and (max-width:650px){
    .single-menu-detail-con dl:nth-child(4){display:block;}
    .experts-title{display:none;}
    .priovide_title{padding:20px 0 8px;}
    .phone_priovide a span{height:82px;width:82px;border-radius:82px;}
    .phone_priovide a i{padding:5px 0;}
    .experts-content{width:100%;}
    .experts-content img{width:30px;}
}
@media only screen and (max-width:480px){
    .priovide_title,.techology h2{font-size:18px;}
    .experts-content dd,.phone_priovide a i{font-size:12px;}
    .phone_priovide a span{height:70px;width:70px;border-radius:70px;}
}
@media only screen and (max-width:360px){
    .phone_priovide a span{height:60px;width:60px;border-radius:60px;}
    .experts-content img{width:28px;}
}