<footer class="footer">
	<div class="footer-con layout">
		<div>
			<ul class="float-left margin-right60">
				<li><b><a href="javascript:;">Who We Are</a></b></li>
				<li><a href="/about/about-us.html">About Us</a></li>
				<li><a href="/about/contact-us.html">Contact Us</a></li>
				<li><a href="/about/site-map.html">Site Map</a></li>
				<li><a href="/about/email-subscribe.html">E-mail Subscribe</a></li>
			</ul>
			<ul class="float-left">
				<li><b><a href="javascript:;">Do Business With Us</a></b></li>
				<li><a href="/about/shipping-rates-policies.html">Shipping Rates And Policies</a></li>
				<!--<li><a href="/about/return-policy.html">Return Policy</a></li>-->
				<li><a href="/about/quotations.html">Quotations, Prices And Payment Terms</a></li>
				<li><a href="/about/worldwide-distributors.html">Distributors</a></li>
			</ul>
			<ul class="float-right">
				<li><b><a href="javascript:;">Let Us Help You</a></b></li>
				<li><a href="/about/inquiry-form.html">Inquiry Form</a></li>
				<li><a href="/about/privacy-policy.html">Privacy Policy</a></li>
				<li><a href="/about/terms-and-conditions-of-sale.html">Terms And Conditions Of Sale</a></li>
				<li><a href="/about/how-to-order-and-pay.html">How To Order And Pay</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="foot_partner"><img src="/static/img/foot_partner.png" alt=""></div>
		<p style="color: #666;">&copy; Copyright 2020 Ambeed. All Rights Reserved.</p>
	</div>
</footer>