<div class="footer">
	<div class="footer-con layout">
		<div class="foot_nav">
			<ul class="foot_left">
				<li><b><a href="javascript:;">Who We Are</a></b></li>
				<li><a href="https://www.ambeed.com/about-us.html">About Us</a></li>
				<li><a href="https://www.ambeed.com/contact-us.html">Contact Us</a></li>
				<li><a href="https://www.ambeed.com/site-map.html">Site Map</a></li>
			</ul>
			<ul class="foot_center">
				<li><b><a href="javascript:;">Do Business With Us</a></b></li>
				<li><a href="https://www.ambeed.com/shipping-rates-policies.html">Shipping Rates And Policies</a></li>
				<li><a href="https://www.ambeed.com/return-policy.html">Return Policy</a></li>
				<li><a href="https://www.ambeed.com/quotations.html">Quotations, Prices And Payment Terms</a></li>
				<li><a href="https://www.ambeed.com/worldwide-distributors.html">Distributors</a></li>
			</ul>
			<ul class="foot_right">
				<li><b><a href="javascript:;">Let Us Help You</a></b></li>
				<li><a href="https://www.ambeed.com/inquiry-form.html">Inquiry Form</a></li>
				<li><a href="https://www.ambeed.com/privacy-policy.html">Privacy Policy</a></li>
				<li><a href="https://www.ambeed.com/terms-and-conditions-of-sale.html">Terms And Conditions Of Sale</a></li>
				<li><a href="https://www.ambeed.com/how-to-order-and-pay.html">How To Order And Pay</a></li>
			</ul>
		</div>
		<div class="foot_partner">
			<img src="https://www.ambeed.com/static/img/foot_partner.png" alt="">
		</div>
		<p class="foot_copy">© Copyright 2019 Ambeed. All Rights Reserved.</p>
	</div>
</div>	