<div class="header">
	<div class="fixed_header">
		<div class="layout clearfloat">
			<h1 class="logo_box"><a href="https://www.ambeed.com/"><img class="logo" src="https://www.ambeed.com/static/img/new-logo.png"></a></h1>
			<div class="header_right">
				<div class="header_top clearfloat">
					<div class="head-nav">
						<a class="li_header_fs hidden" href="https://www.ambeed.com/free-sample.html">Free Sample</a>
						<a class="li_header_sales" href="https://www.ambeed.com/deals-products.html">Deals</a>
						<a class="li_header_new" href="https://www.ambeed.com/new-products.html">New Products</a>
						<a class="li_header_bulk hidden" href="https://www.ambeed.com/bulk-products.html">Bulk Products</a>
						<a class="li_header_about" href="https://www.ambeed.com/about-us.html">About Us</a>
						<a class="li_header_inquiry" href="https://www.ambeed.com/inquiry-form.html">Inquiry Form</a>
					</div>
					<div class="head-contact">
						<a class="head_tel" href="javascript:;">630-580-1088</a>
						<a class="head_email" href="mailto:sales@ambeed.com">sales@ambeed.com</a>
					</div>
				</div>
				<div class="header_middle clearfloat">
					<div class="head_search">
						<div class="search_ipt_box">
							<input class="head_search_ipt" type="text" id="pro_keyword" onpropertychange="searchPro(this.value)" onkeyup="searchPro(this.value)" oninput="searchPro(this.value)" placeholder="CAS; Name; MDL No.; Catalog No.">
							<span class="head_search_img" id="head_soso" onclick="_openSearchHtml(0)"></span>
							<a class="head_structure_btn" href="https://www.ambeed.com/search/StructureSearch.html">Structure Search</a>
						</div>
						<div class="dv_keyword_list keyword_list">
							<dl id="searchResult_List">
								<dd class="dd_search_history"><a href="/search/Search.html?keyword=1H-Pyrazolo%5B4,3-b%5Dpyridine-5-carbonitrile">1H-Pyrazolo[4,3-b]pyridine-5-carbonitrile</a><label><span class="sp_nav_record">Search Record</span><span class="sp_nav_delete">Delete</span></label></dd>
								<dd class="dd_search_history"><a href="/search/Search.html?keyword=1H-Pyrazolo%5B4,3-b%5Dpyridine-5-carbonitrile">1H-Pyrazolo[4,3-b]pyridine-5-carbonitrile 1H-Pyrazolo[4,3-b]pyridine-5-carbonitrile</a><label><span class="sp_nav_record">Search Record</span><span class="sp_nav_delete">Delete</span></label></dd>
								<dd><a href="/search/Search.html?keyword=1H-Pyrazolo%5B4,3-b%5Dpyridine-5-carbonitrile">1H-Pyrazolo[4,3-b]pyridine-5-carbonitrile 1H-Pyrazolo[4,3-b]pyridine-5-carbonitrile</a></dd>
							</dl>
							<div class="head_searches_btn">
								<a class="a_list_search" href="https://www.ambeed.com/search/StructureSearch-v2.html?index=1" target="_blank">List Search</a>
								<a class="a_mol_search" href="https://www.ambeed.com/search/StructureSearch-v2.html?index=0" target="_blank">MOL Search</a>
								<a class="a_structure_search" href="https://www.ambeed.com/search/StructureSearch-v2.html?index=2" target="_blank">Structure Search</a>
							</div>
						</div>
					</div>
					<div class="head_icon_box">
						<a class="head_personal_info" href="/mem/personal-information.html"></a>
						<span class="head_login"><span>Hello,</span><a href="/user/login.html">Sign in</a></span>
						<a class="head_favorites" href="/mem/my-favorites.html"></a>
						<a class="head_cart" href="/user/my-cart.html"><span class="head_cart_count header_cart">5</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="search_ipt_mask"></div>
	<div class="header_bottom">
		<div class="layout header_menu">
			<div class="mobile_show">
				<img class="mobile_menu_show" src="/static/img/mobile_menu.png" alt="">
			</div>
			<div class="fixed_menu_mask"></div>
			<div class="fixed_menu">
				<dl class="nav-dl chemistry-dl">
					<dt> 
						<a href="/chemistry.html" class="nav-title">
							<span>Chemistry</span>
						</a>
						<i class="show_menu">&#x2B;</i>
						<i class="hide_menu">&minus;</i>
						<dl class="subnav-dl">
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/asymmetric-synthesis.html" class="title-a"><b>Asymmetric Synthesis &gt;&gt;</b></a>
								<div><a href="/chiral-auxiliaries.html">Chiral Auxiliaries</a>
								<a href="/chiral-building-blocks.html">Chiral Building Blocks</a>
								<a href="/chiral-catalysts,-chiral-ligands-and-chiral-reagents.html">Chiral Catalysts, Chiral Ligands and Chiral Reagents</a>
								<a href="/chiral-resolution-reagents.html">Chiral Resolution Reagents</a>
								</div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/catalysis-chemistry.html" class="title-a"><b>Catalysis Chemistry &gt;&gt;</b></a>
								<div><a href="/c-h-activation.html">C-H Activation</a>
								<a href="/carbon-donor-ligands.html">Carbon-Donor Ligands</a>
								<a href="/cross-coupling.html">Cross-Coupling</a>
								<a href="/cross-coupling-using-transition-metal-catalysts.html">Cross-Coupling Using Transition Metal Catalysts</a>
								<a href="/diketone-ligands.html">Diketone Ligands</a>
								<a href="/hydrogenation.html">Hydrogenation</a>
								<a href="/main-group-elements.html">Main-Group Elements</a>
								<a href="/metal-catalysts.html">Metal Catalysts</a>
								<a href="/nitrogen-donor-ligands.html">Nitrogen-Donor Ligands</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/chemical-biology.html" class="title-a"><b>Chemical Biology &gt;&gt;</b></a>
								<div><a href="/conjugation-chemistry.html">Conjugation Chemistry</a>
								<a href="/glycoscience.html">Glycoscience</a>
								<a href="/linkers-and-crosslinkers.html">Linkers and Crosslinkers</a>
								<a href="/nucleic-acid-chemistry.html">Nucleic Acid Chemistry</a>
								<a href="/pegylation.html">PEGylation</a>
								<a href="/peptide-chemistry.html">Peptide Chemistry</a>
								<a href="/photolabile-protecting-group.html">Photolabile Protecting Group</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/heterocyclic-building-blocks.html" class="title-a"><b>Heterocyclic Building Blocks &gt;&gt;</b></a>
								<div><a href="/acridines.html">Acridines</a>
								<a href="/aliphatic-heterocycles.html">Aliphatic Heterocycles</a>
								<a href="/aromatic-heterocycles.html">Aromatic Heterocycles</a>
								<a href="/azetidines.html">Azetidines</a>
								<a href="/benzimidazoles.html">Benzimidazoles</a>
								<a href="/benzisoxazoles.html">Benzisoxazoles</a>
								<a href="/benzodioxans.html">Benzodioxans</a>
								<a href="/benzofurans.html">Benzofurans</a>
								<a href="/benzothiazoles.html">Benzothiazoles</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/organic-building-blocks.html" class="title-a"><b>Organic Building Blocks &gt;&gt;</b></a>
								<div><a href="/acyl-chlorides.html">Acyl Chlorides</a>
								<a href="/alcohols.html">Alcohols</a>
								<a href="/aldehydes.html">Aldehydes</a>
								<a href="/aliphatic-chain-hydrocarbons.html">Aliphatic Chain Hydrocarbons</a>
								<a href="/aliphatic-cyclic-hydrocarbons.html">Aliphatic Cyclic Hydrocarbons</a>
								<a href="/alkenyls.html">Alkenyls</a>
								<a href="/alkyls.html">Alkyls</a>
								<a href="/alkynyls.html">Alkynyls</a>
								<a href="/amides.html">Amides</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/organometallic-reagents.html" class="title-a"><b>Organometallic Reagents &gt;&gt;</b></a>
								<div><a href="/grignard-reagents.html">Grignard Reagents</a>
								<a href="/organoarsenic.html">Organoarsenic</a>
								<a href="/organobismuth.html">Organobismuth</a>
								<a href="/organoboron.html">Organoboron</a>
								<a href="/organogermanium.html">Organogermanium</a>
								<a href="/organolithium.html">Organolithium</a>
								<a href="/organomercury.html">Organomercury</a>
								<a href="/organosilicon.html">Organosilicon</a>
								<a href="/organotin.html">Organotin</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/stains-and-dyes.html" class="title-a"><b>Stains and Dyes &gt;&gt;</b></a>
								<div><a href="/acid-dyes.html">Acid Dyes</a>
								<a href="/azoic-dyes.html">Azoic Dyes</a>
								<a href="/basic-dyes.html">Basic Dyes</a>
								<a href="/direct-dyes.html">Direct Dyes</a>
								<a href="/disperse-dyes.html">Disperse Dyes</a>
								<a href="/dye-intermediates.html">Dye Intermediates</a>
								<a href="/mordant-dyes.html">Mordant Dyes</a>
								<a href="/oil-dyes.html">Oil Dyes</a>
								<a href="/other-stains-and-dyes.html">Other Stains and Dyes</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/specialty-synthesis.html" class="title-a"><b>Specialty Synthesis &gt;&gt;</b></a>
								<div><a href="/enzyme-mediated-synthesis.html">Enzyme-Mediated Synthesis</a>
								<a href="/fluorous-synthesis.html">Fluorous Synthesis</a>
								<a href="/ionic-liquids.html">Ionic Liquids</a>
								<a href="/solid-supported-synthesis.html">Solid Supported Synthesis</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/synthetic-reagents.html" class="title-a"><b>Synthetic Reagents &gt;&gt;</b></a>
								<div><a href="/acids-&amp;-bases.html">Acids and Bases</a>
								<a href="/c-c-bond-formation.html">C-C Bond Formation</a>
								<a href="/c-x-bond-formation-(halogen).html">C-X Bond Formation (Halogen)</a>
								<a href="/c-x-bond-formation-(non-halogen).html">C-X Bond Formation (Non-Halogen)</a>
								<a href="/chelation-and-complexation-compounds.html">Chelation and Complexation Compounds</a>
								<a href="/condensation-agents.html">Condensation Agents</a>
								<a href="/coupling.html">Coupling</a>
								<a href="/dehydrating-reagents.html">Dehydrating Reagents</a>
								<a href="/fluorination-reagents.html">Fluorination Reagents</a></div>
							</dd>
						</dl>
					</dt>
				</dl>
				<dl class="nav-dl pharmaceutical-dl">
					<dt>
						<a href="/pharmaceutical-intermediate.html" class="nav-title">
							<span>Pharmaceutical Intermediates</span>
						</a>
						<i class="show_menu">&#x2B;</i>
						<i class="hide_menu">&minus;</i>
						<dl class="subnav-dl">
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/analgesics.html" class="title-a"><b>Analgesics &gt;&gt;</b></a>
								<div><a href="/benzhydrocodone.html">Benzhydrocodone</a>
								<a href="/bicifadine.html">Bicifadine</a>
								<a href="/debio-0827.html">Debio-0827</a>
								<a href="/parecoxib-.html">Parecoxib </a>
								<a href="/pregnanolone.html">Pregnanolone</a>
								<a href="/spiradoline.html">Spiradoline</a>
								<a href="/tapentadol-.html">Tapentadol </a>
								<a href="/zucapsaicin-related.html">Zucapsaicin Related</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/anesthetics.html" class="title-a"><b>Anesthetics &gt;&gt;</b></a>
								<div><a href="/fospropofol-.html">Fospropofol </a>
								<a href="/levobupivacaine-.html">Levobupivacaine </a>
								<a href="/remimazolam.html">Remimazolam</a>
								<a href="/remimazolam-besylate.html">Remimazolam besylate</a>
								<a href="/ropivacaine.html">Ropivacaine</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/anti-inflammatory-agents.html" class="title-a"><b>Anti-inflammatory Agents &gt;&gt;</b></a>
								<div><a href="/atb-346-related.html">ATB-346 Related</a>
								<a href="/balsalazide-.html">Balsalazide </a>
								<a href="/celecoxib-related.html">Celecoxib Related</a>
								<a href="/dilmapimod.html">Dilmapimod</a>
								<a href="/esflurbiprofen.html">Esflurbiprofen</a>
								<a href="/etoricoxib.html">Etoricoxib</a>
								<a href="/filgotinib-related.html">Filgotinib Related</a>
								<a href="/flobufen.html">Flobufen</a>
								<a href="/grapiprant-related.html">Grapiprant Related</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/anti-addiction-agents.html" class="title-a"><b>Anti-Addiction Agents &gt;&gt;</b></a>
								<div><a href="/kakonein.html">Kakonein</a>
								<a href="/varenicline-.html">Varenicline </a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antibacterials.html" class="title-a"><b>Antibacterials &gt;&gt;</b></a>
								<div><a href="/afn-1252-related.html">AFN-1252 Related</a>
								<a href="/alatrofloxacin-.html">Alatrofloxacin </a>
								<a href="/besifloxacin-.html">Besifloxacin </a>
								<a href="/brilacidin.html">Brilacidin</a>
								<a href="/cefilavancin.html">Cefilavancin</a>
								<a href="/ceftaroline-fosamil-.html">Ceftaroline Fosamil </a>
								<a href="/ceftizoxime-alapivoxil.html">Ceftizoxime Alapivoxil</a>
								<a href="/cethromycin-related.html">Cethromycin Related</a>
								<a href="/daptomycin-related.html">Daptomycin Related</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/anticonvulsants.html" class="title-a"><b>Anticonvulsants &gt;&gt;</b></a>
								<div><a href="/brivaracetam.html">Brivaracetam</a>
								<a href="/eslicarbazepine-acetate-related.html">Eslicarbazepine Acetate Related</a>
								<a href="/gabapentin-enacarbil.html">Gabapentin Enacarbil</a>
								<a href="/jnj-10234094.html">JNJ-10234094</a>
								<a href="/levetiracetam-related.html">Levetiracetam Related</a>
								<a href="/losigamone.html">Losigamone</a>
								<a href="/naluzotan.html">Naluzotan</a>
								<a href="/perampanel.html">Perampanel</a>
								<a href="/pregabalin.html">Pregabalin</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antidementia-agents.html" class="title-a"><b>Antidementia Agents &gt;&gt;</b></a>
								<div><a href="/azeliragon-related.html">Azeliragon Related</a>
								<a href="/davunetide.html">Davunetide</a>
								<a href="/donepezil-related.html">Donepezil Related</a>
								<a href="/ensaculin.html">Ensaculin</a>
								<a href="/idalopirdine.html">Idalopirdine</a>
								<a href="/lanabecestat.html">Lanabecestat</a>
								<a href="/ntc-942.html">NTC-942</a>
								<a href="/sb-742457.html">SB 742457</a>
								<a href="/semagacestat-related.html">Semagacestat Related</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antidepressants.html" class="title-a"><b>Antidepressants &gt;&gt;</b></a>
								<div><a href="/4-chlorokynurenine.html">4-Chlorokynurenine</a>
								<a href="/agomelatine-related.html">Agomelatine Related</a>
								<a href="/allopregnanolone-related.html">Allopregnanolone Related</a>
								<a href="/amibegron.html">Amibegron</a>
								<a href="/amitifadine.html">Amitifadine</a>
								<a href="/aripiprazole-related.html">Aripiprazole Related</a>
								<a href="/basimglurant.html">Basimglurant</a>
								<a href="/befloxatone.html">Befloxatone</a>
								<a href="/befuraline.html">Befuraline</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antiemetics.html" class="title-a"><b>Antiemetics &gt;&gt;</b></a>
								<div><a href="/aprepitant-related.html">Aprepitant Related</a>
								<a href="/dolasetron--related.html">Dolasetron Related</a>
								<a href="/fosaprepitant-related.html">Fosaprepitant Related</a>
								<a href="/palonosetron--related.html">Palonosetron Related</a>
								<a href="/rolapitant-related.html">Rolapitant Related</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antifungals.html" class="title-a"><b>Antifungals &gt;&gt;</b></a>
								<div><a href="/anidulafungin-related.html">Anidulafungin Related</a>
								<a href="/caspofungin-.html">Caspofungin </a>
								<a href="/eberconazole-.html">Eberconazole </a>
								<a href="/efinaconazole-related.html">Efinaconazole Related</a>
								<a href="/g1.html">G1</a>
								<a href="/isavuconazonium-sulfate-related.html">Isavuconazonium Sulfate Related</a>
								<a href="/luliconazole-related.html">Luliconazole Related</a>
								<a href="/micafungin--related.html">Micafungin Related</a>
								<a href="/mk-3118.html">MK 3118</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/antigout-agents.html" class="title-a"><b>Antigout Agents &gt;&gt;</b></a>
								<div><a href="/arhalofenate.html">Arhalofenate</a>
								<a href="/febuxostat-related.html">Febuxostat Related</a></div>
								</dd>
							<dd><a href="/pharmaceutical-intermediate.html" class="title-a"><b>More &gt;&gt;</b></a></dd>
						</dl>
					</dt>
				</dl>
				<dl class="nav-dl inhibitors-dl">
					<dt>
						<a href="/inhibitors-agonists.html" class="nav-title">
							<span>Inhibitors/Agonists</span>
						</a>
						<i class="show_menu">&#x2B;</i>
						<i class="hide_menu">&minus;</i>
						<dl class="subnav-dl">
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/adcs.html" class="title-a"><b>ADCs &gt;&gt;</b></a>
								<div><a href="/#">ADC Linker</a>
								<a href="/adc-linker-with-payload.html">ADC Linker with Payload</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/anti-infection.html" class="title-a"><b>Anti-infection &gt;&gt;</b></a>
								<div><a href="/antibacterial.html">Antibacterial</a>
								<a href="/antifungal.html">Antifungal</a>
								<a href="/antiparasitic.html">Antiparasitic</a>
								<a href="/ccr.html">CCR</a>
								<a href="/cmv.html">CMV</a>
								<a href="/dengue-virus.html">Dengue Virus</a>
								<a href="/filovirus.html">Filovirus</a>
								<a href="/hbv.html">HBV</a>
								<a href="/hcv.html">HCV</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/apoptosis.html" class="title-a"><b>Apoptosis &gt;&gt;</b></a>
								<div><a href="/apoptosis-inducer.html">Apoptosis Inducer</a>
								<a href="/bcl-2.html">Bcl-2</a>
								<a href="/c-myc.html">c-Myc</a>
								<a href="/c-ret.html">c-RET</a>
								<a href="/caspase.html">Caspase</a>
								<a href="/dapk.html">DAPK</a>
								<a href="/fas.html">FAS</a>
								<a href="/g-quadruplex.html">G-quadruplex</a>
								<a href="/iap.html">IAP</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/autophagy.html" class="title-a"><b>Autophagy &gt;&gt;</b></a>
								<div><a href="/cxcr.html">CXCR</a>
								<a href="/lrrk2.html">LRRK2</a>
								<a href="/mlk.html">MLK</a>
								<a href="/autophagys.html">Other Autophagys</a>
								<a href="/sphk.html">SPHK</a>
								<a href="/ulk.html">ULK</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/biochemical-reagent.html" class="title-a"><b>Biochemical Reagent &gt;&gt;</b></a>
								<div><a href="/intermediate-and-others.html">Intermediate and Others</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/biochemical-reagents.html" class="title-a"><b>Biochemical Reagents &gt;&gt;</b></a>
								<div><a href="/biochemical-assay-reagent.html">Biochemical Assay Reagent</a>
								<a href="/dye-reagent.html">Dye Reagent</a>
								<a href="/intermidate-and-others.html">Intermidate and Others</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/cell-cycle.html" class="title-a"><b>Cell Cycle &gt;&gt;</b></a>
								<div><a href="/adc-toxin.html">ADC Toxin</a>
								<a href="/apc.html">APC</a>
								<a href="/aurora-kinase.html">Aurora Kinase</a>
								<a href="/c-myc.html">c-Myc</a>
								<a href="/casein-kinase.html">Casein Kinase</a>
								<a href="/cdk.html">CDK</a>
								<a href="/chk.html">Chk</a>
								<a href="/crm1.html">CRM1</a>
								<a href="/dhfr.html">DHFR</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/cytoskeleton.html" class="title-a"><b>Cytoskeleton &gt;&gt;</b></a>
								<div><a href="/akt.html">Akt</a>
								<a href="/arp2-3-complex.html">Arp2/3 Complex</a>
								<a href="/bcr-abl.html">Bcr-Abl</a>
								<a href="/dynamin.html">Dynamin</a>
								<a href="/fak.html">FAK</a>
								<a href="/gap-junction-protein.html">Gap Junction Protein</a>
								<a href="/hsp.html">HSP</a>
								<a href="/integrin.html">Integrin</a>
								<a href="/kinesin.html">Kinesin</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/dna-damage.html" class="title-a"><b>DNA Damage &gt;&gt;</b></a>
								<div><a href="/atm-atr.html">ATM/ATR</a>
								<a href="/dna-alkylator-crosslinker.html">DNA Alkylator/Crosslinker</a>
								<a href="/dna-pk.html">DNA-PK</a>
								<a href="/dna-rna-synthesis.html">DNA/RNA Synthesis</a>
								<a href="/hdac.html">HDAC</a>
								<a href="/mth1.html">MTH1</a>
								<a href="/parp.html">PARP</a>
								<a href="/rad51.html">RAD51</a></div>
							</dd>
							<dd>
								<a href="/inhibitors-agonists.html" class="title-a"><b>More &gt;&gt;</b></a>
							</dd>
						</dl>
					</dt>
				</dl>
				<dl class="nav-dl material-dl">
					<dt>
						<a href="/material-science.html" class="nav-title">
							<span>Material Science</span>
						</a>
						<i class="show_menu">&#x2B;</i>
						<i class="hide_menu">&minus;</i>
						<dl class="subnav-dl">
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/electronic-materials.html" class="title-a"><b>Electronic Materials &gt;&gt;</b></a>
								<div><a href="/battery-materials.html">Battery Materials</a>
								<a href="/dye-sensitized-solar-cell-(dssc)-materials.html">Dye-Sensitized Solar Cell (DSSC) Materials</a>
								<a href="/electronic-material.html">Electronic Material</a>
								<a href="/liquid-crystal-(lc)-materials.html">Liquid Crystal (LC) Materials</a>
								<a href="/molecular-conductors.html">Molecular Conductors</a>
								<a href="/organic-light-emitting-diode-(oled)-materials.html">Organic Light-Emitting Diode (OLED) Materials</a>
								<a href="/organic-solar-cell-(opv)-materials.html">Organic Solar Cell (OPV) Materials</a>
								<a href="/organic-transistor-(ofet)-materials.html">Organic Transistor (OFET) Materials</a>
								<a href="/perovskite-solar-cell-(psc)-materials.html">Perovskite Solar Cell (PSC) Materials</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/magnetic-materials.html" class="title-a"><b>Magnetic Materials &gt;&gt;</b></a>
								<div><a href="/magnetic-ionic-liquids.html">Magnetic Ionic Liquids</a>
								<a href="/magnetic-material.html">Magnetic Material</a>
								<a href="/magnetic-metal-complexes-.html">Magnetic Metal Complexes </a>
								<a href="/organic-radicals-.html">Organic Radicals </a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/material-building-blocks.html" class="title-a"><b>Material Building Blocks &gt;&gt;</b></a>
								<div><a href="/ligands-for-functional-metal-complexes.html">Ligands for Functional Metal Complexes</a>
								<a href="/liquid-crystal-(lc)-building-blocks.html">Liquid Crystal (LC) Building Blocks</a>
								<a href="/phthalocyanine-building-blocks.html">Phthalocyanine Building Blocks</a>
								<a href="/polymer-and-macromolecule-semiconductor-building-blocks.html">Polymer and Macromolecule Semiconductor Building Blocks</a>
								<a href="/small-molecule-semiconductor-building-blocks.html">Small Molecule Semiconductor Building Blocks</a>
								<a href="/solubility-enhancing-reagents-.html">Solubility Enhancing Reagents </a>
								<a href="/supramolecular-host-materials-.html">Supramolecular Host Materials </a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/nanomaterials.html" class="title-a"><b>Nanomaterials &gt;&gt;</b></a>
								<div><a href="/carbon-nanomaterials.html">Carbon Nanomaterials</a>
								<a href="/ceramic-membranes.html">Ceramic Membranes</a>
								<a href="/dendrimers.html">Dendrimers</a>
								<a href="/gold-nanoparticles.html">Gold Nanoparticles</a>
								<a href="/iron-oxide-nanoparticles.html">Iron Oxide Nanoparticles</a>
								<a href="/materials-by-application.html">Materials by Application</a>
								<a href="/mesoporous-materials.html">Mesoporous Materials</a>
								<a href="/metals&amp;metal-alloys.html">Metals and Metal Alloys</a>
								<a href="/nano-minerals:-nanoclays.html">Nano Minerals: Nanoclays</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/optical-materials.html" class="title-a"><b>Optical Materials &gt;&gt;</b></a>
								<div><a href="/coumarin-dyes.html">Coumarin Dyes</a>
								<a href="/cyanine-and-squarylium-dyes.html">Cyanine and Squarylium Dyes</a>
								<a href="/dcm-dyes.html">DCM Dyes</a>
								<a href="/dipyrromethene-dyes.html">Dipyrromethene Dyes</a>
								<a href="/fluorescence-materials.html">Fluorescence Materials</a>
								<a href="/fluorescent-probes.html">Fluorescent Probes</a>
								<a href="/heat-and-pressure-sensitive-dyes.html">Heat and Pressure Sensitive Dyes</a>
								<a href="/near-infrared-(nir)-dyes.html">Near-Infrared (NIR) Dyes</a>
								<a href="/organic-non-linear-optical-(nlo)-materials.html">Organic Non-Linear Optical (NLO) Materials</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/organic-pigments.html" class="title-a"><b>Organic Pigments &gt;&gt;</b></a>
								<div><a href="/organic-pigment.html">Organic Pigment</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/material-others.html" class="title-a"><b>Other Materials &gt;&gt;</b></a>
								<div><a href="/mateial-other.html">Mateial Other</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/polymer-science.html" class="title-a"><b>Polymer Science &gt;&gt;</b></a>
								<div><a href="/monomers.html">Monomers</a>
								<a href="/polymer-additives.html">Polymer Additives</a>
								<a href="/polymerization-reagents.html">Polymerization Reagents</a>
								<a href="/#">Polymers</a>
								<a href="/resins.html">Resins</a></div>
							</dd>
						</dl>
					</dt>
				</dl>
				<dl class="nav-dl life-dl">
					<dt>
						<a href="/life-science.html" class="nav-title">
							<span>Life Science</span>
						</a>
						<i class="show_menu">&#x2B;</i>
						<i class="hide_menu">&minus;</i>
						<dl class="subnav-dl">
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/adc-linkers.html" class="title-a"><b>ADC-linkers &gt;&gt;</b></a>
								<div><a href="/adc-linker.html">ADC-linker</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/amino-acids.html" class="title-a"><b>Amino Acids &gt;&gt;</b></a>
								<div><a href="/amino-acid.html">Amino Acid</a>
								<a href="/amino-acid-derivatives.html">Amino Acid Derivatives</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/analycial-science.html" class="title-a"><b>Analytical Science &gt;&gt;</b></a>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/apis.html" class="title-a"><b>APIs &gt;&gt;</b></a>
								<div><a href="/api.html">API</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/dna-rna.html" class="title-a"><b>DNA/RNA &gt;&gt;</b></a>
								<div><a href="/nucleosides-&amp;-nucleotides.html">Nucleosides and Nucleotides</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/enzyme.html" class="title-a"><b>Enzymes &gt;&gt;</b></a>
								<div><a href="/enzymes.html">Enzyme</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/others-science.html" class="title-a"><b>Other Life Science &gt;&gt;</b></a>
								<div><a href="/crispr-cas9.html">CRISPR/Cas9</a>
								<a href="/eif.html">eIF</a>
								<a href="/ire1.html">IRE1</a>
								<a href="/neuronal-signaling.html">Neuronal Signaling</a>
								<a href="/sigma-receptor.html">Sigma Receptor</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/peptides.html" class="title-a"><b>Peptides &gt;&gt;</b></a>
								<div><a href="/peptide.html">Peptide</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/standard-substrates.html" class="title-a"><b>Standard Substrates &gt;&gt;</b></a>
								<div><a href="/standard-substrate.html">Standard Substrate</a></div>
							</dd>
							<dd>
								<span class="show_submenu">&#x2B;</span>
								<span class="hide_submenu">&minus;</span>
								<a href="/steroids.html" class="title-a"><b>Steroids &gt;&gt;</b></a>
								<div><a href="/other-steroids.html">Other Steroids</a></div>
							</dd>
						</dl>
					</dt>
				</dl>
				<dl class="nav-dl contact-dl">
					<dt>
						<a href="/contact-us.html" class="nav-title">
							<span>Contact Us</span>
						</a>
					</dt>
				</dl>
			</div>
		</div>
	</div>
	<div class="fixed-sidebar">
		<ul>
			<li>
				<a class="fixed-a sidebar_account" href="https://www.ambeed.com/mem/personal-information.html">
					<span class="fixed-txt">My Account</span>
					<span class="left"><img src="https://www.ambeed.com/static/img/people_.png" alt=""></span>
				</a>
				<span class="underline"></span>
				</li>
			<li>
				<a class="fixed-a sidebar_cart" href="https://www.ambeed.com/user/my-cart.html">
					<span class="fixed-txt">My Cart (<i class="header_cart">0</i>)</span>
					<span class="left position-r">
						<img src="https://www.ambeed.com/static/img/cart_.png">
						<span class="sidebar_count header_cart">0</span>
					</span>
				</a>
				<span class="underline"></span>
			</li>
			<li>
				<a class="fixed-a sidebar_favorites" href="https://www.ambeed.com/mem/my-favorites.html">
					<span class="fixed-txt">My Favorites</span>
					<span class="left"><img src="https://www.ambeed.com/static/img/xin_.png" alt=""></span>
				</a>
				<span class="underline"></span>
			</li>
			<li>
				<a class="fixed-a sidebar_tel" href="javascript:;">
					<span class="fixed-txt">630-580-1088</span>
					<span class="left"><img src="https://www.ambeed.com/static/img/iphone.png" alt=""></span>
				</a>
				<span class="underline"></span>
			</li>
			<li>
				<a class="fixed-a sidebar_email" href="mailto:sales@ambeed.com">
					<span class="fixed-txt">sales@ambeed.com</span>
					<span class="left"><img src="https://www.ambeed.com/static/img/email.png" alt=""></span>
				</a>
				<span class="underline"></span>
			</li>
			<li><a href="javascript:;" class="sidebar_top"></a></li>
		</ul>
	</div>

</div>
<script>
$(function(){
	//ffixed_heade ixed-sidebar
	$(window).scroll(function (){
		var st = $(this).scrollTop(),sh = 80;
		if(st >= sh){
			$('.fixed-sidebar').show();
			$('.fixed_header').addClass('header_shadow');
		} else {
			$('.fixed-sidebar').hide();
			$('.fixed_header').removeClass('header_shadow')
		}
	});
	//back top
	$(".sidebar_top").click(function(){
		$(window).scrollTop(0).animate(1000);
	});
	//打开搜索页面
	$('#pro_keyword').bind('keypress',function(event){
		if(event.keyCode=='13'&&$(this).val().length>2){
			_openSearchHtml(0);
		}
	});
	$('#pro_keyword').focus(function(){
		$('body').addClass('body_mask');
		$('.head_searches_btn,.dv_keyword_list').show()
		$('body').css({'overflow':"hidden"});
	});
	$('.search_ipt_mask').click(function(){
		$('body').removeClass('body_mask') ;
		$('.head_searches_btn,.dv_keyword_list').hide()
		$('body').css({'overflow':"auto"});
	});
	//mobile menu 
	$('.mobile_menu_show').click(function(){
		$('.fixed_menu_mask').show()
		$('.fixed_menu').addClass('fixed_menu_show')
	});
	$('.fixed_menu_mask').click(function(){
		$('.fixed_menu_mask').hide()
		$('.fixed_menu').removeClass('fixed_menu_show')
	});
	$('.show_menu').click(function(){
		$(this).hide().siblings('.hide_menu').show();
		$(this).siblings('.subnav-dl').slideDown().end().parent().parent().siblings().find('.subnav-dl').slideUp();
		$(this).parent().parent().siblings().find('.hide_menu').hide();
		$(this).parent().parent().siblings().find('.show_menu').show();
	});
	$('.hide_menu').click(function(){
		$(this).hide().siblings('.show_menu').show();
		$(this).siblings('.subnav-dl').slideUp()
	});
	$('.show_submenu').click(function(){
		$(this).hide().siblings('.hide_submenu').show();
		$(this).siblings('div').slideDown()
		$(this).parent().siblings().find('div').slideUp()
		$(this).parent().siblings().find('.hide_submenu').hide();
		$(this).parent().siblings().find('.show_submenu').show();
	});
	$('.hide_submenu').click(function(){
		$(this).hide().siblings('.show_submenu').show();
		$(this).siblings('div').slideUp();
	});
});
</script>