
	<link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layer.css?t=20210721001">
	<script src="/static/layer/layer.js?t=20210721001"></script>
<div class="head_bg">
	<div class="bld_msg_box bg_red_purple">
		<div class="bld_msg maxW1800">
			<p><a href="" class="text_underline">Click to find out NEW features on BLDpharm.com</a></p>
			<button class="btn_del bld_msg_del">×</button>
		</div>
	</div>
	<div class="paddingLR4 head_Bborder">
		<div class="head_top clearfloat maxW1800">
			<h1 class="float_l head_logo">
				<a href="/index.html">
					<img  class="logo_show" src="/static/img/BLD_logo.png?t=20210803" alt="BLDpharm LOGO">
					<span class="logo_min"><img src="/static/img/logo_min.png?t=20210802" alt="BLDpharm LOGO"><sup>TM</sup></span>
				</a>
			</h1>
			<div class="float_r head_right">
				<div class="search_container btn_transition">
					<div class="head_search">
						<label class="search_lab"><span class="icon_head search_icon"></span><input type="search" class="search_ipt search_info focus_show_clear" type="search" autocomplete="off" placeholder="Search by Information"><button class="clear_ipt"> × </button></label>
						<ul class="search_result_list">
							<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
							<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
							<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
							<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
							<li><a href="/products/1807353-30-5.html"><em>Dios</em>-Arg free</a></li>
							<li><a href="/products/1807353-31-6.html"><em>Dios</em>-Arg di2,2,2-trifluoroacetate</a></li>
						</ul>
					</div>
					<button class="btn_del bld_search_del">×</button>
				</div>	
				<div class="head_top_right">
					<span class="mobile_none">
						<span class="float_l icon_head search_min"></span>
						<a class="float_l search_compounds btn_transition" href="/search.html">Search for compounds</a>
					</span>
					<div class="location_icon icon_head float_l" onclick="_openLocationBox()">
						<span>Global</span>
					</div>
					<div class="language_box float_r">
						EN
						<span class="language_change">
							<a class="language_en" rel="noopener norefferrer" href="https://www.bldpharm.com/">EN</a>
							<a class="language_de" rel="noopener norefferrer" href="https://www.bldpharm.de/">DE</a>
							<a class="language_fr" rel="noopener norefferrer" href="http://fr.bldpharm.com/">FR</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="paddingLR4">
		<div class="head_bottom clearfloat maxW1800">
			<span class="head_menu_phone" id="menu_show"><i></i><i></i><i></i></span>
			<div class="head_menu_container">
				<ul class="menu_ul popups_transition">
					<li class="menu_hover" style="opacity:0;"></li>
					<li class="phone_login mobile_show"><!-- 
						<a href="/login.html">Login</a> / <a href="/sign-up.html">Sign up</a> -->
						<a href="/login.html">My Account</a> / <a href="/login.html">Log out</a>
					</li>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/about-us.html">About Us</a>
						<div class="menu_div">
							<a href="/r-d-center.html">Research & Development</a>
							<a href="/manufacture.html">Manufacture</a>
							<a href="/quality-control.html">Quality Control</a>
						</div>
					</li>
					<li><a>Services</a>
						<div class="menu_div">
							<a href="/scale-up-commercial-manufacture.html">Scale Up Commercial Manufacture</a>
							<a href="/custom-synthesis.html">Custom Synthesis</a>
							<a href="/product-center.html">Pre-Packaged Inventories</a>
						</div>
					</li>
					<li><a href="/search.html">Products</a></li>
					<li><a>Contact</a>
						<div class="menu_div">
							<a href="/contact-us.html">Contact Us</a>
							<a href="/distributors.html">Distributors</a>
						</div>
					</li>
				</ul>
			</div>
			<span class="float_r mobile_show">
				<span class="float_l icon_head search_min"></span>
				<a class="float_l search_compounds btn_transition" href="/search.html" target="_blank">Search for compounds</a>
			</span>
			<div class="cart_box mobile_none">
				<span class="icon_head cart_icon" id="cart_show">Cart <i class="cart_total">4</i></span>
			</div>
			<div class="login_box mobile_none">
				<!-- <a href="/login.html">Login</a> / <a href="/sign-up.html">Sign up</a> -->
				<a href="/login.html">My Account</a> / <a href="/login.html">Log out</a>
			</div>
		</div>
	</div>

</div>
<!-- 公用遮罩层 z-index 1000 -->
<div class="bld_mask"></div>

<script>
//预览视频
function _openLocationBox(){
    layer.open({
        type: 2,
        area: ['1060px','597px'],
        fix: false, //不固定
        btnAlign: 'c',
        title: false,
        content: "/location.html",
        shadeClose:true,
        resize:false
    });
}




$(document).ready(function(){
	/*$('.location_icon').click(function() {
		$('.location_popups').slideDown(500);
		$('.bld_mask').show();
	});*/


	//cart show 
	$('#cart_show').click(function() {
		$('.hide_cart').addClass('hide_cart_show');
		//$('.bld_mask').show();
		//$('.bld_mask').css({"opacity": ".2","filter": "alpha(opacity=20)"});

	});

	var windowWidth = $(window).width();
    if(windowWidth > 1025){
        //二级菜单效果
		$(".menu_ul>li").on("mouseover", function() {
		    var position = $(this).position();
		    var width = $(this).width();
		    $(".menu_hover").css({
		            opacity: 1,
		            left: +position.left,
		            width: width
		        }).addClass("squeeze"); 
		});
		$(".menu_ul>li").on("mouseout", function() {
		    $(".menu_hover")
		        .css({ opacity: 0 })
		        .removeClass("squeeze");
		});
    }
	


	//关闭message
	$('.bld_msg_del').click(function(){
		$('.bld_msg_box').slideUp(500);
	})

	//menu show
	$('.head_menu_phone').click(function(){
		$('.head_menu_container').addClass('head_menu_show');
		$('.bld_mask').show();
	})
	//search show
	$('.search_min').click(function(){
		$('.search_container').addClass('search_fixed');
		$('.bld_mask').show();
	})
	$('.bld_search_del').click(function(){
		$('.search_container').removeClass('search_fixed');
		$('.bld_mask').hide();
	})
	//关闭弹窗、遮罩层
	$('.bld_mask').click(function(){
		$(this).hide();
		$('.head_menu_container').removeClass('head_menu_show');
		$('.search_container').removeClass('search_fixed');
		$('.hide_cart').removeClass('hide_cart_show');
		$('.location_popups,.contact_con_box,.cookies_box').hide();
	})

})
</script>