 <div class="paddingTB2LR4 bg_blue">
	<div class="clearfloat maxW1800 paddingT2">
		<div class="foot_left foot_nav">
			<ul class="foot_nav_item">
				<li class="strong_li"><strong>About</strong></li>
				<li><a href="/privacy-policy.html">Privacy Policy</a></li>
				<li><a href="javascript:;">Terms & Conditions</a></li>
				<li><a href="/events-news.html">Events & News</a></li>
				<li><a href="/qualifications.html">Qualifications</a></li>
				<li><a class="btn_cookie_show">Manage Cookie</a></li>
			</ul>
			<ul class="foot_nav_item">
				<li class="strong_li"><strong>Support</strong></li>
				<li><a href="javascript:;">Support Hub</a></li>
				<li><a href="javascript:;">FAQ</a></li>
				<li><a href="/molarity-calculator.html">Molarity Calculator</a></li>
				<li><a href="/returns&refunds.html">Returns</a></li>
			</ul>
			<ul class="foot_nav_item">
				<li class="strong_li"><strong>Contact</strong></li>
				<li><a href="/contact-us.html">Contact Us</a></li>
				<li><a href="/sitemap.html">Site Map</a></li>
				<li><a href="javascript:;">Feedback</a></li>
				<li><a href="/data-privacy-statement.html">Data Privacy Statement</a></li>
			</ul>
		</div>	
		<div class="foot_right">
			<p class="foot_min_logo">
				<img src="/static/img/logo_min.png" width="32px" alt="BLDpharm LOGO"><sup class="position_tm">TM</sup>
				<span class="F20">Get our latest updates</span>
			</p>
			<p class="foot_label">
				<label class="focus_show_box"><input type="text" placeholder="Email" class="ipt_subscribe focus_show_clear"><button class="clear_ipt"> × </button></label>
				<button class="btn_subscribe" onclick="_subscribe()">Subscribe</button>
				<label class="subscribe_error error_txt color_red"></label>
			</p>
			<p class="foot_icon">
				<a href="https://www.instagram.com/bldpharm/" target="_blank" rel="noopener norefferrer" class="w"></a>
				<a href="https://www.facebook.com/BLDpharm" target="_blank" rel="noopener norefferrer" class="fb"></a>
				<a href="https://twitter.com/BldPharm" target="_blank" rel="noopener norefferrer" class="tt"></a>
				<a href="https://www.linkedin.com/company/bldpharm/" target="_blank" rel="noopener norefferrer" class="in"></a>
				<a href="https://www.youtube.com/channel/UCqtDKzRVFy3lEW6IlJSCXRQ" target="_blank" rel="noopener norefferrer" class="ytb"></a>
			</p>
			<p class="paddingT2 foot_email_box F18"><a class="foot_email_white" href="mailto:info@bldpharm.com">info@bldpharm.com</a></p>
		</div>
	</div>
</div>
<div class="paddingLR4 bg_blue foot_txt">
	<p class="clearfloat maxW1800 align_c">
		<span>Copyright &copy; 2013-2021 BLDpharm. All Rights Reserved.</span>
		<span>Research Use Only!</span>
	</p>
</div>
<div class="cookies_box animate__animated">
	<button class="btn_del bld_cookie_del">×</button>
	<div class="cookies_less">
		<div class="cookies_less_left">
			<p class="F24 FW700">Privacy Preference</p>
			<p class="paddingTop10">We use cookies on our website. Some of them are essential, while others help us to improve this website and your experience. </p>
			<p class="paddingTop10">
				<label><input type="checkbox" name="essential" checked="checked" disabled="">Essential</label>
				<label><input type="checkbox" name="statistics" checked="checked" disabled="">Statistics</label>
				<label class="label_pointer"><input class="ipt_selt_all" type="checkbox" name="externalMedia" checked="checked">External Media</label>
			</p>
		</div>
		<div class="cookies_less_right paddingTop10">
			<p class="align_c cookies_btn_box">
				<button class="btn_min btn_transition btn_blue color_blue btn_accept">Accept All</button>
				<button class="btn_min btn_transition btn_border_blue color_blue btn_save">Save</button>
			</p>
			<p class="align_c paddingTop10">
				<button class="btn_cookie_more F14">Cookie Details</button><span class="F14"> | </span><a href="/data-privacy-statement.html" class="F14">Privacy Policy</a>
			</p>
		</div>
	</div>
	<div class="cookies_more">
		<p class="F24 FW700">Privacy Preference</p>
		<p class="paddingTop10">We use cookies on our website. Some of them are essential, while others help us to improve this website and your experience. </p>
		<p  class="paddingTop10 cookies_btn_box">
			<button class="btn_min btn_transition btn_blue color_blue btn_accept">Accept All</button>
			<button class="btn_min btn_transition btn_border_blue color_blue btn_save">Save</button>
			<button class="float_r btn_cookie_less F14 color_blue FW700">Back</button>
		</p>
		<div class="cookies_item F14">
			<p><span class="F24 FW700">Essential (1)</span><label class="float_r"><input type="checkbox" name="essential" checked="checked" disabled="">Essential</label></p>
			<p class="paddingTop10">Essential cookies enable basic functions and are necessary for the proper function of the website.</p>
			<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
			<div class="hide_table_box">
				<table class="hide_table"><tbody>
					<tr><th width="20%">Name</th><td>Borlabs Cookie</td>
						<td rowspan="5" width="15%">
							<label><input type="checkbox" name="cart_key" checked="checked" disabled="">cart_key</label><br>
							<label><input type="checkbox" name="historicalRecords" checked="checked" disabled="">historicalRecords</label><br>
							<label><input type="checkbox" name="bld_country" checked="checked" disabled="">bld_country</label><br>
							<label><input type="checkbox" name="bld_unit" checked="checked" disabled="">bld_unit</label><br>
							<label><input type="checkbox" name="access_token" checked="checked" disabled="">access_token</label>
						</td>
					</tr>
					<tr><th>Provider</th><td>Owner of this website</td></tr>
					<tr><th>Purpose</th><td>Saves the visitors preferences selected in the Cookie Box of Borlabs Cookie.</td></tr>
					<tr><th>Cookie Name</th><td>cart_key, historicalRecords, bld_country, bld_unit, access_token</td></tr>
					<tr><th>Cookie Expiry</th><td>7 Days</td></tr></tbody></table>
			</div>
		</div>
		<div class="cookies_item F14">
			<p><span class="F24 FW700">Statistics (1)</span><label class="float_r"><input type="checkbox" name="statistics" checked="checked" disabled="">Statistics</label></p>
			<p class="paddingTop10">Statistics cookies collect information anonymously. This information helps us to understand how our visitors use our website.</p>
			<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
			<div class="hide_table_box">
				<table class="hide_table"><tbody>
					<tr>
						<th width="20%">Name</th><td>Google Analytics</td>
						<td rowspan="6" width="15%">
							<label><input type="checkbox" name="_ga" checked="checked" disabled="">_ga</label><br>
							<label><input type="checkbox" name="_gat" checked="checked" disabled="">_gat</label><br>
							<label><input type="checkbox" name="_gid" checked="checked" disabled="">_gid</label><br>
					</tr>
					<tr><th>Provider</th><td>Google LLC</td></tr>
					<tr><th>Purpose</th><td>Cookie by Google used for website analytics. Generates statistical data on how the visitor uses the website.</td></tr>
					<tr><th>Privacy Policy</th><td class="_brlbs-pp-url"><a href="https://policies.google.com/privacy?hl=en" class="color_blue" target="_blank" rel="nofollow noopener noreferrer" style="word-break:break-all;">https://policies.google.com/privacy?hl=en</a></td></tr>
					<tr><th>Cookie Name</th><td>_ga,_gat,_gid</td></tr>
					<tr><th>Cookie Expiry</th><td>2 Years</td></tr></tbody>
				</table>
			</div>
		</div>
		<div class="cookies_item F14">
			<p><span class="F24 FW700">External Media (1)</span><label class="float_r label_pointer"><input class="ipt_selt_all" type="checkbox" name="externalMedia" checked="checked">External Media</label></p>
			<p class="paddingTop10">Content from video platforms and social media platforms is blocked by default. If External Media cookies are accepted, access to those contents no longer requires manual consent.</p>
			<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
			<div class="hide_table_box">
				<table class="hide_table">
					<tbody>
						<tr>
							<th width="20%">Provider</th><td>smartsupp</td>
							<td rowspan="4" width="15%" class="td_lab_ipt"><label class="label_pointer"><input class="ipt_selt" type="checkbox" name="ssupp_vid" checked="checked">ssupp.vid</label><br><label class="label_pointer"><input class="ipt_selt" type="checkbox" name="ssupp_visits" checked="checked">ssupp.visits</label></td>
						</tr>
						<tr><th>Purpose</th><td>Customer service</td></tr>
						<tr><th>Cookie Name</th><td>ssupp.vid,ssupp.visits</td></tr>
						<tr><th>Cookie Expiry</th><td>1 Year</td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<p class="lineH32">
			<!-- <a href="https://borlabs.io/borlabs-cookie/" target="_blank" rel="nofollow noopener noreferrer" class="F14"><img width="14px" height="14px" alt="Borlabs Cookie" src="https://3b-pharma.com/wp/wp-content/plugins/borlabs-cookie//images/borlabs-cookie-icon-black.svg"> powered by Borlabs Cookie</a> -->
			<a href="/data-privacy-statement.html" class="float_r F14 color_blue">Privacy Policy</a>
		</p>
	</div>
</div>
<script>

//21-08-08
$(document).ready(function(){
	$('.bld_cookie_del,.btn_accept,.btn_not_accept').click(function(){
		$('.cookies_box').hide();
		$('.bld_mask').hide();
	})
	$('.btn_cookie_show').click(function(){
		$('.cookies_box').addClass('animate__slideInUp').show();
		$('.bld_mask').show();
	})
	$('.btn_cookie_more').click(function(){
		$('.cookies_more').show();
		$('.cookies_less').hide();
		$('.cookies_box').addClass('cookies_box_more');
	})
	$('.btn_cookie_less').click(function(){
			$('.cookies_less').show();
			$('.cookies_more').hide();
			$('.cookies_box').removeClass('cookies_box_more');
	});
	$('.show_cookie_info').click(function(){
		$(this).parent().parent().find('table').toggleClass('hide_table');
		$(this).text(($(this).text()=="Show Cookie Information" ? "Hide Cookie Information" : "Show Cookie Information"));
	})

	$(".focus_show_clear").focus(function(){
		$(this).siblings(".clear_ipt").show();
	});
	$(".clear_ipt").click(function(){
		$(this).siblings(".focus_show_clear").val('');
		$(this).hide();
	});



	/*全选*/
	$('.ipt_selt_all').click(function () {
	    var boolean1 = $(this).is(':checked');
	    $('.ipt_selt_all').prop('checked', boolean1);
	    $('.ipt_selt').each(function () {
	        $(this).prop('checked', boolean1);
	    })
	});
	$('.ipt_selt').click(function () {
	    var boolean2 = false;
	    for (var i = 0; i < $('.ipt_selt').length; i++) {
	        if ($($('.ipt_selt')[i]).is(':checked')) {
	            boolean2 = true;
	            break;
	        }
	    }
	    $('.ipt_selt_all').prop('checked', boolean2);
	})
})
</script>