<style type="text/css" media="screen">
	.layout{max-width:1300px;}
.foot_top_bg{margin-top:8%;background:#063585;}
.foot_top_bg,.foot_top_bg a{color:#fff;}
/*.foot_top_bg a:hover{color:#147fde;}*/
.foot_border{border-bottom:1px solid #1b4c9e;}
.foot_top{padding:15px 0;min-height:60px;border-bottom:1px solid #213857;text-align:center;}
.foot_top span{display:inline-block;padding-left:70px;height:60px;min-width:200px;white-space:nowrap;font-size:22px;line-height:60px;}
.foot_overnight{background:url(/static/img/foot/OvernightDelivery.png) no-repeat left center;}
.foot_fast{margin:0 6%;background:url(/static/img/foot/Fast&SafeDeliveryWorldwide.png) no-repeat left center;}
.foot_professional{background:url(/static/img/foot/ProfessionalService.png) no-repeat left center;}
.foot_middle{padding:4% 0 3%;}
.foot_nav{width:60%;}
.foot_nav dd{float:left;width:33%;}
.foot_nav dd strong{display:inline-block;margin-bottom:12px;font-size:16px;line-height:36px;}
.foot_nav dd a{display:inline-block;margin-bottom:12px;font-size:16px;line-height:36px;border-bottom:2px solid #063585;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.foot_nav dd a:hover{border-bottom:2px solid #e25a69;}
.foot_contact{float:right;width:38%;}
.foot_logo_icon{position:relative;margin-bottom:4%;}
.foot_logo_icon img{vertical-align:middle;}
.foot_logo_icon .position_tm{position:absolute;top:-2px;-webkit-transform:scale(.7);-moz-transform:scale(.7);transform:scale(.7);}
.foot_logo_icon .F20{padding-left:20px;}
.foot_label{position:relative;padding-right:110px;}
.focus_show_box{position:relative;display:inline-block;width:100%;}
.foot_label input{width:100%;border:none;border-bottom:1px solid #698dab;}
.foot_label .btn_subscribe,.foot_label input{height:50px;background:0 0;color:#fff;}
.foot_label .btn_subscribe:hover {border-color:#fff;background:rgba(255,255,255,.8);color:#e84e4d;}
.clear_ipt{position:absolute;right:0;bottom:0;display:none;padding:0 10px;border:none;background:0 0;color:#fff;font-size:20px;line-height:50px;}
.foot_label .btn_subscribe{position:absolute;top:0;right:0;width:100px;border:1px solid #698dab;font-weight:700;font-size:16px;}
.foot_contact .subscribe_error{margin-top:7px;}
.error_txt{position:relative;display:none;padding-left:25px;color:#e84e4d;}
.foot_icon{margin-top:12px;height:38px;}
.foot_icon a{display:inline-block;margin-right:10px;width:35px;height:35px;background:url(/static/img/index/foot_icon.png) no-repeat;}
.foot_icon .w{background-position:-15px -8px;}
.foot_icon .fb{background-position:-63px -8px;}
.foot_icon .in{background-position:-159px -8px;}
.foot_icon .tt{background-position:-111px -7px;}
.foot_icon .ytb{background-position:-207px -7px;}
.foot_contact h5{padding:3% 0 2%;color:#147fde;font-weight:700;font-size:18px;line-height:36px;}
.foot_contact a,.foot_contact span{display:inline-block;padding-left:30px;line-height:30px;}
.foot_email_box a{margin-top:10px;}
.foot_tel{padding-right:20px;background:url(/static/img/foot/foot_icon_tel.png) no-repeat left center;}
.foot_email,.foot_email_tech{background:url(/static/img/foot/foot_icon_email.png) no-repeat left center;}
.foot_email{padding-right:25px;}
.foot_email_tech{margin-bottom:10px;}
.foot_addr{background:url(/static/img/foot/foot_icon_address.png) no-repeat;background-position:left 4px;}
.foot_addr br{display:none;}
.foot_txt{padding:1.6% 4%;border-top:1px solid #1b4c9e;color:#fff;}
.popups_mask{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background:#000;opacity:.5;}
.btn_del{position:absolute;top:0;right:0;width:40px;border:none;background:0 0;color:#333;font-size:30px;}
.cookies_container{position:fixed;top:0;right:0;bottom:0;left:0;z-index:3147483647;display:none;width:100%;}
.cookies_box{position:absolute;right:0;bottom:0;left:0;z-index:100;padding:1.5% 4%;min-height:180px;background:#fff;}
.cookies_bg{position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;background:#000;opacity:.6;}
.cookies_less{padding-right:210px;}
.cookies_less label{display:inline-block;padding:5px;cursor:pointer;}
.cookies_less label input{margin-right:5px;}
.cookies_less_right{position:absolute;right:4%;bottom:20px;max-width:200px;min-height:120px;}
.cookies_btn_box .btn_min{width:200px;height:40px;border:none;line-height:40px;cursor:pointer;}
.cookies_btn_box .btn_border_blue{margin-top:5px;line-height:38px;}
.btn_cookie_less,.btn_cookie_more,.show_cookie_info{border:none;background:0 0;cursor:pointer;}
.btn_cookie_more:hover,.cookies_box a:hover,.show_cookie_info:hover{color:#147fde!important;}
.show_cookie_info{padding:5px;}
.btn_cookie_less{padding:5px 0 5px 28px;background:url(/static/img/back.png) no-repeat left center;}
.cookies_item{margin:5px 0;padding:15px;background:#f6f6f6;}
.cookies_more{display:none;padding-right:20px;}
.cookies_more input[type=checkbox]{margin-right:5px;}
.cookies_box_more{height:80%;max-height:600px;}
.hide_table{display:none;}
.hide_table_box th{text-align:left;}
.hide_table_box td,.hide_table_box th{padding:5px 10px;border:1px solid #e5e5e5;background:#fff;font-size:12px;}
.cookies_box_more .cookies_btn_box{padding-bottom:10px;}
.cookies_box_more .cookies_more{display:block;overflow:auto;max-height:100%;}
.cookies_box_more ::-webkit-scrollbar,.statement_popups ::-webkit-scrollbar{width:6px;height:6px;}
.cookies_box_more ::-webkit-scrollbar-thumb,.statement_popups ::-webkit-scrollbar-thumb{background:#d3e6f6;}
.cookies_box_more ::-webkit-scrollbar-track,.statement_popups ::-webkit-scrollbar-track{background:#f6f6f6;}
.cookies_box .animate__animated{width:100%;height:100%;}
.cookies_box .btn_border_blue{border:1px solid #063585;background:none;color:#063585;font-weight:700;}
.cookies_box .btn_border_blue:hover{background:#063585;color:#fff;}

.foot_tel{background: url(/static/img/foot/foot_contact.png) no-repeat;
    background-position: -20px -137px;}
.foot_email, .foot_email_tech{
    background: url(/static/img/foot/foot_contact.png) no-repeat;
    background-position: -20px -75px;}

.foot_addr{background: url(/static/img/foot/foot_contact.png) no-repeat;
    background-position: -20px -17px;}

@media only screen and (max-width:1200px){
	.foot_top span{background-size:45px 45px;padding-left:50px;font-size:20px;}
}
@media only screen and (max-width:1025px){
	.foot_top span{padding-left:45px;height:55px;background-size:40px 40px;font-size:18px;line-height:55px;}
	.foot_nav,.foot_contact{width:100%;}
}

@media only screen and (max-width:768px){
	.foot_top span{margin:0;padding-left:40px;width:100%;height:50px;background-size:35px 35px;text-align:left;font-size:17px;line-height:50px;}

}

@media only screen and (max-width:568px){
	.foot_top,.foot_nav{display:none;}
	.foot_border{margin-bottom:4%;}
	.foot_txt {text-align:center;}
	.foot_txt .floatR{width:100%;}

}
</style>




	<div class="foot_top_bg">
		<div class="paddingLR4">
		<div class="layout">
			<div class="foot_top">
				<span class="foot_overnight">Overnight Delivery</span>
				<span class="foot_fast">Fast &amp; Safe Delivery Worldwide</span>
				<span class="foot_professional">Professional Service</span>
			</div>
		</div>
			
		</div>
		<div class="foot_border"></div>
		<div class="paddingLR4">
			<div class="layout">
				<div class="foot_middle">
					<dl class="floatL foot_nav">
						<dd>
							<p><strong>About Us</strong></p>
							<p><a href="/bulk-inquires.html">Bulk Inquires</a></p>
							<p><a href="/privacy-policy.html">Privacy Policy</a></p>
							<p><a href="javascript:;">Terms &amp; Conditions</a></p>
							<p><a href="javascript:;">Events &amp; News</a></p>
							<p><a href="/qualifications.html">Qualifications</a></p>
							<p><a class="btn_cookie_show">Manage Cookie</a></p>
						</dd>
						<dd>
							<p><strong>Support</strong></p>
							<p><a href="javascript:;">Support Hub</a></p>
							<p><a href="javascript:;">FAQ</a></p>
							<p><a href="/molarity-calculator.html">Molarity Calculator</a></p>
							<p><a href="/returns&amp;refunds.html">Returns</a></p>
							<p><a href="/qa-qc.html">QA &amp; QC</a> </p>
							<p><a href="/how-to-order.html">How to order</a></p>
							<p><a href="/payment&amp;shipping.html">Payment &amp; Shipping</a></p>
						</dd>
						<dd>
							<p><strong>Contact</strong></p>
							<p><a href="/contacts-us.html">Contact Us</a></p>
							<p><a href="/sitemap.html">Site Map</a></p>
							<p><a href="/inquiry-form.html">Inquiry Form</a></p>
							<p><a href="/coaData.html">COA Inquiry</a></p>
							<p><a href="javascript:;">Feedback</a></p>
							<p><a href="/data-privacy-statement.html">Data Privacy Statement</a></p>
						</dd>
					</dl>
					<div class="foot_contact">
						<div class="foot_new_add">
							<p class="foot_logo_icon">
								<img src="/static/img/logo_min.png" width="32px" alt="BLDpharm LOGO"><sup class="position_tm">TM</sup>
								<span class="F20">Get our latest updates</span>
							</p>
							<p class="foot_label">
								<label class="focus_show_box"><input type="text" placeholder="Email" class="ipt_subscribe focus_show_clear"><button class="clear_ipt"> × </button></label>
								<button class="btn_subscribe" onclick="_subscribe()">Subscribe</button>
								<label class="subscribe_error error_txt color_red"></label>
							</p>
							<p class="foot_icon">
								<a href="https://www.instagram.com/bldpharm/" target="_blank" rel="noopener norefferrer" class="w"></a>
								<a href="https://www.facebook.com/BLDpharm" target="_blank" rel="noopener norefferrer" class="fb"></a>
								<a href="https://twitter.com/BldPharm" target="_blank" rel="noopener norefferrer" class="tt"></a>
								<a href="https://www.linkedin.com/company/bldpharm/" target="_blank" rel="noopener norefferrer" class="in"></a>
								<a href="https://www.youtube.com/channel/UCqtDKzRVFy3lEW6IlJSCXRQ" target="_blank" rel="noopener norefferrer" class="ytb"></a>
							</p>
						</div><!-- 
						<h5>Contact Us</h5> -->
						<p><a href="tel:+49-6303-208-2088" class="foot_tel">+49-6303-208-2088</a></p>
						<p class="foot_email_box">
							<a class="foot_email" href="mailto:sales-eu@bldpharm.com">sales-eu@bldpharm.com</a>
							<a class="foot_email_tech" href="mailto:tech@bldpharm.com">tech@bldpharm.com</a>
						</p>
						<a class="foot_addr" href="https://goo.gl/maps/s24FxfvegWDz8zr36" target="_blank" rel="noopener norefferrer">BLD Pharmatech GmbH<br>Trippstadter Str. 110<br>D-67663 Kaiserslautern<br> Germany</a>
					</div>
					<div class="clearfloat"></div>
				</div>
			</div>
		</div>
		<div class="foot_txt">
			<div class="layout align_c">
				<span>Copyright © 2013-2021 BLDpharm. All Rights Reserved.</span>
				<span>Research Use Only!</span>
			</div>
		</div>
	</div>
	<div class="cookies_container">
		<div class="popups_mask"></div>
		<div class="cookies_box animate__animated">
			<button class="btn_del bld_cookie_del">×</button>
			<div class="cookies_less">
				<div class="cookies_less_left">
					<p class="F24">Privacy Preference</p>
					<p class="paddingTop10">We use cookies on our website. Some of them are essential, while others help us to improve this website and your experience. </p>
					<p class="paddingTop10">
						<label><input type="checkbox" name="essential" checked="checked" disabled="">Essential</label>
						<label><input type="checkbox" name="statistics" checked="checked" disabled="">Statistics</label>
						<label><input class="ipt_external_media" type="checkbox" name="externalMedia" checked="checked">External Media</label>
					</p>
				</div>
				<div class="cookies_less_right paddingTop10">
					<p class="align_c cookies_btn_box">
						<button class="btn_min btn_transition btn_blue btn_accept">Accept All</button>
						<button class="btn_min btn_transition btn_border_blue btn_save">Save</button>
					</p>
					<p class="align_c paddingTop10" style="white-space:nowrap;">
						<button class="btn_cookie_more F14" style="padding:0;">Cookie Details</button>
						<span class="F14">|</span>
						<a href="/data-privacy-statement.html" class="F14">Privacy Policy</a>
					</p>
				</div>
			</div>
			<div class="cookies_more">
				<p class="F24">Privacy Preference</p>
				<p class="paddingTop10">We use cookies on our website. Some of them are essential, while others help us to improve this website and your experience. </p>
				<p class="paddingTop10 cookies_btn_box">
					<button class="btn_min btn_transition btn_blue btn_accept">Accept All</button>
					<button class="float_r btn_cookie_less F14 color_blue FW700">Back</button>
				</p>
				<div class="cookies_item F14">
					<p class="F24 FW700">Essential (1)</p>
					<p class="paddingTop10">Essential cookies enable basic functions and are necessary for the proper function of the website.</p>
					<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
					<div class="hide_table_box">
						<table class="hide_table">
							<tbody>
								<tr><th width="20%">Name</th><td>Borlabs Cookie</td></tr>
								<tr><th>Provider</th><td>Owner of this website</td></tr>
								<tr><th>Purpose</th><td>Saves the visitors preferences selected in the Cookie Box of Borlabs Cookie.</td></tr>
								<tr><th>Cookie Name</th><td>cart_key,historicalRecords,bld_country,bld_unit,access_token</td></tr>
								<tr><th>Cookie Expiry</th><td>7 Days</td></tr>
							</tbody>
						</table>
					</div>
				</div>
	
				<div class="cookies_item F14">
					<p class="F24 FW700">Statistics (1)</p>
					<p class="paddingTop10">Statistics cookies collect information anonymously. This information helps us to understand how our visitors use our website.</p>
					<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
					<div class="hide_table_box">
						<table class="hide_table">
							<tbody>
								<tr><th width="20%">Name</th><td><label for="borlabs-cookie-google-analytics">Google Analytics</label></td></tr>
								<tr><th>Provider</th><td>Google LLC</td></tr>
								<tr><th>Purpose</th><td>Cookie by Google used for website analytics. Generates statistical data on how the visitor uses the website.</td></tr>
								<tr><th>Privacy Policy</th><td class="_brlbs-pp-url"><a href="https://policies.google.com/privacy?hl=en" class="color_blue" target="_blank" rel="nofollow noopener noreferrer">https://policies.google.com/privacy?hl=en</a></td></tr>
								<tr><th>Cookie Name</th><td>_ga,_gat,_gid</td></tr>
								<tr><th>Cookie Expiry</th><td>2 Years</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="cookies_item F14">
					<p class="F24 FW700">External Media (1)</p>
					<p class="paddingTop10">Content from video platforms and social media platforms is blocked by default. If External Media cookies are accepted, access to those contents no longer requires manual consent.</p>
					<p class="paddingTop10 align_c"><button class="color_blue show_cookie_info">Show Cookie Information</button></p>
					<div class="hide_table_box">
						<table class="hide_table">
							<tbody>
								<tr><th width="20%">Provider</th><td>smartsupp</td></tr>
								<tr><th>Purpose</th><td>Customer service</td></tr>
								<tr><th>Cookie Name</th><td>ssupp.vid,ssupp.visits</td></tr>
								<tr><th>Cookie Expiry</th><td>1 Year</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				<p class="lineH32">
					<a href="/data-privacy-statement.html" class="float_r F14 color_blue">Privacy Policy</a>
				</p>
			</div>
		</div>
	</div>
	
<script>
//谷歌统计
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
//聊天工具 21-08-18
var _smartsupp = _smartsupp || {};
window.smartsupp = window.smartsupp || undefined;
$(function() {
	//21-08-16
	$('.bld_cookie_del,.btn_not_accept').click(function(){
		$('.cookies_container').hide();
	})
	$('.btn_cookie_show').click(function(){
		$('.cookies_container').show();
		$('.cookies_box').addClass('animate__slideInUp');
	})
	$('.btn_cookie_more').click(function(){
		$('.cookies_less').hide();
		$('.cookies_more').show();
		$('.cookies_box').addClass('cookies_box_more');
	})
	$('.btn_cookie_less').click(function(){
		$('.cookies_less').show();
		$('.cookies_more').hide();
		$('.cookies_box').removeClass('cookies_box_more');
	})
	$('.show_cookie_info').click(function(){
		$(this).parent().parent().find('table').toggleClass('hide_table');
		$(this).text(($(this).text()=="Show Cookie Information" ? "Hide Cookie Information" : "Show Cookie Information"));
	})
	// 保存bookie设置
	$(".cookies_btn_box .btn_accept,.cookies_btn_box .btn_save").click(function(){
		var is_checked = ($(this).hasClass("btn_accept")||$(".cookies_less_left input[name='externalMedia']").is(":checked"))?1:0;
		//需要更新客户插件(开启/关闭)
		if(window.smartsupp==undefined&&is_checked==1){_load_smartsuppchat();}
		else if(window.smartsupp!=undefined&&is_checked==0){window.location.reload()}
		_DoAjaxAsyncTrue("POST",{"cookie_data":{"bld-essential":1,"bld-statistics":1,"bld-media":is_checked}},"/webapi/v1/setcookiebyprivacy",function(){
			$('.cookies_container').hide();
		})
	})
	//cookie设置未设置-21-08-16
	// if(isempty(getCookie("bld_privacy_settings"))){
	// 	$('.cookies_container').show();
	// 	$('.cookies_box').addClass('animate__slideInUp');
	// }
	//谷歌统计
	_loadScript('https://www.googletagmanager.com/gtag/js?id=UA-138050776-1',function(){
        gtag('js', new Date());
        gtag('config', 'UA-138050776-1');
    });
	//读取cookie开启相应功能
	_DoAjaxAsyncTrue("GET",{},"/webapi/v1/setcookiebyprivacy",function(res){
		if(!isempty(res)){
			if(res['bld-media']==1){//客服
				_load_smartsuppchat();
			}else{
				$(".ipt_external_media").prop("checked", false);
			}
		}
	})
})
//加载客服功能
function _load_smartsuppchat(){
	$(".ipt_external_media").prop("checked", true);
	_smartsupp.key = '76c6bac0e037fccc9faac54d6f1947e5b832016e';
	var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	s=document.getElementsByTagName('script')[0];c=document.createElement('script');
	c.type='text/javascript';c.charset='utf-8';c.async=true;
	c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
}
//添加订阅邮件
function _subscribe(){
	$('.subscribe_error').hide();
	var subscribe = $('.ipt_subscribe').val();
	if(!_chkEmail(subscribe)){
		$('.subscribe_error').css("display","inline-block").html('Please enter a valid email address');
		$('.ipt_subscribe')[0].focus()
	}else{
		_DoAjaxAsyncTrue("POST",{"email":subscribe},"/webapi/v1/user_subscribe_email",function(res){
			bld._warn('subscription successfully');
		})
	}
}
</script>

