<footer>
    <div class="to-top">
        <div>
            <span class="img-box to-top-icon">
                <img src="/static/img/footer/to-top.png" alt="">
            </span>
        </div>
        置顶
    </div>
    <div class="layout white-bg warranty">
        <ul>
            <li>
                <span class="img-box footer-icon">
                    <img src="/static/img/footer/footer_1.png" alt="">
                </span>
                价格优惠
            </li>
            <li><span class="img-box footer-icon"><img src="/static/img/footer/footer_2.png" alt=""></span>快速交付</li>
        </ul>
        <ul class="support">
            <li><span class="img-box footer-icon"><img src="/static/img/footer/footer_3.png" alt=""></span>质量保证</li>
            <li><span class="img-box footer-icon"><img src="/static/img/footer/footer_4.png" alt=""></span>专业技术支持</li>
        </ul>
    </div>
    <div class="layout footer-bar">
        <ul class="percent_55">
            <li><a href="">关于我们</a></li>
            <li><a href="/templates/cart/contact-us.html">联系我们</a></li>
            <li><a href="">我们的服务</a></li>
            <li><a href="">药理学术语</a></li>
            <li><a href="">缩略词</a></li>
            <li><a href="">质量管理</a></li>
            <li><a href="/templates/producta/cart-inquire.html">询价单</a></li>
        </ul>
        <ul>
            <li><a href="">如何购买</a></li>
            <li><a href="">条款和条件</a></li>
            <li><a href="/templates/cart/freight-and-policy">运费和政策</a></li>
            <li><a href="/templates/cart/privacy-policy.html">隐私政策</a></li>
            <li><a href="">摩尔浓度计算器</a></li>
            <li><a href="">网站地图</a></li>
        </ul>
    </div>
    <div class="layout footer-message">
        <div class="footer-message-top">
            <div class="img-box brochure-img">
                <img src="/static/img/footer/brochure.png" alt="">
            </div>
            <ul class="footer-message-con">
                <li>
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-iphone.png" alt="user"></span>
                    400-920-2911
                </li>
                <li>
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-email.png" alt="user"></span>
                    sales@csnpharm.cn
                </li>
                <li>
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-web.png" alt="user"></span>
                    www.csnpharm.cn
                </li>
                <li>
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-address.png" alt="user"></span>
                    上海市浦东新区陶桥路488号5幢
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="img-box">
                <img src="/static/img/footer/footer.png" alt="">
            </div>
            <p>&copy;2017 - 2018 csnpharm版权所有。 仅供研究使用!</p>
        </div>
    </div>
</footer>