<div>
    <header class="to-top">
        <span class="img-box to-top-icon"><img src="/static/img/footer/to-top.png" alt=""></span><br>置顶
    </header>
    <section class="layout warranty">
        <ul>
            <li>
                <span class="img-box footer-icon"><img src="/static/img/footer/footer_1.png" alt=""></span>价格优惠
            </li>
            <li>
                <span class="img-box footer-icon"><img src="/static/img/footer/footer_2.png" alt=""></span>快速交付
            </li>
            <li>
                <span class="img-box footer-icon"><img src="/static/img/footer/footer_3.png" alt=""></span>质量保证
            </li>
            <li>
                <span class="img-box footer-icon"><img src="/static/img/footer/footer_4.png" alt=""></span>专业技术支持
            </li>
        </ul>
    </section>
    <section class="layout footer-nav">
        <nav class="nav-left">
            <a href="/templates/about/about-us.html">关于我们</a>
            <a href="/templates/about/contact-us.html">联系我们</a>
            <a href="/templates/about/our-service.html">我们的服务</a>
            <a href="/templates/about/pharmacological-glossary.html">药理学术语</a>
            <a href="/templates/about/abbreviations.html">缩略词</a>
            <a href="/templates/about/quality-manual.html">质量手册</a>
            <a href="/templates/about/inquire-form.html">询价单</a>
        </nav>
        <nav class="nav-right">
            <a href="/templates/about/how-to-order.html">如何购买</a>
            <a href="/templates/about/terms-conditions.html">条款和条件</a>
            <a href="/templates/about/freight-and-policy.html">运费和政策</a>
            <a href="/templates/privacy-policy/privacy-policy.html">隐私政策</a>
            <a href="/templates/about/molarity-calculator.html">摩尔浓度计算器</a>
            <a href="/templates/about/site-map.html">网站地图</a>
        </nav>
    </section>
    <footer class="layout footer-msg">
        <div class="footer-msg-top">
            <div class="img-box brochure-img">
                <img src="/static/img/footer/brochure.png" alt="">
            </div>
            <div class="footer-msg-con">
                <a href="javascript:;">
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-iphone.png" alt="user"></span>400-920-2911
                </a>
                <a href="mailto:sales@csnpharm.cn">
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-email.png" alt="user"></span>sales@csnpharm.cn
                </a>
                <a href="www.csnpharm.cn">
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-web.png" alt="user"></span>www.csnpharm.cn
                </a>
                <a href="javascript:;">
                    <span class="img-box small-icon"><img src="/static/img/footer/footer-address.png" alt="user"></span>上海市浦东新区陶桥路488号5幢
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="img-box"><img src="/static/img/footer/footer.png" alt=""></p>
            &copy;2017 - 2018 csnpharm版权所有。 仅供研究使用!
        </div>
    </footer>
</div>