<header>
	<div class="header">
        <div class="header-top layout">
            <ul class="header-left">
               <li>
                    <span class="img-box small-icon menu-icon">
                        <img src="/static/images/header/menu.png" alt="menu">
                    </span>
                </li> 
               <li>
                    <a class="img-box logo" href="/index.html">
                        <img src="/static/images/logo.png" alt="logo">
                    </a>
                </li> 
            </ul>
            <ul class="header-right">
               <li>
                    <a class="img-box small-icon" href="/templates/login-register/login.html">
                        <img src="/static/images/header/login.png" alt="login">
                    </a>
                </li>
               <li>
                    <a class="img-box small-icon" href="/templates/user-center/user-center.html">
                        <img src="/static/images/header/user.png" alt="user">
                    </a>
                </li>
               <li class="position-r">
                    <a class="img-box small-icon" href="/templates/cart/cart.html">
                        <img src="/static/images/header/cart.png" alt="cart">
                    </a>
                    <span class="cart-count">3</span>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <input class="search-ipt" type="text" placeholder="CAS号; 产品名; 产品号; Target">
            <span class="img-box small-icon">
                <img src="/static/images/header/search.png" alt="">
            </span>
        </div>
    </div>

<!-- 侧边导航 -->

    <div class="mask sidebar-mask">
        <div class="del-sidebar">
        </div>
        <div class="popups sidebar">
            <ul class="menu">
                <li class="title">
                    信号通路
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;">
                            <span class="tips-red"></span>ADCs (3)
                        </a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href="/templates/page/category.html"><span class="tips-circle"></span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Anti-infection (20)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>   
                    </div>    
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Apoptosis (15)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Autophagy (5)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Cell Cycle (35)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Cytoskeleton (16)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>DNA Damage (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Endocrinology/Hormones (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Epigenetics (15)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>GPCR/G protein (54)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Immunology/Inflammation (24)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>JAK/STAT Signaling (4)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>MAPK/ERK Pathway (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Membrane Transporter/Ion Channel (30)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Metabolic Enzyme (65)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Neuronal Signaling (30)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>NF-κB (0)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>PI3K/Akt/mTOR (13)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Protease (10)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Protein Tyrosine Kinase/RTK (31)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Stem Cells/Wnt (19)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Ubiquitin (6)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Biochemical Reagents (3)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                </li>
                <li class="sub-title">
                    <div>
                        <a href="javascript:;"><span class="tips-red"></span>Others (6)</a>
                        <span class="img-box small-icon down-icon">
                            <img src="/static/images/down.png" alt="">
                        </span>
                    </div>
                    <ul class="sub-menu">
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Toxin</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                        <li class="sub-title">
                            <a href=""><span class="tips-circle"></span>ADC Linker with Payload</a>
                            <span class="img-box small-icon right-icon">
                                <img src="/static/images/right.png" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>  



</header>

<!-- /header -->



<script type="text/javascript">

;(function($){


	

    //search 聚焦失焦
    $('.search-ipt').focus(function(){
        $(this).css("border-color","#9fb1c4");
    });
    $('.search-ipt').blur(function(){
        $(this).css("border-color","#f3f3f3");
    });

    //侧边菜单移入移出
    $('span.menu-icon').on('touchstart', function(event){
        $('.sidebar-mask').css({
            "left" : "0"
        })
    });
    $('.del-sidebar').on('touchstart', function(event){
        $('.sidebar-mask').css({
            "left" : "-100%"
        })
    });
    

    //二级菜单显示隐藏
    $('.sub-title>div').on('touchstart',function(event){

        $(this).parent().find('.sub-menu').toggle();
        $(this).parent().siblings().find('.sub-menu').hide()

    });

    //置顶
    $('.to-top').on('touchstart',function(event){

        $(window).scrollTop(0).animate(1000);

    })




})(Zepto);   

</script>