<div>
    <!-- header -->
	<header class="header">
        <div class="header-top layout">
            <div class="header-left">
                <a href="javascript:;" class="img-box small-icon menu-icon">
                    <img src="/static/img/header/menu.png" alt="menu">
                </a>
                <a class="img-box logo" href="/index.html">
                    <img src="/static/img/logo.png" alt="logo">
                </a>
            </div>
            <ul class="header-right">
               <li>
                    <a class="img-box small-icon" href="/templates/login-register/login.html">
                        <img src="/static/img/header/login.png" alt="login">
                    </a>
                </li>
               <li>
                    <a class="img-box small-icon" href="/templates/user-center/user-center.html">
                        <img src="/static/img/header/user.png" alt="user">
                    </a>
                </li>
               <li class="position-r">
                    <a class="img-box small-icon" href="/templates/cart/cart.html">
                        <img src="/static/img/header/cart.png" alt="cart">
                    </a>
                    <span class="cart-count">3</span>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <input class="ipt" type="text" placeholder="CAS号; 产品名; 产品号; Target">
            <a href="javascript:;" class="img-box small-icon">
                <img src="/static/img/header/search.png" alt="">
            </a>
        </div>
    </header>

    <!-- 侧边导航 -->
    <aside class="mask sidebar-mask">
        <div class="del-sidebar"></div>
        <nav class="popups sidebar">
            <ul class="menu alljson"></ul>
        </nav>
    </aside>  
</div>

<script type="text/javascript" src='/static/js/tooljs/jquery-3.3.1.min.js'></script> 
<script>
$(function(){
    $.ajax({
        type: "GET",
        url: "/static/data/menu.json",
        dataType: "json", 
        success: function(res) {
            //console.log(res);
            //1.加载数据成功 进行字符串拼接
            $(".alljson").html("<li class='title'>信号通路</li>");
            
            $.each(res,function (idx,item) {
                var submenu = "<ul class='sub-menu'>";
                $.each(item.submenu,function (idx,item2) {
                    submenu +="<li class='sub-title'><a href='javascript:;'><span class='tips-circle'></span>"
                        + item2.name + "<i class='iconfont icon-gengduo'></i></a></li>";
                })
                $(".alljson").append(
                    "<li class='sub-title'><div><a href='javascript:;'><span class='tips-red'></span>"
                    + item.name + "<i class='iconfont icon-xiangxia'></i></a></div>"
                    + submenu + "</ul></li>"
                )     
            })
        },
        error: function(){ alert("error") }        
    });
})    

</script>