<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/owlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/owlCarousel/owl.theme.default.min.css">
    <style type="text/css">
        .item{
            margin-top: .1rem;
            margin-left: .7rem;
        }
    </style>
</head>
<body>
<div class="banner-con border-box slider owl-carousel owl-theme">
    <div class="item"><a href="" title=""><img src="/static/images/banner_1.png" alt=""></a></div>
    <div class="item"><a href="" title=""><img src="/static/images/banner_2.png" alt=""></a></div>
    <div class="item"><a href="" title=""><img src="/static/images/banner_3.png" alt=""></a></div>
</div>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/owlCarousel/owl.carousel.min.js"></script>
<script>
    $(function(){
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin: 5,
            autoplay:true,
            autoplayTimeout: 4000,
            responsive:{
                0:{
                    items:1.1
                }
            }
        })
    })
</script>
</body>
</html>
