<!DOCTYPE html>
<html lang="cn">
<head>
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/css/login-register.css">

</head>
<body>


  
<!-- 主体 -->
<div class="layout">
    <a href="JavaScript:history.go(-1)" class="img-box left-icon"><img src="../../static/images/left.png" alt=""></a>
    <div class="logo-box">
        <a href="../page/index.html" class="img-box logo"><img src="../../static/images/logo.png" alt=""></a>
    </div>
    <div class="con-txt">
        输入您用于登录的相同电子邮件地址您在csnpharm.cn上的账户。我们会发邮件给你一个链接在那里你可以很容易地创建一个新的密码。如果您无法访问您的帐户，请随时与<a href="">我们联系</a>。
    </div>
    <div class="input-box">
        <input type="text" name="email" placeholder="邮箱">
    </div>
    <div class="btn-box">
        <button class="btn btn-red">提交</button>
    </div>
</div>




<script type="text/javascript" src="../../static/js/zepto.js"></script>


</body>
</html>