<!DOCTYPE html>
<html lang="cn">
<head>
    <title>注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/css/login-register.css">

</head>
<body>


  
<!-- 主体 -->
<div class="layout">
    <a href="JavaScript:history.go(-1)" class="img-box left-icon"><img src="../../static/images/left.png" alt=""></a>
    <div class="logo-box">
        <a href="" class="img-box logo"><img src="../../static/images/logo.png" alt=""></a>
    </div>
    <div class="login-register-con">
        <div class="input-box">
            <input type="text" name="user" placeholder="用户名">
            <input type="text" name="email" placeholder="邮箱">
            <input type="password" name="password" placeholder="密码">
        </div>
        <p class="check">
            <input type="checkbox" name="check" id="check"><label for="check"></label>
            <span>给我发电子邮件关于回滚，特价，热门新商品，礼品创意等等。</span>
        </p>
        <div class="btn-box">
            <button class="btn btn-red register-btn">注册</button>
            <button class="btn btn-line logion-btn">登录</button>
        </div>
    </div>
</div>




<script type="text/javascript" src="../../static/js/zepto.js"></script>
<script>
;(function($){
    $('.logion-btn').bind('touchstart',function(event){
       window.location.href = 'login.html';
    })
    

})(Zepto);   
</script>


</body>
</html>