<!DOCTYPE html>
<html lang="cn">
<head>
    <title>登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/login-register.css">

</head>
<body>

<!-- 主体 -->
<div class="layout">
    <header>
        <a href="JavaScript:history.go(-1)" class="back-icon">
            <i class="iconfont icon-fanhui"></i>
        </a>
        <div class="logo-box">
            <a href="/index.html" class="img-box logo">
                <img src="/static/img/logo.png" alt="">
            </a>
        </div>
    </header>
    <section class="login-register-con">
        <div class="input-box">
            <input type="text" class="ipt" placeholder="邮箱">
            <input type="password" class="ipt" placeholder="密码">
            <p class="code-box">
                <input type="text" class="ipt" placeholder="验证码">
                <span class="code">a<i>G</i>c<i>d</i></span>
            </p>
        </div>
        <p class="forgot">
            <a href="forgot-password.html">忘记密码？</a>
        </p>
        <div class="btn-box">
            <button class="btn btn-red">登录</button>
            <button class="btn btn-line register-btn">注册</button>
        </div>
    </section>
</div>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/login-register.js"></script>

</body>
</html>