<!DOCTYPE html>
<html lang="cn">
<head>
    <title>注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/login-register.css">

</head>
<body>

<!-- 主体 -->
<div class="layout">
    <header>
        <a href="JavaScript:history.go(-1)" class="back-icon">
            <i class="iconfont icon-fanhui"></i>
        </a>
        <div class="logo-box">
            <a href="/index.html" class="img-box logo">
                <img src="/static/img/logo.png" alt="">
            </a>
        </div>
    </header>
    <section class="login-register-con">
        <div class="input-box">
            <input type="text" class="ipt" placeholder="用户名">
            <input type="text" class="ipt" placeholder="邮箱">
            <input type="password" class="ipt" placeholder="密码">
        </div>
        <p class="check">
            <input type="checkbox" id="check" checked><label for="check"></label>
            <span>给我发电子邮件关于回滚，特价，热门新商品，礼品创意等等。</span>
        </p>
        <div class="btn-box">
            <button class="btn btn-red">注册</button>
            <button class="btn btn-line login-btn">登录</button>
        </div>
    </section>
</div>

<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src="/static/js/login-register.js"></script>

</body>
</html>