<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="robots" content="index,follow">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://www.ambeed.com/static/img/ambeed.ico" type="image/x-icon">
	<meta name="description" content="Ambeed provides building blocks, advanced intermediates, amino acids and peptides, catalysts and ligands, natural products, nucleotides etc.">
	<meta name="keywords" content="building blocks, advanced intermediates, inhibitors, amino acids and peptides, catalysts and ligands, natural products, nucleotides; Polycondensation, Halogenation, Cyanation, Esterification, Nitration Diazotization, Amination, Alkylation, Oxidation, Grignard's reaction, Oxidation, Suzuki Coupling reaction, Lithiation, Friedel-Crafts reaction, Hydrogenation, and Reduction">
	<!-- Start of Baidu Transcode -->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="mobile-agent" content="format=html5;url=http://localhost/"/>
	<!-- End of Baidu Transcode -->

	
	<link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css?v=2019113000002">
	<link rel="stylesheet" type="text/css" href="/static/css/common-default.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script>
		$(function(){
			//$("#home").load("/templates/modules/home.html");
		})
		//根据设备加载不同的样式
		var setStyle = function(cssArr){
			var i= 0,len = cssArr.length;
			for(i;i<len;i++){
				document.write('<link href="'+cssArr[i]+'" type="text/css" rel=stylesheet>');
			}
		};
		// 判断是否移动端
		function goPAGE() {
			if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
				console.log("mobile");
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/mobile/header-mobile.css','/static/css/mobile/menu-mobile.css']);
			}else {
				console.log("pc")
				//判断访问环境是 移动端 则加载以下样式
				setStyle(['/static/css/pc/header.css','/static/css/pc/menu.css']);
			}
		}
		goPAGE();
	</script>
</head>
<body>

	<div id="header"></div>

<div class="layout">
<div class="nav-com-title">
<p>
<a href="/" class="home-logo"><img src="/static/img/home-logo.png" alt=""></a>
<a href="/chemistry.html" class="nav-img">Chemistry</a>
<a href="javascript:;" class="current">Heterocyclic Building Blocks</a>
</p>
<h3>Heterocyclic Building Blocks</h3>
</div>
<ul class="single-menu-con single-submenu-con">
<li><a href="/acridines.html" title="Acridines(81)" style="background: url(https://www.ambeed.com/static/img/heterocyclic_buil_ding_blocks/acridines.png) right center no-repeat;">Acridines(81)</a></li>
<li><a href="/azetidines.html" title="Azetidines(2385)" style="background: url(https://www.ambeed.com/static/img/heterocyclic_buil_ding_blocks/azetidines.png) right center no-repeat;">Azetidines(2385)</a></li>
<li><a href="/benzimidazoles.html" title="Benzimidazoles(2275)" style="background: url(https://www.ambeed.com/static/img/heterocyclic_buil_ding_blocks/benzimidazoles.png) right center no-repeat;">Benzimidazoles(2275)</a></li>
<li><a href="/benzisoxazoles.html" title="Benzisoxazoles(332)" style="background: url(https://www.ambeed.com/static/img/heterocyclic_buil_ding_blocks/benzisoxazoles.png) right center no-repeat;">Benzisoxazoles(332)</a></li>
<li><a href="/benzodioxans.html" title="Benzodioxans(554)" style="background: url(/static/img/heterocyclic_buil_ding_blocks/benzodioxans.png) right center no-repeat;">Benzodioxans(554)</a></li>
<li><a href="/benzofurans.html" title="Benzofurans(1832)" style="background: url(https://www.ambeed.com/static/img/heterocyclic_buil_ding_blocks/benzofurans.png) right center no-repeat;">Benzofurans(1832)</a></li>
<li><a href="/benzothiazoles.html" title="Benzothiazoles(1688)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/benzothiazoles.png&quot;) right center no-repeat;">Benzothiazoles(1688)</a></li>
<li><a href="/benzothiophenes.html" title="Benzothiophenes(774)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/benzothiophenes.png&quot;) right center no-repeat;">Benzothiophenes(774)</a></li>
<li><a href="/benzoxazoles.html" title="Benzoxazoles(1033)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/benzoxazoles.png&quot;) right center no-repeat;">Benzoxazoles(1033)</a></li>
<li><a href="/carbazoles.html" title="Carbazoles(168)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/carbazoles.png&quot;) right center no-repeat;">Carbazoles(168)</a></li>
<li><a href="/cinnolines.html" title="Cinnolines(203)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/cinnolines.png&quot;) right center no-repeat;">Cinnolines(203)</a></li>
<li><a href="/dioxolanes.html" title="Dioxolanes(1133)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/dioxolanes.png&quot;) right center no-repeat;">Dioxolanes(1133)</a></li>
<li><a href="/dioxoles.html" title="Dioxoles(7)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/dioxoles.png&quot;) right center no-repeat;">Dioxoles(7)</a></li>
<li><a href="/epoxides.html" title="Epoxides(255)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/epoxides.png&quot;) right center no-repeat;">Epoxides(255)</a></li>
<li><a href="/furans.html" title="Furans(3307)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/furans.png&quot;) right center no-repeat;">Furans(3307)</a></li>
<li><a href="/imidazoles.html" title="Imidazoles(2898)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/imidazoles.png&quot;) right center no-repeat;">Imidazoles(2898)</a></li>
<li><a href="/imidazolidines.html" title="Imidazolidines(524)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/imidazolidines.png&quot;) right center no-repeat;">Imidazolidines(524)</a></li>
<li><a href="/imidazolines.html" title="Imidazolines(252)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/imidazolines.png&quot;) right center no-repeat;">Imidazolines(252)</a></li>
<li><a href="/indazoles.html" title="Indazoles(2503)">Indazoles(2503)</a></li>
<li><a href="/indoles.html" title="Indoles(4684)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/indoles.png&quot;) right center no-repeat;">Indoles(4684)</a></li>
<li><a href="/indolines.html" title="Indolines(2830)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/indolines.png&quot;) right center no-repeat;">Indolines(2830)</a></li>
<li><a href="/isoquinolines.html" title="Isoquinolines(1341)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/isoquinolines.png&quot;) right center no-repeat;">Isoquinolines(1341)</a></li>
<li><a href="/isothiazoles.html" title="Isothiazoles(201)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/isothiazoles.png&quot;) right center no-repeat;">Isothiazoles(201)</a></li>
<li><a href="/isoxazoles.html" title="Isoxazoles(1713)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/isoxazoles.png&quot;) right center no-repeat;">Isoxazoles(1713)</a></li>
<li><a href="/morpholines.html" title="Morpholines(3804)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/morpholines.png&quot;) right center no-repeat;">Morpholines(3804)</a></li>
<li><a href="/naphthyridines.html" title="Naphthyridines(735)">Naphthyridines(735)</a></li>
<li><a href="/oxadiazoles.html" title="Oxadiazoles(2637)">Oxadiazoles(2637)</a></li>
<li><a href="/oxazines.html" title="Oxazines(51)">Oxazines(51)</a></li>
<li><a href="/oxazoles.html" title="Oxazoles(1143)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/oxazoles.png&quot;) right center no-repeat;">Oxazoles(1143)</a></li>
<li><a href="/oxazolidines.html" title="Oxazolidines(429)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/oxazolidines.png&quot;) right center no-repeat;">Oxazolidines(429)</a></li>
<li><a href="/oxazolines.html" title="Oxazolines(346)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/oxazolines.png&quot;) right center no-repeat;">Oxazolines(346)</a></li>
<li><a href="/oxetanes.html" title="Oxetanes(666)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/oxetanes.png&quot;) right center no-repeat;">Oxetanes(666)</a></li>
<li><a href="/phthalazines.html" title="Phthalazines(240)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/phthalazines.png&quot;) right center no-repeat;">Phthalazines(240)</a></li>
<li><a href="/piperazines.html" title="Piperazines(5009)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/piperazines.png&quot;) right center no-repeat;">Piperazines(5009)</a></li>
<li><a href="/piperidines.html" title="Piperidines(19871)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/piperidines.png&quot;) right center no-repeat;">Piperidines(19871)</a></li>
<li><a href="/purines.html" title="Purines(489)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/purines.png&quot;) right center no-repeat;">Purines(489)</a></li>
<li><a href="/pyrans.html" title="Pyrans(275)">Pyrans(275)</a></li>
<li><a href="/pyrazines.html" title="Pyrazines(2022)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/pyrazines.png&quot;) right center no-repeat;">Pyrazines(2022)</a></li>
<li><a href="/pyrazoles.html" title="Pyrazoles(10879)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/pyrazoles.png&quot;) right center no-repeat;">Pyrazoles(10879)</a></li>
<li><a href="/pyridazines.html" title="Pyridazines(1664)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/pyridazines.png&quot;) right center no-repeat;">Pyridazines(1664)</a></li>
<li><a href="/pyridines.html" title="Pyridines(32212)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/pyridines.png&quot;) right center no-repeat;">Pyridines(32212)</a></li>
<li><a href="/pyrimidines.html" title="Pyrimidines(9133)" style="background: url(&quot;/static/img/heterocyclic_buil_ding_blocks/pyrimidines.png&quot;) right center no-repeat;">Pyrimidines(9133)</a></li>
<li><a href="/pyrroles.html" title="Pyrroles(2271)">Pyrroles(2271)</a></li>
<li><a href="/pyrrolidines.html" title="Pyrrolidines(10733)">Pyrrolidines(10733)</a></li>
<li><a href="/pyrrolines.html" title="Pyrrolines(644)">Pyrrolines(644)</a></li>
<li><a href="/quinazolines.html" title="Quinazolines(1952)">Quinazolines(1952)</a></li>
<li><a href="/quinolines.html" title="Quinolines(7583)">Quinolines(7583)</a></li>
<li><a href="/quinoxalines.html" title="Quinoxalines(806)">Quinoxalines(806)</a></li>
<li><a href="/quinuclidines.html" title="Quinuclidines(110)">Quinuclidines(110)</a></li>
<li><a href="/spiroes.html" title="Spiroes(3667)">Spiroes(3667)</a></li>
<li><a href="/tetrahydrofurans.html" title="Tetrahydrofurans(1073)">Tetrahydrofurans(1073)</a></li>
<li><a href="/tetrahydroisoquinolines.html" title="Tetrahydroisoquinolines(1034)">Tetrahydroisoquinolines(1034)</a></li>
<li><a href="/tetrahydropyrans.html" title="Tetrahydropyrans(2104)">Tetrahydropyrans(2104)</a></li>
<li><a href="/tetrahydroquinolines.html" title="Tetrahydroquinolines(1016)">Tetrahydroquinolines(1016)</a></li>
<li><a href="/tetrazoles.html" title="Tetrazoles(82)">Tetrazoles(82)</a></li>
<li><a href="/thiadiazoles.html" title="Thiadiazoles(1160)">Thiadiazoles(1160)</a></li>
<li><a href="/thiazines.html" title="Thiazines(37)">Thiazines(37)</a></li>
<li><a href="/thiazoles.html" title="Thiazoles(5124)">Thiazoles(5124)</a></li>
<li><a href="/thiazolidines.html" title="Thiazolidines(537)">Thiazolidines(537)</a></li>
<li><a href="/thiomorpholines.html" title="Thiomorpholines(393)">Thiomorpholines(393)</a></li>
<li><a href="/thiophenes.html" title="Thiophenes(5225)">Thiophenes(5225)</a></li>
<li><a href="/triazines.html" title="Triazines(554)">Triazines(554)</a></li>
<li><a href="/triazoles.html" title="Triazoles(4008)">Triazoles(4008)</a></li>
<li><a href="/non-halogenated-heterocycles.html" title="Non-Halogenated Heterocycles(212)">Non-Halogenated Heterocycles(212)</a></li>
<li><a href="/other-aromatic-heterocycles.html" title="Other Aromatic Heterocycles(27369)">Other Aromatic Heterocycles(27369)</a></li>
<li><a href="/other-aliphatic-heterocycles.html" title="Other Aliphatic Heterocycles(3927)">Other Aliphatic Heterocycles(3927)</a></li>
<li><a href="/aliphatic-heterocycles.html" title="Aliphatic Heterocycles(2936)">Aliphatic Heterocycles(2936)</a></li>
<li><a href="/aromatic-heterocycles.html" title="Aromatic Heterocycles(14374)">Aromatic Heterocycles(14374)</a></li>
<li><a href="/halogenated-heterocycles.html" title="Halogenated Heterocycles(0)">Halogenated Heterocycles(0)</a></li>

<div class="clear"></div>
</ul>
</div>
<div class="clear height40"></div>
	<div id="footer"></div>

</body>
</html>