<!DOCTYPE html>
<html lang="cn">
<head>
    <title>地址信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">地址信息</span>
</header>
<section class="addr-info-con">
    <div class="layout addr-info-card">
        <header>账单地址</header>
        <article>
            <p>
                <span class="user-name">陈小小</span>15000113269
                <br><span class="color-red">(默认)</span>上海 上海市 浦东新区 惠南镇陶桥路488号5幢惠南镇陶桥路488号5幢，201203
            </p>
            <a href="edit-billing-addr.html">编辑</a>
        </article>
        <article>
            <p>
                <span class="user-name">陈小小</span>15000113269
                <br>上海 上海市 浦东新区 惠南镇陶桥路488号5幢惠南镇陶桥路488号5幢，201203
            </p>
            <a href="edit-billing-addr.html">编辑</a>
        </article>   
        <a class="add-addr" href="edit-billing-addr.html">
            <i class="iconfont icon-zengjia"></i> 新增账单地址
        </a>
    </div>
    <div class="layout addr-info-card">
        <header>送货地址</header>
        <article>
            <p>
                <span class="user-name">陈小小</span>15000113269
                <br><span class="color-red">(默认)</span>上海 上海市 浦东新区 惠南镇陶桥路488号5幢惠南镇陶桥路488号5幢，201203
            </p>
            <a href="edit-shipping-addr.html">编辑</a>
        </article> 
        <a class="add-addr" href="edit-shipping-addr.html">
            <i class="iconfont icon-zengjia"></i> 新增送货地址
        </a>
    </div>
</section>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>

</body>
</html>