<!DOCTYPE html>
<html lang="cn">
<head>
    <title>地址信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">地址信息</span>
</div>
<div class="address-information-con">
    <div class="layout address-information-card">
        <div class="address-information-title">账单地址</div>
        <dl>
            <dt>
                <span class="user-name">陈小小</span> <span >15000113269</span>
                <p><span class="default-text">(默认)</span>上海 上海市 浦东新区 惠南镇陶桥路488号5幢，201203</p>
            </dt>
            <dd>
                <a href="edit-shipping-address.html">编辑</a>
            </dd>
        </dl>
        <dl>
            <dt>
                <span class="user-name">陈小小</span> <span >15000113269</span>
                <p>上海 上海市 浦东新区 惠南镇陶桥路488号5幢，201203</p>
            </dt>
            <dd>
                <a href="edit-shipping-address.html">编辑</a>
            </dd>
        </dl>               
        <p class="last-p address">
            <a href="edit-billing-address.html"><span class="img-box small-icon add-icon"><img src="/static/img/user-center/add.png" alt=""></span><span class="add-address-txt">新增账单地址</span></a>
        </p>
    </div>
    <div class="layout address-information-card">
        <div class="address-information-title">账单地址</div>
        <dl>
            <dt>
                <span class="user-name">陈小小</span> <span >15000113269</span>
                <p><span class="default-text">(默认)</span>上海 上海市 浦东新区 惠南镇陶桥路488号5幢，201203</p>
            </dt>
            <dd>
                <a href="edit-shipping-address.html">编辑</a>
            </dd>
        </dl>              
        <p class="last-p address">
            <a href="edit-billing-address.html"><span class="img-box small-icon add-icon"><img src="/static/img/user-center/add.png" alt=""></span><span class="add-address-txt">新增账单地址</span></a>
        </p>
    </div>
</div>







<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>