<!DOCTYPE html>
<html lang="cn">
<head>
    <title>修改密码</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">修改密码</span>
    <a href="javascript:;" class="save">保存</a>
</div>
<div class="edit-message-con edit-address-con shipping-address-con">
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td><span>当前密码</span></td>
                    <td><input type="password" name="" value="123456"></td>
                </tr>
                <tr>
                    <td><span>新密码</span></td>
                    <td><input type="password" name="" value="123456"></td>
                </tr>
                <tr>
                    <td><span>确认新密码</span></td>
                    <td><input type="password" name="" value="112233"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>