<!DOCTYPE html>
<html lang="cn">
<head>
    <title>客户询单问答</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">客户询单问答</span>
</div>
<div class="customer-QA-con">
    <div class="layout message-con">
        <dl class="CSNpharm-service">
            <dt class="CSNpharm-service-img QA-img">
                <img src="" alt="">
            </dt>
            <dd class="customer-QA-box">
                <span class="img-box customer-QA-icon">
                    <img src="/static/img/user-center/left-white-icon.png" alt="">
                </span>
                <span class="answer-msg">订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。</span>
            </dd>
        </dl>
        <div class="time">
            <span>2018年08月07日 16:30</span>
        </div>
        <dl class="customer-question">
            <dd class="customer-question-box">
                <span class="img-box customer-QA-icon">
                    <img src="/static/img/user-center/right-red-icon.png" alt="">
                </span>
                <span class="question-msg">订货需要一个星期。</span>
            </dd>
            <dt class="customer-question-img QA-img">
                <img src="" alt="">
            </dt>
        </dl>
        <div class="time">
            <span>2018年08月07日 16:30</span>
        </div>
        <dl class="CSNpharm-service">
            <dt class="CSNpharm-service-img QA-img">
                <img src="" alt="">
            </dt>
            <dd class="customer-QA-box">
                <span class="img-box customer-QA-icon">
                    <img src="/static/img/user-center/left-white-icon.png" alt="">
                </span>
                <span class="answer-msg">订货需要一个星期。</span>
            </dd>
        </dl>
        <div class="time">
            <span>2018年08月07日 16:30</span>
        </div>
        <dl class="customer-question">
            <dd class="customer-question-box">
                <span class="img-box customer-QA-icon">
                    <img src="/static/img/user-center/right-red-icon.png" alt="">
                </span>
                <span class="question-msg">订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。</span>
            </dd>
            <dt class="customer-question-img QA-img">
                <img src="" alt="">
            </dt>
        </dl><div class="time">
            <span>2018年08月07日 16:30</span>
        </div>
        <dl class="customer-question">
            <dd class="customer-question-box">
                <span class="img-box customer-QA-icon">
                    <img src="/static/img/user-center/right-red-icon.png" alt="">
                </span>
                <span class="question-msg">订货需要一个星期。</span>
            </dd>
            <dt class="customer-question-img QA-img">
                <img src="" alt="">
            </dt>
        </dl>
           
    </div> 
</div>






<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>