<!DOCTYPE html>
<html lang="cn">
<head>
    <title>编辑送货地址</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">编辑送货地址</span>
    <a href="javascript:;" class="save">保存</a>
</header>
<section class="info-com edit-addr-con edit-message-con billing-addr-con">
    <article class="layout white-bg ">
        <p><span>姓名</span><input type="text" name="" value="陈先生"></p>
        <p><span>手机号码</span><input type="text" name="" value="13412345678"></p>
        <p class="position-r">
            <span>选择地区</span>
            <select name="">
                <option value="">multiple</option>
                <option value="">multiple</option>
            </select>
            <i class="iconfont icon-gengduo"></i>
        </p>
        <p><span>详细地址</span><input type="text" name="" value=""></p>
        <p><span>邮政编码</span><input type="text" name="" value="335500"></p>
    </article>
    <div class="layout set-default">
        设为默认地址 
        <span class="float-R">
            <input type="checkbox" checked class="switch-checkbox" id="switch-checkbox">
            <label for="switch-checkbox" class="switch-label">
                <span class="switch-circle"></span>
            </label>
        </span>
    </div>
    <a href="" class="layout del-addr">
        删除送货地址 
    </a>
</section>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>
</body>
</html>