<!DOCTYPE html>
<html lang="cn">
<head>
    <title>我的询单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/images/left.png" alt="">
    </a>
    <span class="title-txt">我的询单</span>
</div>
<div class="table-box my-inquire-con">
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="15%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td><span>询单编号</span></td>
                    <td>25212522133</td>
                    <td><span>产品编号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>产品名</span></td>
                    <td colspan="3">LDN-193189 Hydrochloride</td>
                </tr>
                <tr>
                    <td><span>数量要求</span></td>
                    <td colspan="3">10g</td>
                </tr>
            </tbody>
        </table>
        <div class="message-con">
            <div class="message-box">
                <p class="customer-message"><span>客户留言：</span><span>请问有货吗?</span></p>
                <p class="session-box">
                    <span class="img-box small-icon up-icon">
                        <img src="/static/images/user-center/up.png" alt="">
                    </span>
                    <span> CSNpharm回复：</span>
                    <span class="reply-message">订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。</span>
                </p>
            </div>
            <div class="message-box">
                <p class="customer-message"><span>客户留言：</span><span>请问有货吗?</span></p>
                <p class="session-box">
                    <span class="img-box small-icon up-icon">
                        <img src="/static/images/user-center/up.png" alt="">
                    </span>
                    <span> CSNpharm回复：</span>
                    <span class="reply-message">订货需要一个星期。</span>
                </p>
            </div>
            <p class="last-p more-message"><a href="javascript:;">展开更多回复</a></p>
        </div>
    </div>
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="15%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td><span>询单编号</span></td>
                    <td>25212522133</td>
                    <td><span>产品编号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>产品名</span></td>
                    <td colspan="3">LDN-193189 Hydrochloride</td>
                </tr>
                <tr>
                    <td><span>数量要求</span></td>
                    <td colspan="3">10g</td>
                </tr>
            </tbody>
        </table>
        <div class="message-con">
            <div class="message-box">
                <p class="customer-message"><span>客户留言：</span><span>请问有货吗?</span></p>
                <p class="session-box">
                    <span class="img-box small-icon up-icon">
                        <img src="/static/images/user-center/up.png" alt="">
                    </span>
                    <span> CSNpharm回复：</span>
                    <span class="reply-message">订货需要一个星期。</span>
                </p>
            </div>
            <div class="message-box">
                <p class="customer-message"><span>客户留言：</span><span>请问有货吗?</span></p>
                <p class="session-box">
                    <span class="img-box small-icon up-icon">
                        <img src="/static/images/user-center/up.png" alt="">
                    </span>
                    <span> CSNpharm回复：</span>
                    <span class="reply-message">订货需要一个星期。</span>
                </p>
            </div>
            <p class="last-p customer-answer"><a href="customer-inquiry-QA.html" >客户回复</a></p>
        </div>
    </div> 
</div>
<div class="loading">
    加载中...
</div>






<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>