<!DOCTYPE html>
<html lang="cn">
<head>
    <title>我的询单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

<!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">我的询单</span>
</header>

<section class="inquire-con">
    <ul class="com-card order-card">
        <li>
            <p><span>询单编号</span>25212522133</p>
            <p><span>产品编号</span>856623212</p>
        </li>
        <li>
            <p><span>产品名</span>LDN-193189 Hydrochloride</p>
        </li>
        <li>
            <p><span>数量要求</span>10g</p>
        </li>
    </ul>
    <div class="msg-con">
        <article class="msg-box">
            <p><span>客户留言：</span>请问有货吗请问有货吗请问有货吗请问有货吗请问有货吗请问有货吗?</p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span>CSNpharm回复：</span>
                订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。
            </p>
        </article>
        <article class="msg-box">
            <p><span>客户留言：</span>请问有货吗?</p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span>CSNpharm回复：</span>
                订货需要一个星期。
            </p>
        </article>
        <p class="last-p more-msg"><a href="javascript:;">展开更多回复</a></p>
    </div>
    <ul class="com-card order-card">
        <li>
            <p><span>询单编号</span>25212522133</p>
            <p><span>产品编号</span>856623212</p>
        </li>
        <li>
            <span>产品名</span>LDN-193189 Hydrochloride
        </li>
        <li>
            <span>数量要求</span>10g
        </li>
    </ul>
    <div class="msg-con">
        <article class="msg-box">
            <p><span>客户留言：</span>请问有货吗?</p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span>CSNpharm回复：</span>
                订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。订货需要一个星期。
            </p>
        </article>
        <article class="msg-box">
            <p><span>客户留言：</span></span></p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span>CSNpharm回复：</span>
                订货需要一个星期。
            </p>
        </article>
        <p class="last-p more-msg"><a href="javascript:;">展开更多回复</a></p>
    </div>
    <ul class="com-card order-card">
        <li>
            <p><span>询单编号</span>25212522133</p>
            <p><span>产品编号</span>856623212</p>
        </li>
        <li>
            <p><span>产品名</span>LDN-193189 Hydrochloride</p>
        </li>
        <li>
            <p><span>数量要求</span>10g</p>
        </li>
    </ul>
    <div class="msg-con">
        <article class="msg-box">
            <p><span>客户留言：</span>请问有货吗?</p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span> CSNpharm回复：</span>
                订货需要一个星期订货需要一个星期订货需要一个星期。
            </p>
        </article>
        <article class="msg-box">
            <p><span>客户留言：</span>请问有货吗?</p>
            <p class="session-box">
                <a href="javascript:;" class="img-box small-icon up-icon">
                    <img src="/static/img/user-center/up.png" alt="">
                </a>
                <span> CSNpharm回复：</span>
                订货需要一个星期。
            </p>
        </article>
        <p class="last-p customer-answer"><a href="customer-inquiry-QA.html" >客户回复</a></p>
    </div>
</section>
<div class="loading">
    加载中...
</div>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>

</body>
</html>