<!DOCTYPE html>
<html lang="cn">
<head>
    <title>我的订单</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="img-box small-icon left-icon">
        <img src="/static/img/left.png" alt="">
    </a>
    <span class="title-txt">我的订单</span>
</div>
<div class="table-box my-order-con">
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="4">
                        <span class="img-box small-icon">
                            <img src="/static/img/user-center/time.png" alt="">
                        </span>
                        <span class="order-status">
                            您的订单正在处理中，很快就会发出去
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>订单编号</span></td>
                    <td>25212522133</td>
                    <td><span>客户订单号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>总价</span></td>
                    <td>RMB420</td>
                    <td><span>订单状态</span></td>
                    <td>已支付</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a href="my-order-detail.html" class="look-detail color555">
                            查看订单详情
                            <span class="img-box small-icon float-R">
                                <img src="/static/img/right.png" alt="">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="4">
                        <span class="img-box small-icon">
                            <img src="/static/img/user-center/bell.png" alt="">
                        </span>
                        <span class="order-status">
                            您的订单正在处理中，很快就会发出去
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>订单编号</span></td>
                    <td>25212522133</td>
                    <td><span>客户订单号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>总价</span></td>
                    <td>RMB420</td>
                    <td><span>订单状态</span></td>
                    <td>已支付</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a href="my-order-detail.html" class="look-detail color555">
                            查看订单详情
                            <span class="img-box small-icon float-R">
                                <img src="/static/img/right.png" alt="">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="4">
                        <span class="img-box small-icon">
                            <img src="/static/img/user-center/time.png" alt="">
                        </span>
                        <span class="order-status">
                            您的订单正在处理中，很快就会发出去
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>订单编号</span></td>
                    <td>25212522133</td>
                    <td><span>客户订单号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>总价</span></td>
                    <td>RMB420</td>
                    <td><span>订单状态</span></td>
                    <td>已支付</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a href="my-order-detail.html" class="look-detail color555">
                            查看订单详情
                            <span class="img-box small-icon float-R">
                                <img src="/static/img/right.png" alt="">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="4">
                        <span class="img-box small-icon">
                            <img src="/static/img/user-center/time.png" alt="">
                        </span>
                        <span class="order-status">
                            您的订单正在处理中，很快就会发出去
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>订单编号</span></td>
                    <td>25212522133</td>
                    <td><span>客户订单号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>总价</span></td>
                    <td>RMB420</td>
                    <td><span>订单状态</span></td>
                    <td>已支付</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a href="my-order-detail.html" class="look-detail color555">
                            查看订单详情
                            <span class="img-box small-icon float-R">
                                <img src="/static/img/right.png" alt="">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="15%">
                <col>
                <col width="19%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="4">
                        <span class="img-box small-icon">
                            <img src="/static/img/user-center/bell.png" alt="">
                        </span>
                        <span class="order-status">
                            您的订单正在处理中，很快就会发出去
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>订单编号</span></td>
                    <td>25212522133</td>
                    <td><span>客户订单号</span></td>
                    <td>856623212</td>
                </tr>
                <tr>
                    <td><span>总价</span></td>
                    <td>RMB420</td>
                    <td><span>订单状态</span></td>
                    <td>已支付</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a href="my-order-detail.html" class="look-detail color555">
                            查看订单详情
                            <span class="img-box small-icon float-R">
                                <img src="/static/img/right.png" alt="">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
<div class="loading">
    加载中...
</div>






<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>
