<!DOCTYPE html>
<html lang="cn">
<head>
    <title>个人信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<header class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">个人信息</span>
</header>
<section class="info-com">
    <article class="layout white-bg ">
        <p><span>ID</span>1055</p>
        <p><span>性名</span>陈先生</p>
        <p><span>邮箱</span>luozhenzhen@bidepharmatech.com</p>
        <div class="edit">
            <a href="edit-personal-info.html"><i class="iconfont icon-edit"></i><span> 编辑</span></a>
        </div>
    </article>
</section>


<script type="text/javascript" src="/static/js/tooljs/zepto.js"></script>
<script type="text/javascript" src='/static/js/tooljs/event.js'></script>
<script type="text/javascript" src='/static/js/tooljs/fx.js'></script>
<script type="text/javascript" src='/static/js/tooljs/touch.js'></script>

</body>
</html>