<!DOCTYPE html>
<html lang="cn">
<head>
    <title>个人信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>

 
 <!-- 主体 -->
<div class="layout title-con">
    <a href="JavaScript:history.go(-1)" class="back-icon">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <span class="title-txt">个人信息</span>
</div>
<div class="table-box personal-information-con">
    <div class="layout table-card">
        <table cellspacing="0" border="0">
            <colgroup>
                <col width="11%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td><span>ID</span></td>
                    <td>1055</td>
                </tr>
                <tr>
                    <td><span>性名</span></td>
                    <td>陈先生</td>
                </tr>
                <tr>
                    <td><span>邮箱</span></td>
                    <td>luozhenzhen@bidepharmatech.com</td>
                </tr>
            </tbody>
        </table>
        <p class="last-p edit">
            <a href="edit-personal-information.html"><span class="img-box small-icon edit-icon"><img src="/static/img/user-center/edit.png" alt=""></span>编辑</a>
        </p>
    </div>
</div>







<script type="text/javascript" src="/static/js/zepto.js"></script>



</body>
</html>