<!DOCTYPE html>
<html lang="cn">
<head>
    <title>用户中心</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user-center.css">
</head>
<body>



<!-- header -->
<div id="header"></div>
 
 <!-- 主体 -->
<div class="layout">
    <div class="breadcrumb">
        <a href="index.html">首页</a><span> /</span>
        <a href="" class="current">用户中心</a>
    </div>
</div> 
<div class="layout page-title">
    用户中心
</div>
<ul class="layout user-center-con">
    <li>
        <a href="my-order.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/order.png" alt="">
            </span>
            <span class="user-center-txt">我的订单</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
    <li>
        <a href="my-inquire.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/inquire.png" alt="">
            </span>
            <span class="user-center-txt">我的询单</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
    <li>
        <a href="my-favorite.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/my-favorite.png" alt="">
            </span>
            <span class="user-center-txt">我的收藏</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
    <li>
        <a href="personal-information.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/user.png" alt="">
            </span>
            <span class="user-center-txt">个人信息</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
    <li>
            <a href="address-information.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/address.png" alt="">
            </span>
            <span class="user-center-txt">地址信息</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
    <li>
        <a href="change-password.html">
            <span class="img-box small-icon">
                <img src="/static/img/user-center/password.png" alt="">
            </span>
            <span class="user-center-txt">密码修改</span>
            <span class="img-box small-icon right-icon">
                <img src="/static/img/right.png" alt="">
            </span>
        </a>
    </li>
</ul>


<!-- footer -->
<div id="footer"></div>





<script type="text/javascript" src="/static/js/zepto.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>



</body>
</html>