<div class="head">
	<div class="layout clearfloat">
		<div class="head_left">
			<a class="head_email" href="mailto:sales@bldpharm.com">sales@bldpharm.com</a>
		</div>
		<div class="head_right">
			<div class="head_top">
				<div class="search_option">
					<a class="keyword_search on_search" href="javascript:;">Keyword Search</a>
					<a class="list_search" href="javascript:;">List Search</a>
					<a class="structure_search" href="">Structure Search</a>
				</div>

				<div class="currency">
					Currency : 
					<div class="currency_val">
						<span>USD</span>
						<ul class="currency_selt">
							<li>USD</li>
							<li>EUR</li>
							<li>INR</li>
						</ul>
					</div>
				</div>
				<div class="location">
					Location :
					<div class="location_val">
						<span>China</span>
						<div class="location_mask"></div>
						<div class="location_selt">
							<div class="location_selt_title">Location</div>
							<div class="location_selt_option">
								<select>
									<option class="noval">other location</option>
								</select>
							</div>
							<ul>
								<li>Canada (English)</li>
								<li>Canada (French)</li>
								<li>China</li>
								<li>France</li>
								<li>Germany</li>
								<li>India</li>
								<li>Japan</li>
								<li>Korea South</li>
								<li>United Kingdom</li>
								<li>United States</li>
							</ul>
							<ul>
								<li>Argentina</li>
								<li>Australia</li>
								<li>Austria</li>
								<li>Belgium (Belgique)</li>
								<li>Belgium (België)</li>
								<li>Brazil</li>
								<li>Chile</li>
								<li>Czech Republic</li>
								<li>Denmark</li>
								<li>Faroe Islands</li>
								<li>Finland</li>
								<li>Hungary</li>
								<li>Ireland</li>
								<li>Israel</li>
								<li>Italy</li>
							</ul>
							<ul>
								<li>Malaysia</li>
								<li>Mexico</li>
								<li>Netherlands</li>
								<li>New Zealand</li>
								<li>Norway</li>
								<li>Poland</li>
								<li>Portugal</li>
								<li>Russia</li>
								<li>Singapore</li>
								<li>Slovakia</li>
								<li>South Africa</li>
								<li>Spain</li>
								<li>Sweden</li>
								<li>Switzerland (Schweiz)</li>
								<li>Switzerland (Suisse)</li>
							</ul>
						</div>
					</div>
					<span class="location_line">|</span>
				</div>
			</div>
			<div class="head_bottom">
				<div class="search_box">
					<div class="search_enter">
						<input class="keyword_search_ipt" type="text" placeholder="CAS; Name; Catalog No.; Target">
						<div class="search_hide">
							<textarea class="list_search_text" spellcheck="false" placeholder="One line by one keyword"></textarea>
							<span class="list_search_bg"></span>
						</div>
					</div>
					<div class="search_btn_box">
						<label class="uploadImg" title="">
							<img src="/static/img/head/uploadImg.png">
							<input type="file" onchange="_upadSearchImg(this)" accept="image/*">
						</label>
						<a href="javascript:;" class="search_btn"></a>		
					</div>
				</div>
				<div class="icons">
					<a href="javascript:;" class="account"><span class="icons_tips">Account</span></a>
					<a href="javascript:;" class="login"><span class="icons_tips">Sign in</span></a>
					<a href="javascript:;" class="favorites"><span class="icons_tips">Favorites</span></a>
					<a href="javascript:;" class="cart"><span class="icons_tips">Cart</span></a>
					<span class="cart_count">25</span>
				</div>
			</div>
		</div>
	</div>
	<div class="head_menu">
		<div class="menu_bg"></div>
		<div class="layout">
			<a href="/" class="logo"><img src="/static/img/BLD_logo.png" alt="BLDpharm LOGO"></a>
			<div class="menu">
				<dl>
					<dt><a href="/">Home</a></dt>
					<dt class="menu_bg_dl">
						<a href="">About</a>
						<dl>
							<dd><a href="/templates/about/about-us.html">About Us</a></dd>
							<dd><a href="/templates/about/custom-synthesis.html">Custom Synthesis</a></dd>
							<dd><a href="">Bulk Inquires</a></dd>
							<dd><a href="">Contract Manufacturing</a></dd>
							<dd><a href="">R&D Center</a></dd>
							<dd><a href="">Sourcing Team</a></dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services</a>
						<dl>
							<dd><a href="/templates/about/custom-synthesis.html">Custom Synthesis</a></dd>
							<dd><a href="/templates/about/scale-up-commercial-manufacture.html">Scale Up Commercial Manufacture</a></dd>
						</dl>
					</dt>
					<dt class="menu_product_center">
						<a href="">Product Center</a>
						<dl>
							<dd>
								<a href="/templates/menu/chemistry.html"><strong>Chemistry</strong></a>
								<a href="/templates/products/scale-up-commercial-manufacture-list.html">Scale Up Commercial Manufacture List</a>
								<a href="/templates/about/scale-up-commercial-manufacture.html">Scale Up Commercial Manufacture</a>
								<a href="/templates/about/custom-synthesis.html">Custom Synthesis</a>
								<a href="/templates/products/new-products.html">New Products</a>
								<a href="/templates/menu/life-science.html">Life Science</a>
								<a href="/templates/products/bulk-product-details.html">Bulk Product Details</a>
							</dd>
							<dd>
								<a href="/templates/menu/life-science.html"><strong>Life Science</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								
							</dd>
							<dd>
								<a href=""><strong>About</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd><dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services Center</a>
						<dl>
							<dd><a href="">How to order</a></dd>
							<dd><a href="">Payment & Shipping</a></dd>
							<dd><a href="">Returns & Refunds</a></dd>
							<dd><a href="">FAQ</a></dd>
							<dd><a href="">Privacy Policy</a></dd>
						</dl>
					</dt>
					<dt class="padding0"><a href="">Contact Us</a></dt>
				</dl>
				<a href="javascript:;" class="floatR ISO2015"><img src="/static/img/head/ISO2015.png" alt="ISO2015"></a>
			</div>
		</div>
	</div>
</div>
<script>
$(function(){
	//关键词搜索
	$('.keyword_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').show()
		$('.search_hide').hide()
	})
	//列表搜索
	$('.list_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').hide()
		$('.search_hide').show()
	})
	//货币单位
	$('.currency_selt li').click(function(){
		var currency_val =  $(this).html()
		$('.currency_val span').html(currency_val)
		//$('.currency_selt').hide()	
	});
	//地区选择
	$('.location_selt li').click(function(){
		var location_val = $(this).html()
		$('.location_val span').html(location_val)
		$('.location_mask,.location_selt').hide()
	});
	$('.location_selt select').change(function(){
		var options =$(this).find('option:selected').not('.noval');
		var option_val = options.val() 
		if(option_val != 'other loaction' || option_val != null){
			$('.location_val span').html(option_val)
			$('.location_mask,.location_selt').hide()
		}
	})
	$('.location_val span').click(function(){
		$('.location_mask,.location_selt').toggle()
	})

	$.ajax({
        type: 'GET',
        url: '/static/data/geolocation.json',
        dataType: 'json', 
        success: function(res) {
	       	$.each(res,function (idx,item) {
				//console.log(res[idx][1])
				$('.location_selt_option select').append(
	               '<option>'+res[idx][1]+'</option>'
	            )
	       	})
        },
        error: function(){ alert('error') }        
    });

})
</script>