<div class="head">
	<div class="layout clearfloat">
		<div class="head_left">
			<a class="head_email" href="mailto:sales@bldpharm.com">sales@bldpharm.com</a>
		</div>
		<div class="head_right">
			<div class="head_top">
				<div class="search_option">
					<a class="keyword_search on_search" href="javascript:;">Keyword Search</a>
					<a class="list_search" href="javascript:;">List Search</a>
					<a class="structure_search" href="">Structure Search</a>
				</div>
				<div class="currency">
					Currency: 
					<div class="currency_val">
						<span>USD</span>
						<ul class="currency_selt">
							<li>USD</li>
							<li>EUR</li>
							<li>INR</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="head_bottom">
				<div class="search_box">
					<div class="search_enter">
						<input class="keyword_search_ipt" type="text" placeholder="CAS; Name; Catalog No.; Target">
						<div class="search_hide">
							<textarea class="list_search_text" spellcheck="false" placeholder="One line by one keyword"></textarea>
							<span class="list_search_bg"></span>
						</div>
					</div>
					<div class="search_btn_box">
						<label class="uploadImg" title="">
							<img src="/static/img/head/uploadImg.png">
							<input type="file" onchange="_upadSearchImg(this)" accept="image/*">
						</label>
						<a href="javascript:;" class="search_btn"></a>		
					</div>
				</div>
				<div class="icons">
					<a href="javascript:;" class="account"></a>
					<a href="javascript:;" class="login"></a>
					<a href="javascript:;" class="favorites"></a>
					<a href="javascript:;" class="cart"></a>
					<span class="cart_count">15</span>
				</div>
			</div>
		</div>
	</div>
	<div class="head_menu">
		<div class="menu_bg"></div>
		<div class="layout">
			<a href="/" class="logo"><img src="/static/img/BLD_logo.png" alt="BLDpharm LOGO"></a>
			<div class="menu">
				<dl>
					<dt><a href="/">Home</a></dt>
					<dt class="menu_bg_dl">
						<a href="">About</a>
						<dl>
							<dd><a href="/templates/about/about-us.html">About Us</a></dd>
							<dd><a href="/templates/about/custom-synthesis.html">Custom Synthesis</a></dd>
							<dd><a href="">Bulk Inquires</a></dd>
							<dd><a href="">Contract Manufacturing</a></dd>
							<dd><a href="">R&D Center</a></dd>
							<dd><a href="">Sourcing Team</a></dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services</a>
						<dl>
							<dd><a href="/templates/about/custom-synthesis.html">Custom Synthesis</a></dd>
							<dd><a href="/templates/about/scale-up-commercial-manufacture.html">Scale Up Commercial Manufacture</a></dd>
						</dl>
					</dt>
					<dt class="menu_product_center">
						<a href="">Product Center</a>
						<dl>
							<dd>
								<a href="/templates/menu/chemistry.html"><strong>Chemistry</strong></a>
								<a href="/templates/products/scale-up-commercial-manufacture-list.html">Scale Up Commercial Manufacture List</a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
							</dd>
							<dd>
								<a href="/templates/menu/life-science.html"><strong>Life Science</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								
							</dd>
							<dd>
								<a href=""><strong>About</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd><dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services Center</a>
						<dl>
							<dd><a href="">How to order</a></dd>
							<dd><a href="">Payment & Shipping</a></dd>
							<dd><a href="">Returns & Refunds</a></dd>
							<dd><a href="">FAQ</a></dd>
							<dd><a href="">Privacy Policy</a></dd>
						</dl>
					</dt>
					<dt class="padding0"><a href="">Contact Us</a></dt>
				</dl>
				<a href="" class="floatR ISO2015"><img src="/static/img/head/ISO2015.png" alt="ISO2015"></a>
			</div>
		</div>
	</div>
</div>
<script>
$(function(){

	$('.keyword_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').show()
		$('.search_hide').hide()
	})
	$('.list_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').hide()
		$('.search_hide').show()
	})
	$(".currency_selt li").click(function(){
		var val =  $(this).html()
		$(".currency_val span").html(val)	
	});
})
</script>